﻿@model Kawa.Models.ViewModels.ModulesAdminViewModel
@using Kawa.Models;

@{
    ViewBag.Title = "Banners";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Home page Modules</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.DropDownList("PageID", Model.getSlotPageOptions(Slot.SpotOption.HOME_PAGE_MODULE), new { @class = "slot" })
        @Html.Hidden("SlotOption", Slot.SpotOption.HOME_PAGE_MODULE)
        <input type="submit" value="add" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.slot.page.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slot.orderNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.slots1.OrderBy(o => o.orderNo))
    {
        <tr>
            <td>
                @Html.RouteLink(item.page.name, "ArticleAdminPage", new { id = item.page.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderNo)
            </td>
            <td>
                @Html.RouteLink("MoveUp", "HomeAdminModuleMoveUp", new { id = item.ID }) |
                @Html.RouteLink("MoveDown", "HomeAdminModuleMoveDown", new { id = item.ID }) |
                @Html.RouteLink("Remove", "HomeAdminModuleDelete", new { id = item.ID })
            </td>
        </tr>
    }

</table>


<h2>Youtube Modules</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.DropDownList("PageID", Model.getSlotPageOptions(Slot.SpotOption.VIDEO_MODULE), new { @class = "slot" })
        @Html.Hidden("SlotOption", Slot.SpotOption.VIDEO_MODULE)
        <input type="submit" value="add" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.slot.page.name)
        </th>
        <th>Preview</th>
        <th>
            @Html.DisplayNameFor(model => model.slot.orderNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.slots2.OrderBy(o => o.orderNo))
    {
        <tr>
            <td>
                @Html.RouteLink(item.page.name, "ArticleAdminPage", new { id = item.page.ID })
                
            </td>
            <td>
                <iframe width="220" height="115"
                        src="https://www.youtube.com/embed/@item.page.html"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderNo)
            </td>
            <td>
                @Html.RouteLink("MoveUp", "HomeAdminModuleMoveUp", new { id = item.ID }) |
                @Html.RouteLink("MoveDown", "HomeAdminModuleMoveDown", new { id = item.ID }) |
                @Html.RouteLink("Remove", "HomeAdminModuleDelete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<!---
<h2>Site Wide Top Banner Module</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.DropDownList("PageID", Model.getSlotPageOptions(Slot.SpotOption.SITE_WIDE_BANNER), new { @class = "slot" })
        @Html.Hidden("SlotOption",Slot.SpotOption.SITE_WIDE_BANNER)
        <input type="submit" value="add" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.slot.page.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slot.orderNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.slots2.OrderBy(o => o.orderNo))
    {
        <tr>
            <td>
                @Html.RouteLink(item.page.name, "ArticleAdminPage", new { id = item.page.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderNo)
            </td>
            <td>
                @Html.RouteLink("MoveUp", "HomeAdminModuleMoveUp", new { id = item.ID }) |
                @Html.RouteLink("MoveDown", "HomeAdminModuleMoveDown", new { id = item.ID }) |
                @Html.RouteLink("Remove", "HomeAdminModuleDelete", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<h2>Site Wide Register Module</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.DropDownList("PageID", Model.getSlotPageOptions(Slot.SpotOption.SITE_WIDE_SIGNUP), new { @class = "slot" })
        @Html.Hidden("SlotOption", Slot.SpotOption.SITE_WIDE_SIGNUP)
        <input type="submit" value="add" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.slot.page.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slot.orderNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.slots3.OrderBy(o => o.orderNo))
    {
        <tr>
            <td>
                @Html.RouteLink(item.page.name, "ArticleAdminPage", new { id = item.page.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderNo)
            </td>
            <td>
                @Html.RouteLink("MoveUp", "HomeAdminModuleMoveUp", new { id = item.ID }) |
                @Html.RouteLink("MoveDown", "HomeAdminModuleMoveDown", new { id = item.ID }) |
                @Html.RouteLink("Remove", "HomeAdminModuleDelete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
    -->
