﻿@model Kawa.Models.ViewModels.SiteViewModel
<div id="storesbox">

    <br />
    Kawa Natural Health products are available from leading health stores

    and pharmacies across Australia.
    <br /><br />

    <h4>Find your nearest store</h4>
    <br /><br />

    <div id="map-ui">

        <input id="pcode" title="Postcode/Suburb" value="@(Model.postCode != null ? Model.postCode : "Postcode/Suburb")" class="bigtextfield" />
        &nbsp; or
        <select name="state" id="state" onchange="codeState()" class="bigtextfield">
            <option value="">Or chooose a State</option>
            <option value="ACT">Australian Capital Territory</option>
            <option value="NSW">New South Wales</option>
            <option value="NT">Northern Territory</option>
            <option value="QLD">Queensland</option>
            <option value="SA">South Australia</option>
            <option value="TAS">Tasmania</option>
            <option value="VIC">Victoria</option>
            <option value="WA">Western Australia  </option>
        </select>
        <input type="button" value="find" onclick="codeAddress()" class="greybutton" />
    </div>
    <div class="row">
        <div class="col-sm-8"><div id="map-canvas"></div></div>
        <div class="col-sm-4"><div id="map-stores"><div class="inner"></div></div></div>
    </div>



</div>
