﻿@model Kawa.Models.ViewModels.SiteViewModel

@{
    ViewBag.Title = "Find a Store";
}

<div class="sectionheader stores">
    <div class="container">

        <h1>@ViewBag.Title</h1>

    </div>
</div>


<div id="stores" class="container">
    
    @Html.Partial("_Stores")

</div>


@section Scripts {

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"]&sensor=false">
</script>

    @Scripts.Render("~/bundles/stores")

    
}
