﻿@model Kawa.Models.NewsViewModel
@using Kawa.Models
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string baseURL = "https://lovemycarnz.co.nz/Content/SiteResources/0/";
}


<div class="container  ">
    <div class="newspage">
        <div class="row tag-header tag-header-products">
            <div class=" col-xs-12">
                @Model.PageHeading



                <div class="archivenews">
                    <select name="goarchive" id="goarchive" style=" margin-top: 2px;font-size:1.5rem;">
                        <option value="">News Archives...</option>

                        @foreach (DateTime item in Model.ArchiveOptions.Where(x => x.ToString("yyyy,MM") != Model.Current))
                        {
                            <option value="@item.ToString("yyyy,MM")" @(ViewBag.SelectedArchiveDate == item.ToString("yyyy,MM") ? "selected" : "")> - @item.ToString("MMMM yyyy")</option>
                        }
                        <option value="">Latest News</option>
                    </select>

                    <input type="button" name="archiveopen" onclick="javascript: opennewsarchive();" id="aopen" class="btn btn-secondary submit" value="Go" />
                </div>
            </div>
        </div>





        @if (Model.NewsItem == null)
        {
            int ix = 0;
            <div class="row">

                @foreach (Kawa.Models.Data.New item in Model.RecentNews.Where(x => x.SiteResourceTypeE == 3).ToList())
                {
                    string newsurl = "/News/Article/" + item.ID;

                    <div class="col-6 col-md-4 newsfeed @(ix%2 == 0 ?" newsfeed-alt" : "")">
                        <div class="intro">
                            @if (item.FileName != null)
                            {
                                <img src="@(baseURL + item.ID + "/" + item.FileName)" />
                            }
                            <h4><a href="@newsurl">@item.Title</a></h4>

                            @String.Format("{0:MMMM dd, yyyy}", item.NewsDate)
                        </div>


                        <div class="mt-3 mb-3">@Html.Raw(Kawa.Controllers.SiteController.StripTagsHtml(item.Html))</div>
                        <div class="readmore">
                            <a href="/News/Article/@item.ID">
                                Read more
                            </a>
                        </div>
                    </div>
                    ix++;
                }
            </div>
        }
        else
        {

    <div class=" displaynews ">
        @{
            Kawa.Models.Data.New headeritem = Model.NewsList.Where(x => x.SiteResourceTypeE == 104).FirstOrDefault();
            Kawa.Models.Data.New mob_headeritem = Model.NewsList.Where(x => x.SiteResourceTypeE == 105).FirstOrDefault();
        }
      
            <div class="row">
                <div class="col-xs-12 text-center">
                    @if (headeritem != null && headeritem.FileName != null)
                    {
                        <img src="@(baseURL + Model.NewsItem.ID + "/" + headeritem.FileName)" class="hidden-xs" />
                    }
                    @if (mob_headeritem != null && mob_headeritem.FileName != null)
                    {
                        <img src="@(baseURL + Model.NewsItem.ID + "/" + mob_headeritem.FileName)" class="hidden-sm hidden-md hidden-lg" />
                    }
                </div>
            </div>
       


        <div class="mb-3">
            <h2>@Model.NewsItem.Title</h2>
            <b>@String.Format("{0:D}", Model.NewsItem.NewsDate)</b>
        </div>




        <div class="mt-3">
            @Html.Raw(Model.NewsItem.Html)
        </div>
    </div>
        }

    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        function opennewsarchive() {

            var selected = $('#goarchive').val();
            if (selected == "") {
                return window.location = '/news';
            }
            return window.location = '/news/archive/' + selected;

        }
    </script>

}