﻿@model Kawa.Models.ViewModels.DebugViewModel

@{
    ViewBag.Title = "Debug Redirects";
    Layout = "~/Views/Shared/_RedirectLayout.cshtml";
}

<h2>Redirect would be triggered</h2>

redirected to path => <a href="@Model.redirectpath">@Model.redirectpath</a>

