﻿@model Kawa.Models.ViewModels.CategoriesViewModel
@using System.Linq;
@using Kawa.Models
@{
    ViewBag.Title = Model.NameOfSet;
    ViewBag.MetaDescription = Model.Tag != null ? Model.Tag.metaDescription : "";
}
<div class="container categories subcatlists">
    <div class="tag-header">@ViewBag.Title</div>

    @if (Model.IsFromBrands && Model.TagBrands.Any())
    {
        <div class="block brandlist catsul">
            <h3>@(!Model.IsLetter && Model.Tags == null ? "All " : "")Brands@(Model.IsLetter ? " starting with" + Model.NameOfSet : "")</h3>
            <ul>
                @foreach (var sub in Model.TagBrands.OrderBy(x => x.name))
                {
                    <li><a href="@sub.getUrl()">@Html.Raw(sub.name)</a></li>
                }
            </ul>
        </div>
    }
    
    @if (Model.Tags != null && Model.Tags.Any())
    {
        <div class="block categorylist catsul">
            <h3>Categories@(Model.IsLetter ? " starting with" + Model.NameOfSet : "")</h3>
            <ul>
                @foreach (var sub in Model.Tags.OrderBy(x => x.name))
                {
                    <li><a href="@sub.getUrl()">@Html.Raw(sub.name)</a></li>
                }
            </ul>
        </div>
    }
    
    @if (!Model.IsFromBrands && Model.TagBrands.Any())
    {
        <div class="block brandlist catsul">
            <h3>@(!Model.IsLetter && Model.Tags == null ? "All " : "")Brands@(Model.IsLetter ? " starting with" + Model.NameOfSet : "")</h3>
            <ul>
                @foreach (var sub in Model.TagBrands.OrderBy(x => x.name))
                {
                    <li><a href="@sub.getUrl()">@Html.Raw(sub.name)</a></li>
                }
            </ul>
        </div>
    }

    
</div>
@if(Model.Tag != null)
{
<div class="container cathtml">
    @Html.Raw(Model.Tag.html)
</div>
}