﻿@model Kawa.Models.PrescriptionTag
<div class="subcatheader">
    <div class="row">
        <div class="col-xs-12 text-left">
            <h3>@Model.name</h3>
        </div>
    </div>

</div>



<div class=" prescription prescription-products">
    <div class="row">
        <div class="col-xs-12 text-left">
            <div class="col-xs-12 text-left">
                <p>@Html.Raw(Model.html)</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            @foreach (Kawa.Models.Product p in Model.products.OrderBy(x => x.ProductPrescriptionTagRelationShipRank))
            {
                <div class="col-lg-3 col-md-3 col-xs-6">
                    @Html.Partial("_TagProduct", p)
                </div>
            }

        </div>
    </div>
</div>