﻿@model Kawa.Models.Contact
@using Kawa.Models.Extensions
@using System.Configuration;
@{
    ViewBag.Title = "Contact Us";
}

@Html.Partial("_PageTitle")

<div class="pagecontent">
    <div class="container articlepage articleblock">
        <div>
            <div class="col-md-6">
                @Html.Raw(ViewBag.html2)
                <div class="-form">
                    <div>
                        @if (!ViewBag.Success)
                        {
                            using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                <h3>Send us an email</h3>
                                @:We usually respond within one business day. If your matter is time sensitive, please call us.
                                <br /><br />
                                <div class="row">
                                    <div class="col-xs-12">
                                        @Html.LabelFor(model => model.firstName) :*<br />
                                        @Html.EditorFor(model => model.firstName)
                                        @Html.ValidationMessageFor(model => model.firstName)
                                    </div>
                                    <div class="col-xs-12">
                                        @Html.LabelFor(model => model.surname) :*<br />
                                        @Html.EditorFor(model => model.surname)
                                        @Html.ValidationMessageFor(model => model.surname)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        @Html.LabelFor(model => model.email) :*<br />
                                        @Html.EditorFor(model => model.email)
                                        @Html.ValidationMessageFor(model => model.email)
                                    </div>
                                    <div class="col-xs-12">
                                        @Html.LabelFor(model => model.phone) :*<br />
                                        @Html.EditorFor(model => model.phone)
                                        @Html.ValidationMessageFor(model => model.phone)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        @Html.LabelFor(model => model.enquiry)
                                        <br />
                                        @Html.TextAreaFor(model => model.enquiry, new { @class="enquirybox" })
                                        @Html.ValidationMessageFor(model => model.enquiry)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" style="height:50px;">
                                        <div class="g-recaptcha" data-sitekey="6Le8bdIhAAAAANVKG8CVOFXPBsXKt50NzekrcLTE"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <br/><br/>
                                        <input type="submit" value="SEND" class="formbutton" />
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h3>Send us an email</h3>

                            @:Thank you we will be in touch.
                    }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src='https://www.google.com/recaptcha/api.js'></script>
}