﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models
@{
    ViewBag.TitleFull = "Meguiar's - Since 1901";

}

<div class="pagecontent">
    <div class="container">
        <div class=" tag-header tag-header-products prescriptionbreadcrumbcontainer">
            <h3><a href="/home/prescription">FREQUENTLY ASKED QUESTIONS</a></h3>
        </div>

        <div class="faqs">

            @foreach (var type in Model.pages.OrderBy(p => p.html2).Select(x => x.html2).Distinct())
            {
                <h3>@type</h3>

                foreach (Kawa.Models.Page p in Model.pages.OrderBy(p => p.orderNo).Where(x => x.html2 == type))
                {
                    <div class="faq">
                        <span class="openindicator" id="@(p.ID + "indicator")">&#43;</span> <a href="javascript: selectafaq(@p.ID);">@p.name </a>
                        <div class="faqanswers" id="___@p.ID">
                            @p.html
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        function selectafaq(item)
        {
            $('.faqanswers').hide();
            console.log($('#' + item + 'indicator').html());
            var isitopen = $('#' + item + 'indicator').html();

            $('.openindicator').html('&#43;');
            if (isitopen == "+") {
                ///means open it
                $('#' + item + 'indicator').html('&minus;');
                $('#___' + item).show();
            } else {
                ///means close it
                $('#' + item + 'indicator').html('&#43;');
                $('#___' + item).hide();
            }
        }

    </script>
    @if (Request.QueryString["load"] != null)
    {
        <script type="text/javascript">
             $(function () {

                    var load = @Request.QueryString["load"].ToString();
                    selectafaq(load);
               
        });
        </script>
     }

    }