﻿@model Kawa.Models.GalleryViewModel
@using Kawa.Models.Data
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Galleries";
    int ix = 0;
    string baseURL = "https://lovemycarnz.co.nz/Content/SiteResources/1/";

}


<div class="container  ">
    <div class="newspage">
        <div class="row tag-header tag-header-products">
            <div class=" col-xs-12">
                <h2>@ViewBag.GalleryTitle</h2>
            </div>
        </div>


        <div class="row galleryrow">
            @if (ViewBag.gMode == "list")
            {


                foreach (LmcGallery g in Model.Galleries.OrderBy(x => x.Rank))
                {
                    <div class="col-6 col-md-4 col-lg-4 text-center newsfeed @(ix%2 == 0 ?" newsfeed-alt" : "")">
                        <a href="/home/gallery/@g.ID/@g.NameURL"><img src="@(baseURL + g.ID + "/" + g.FileName)" /></a>
                        <h3>
                            <a href="/home/gallery/@g.ID/@g.NameURL">
                                @g.Name
                            </a>
                        </h3>
                        <br />
                    </div>
                    ix++;
                    if (ix == 3)
                    {
                        <div style="clear:both;"></div>
                    }
                }
            }
            else
            {

                <div class="col-xs-12 text-left">
                    <p>
                        @Html.Raw(Model.Gallery.Html)
                    </p>
                </div>
                if (Model.Gallery.TypeE == 4)
                {
        <div class="col-xs-12">

            <style>
                /* Navigation */
                .slider-nav {
                    text-align: center;
                }
                    .slider-nav > div {
                        display: inline-block;
                        width: 150px;
                        height: 150px;
                        margin: 0 5px;
                        padding: 3px 0;
                        text-align: center;
                        font-size: 2em;
                        cursor: pointer;
                    }
            </style>


            <div class=" slider single-item" style="max-width:100%;margin:auto;margin-bottom:16px;">
                @foreach (LmcGallery g in Model.Galleries.Where(x => x.SiteResourceTypeE == 1).OrderBy(x=>x.OrderNo))
                {
                <div class="">
                    <img src="@(baseURL + g.ID + "/" + g.FileName)" />
                </div>
                }
            </div>

            <div class='slider-nav'>
                @foreach (LmcGallery g in Model.Galleries.Where(x=>x.SiteResourceTypeE==1).OrderBy(x => x.OrderNo))
                {
                    <a href="@(baseURL + g.ID + "/" + g.FileName)" data-toggle="lightbox" data-gallery="@g.ID-gallery">
                        <img src="@(baseURL + g.ID + "/" + g.FileName)" style="max-width:220px;"  />
                    </a>
                }
            </div>
        </div>


                }
            }

        </div>

    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    


    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <script type="text/javascript">
        $(function () {

            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });


            $('.slider').slick({
                arrows: true, dots: false, infinite: true, speed: 500,
                autoplay: true, autoplaySpeed: 3000, slidesToShow: 1, slidesToScroll: 1, adaptiveHeight: true
            });
            //On click of slider-nav childern,
            //Slick slider navigate to the respective index.
            $('.slider-nav > div').click(function () {
                $('.slider').slick('slickGoTo', $(this).index());
            })


            $('.single-item').slick({
                dots: true,
                autoplay: true,
                infinite: false,
                speed: 500,
                fade: true,
                arrows: true,
                cssEase: 'ease-in-out'
            });

        });
    </script>



}
