﻿@model Kawa.Models.ViewModels.HomeViewModels
@using Kawa.Models
@{
    ViewBag.TitleFull = "Meguiar's - Since 1901";
}

<div class="container">
    <div class="row slidebox">
        <div class="col-xs-12">
            @{
                List<SiteResource> slideshowimages = Model.BillboardPage.siteResources.Where(s => s.SiteResourceType == SiteResource.SiteResourceTypeOption.SLIDESHOW_IMAGE).ToList();

                if (slideshowimages.Count != 0)
                {


                    <div id="carouselSlide" class="carousel slide" data-interval="5000" data-ride="carousel" style="width:100%;margin:auto;">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @{
                                var ixx = 0;
                            }
                            @foreach (var sr in slideshowimages)
                            {
                                <li data-target="#carouselSlide" data-slide-to="@ixx" class="@(ixx==0 ? "active" : "")"></li>
                                ixx++;
                            }
                        </ol>
                        <!-- Content -->
                        <div class="carousel-inner" role="listbox">
                            @{
                                var i = 0;
                            }
                            @foreach (var sr in slideshowimages)
                            {
                                <div class="item @(i==0 ? "active" : "")">
                                    <a href="@sr.Caption">
                                        <img src="@sr.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE)" class="" alt="Billboard">
                                    </a>
                                </div>
                                i++;
                            }


                        </div>
                        <!-- Previous/Next controls -->
                        <a class="left carousel-control" href="#carouselSlide" data-slide="prev"><img src="~/Content/images/slider-arrow.png" style="transform: rotate(180deg);" alt="Previous Item"></a>
                        <a class="right carousel-control" href="#carouselSlide" data-slide="next"><img src="~/Content/images/slider-arrow.png" alt="Next Item"></a>
                    </div>


                }
                else
                {
                    List<SiteResource> billboardvideos = Model.BillboardPage.siteResources.ToList();
                    SiteResource desktop = billboardvideos.Where(s => s.SiteResourceType == SiteResource.SiteResourceTypeOption.SLIDESHOW_MP4).FirstOrDefault();
                    if (desktop != null)
                    {
                        string desktop_video = desktop.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE);
                        SiteResource mobile = billboardvideos.Where(s => s.SiteResourceType == SiteResource.SiteResourceTypeOption.SLIDESHOW_MOBILE_MP4).FirstOrDefault();
                        string mobile_video = desktop_video;
                        if (mobile != null)
                        {
                            mobile_video = mobile.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE);
                        }
                        <div class=" videobox">
                            <video class="homevid" autoplay="" muted="" loop="" playsinline="" data-src="@desktop_video" data-src-mob="@mobile_video" src="@desktop_video"></video>
                        </div>

                    }

                }

            }
        </div>
    </div>
</div>

<div class="container home-blocks">
    <div class="row">
        <div class="col-xs-12">
            <!---<div onclick="javascript: window.location = '/home/prescription';" id="meguiarscarcarev4_hype_container" class="HYPE_document" style="margin: auto; position: relative; width: 350px; height: 211px; overflow: hidden;">
                <script type="text/javascript" charset="utf-8" src="/content/meguiars%20car%20care%20v4.hyperesources/meguiarscarcarev4_hype_generated_script.js?60619"></script>
            </div>
                -->
            <div onclick="javascript: window.location = '/home/prescription';" id="meguiarscarcarev5_hype_container" class="HYPE_document" style="margin: auto; position: relative; width: 350px; height: 250px; overflow: hidden; border: solid 2px #FEDC00">
                <script type="text/javascript" charset="utf-8" src="/content/meguiars%20car%20care%20v5.hyperesources/meguiarscarcarev5_hype_generated_script.js?11947"></script>
            </div>



        </div>
    </div>
</div>

@if (Model.Slots.Count != 0)
{
    <div class="container home-blocks">
        @foreach (var slot in Model.Slots.OrderBy(s => s.orderNo).Take(1))
        {
            @Html.Partial("_SlotDisplay", slot)
        }
    </div>
}


@if (Model.Sliders[0].Products.Count() > 0 && !Model.Sliders[0].MainTag.isHidden)
{
    <div class="container home-blocks">
        @Html.Partial("_ItemSlider", Model.Sliders[0])
    </div>

}


@if (Model.Sliders[1].Products.Count() > 0 && !Model.Sliders[1].MainTag.isHidden)
{
    <div class="container home-blocks">

        @Html.Partial("_ItemSlider", Model.Sliders[1])
        <div class="row ">
            <div class="col-xs-12 text-center ">

                <div class="viewrange">
                    <h3>
                        <a href="/products/meguiars-consumer">
                            VIEW CONSUMER RANGE
                        </a>
                    </h3>
                </div>

                <div class="viewrange" style="background-color: #656565;">
                    <h3><a href="/products/meguiars-professional">VIEW PROFESSIONAL RANGE</a></h3>
                </div>
            </div>
        </div>


    </div>
}



@if (Model.Slots.Count > 1)
{
    <div class="container home-blocks">
        @foreach (var slot in Model.Slots.OrderBy(s => s.orderNo).Skip(1))
        {
            @Html.Partial("_SlotDisplay", slot)
        }
    </div>
}


@if (Model.VideoSlots.Count > 0)
{
    int vix = 0;
    <div class="container home-blocks " style="padding-left: 30px;padding-right:30px;">
        <div class="videoslots row">
            @foreach (var slot in Model.VideoSlots.OrderBy(s => s.orderNo).Take(1))
            {
                <div class="col-xs-12 col-md-4 text-left vidcontainer hidden visible-xs visible-sm">
                    <div style="padding-right:15px !important;padding-left:15px !important;">
                        <h3>@slot.page.name</h3>
                        @slot.page.html2
                    </div>
                    <div style="padding-right: 15px !important; padding-left: 15px !important;">
                        <div class="howtolinks">
                            <a class="/home/videos/Consumer" href=""><span>HOW TO VIDEOS</span> FOR<br /> CONSUMER PRODUCTS</a>
                        </div>
                        <br /><br />
                        <div class="howtolinks">
                            <a class="/home/videos/Professional" href=""><span>HOW TO VIDEOS</span> FOR <br />PROFESSIONAL PRODUCTS</a>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-md-8 vidcontainer">
                    <iframe src="https://www.youtube.com/embed/@slot.page.html"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            style="margin-bottom: -15px;">
                    </iframe>
                </div>
                <div class="col-xs-12 col-md-4 text-right vidcontainer hidden-sm hidden-xs">
                    <div style="padding-right:15px !important;padding-left:15px !important;">
                        <h3>@slot.page.name</h3>
                        @slot.page.html2
                    </div>
                    <div style="position: absolute; bottom: 10px; right: 20px; max-width: 266px;">
                        <div class="howtolinks">
                            <a class="" href="/home/videos/Consumer"><span>HOW TO VIDEOS</span> FOR<br /> CONSUMER PRODUCTS</a>
                        </div>
                        <div class="howtolinks">
                            <a class="" href="/home/videos/Professional"><span>HOW TO VIDEOS</span> FOR <br />PROFESSIONAL PRODUCTS</a>
                        </div>
                    </div>
                    <!---
                        <a href="https://www.youtube.com/channel/@slot.page.html"><img src="~/Content/images/followus.png" style="position: absolute;bottom: 10px; right: 20px;max-width:226px;" /></a>
                    -->
                </div>
                vix++;
            }
        </div>
        <div class="row tinyprev" style="background-color: #2F2F2F !important;">
            @foreach (var slot in Model.VideoSlots.OrderBy(s => s.orderNo).Skip(1))
            {
                <div class="col-xs-@(12 / Model.VideoSlots.Skip(1).Count()) text-center tiny">
                    <iframe width="220" height="115"
                            src="https://www.youtube.com/embed/@slot.page.html"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
            }
        </div>
    </div>
}


@if (!Model.BrandPage.isHidden)
{
    if (Model.BrandPage.siteResources.Count() > 0)
    {
        <div class="container brandlogos blueband">
            <h3>Popular Brands</h3>
            <div class="row">
                @foreach (var sr in Model.BrandPage.siteResources)
                {
                    <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6">
                        <a href="@sr.Caption"><img src="@sr.url" alt="@sr.Caption.Split('/').Last()" /></a>
                    </div>
                }
            </div>
        </div>
    }
    <div class="container blurb">
        @Html.Raw(Model.BrandPage.html2)
    </div>

}
@{
    List<Kawa.Models.Data.New> RecentNews = (List<Kawa.Models.Data.New>)ViewBag.RecentNews;
    string baseURL = "https://lovemycarnz.co.nz/Content/SiteResources/0/";
    int ix = 0;
}

<div class="container home-blocks">
    <div class=" row">
        <div class="col-xs-12 ">
            <div class="newspage">
                <div class="slider-header slider-header-yellow">NEWS</div>

                @foreach (Kawa.Models.Data.New item in RecentNews.Where(x => x.SiteResourceTypeE == 3).ToList())
                {
                    string newsurl = "/News/Article/" + item.ID;

                    <div class="col-6 col-md-4 newsfeed @(ix%2 == 0 ?" newsfeed-alt" : "")">
                        <div class="intro">
                            @if (item.FileName != null)
                            {
                                <img src="@(baseURL + item.ID + "/" + item.FileName)" />
                            }
                            <h4><a href="@newsurl">@item.Title</a></h4>

                            @String.Format("{0:MMMM dd, yyyy}", item.NewsDate)
                        </div>


                        <div class="mt-3 mb-3">@Html.Raw(Kawa.Controllers.SiteController.StripTagsHtml(item.Html))</div>
                        <div class="readmore">
                            <a href="/News/Article/@item.ID">
                                Read more
                            </a>
                        </div>
                    </div>
                    ix++;
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/cycle")


    @Scripts.Render("~/bundles/favourites")

    <script type="text/javascript">

        $(function () {

            var switchViewportWidth = "900";

            function loadVid() {
                $(".homevid").each(function () {
                    $(this).attr("src", $(this).attr($(window).width() > switchViewportWidth ? "data-src" : "data-src-mob"));
                    this.load();
                    this.play();
                });
            }


            var viewportSize = $(window).width();

            $(window).resize(function () {
                ///console.log("viewport width", $(window).width())
                var newWidth = $(window).width();
                if (newWidth > switchViewportWidth && viewportSize < switchViewportWidth || newWidth < switchViewportWidth && viewportSize > switchViewportWidth) {
                    loadVid();
                }
                viewportSize = $(window).width();
            });



            loadVid();

        });

    </script>
}
