﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models
@{
    ViewBag.TitleFull = "Meguiar's - Since 1901";
    List<PrescriptionTag> taglist = (List<PrescriptionTag>)ViewBag.breadcrumb;
    
    int bcrumbindex = 1;

    string slipnameurl = "";
    string slipnameurlx = "";
    int step = 3;
    if (Model.prescriptiontag.ID == 6379)
    {
        step = 1;
    }


    if (Model.prescriptiontag.ParentID == 6379)
    {
        step = 2;
    }
    else
    {
        if (Model.prescriptiontag.ParentID != null)
        {
            List<int> sublevelids = new List<int>() { 6380, 6697, 6704, 6711, 6718, 6725, 6732, 6739, 6746, 6753, 6760, 6767 };//mid level ids
            if (sublevelids.Contains((int)Model.prescriptiontag.ParentID))
            {
                step = 3;
            }

            if (sublevelids.Contains((int)Model.prescriptiontag.ID))
            {
                step = 3;
            }
            if (Model.prescriptiontag.products.Count() != 0)
            {
                step = 4;
            }
        }
    }

    if (ViewBag.productcount != 0)
    {
        step = 4;
    }


    if (taglist.Count() > 0)
    {
        slipnameurl = taglist.FirstOrDefault().nameUrl;
        if (taglist.Count() > 1)
        {
            slipnameurlx = taglist.Skip(1).FirstOrDefault().nameUrl;

        }
    }



    List<Kawa.Models.PrescriptionTag> trees = taglist;/// Model.listTags;

    List<Kawa.Models.PrescriptionTag> stucture = new List<Kawa.Models.PrescriptionTag>();
    if (Model.prescriptiontag.ParentID != null)
    {
        try
        {
            Kawa.Models.PrescriptionTag parent = trees.Where(x => x.ID == Model.prescriptiontag.ParentID).FirstOrDefault();
            if (parent != null && parent.ParentID != null)
            {
                Kawa.Models.PrescriptionTag parentparent = trees.Where(x => x.ID == parent.ParentID).FirstOrDefault();
                if (parentparent != null && parentparent.ParentID != null)
                {
                    Kawa.Models.PrescriptionTag parentparentparent = trees.Where(x => x.ID == parentparent.ParentID).FirstOrDefault();
                    if (parentparentparent != null)
                    {
                        stucture.Add(parentparentparent);
                    }
                }
                if (parentparent != null)
                {
                    stucture.Add(parentparent);
                }
            }
            if (parent != null)
            {
                stucture.Add(parent);
            }
        }
        catch { }
    }
    stucture.Add(Model.prescriptiontag);

    if (stucture.Count == 1)
    {
        stucture.Add(new PrescriptionTag() { ID = 0 });
        stucture.Add(new PrescriptionTag() { ID = 0 });
    }
    if (stucture.Count == 2)
    {
        stucture.Add(new PrescriptionTag() { ID = 0 });
    }

    ///fake the breadcrumb.
    ///
    List<PrescriptionTag> breadcrumb = new List<PrescriptionTag>();
    breadcrumb.Add(new PrescriptionTag() { name = "Select Vehicle", ID = 0, Type = PrescriptionTag.TypeOption.CAR_PRESCRIPTION_CAT });
    breadcrumb.Add(new PrescriptionTag() { name = "Select Surface", ID = (stucture.Count > 0 ? stucture[0].ID : 0), Type = PrescriptionTag.TypeOption.CAR_PRESCRIPTION_CAT, nameUrl = (stucture.Count > 0 ? stucture[0].nameUrl : slipnameurl) });
    breadcrumb.Add(new PrescriptionTag() { name = "Car Care Goals", ID = (stucture.Count > 1 ? stucture[1].ID : 0), Type = PrescriptionTag.TypeOption.CAR_PRESCRIPTION_CAT, nameUrl = (stucture.Count > 0 ? stucture[1].nameUrl : slipnameurlx) });
    breadcrumb.Add(new PrescriptionTag() { name = "Results", ID = 0, Type = PrescriptionTag.TypeOption.CAR_PRESCRIPTION_CAT, nameUrl = "Products" });


}

<div class="pagecontent">
    <div class="container">
        <div class=" tag-header tag-header-products prescriptionbreadcrumbcontainer">

            <h3><a href="/home/prescription">CAR CARE PRESCRIPTION</a></h3>
            <div class="row">
                @if (breadcrumb.Count != 0)
                {
                    foreach (PrescriptionTag t in breadcrumb)
                    {
                        <div class="col-xs-6 col-lg-@(12 / (breadcrumb.Count())) text-center  hidden-xs">
                            @if (bcrumbindex > 1)
                            {
                                <div class="arrow-left@(bcrumbindex == step ? "-yellow" : "")"></div>

                            }
                            else
                            {
                                <div class="spacer-left@(bcrumbindex == step ? "-yellow" : "")"></div>
                            }
                            <div class="prescription-breadcrumb@(bcrumbindex == step ? "-yellow" : "")">
                                <a href="@t.getUrl()" title="@t.name">
                                    @{
                                        string outputname = t.name;
                                        if (outputname.Length > 16)
                                        {
                                            outputname = outputname.Substring(0, 16);
                                        }
                                        @(bcrumbindex + ". "+ outputname)
                                    }
                                </a>
                            </div><div class="arrow-right@(bcrumbindex == step ? "-yellow" : "")"></div>
                        </div>
                        bcrumbindex++;
                    }
                }
            </div>

        </div>




        <div class="prescription">
            <div class="row ">
                <div class="col-xs-12 text-center ">
                    @if(taglist.Count > 1)
                    { 
                        <div class="prescription-breandcrumb">
                            @foreach (PrescriptionTag t in taglist.OrderByDescending(x => x.level))
                            {
                                <a href="@t.getUrl()">@(t.name + " > ")</a>
                            }
                        </div>
                    }


                    <div class="text-left hidden-sm hidden-md hidden-lg @(step == 1 ? "hidden-xs" : "")" style="margin-bottom: 12px; margin-left: 12px;">
                        <a href="javascript: history.go(-1);"><img src="/content/images/prescription/back.png" style="margin-top:-2px;" /> Back</a>
                    </div>


                    <h3>@Html.Raw(Model.prescriptiontag.html)</h3>

                    @if (Model.prescriptiontag.ParentID == 6379)
                    {
                        if (Model.prescriptiontag.siteResources.FirstOrDefault() != null)
                        {
                            Model.prescriptionlistTags = Model.prescriptionlistTags.OrderBy(x => x.name).ToList();///the order is important, alphabetical
                            <h3 class="prescription_subtitle">What surface are you working on?</h3>
                            <div class="vehicleposition">

                                <img class="vehicle" src="@Model.prescriptiontag.siteResources.FirstOrDefault().getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE,false)" style="width:100%;" alt="@Model.prescriptiontag.name">

                                <div class="picklabels">
                                    <div id="appLights"><a href="@Model.prescriptionlistTags.Where(x => x.ParentID == Model.prescriptiontag.ID).Take(1).FirstOrDefault().getUrl()">HEADLIGHTS</a></div>
                                    <div id="appInt"><a href="@Model.prescriptionlistTags.Where(x => x.ParentID == Model.prescriptiontag.ID).Skip(1).Take(1).FirstOrDefault().getUrl()">INTERIOR</a></div>
                                    <div id="appOther"><a href="@Model.prescriptionlistTags.Where(x => x.ParentID == Model.prescriptiontag.ID).Skip(2).Take(1).FirstOrDefault().getUrl()">OTHER</a></div>
                                    <div id="appPaint"><a href="@Model.prescriptionlistTags.Where(x => x.ParentID == Model.prescriptiontag.ID).Skip(3).Take(1).FirstOrDefault().getUrl()">PAINT</a></div>
                                    <div id="appTires"><a href="@Model.prescriptionlistTags.Where(x => x.ParentID == Model.prescriptiontag.ID).Skip(4).Take(1).FirstOrDefault().getUrl()">TYRES</a></div>
                                    <div id="appWheels"><a href="@Model.prescriptionlistTags.Where(x => x.ParentID == Model.prescriptiontag.ID).Skip(5).Take(1).FirstOrDefault().getUrl()">WHEELS</a></div>
                                </div>

                            </div>
                            <div style="clear:both;"></div>
                        }

                    }
                    else
                    {
                        int rowindex = 0;

                        if (Model.prescriptiontag.ID == 6379)
                        {
                            <h3 class="">Choose your ride to start</h3>
                        }

                        List<PrescriptionTag> subtaglist = Model.prescriptionlistTags.Where(x => x.ParentID == Model.prescriptiontag.ID).OrderBy(x => x.orderNo).ToList();


                        if (subtaglist.Count != 0 && subtaglist.FirstOrDefault().colour == "products")
                        {
                            <div class=" tag-header tag-header-products">
                                <div class="row">
                                    <div class="col-xs-12">
                                        Product Recommendations
                                    </div>
                                </div>
                            </div>
                            foreach (PrescriptionTag t in subtaglist)
                            {
                                if (t.products != null && t.products.Count > 0)
                                {
                                    @Html.Partial("_PrescriptionProductCat", t)
                                }
                            }
                        }
                        else
                        {

                            foreach (PrescriptionTag t in subtaglist)
                            {
                                int sizer = (12 / Model.prescriptionlistTags.Where(x => x.ParentID == Model.prescriptiontag.ID).Count());
                                if (sizer < 3)
                                { sizer = 3; }

                                <div class="prescriptionbox text-center col-xs-6 col-md-@sizer" text-center">
                                    <a href="@t.getUrl()" title="@t.name">
                                        @if (t.siteResources.Count() != 0)
                                        {
                                            foreach (SiteResource s in t.siteResources)
                                            {
                                                <img src="@s.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE,false)" alt="@t.siteResources.Count()" />
                                                <h3>@t.name</h3>
                                                <p>@t.aliases</p>
                                            }
                                        }
                                        else
                                        {
                                            <div style="width: 100%; height: 139px;"></div>
                                            <h3>@t.name</h3>
                                            <p>@t.aliases</p>
                                        }
                                    </a>
                                </div>
                                rowindex++;
                                if (rowindex == 4)
                                {
                                    <div style="clear:both;"></div>
                                    rowindex = 0;
                                }

                            }
                        }

                    }

                </div>

            </div>

            @if (Model.prescriptiontag.products.Count() != 0)
            {
                <div class=" prescription prescription-products">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class=" tag-header tag-header-products">
                                <div class="row">
                                    <div class="col-xs-12">
                                        Product Recommendations
                                    </div>
                                </div>
                            </div>
                            @foreach (Kawa.Models.Product p in Model.prescriptiontag.products.OrderBy(x=>x.ProductPrescriptionTagRelationShipRank))
                            {
                                <div class="col-lg-3 col-md-3 col-xs-6">
                                    @Html.Partial("_TagProduct", p)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/favourites")
}
