﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div style="height:200px"></div>

    <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown trigger
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li>this worked</li>
        </ul>
    </div>

    <div style="height:200px"></div>
    <div style="position:relative">
        <a class="dropdown-toggle" href="#" id="accountdropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>

        <ul class="dropdown-menu accounts" aria-labelledby="accountdropdown2">
            <li>this worked</li>
        </ul>
    </div>
    <div style="height:200px"></div>

</div>
@section Scripts {
   

    @Scripts.Render("~/bundles/cycle")
}