﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Kawa.Models.Page> videos = (List<Kawa.Models.Page>)ViewBag.videos;

}
<style>
    .videowrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

        .videowrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


</style>
<div class="pagecontent">
    <div class="container">
        <div class=" tag-header tag-header-products prescriptionbreadcrumbcontainer">

            <h3>@ViewBag.titles</h3>
        </div>
        <div class="videos">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        @foreach (var type in videos.OrderBy(p => p.html4).Select(x => x.html4).Distinct())
                        {
                        <div class="col-xs-12">
                            <h3>@type</h3>
                            @foreach (Kawa.Models.Page page in videos.Where(x=>x.html4 == type).OrderBy(x => x.orderNo))
                            {
                            <div class="col-xs-12 col-sm-12 col-md-6 text-center ">
                                <div class="videowrapper">
                                    <iframe src="https://www.youtube.com/embed/@page.html"
                                            title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            }
                        </div><br style="clear:both;" />
                        }
                        </div>

                </div>
                </div>

        </div>

    </div>
