﻿@model Kawa.Models.ViewModels.SiteViewModel

@{
    ViewBag.Title = "Wish List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="accountpager">
    @Html.Partial("_PageTitle")
</div>

<div class="container accountpage">
    <div>
        <div class="row">
            <div class="col-xs-12 favourites">
                @if (Model.account.favourites.Count == 0)
                {
                    <p>You have not added any products to your wish list!</p>
                }

                <p>If you wish to keep your wishlist then you will need to <a href="/account/register" style="text-decoration:underline;">create an account</a> or <a href="/account/login" style="text-decoration:underline;">login</a></p>

                @if (Model.account.favourites.Any(f => f.product != null))
                {
                    foreach (var fav in Model.account.favourites.Where(f => f.product != null))
                    {
                        @Html.Partial("_TagProductWishListGuest", fav)
                    }
                    <br /> <br />
                }
            </div>
        </div>
    </div>
</div>