﻿@{
    ViewBag.Title = "Propella Services";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Propella Services</h2>


<div class="services">

    <div class="alert alert-success actions" role="alert" style="display:none;">
        <img src="~/Content/images/ajax-loader.gif" class="mr-1" /><span></span>
    </div>

    <div class="alert alert-danger actionrunning" role="alert" style="display:none;">
        ! Sorry you cannot start a new process while one is already running, this could cause system corruption.
    </div>
    <p>
        You can use this page to reload some of the services that are run nightly.
    </p>
    <div>
        <h3>Reload Product Catalog</h3>
        <button onclick="run('/Admin/Propella/RunProductsService/',1,this);" class="btn btn-primary">todays update</button>
        <button onclick="run('/Admin/Propella/RunProductsService/',3,this)" class="btn btn-primary">3 days worth of updates</button>
        <button onclick="run('/Admin/Propella/RunProductsService/',7,this)" class="btn btn-primary">7 days worth of updates</button>
        <button onclick="run('/Admin/Propella/RunProductsService/','',this)" class="btn btn-primary">ALL products</button>



    </div><br />


   
          <div>
              <h3>Update Out of stock SKU's from LMC</h3> <button onclick="run('/Admin/Propella/RunProductsOutOfStockService/','',this)" class="btn btn-primary">Run Out of Stock</button>
          </div><br />

    <div>
        <h3>Update info/images from SmitsGroup</h3>
        <button onclick="run('/Admin/Propella/RunSmitsService/',7,this);" class="btn btn-primary">7 days worth of updates</button>
        <button onclick="run('/Admin/Propella/RunSmitsService/',20000,this);" style="display:none;" class="btn btn-primary">20,000 days worth of updates</button>
    </div><br />
    <div>
        <h3>Reload Promotions</h3>
        <button onclick="run('/Admin/Propella/RunPromtionsService/',null,this);" class="btn btn-primary">Update now</button>
    </div>
    <!---
    <div>
        <h3>Update SKU info/images from SmitsGroup</h3>
        <input type="text" name="_sku" id="_sku" />
        <button onclick="runsku('/Admin/Propella/RunSmitsServiceSku/',0,this);" class="btn btn-primary">Update now</button>
    </div>  <br />
        -->
    <div>
        <h3>Reload Categories/Brands</h3>
        <button onclick="run('/Admin/Propella/RunCategoriesService/',null,this);" class="btn btn-primary">Update now</button>
    </div><br />

</div>

@section Scripts {
    <script>
        var processRunning = false;
        function runsku(url,days, el) {
            run(url , days, el, $("#_sku").val());
        }
        function run(url, days, el, sku=null) {
            if (processRunning) {
                $(".actionrunning").show();
                return;
            }
            var buttonName = $(el).html();
            var actionName = $(el).parent().find("h3").html() + " - " + buttonName;
            confirmAction(actionName, "Run this action?", function () {
                processRunning = true;

                $(".actions").show();
                $(el).html("please wait...")
                $(".alert.actions img").show();
                $(".alert.actions span").html("Running " + buttonName);
                $(".alert.actions").removeClass("alert-success");
                $(".alert.actions").addClass("alert-primary");
                var dataStr = "days=" + days;
                if (sku != null)
                    dataStr += "&SKU=" + sku;

                $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: dataStr,
                    success: function (result) {
                        console.log(result);
                        if (result.Success) {
                            $(".alert.actions img").hide();
                            $(".alert.actions span").html(result.Message);
                            $(".alert.actions").removeClass("alert-primary");
                            $(".alert.actions").removeClass("alert-danger");
                            $(".alert.actions").addClass("alert-success");
                            $(el).html(buttonName);
                        }
                        else {
                            $(".alert.actions img").hide();
                            $(".alert.actionsn span").html(result.Issue);
                            $(".alert.actions").removeClass("alert-primary");
                            $(".alert.actions").addClass("alert-danger");
                            $(el).html(buttonName);
                        }
       
                        processRunning = false;
                    }
                }
            );}, function () {

            });
       }
    </script>
}


