﻿@model Kawa.Models.Product
@using Kawa.Models;
@using Kawa.Models.ViewModels;
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var sections = new List<Tuple<string, Tag.TypeOption>>
        {
            new Tuple<string, Tag.TypeOption>("Brand",Tag.TypeOption.BRAND_SECTION),
            new Tuple<string, Tag.TypeOption>("Categories",Tag.TypeOption.PRODUCT_SECTION),
            new Tuple<string, Tag.TypeOption>("Specialties",Tag.TypeOption.ADHOC_PRODUCT_TAGS),
            new Tuple<string, Tag.TypeOption>("Display",Tag.TypeOption.ADHOC_PRODUCT_GROUP)
        };

    var tags = ((List<Tag>)ViewBag.Tags);
}


<h2>Product Tags Wizard</h2>

@Html.Partial("_Message", ((AdminViewModel)ViewBag.SiteViewModel))

@if (@Model.ID != 0)
{ 
    <a href="@Model.getUrl()" target="_blank">View product on front end</a> @:|
    @Html.RouteLink("Pricing", "ProductAdminVariants", new { id = Model.ID }, new { @class = "checksave", data_formtosubmit = "productform" })
}
<br /><br />

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class="productform" }))
{
    @Html.ValidationSummary(true)
    <div class="addedit">
        <p>
            <input type="submit" value="Save" />
        </p>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.createdDate)
        @Html.HiddenFor(model => model.modifiedDate)
        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.name)
               
            </div>
            <div class="col-sm-9 editor-field">
                @Model.name
                <br/>
                Code:@Model.sku
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
              @foreach (var tagsection in sections)
              {
                <div class="row">
                    <h3>@tagsection.Item1</h3>

                    <div class="row tagsdiv">
                        <div class="col-sm-4">
                            @Html.DropDownList("NewRelatedTagID", tags.Where(x => x.Type == tagsection.Item2).ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "Choose"), new { @class = "form-control tagsel port" })
                            <input type="button" value="add" class="addtag" />
                        </div>
                        <div class="col-sm-8 taglist">
                            @if (Model.tags != null)
                            {
                                foreach (var tag in Model.tags.Where(x => x.Type == tagsection.Item2))
                                {
                                    <span class="tag" id="taglabel_@(tag.ID)" style="color:@(string.IsNullOrEmpty(tag.colour) ? "#000" : "#fff");background-color:@tag.colour;">@(tag.name) <a href="javascript:void(0)" data-tagid="@(tag.ID)" class="removetag">x</a></span>
                                    <input type="hidden" id="tag_@(tag.ID)" name="TagIDs" value="@(tag.ID)" />
                                }
                            }
                        </div>
                    </div>
                </div>
              }
            </div>
            <div class="col-sm-4">
                <img class="img" src="@Model.getSrUrl(SiteResource.SiteResourceTypeOption.PRODUCT_IMAGE, SiteResource.SiteResourceVersion.ITEM_PAGE)" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 editor-field">
                <input type="submit" value="Save" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.blurb)
                @Html.Raw(Model.blurb)
            </div>
        </div>

    </div>

   
    
    <br/>
   
}

@section Scripts {
   
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")
}