﻿@model Kawa.Models.ViewModels.AdminViewModel

<div class="qandablock" data-qindex="@Model.PartialIndex">
    @Html.HiddenFor(model => model.product.questionAndAnswers[Model.PartialIndex].ID)
    @Html.HiddenFor(model => model.product.questionAndAnswers[Model.PartialIndex].ProductID)
    @Html.HiddenFor(model => model.product.questionAndAnswers[Model.PartialIndex].createDate)

    <div class="item">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.product.questionAndAnswers[Model.PartialIndex].question)

                @Html.TextBoxFor(model => model.product.questionAndAnswers[Model.PartialIndex].question, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.product.questionAndAnswers[Model.PartialIndex].question, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.product.questionAndAnswers[Model.PartialIndex].answer)

                @Html.TextAreaFor(model => model.product.questionAndAnswers[Model.PartialIndex].answer, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.product.questionAndAnswers[Model.PartialIndex].answer, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

