﻿@model Kawa.Models.ViewModels.ProductFilterViewModels
@using PagedList.Mvc;
@using PagedList;
@using Kawa.Models;
@using Kawa.Models.Extensions;
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="kawaApp" ng-controller="ProductListController" ng-cloak>
    <h2>Product Management</h2>
    <p>
        @Html.RouteLink("Create a New Product", "ProductAdminProduct", new { id = "" })
    </p>
    <!--
    <input type="button" ng-click="testChangeAll()" value="change all" />

    <input type="button" ng-value="'Bulk price update on selected v'" class="btn btn-default" ng-click="toggleBulkUpdate()" />
    <input type="button" ng-value="'Bulk Google Cat assignment v'" class="btn btn-default" ng-click="toggleBulkGoogleUpdate()" />
    <input type="button" ng-value="'Bulk Bing Cat assignment v'" class="btn btn-default" ng-click="toggleBulkBingUpdate()" />
    <input type="button" ng-value="'Bulk ship days assignment v'" class="btn btn-default" ng-click="toggleBulkShipDaysUpdate()" />
    <input type="button" ng-value="'Hide/Show Description assignment v'" class="btn btn-default" ng-click="toggleBulkHideBlurbUpdate()" />
    <input type="button" ng-value="'Bulk warning type(s) on selected v'" class="btn btn-default" ng-click="toggleBulkDisclaimerUpdate()" />
    <input type="button" ng-value="'Bulk out of stock on selected v'" class="btn btn-default" ng-click="toggleBulkOutofstockUpdate()" />
         -->
    <div ng-if="bulk.on" class="bulkupdate">
        <h3>Make a Bulk Update</h3>

        <div>
            <b>Main price change</b>
            <div class="col-sm-12 form-inline">
                <label>discount</label>
                <input type="text" ng-model="bulk.single.discount" class="form-control" />
                <div ng-show="modelErrHasStr('single.discount')" class="field-validation-error">{{modelErrMsgStr('single.discount')}}</div>
            </div>
            <div>
                <span ng-click="addBulk()" class="action">add bulk discount</span>
                <input type="checkbox" ng-model="bulk.deleteExisting" />delete existing volume discounts
            </div>
            <div class="row form-inline" ng-repeat="price in bulk.volumePrices">
                <div class="col-sm-4">
                    <label>quantity</label>
                    <input type="text" ng-model="price.quantity" class="form-control" />
                    <div ng-show="modelErrHasStr('volumePrices[' + $index + '].quantity')" class="field-validation-error">{{modelErrMsgStr('volumePrices[' + $index + '].quantity')}}</div>
                </div>
                <div class="col-sm-4">
                    <label>discount</label>
                    <input type="text" ng-model="price.discount" class="form-control" />
                    <div ng-show="modelErrHasStr('volumePrices[' + $index + '].discount')" class="field-validation-error">{{modelErrMsgStr('volumePrices[' + $index + '].discount')}}</div>
                </div>
                <div class="col-sm-4">
                    <span ng-click="deleteBulk(price)" class="action">remove</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="button" value="Run Update" class="btn btn-default" ng-click="runBulkUpdate()" />
                </div>
                <div class="col-sm-9">
                    <input type="text" ng-model="bulk.bulkProductListName" class="form-control" placeholder="save this products list" />
                </div>
            </div>
        </div>

    </div>

    <div ng-if="bulkgoogcat.on" class="bulkupdate">
        <h3>Make a Bulk Update of Google Category</h3>
        <div>
            <div class="col-sm-12 form-inline">
                <label>Assign Google Category ID of the following to selected</label>
                <input type="text" ng-model="bulkgoogcat.googleCat" class="form-control" />
                <div ng-show="bulkgoogcat.error" class="field-validation-error">{{bulkgoogcat.error}}</div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="button" value="Run Update" class="btn btn-default" ng-click="runBulkGoogleCatUpdate()" />
                </div>
            </div>
        </div>
    </div>

    <div ng-if="bulkbingcat.on" class="bulkupdate">
        <h3>Make a Bulk Update of Bing Category</h3>
        <div>
            <div class="col-sm-12 form-inline">
                <label>Assign Bing Category ID of the following to selected</label>
                <input type="text" ng-model="bulkbingcat.bingCat" class="form-control" />
                <div ng-show="bulkbingcat.error" class="field-validation-error">{{bulkbingcat.error}}</div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="button" value="Run Update" class="btn btn-default" ng-click="runBulkBingCatUpdate()" />
                </div>
            </div>
        </div>
    </div>

    <div ng-if="bulkshipdays.on" class="bulkupdate">
        <h3>Make a Bulk Update of ship days</h3>
        <div>
            <div class="col-sm-12 form-inline">
                <label>Assign the following ship days to selected. (Put nothing to set to default ship days)</label>
                <input type="text" ng-model="bulkshipdays.shipDaysMinimum" class="form-control" placeholder="min" />
                <input type="text" ng-model="bulkshipdays.shipDays" class="form-control" placeholder="max" />
                <div ng-show="bulkshipdays.error" class="field-validation-error">{{bulkgoogcat.error}}</div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="button" value="Run Update" class="btn btn-default" ng-click="runBulkShipDaysUpdate()" />
                </div>
            </div>
        </div>
    </div>

    <div ng-if="bulkhideblurb.on" class="bulkupdate">
        <h3>Make a Bulk Update of Description hidden status</h3>
        <div>
            <div class="col-sm-12 form-inline">
                <label>Check to hide selected product descriptions, leave unchecked to unhide the product descriptions.</label><br />
                <input type="checkbox" ng-model="bulkhideblurb.hideBlurb" class="form-control" /> hide description
                <div ng-show="bulkbingcat.error" class="field-validation-error">{{bulkbingcat.error}}</div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="button" value="Run Update" class="btn btn-default" ng-click="runBulkHideBlurbUpdate()" />
                </div>
            </div>
        </div>
    </div>

    <div ng-if="bulkdisclaimers.on" class="bulkupdate">
        <h3>Make a Bulk Update of the warning type(s) setting</h3>
        <div>
            <div class="col-sm-12 form-inline disclaimers">
                <label>Assign the following warning type setting(s) to selected</label>
                <br />
                <label ng-repeat="disclaimer in disclaimers">
                    <input type="checkbox" checklist-model="bulkdisclaimers.pageIds" checklist-value="disclaimer.id"> {{disclaimer.name}}
                </label>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="button" value="Run Update" class="btn btn-default" ng-click="runBulkDisclaimersUpdate()" />
                </div>
            </div>
        </div>
    </div>

    <div ng-if="bulkoutofstock.on" class="bulkupdate">
        <h3>Make a Bulk Update of the out of stock setting</h3>
        <div>
            <div class="col-sm-12 form-inline disclaimers">
                <label>Assign the following out of stock setting to selected</label>
                <br />
                <label><input type="checkbox" ng-model="bulkoutofstock.outOfStock">Out of stock</label> (Set selected <b>{{bulkoutofstock.outOfStock ? "out of" : "in"}}</b> stock)
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="button" value="Run Update" class="btn btn-default" ng-click="runBulkOutofstockUpdate()" />
                </div>
            </div>
        </div>
    </div>

    <div class="hud" hud></div>

    <div class="form-inline adminsearch">
        <div><b>search products</b></div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.TagID, Model.tags.ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "category"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TagID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="display:none;">
            @Html.DropDownListFor(model => model.BrandID, Model.brands.ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "brand"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="display:none;">
            @Html.DropDownListFor(model => model.DisclaimerID, Model.disclaimers.ToSelectList(f => f.name, f => f.ID.ToString(), "warning"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DisclaimerID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(x => x.search, new { @class = "form-control", placeholder = "name or barcode" })
        </div>
        <div class="form-group"  style="display:none;">
            @Html.TextBoxFor(x => x.searchKeyword, new { @class = "form-control", placeholder = "keywords" })
        </div>
        <div class="form-group" style="display:none;">
            Out Of Stock @Html.EditorFor(x => x.outOfStock, new { @class = "form-control" })
        </div>
        <div class="form-group">
            Pre-Order @Html.EditorFor(x => x.preOrder, new { @class = "form-control" })
        </div>
        <div class="form-group"  style="display:none;">
            Offline @Html.EditorFor(x => x.offline, new { @class = "form-control" })
        </div>
        <div class="form-group"  style="display:none;">
            Google Cat @Html.EditorFor(x => x.googleCatStatus, new { @class = "form-control" })
        </div>
        <div class="form-group"  style="display:none;">
            Bing Cat @Html.EditorFor(x => x.bingCatStatus, new { @class = "form-control" })
        </div>
        <div class="form-group" style="display:none;">
            Description hidden @Html.EditorFor(x => x.hideBlurb, new { @class = "form-control" })
        </div>
        <div class="form-group"  style="display:none;">
            Aust L @Html.EditorFor(x => x.austL, new { @class = "form-control" })
        </div>
        <div class="form-group"   style="display:none;">
            @Html.DropDownListFor(model => model.stockNoStatus, Model.stockNoStatus.ToSelectListChoose("Stock count"), new { @class = "form-control" })
        </div>
        <div class="form-group"  style="display:none;">
            @Html.DropDownListFor(model => model.quanitytRestriction, Model.quanitytRestriction.ToSelectListChoose("Min/Max Qty"), new { @class = "form-control" })
        </div>
        <div class="">

            <input type="button" value="Filter" class="btn btn-default" ng-click="getProducts()" />
            <img src="~/Content/images/admin/ajax-loader.gif" ng-show="loading">
            <select name="pageSizeSelect" id="pageSizeSelect"
                    ng-options="o as o for o in pageSizes"
                    ng-model="productsPerPage"
                    class="form-control"></select>
            <input type="button" value="Download Csv" class="btn btn-default" ng-click="getProducts(null,true)" />

        </div>
    </div>



    <table class="table table-responsive table-striped productslist">
        <tr>
            <th><input type="checkbox" ng-model="selectstate.all" /></th>
            <th>
                Name
            </th>
            <th>
                Code
            </th>

            <th>
                price
            </th>
            <th>
                Status
            </th>
            <!---<th>
        Actions
    </th>-->
        </tr>

        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        <tr dir-paginate="item in products | itemsPerPage: productsPerPage" total-items="totalProducts" current-page="pagination.current" ng-class="{'changed':item.changed,'selected':item.selected}">
            <td>
                <input type="checkbox" ng-model="item.selected" />
            </td>
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.sku}}
            </td>



            <td class="text-right">
                ${{item.variant.price}} <span ng-class="item.promotion != null ? 'offline' : ''" ng-show="item.promotion != null">/ ${{item.variant.priceRRP}}</span>

                <input type="text" ng-if="item.variant.ID > 0" ng-model="item.variant.price" class="form-control" ng-change="updateMargin(item)" style="display:none;" />
            </td>
            <td>
                <div ng-class="item.isHidden ? 'offline' : 'online'">{{item.isHidden ? 'offline' : 'online'}}</div>
            </td>
    <td style="display:none;">
        <a ng-href="/admin/products/product/{{item.ID}}">details</a> |
        <a ng-href="/admin/products/variants/{{item.ID}}">pricing</a> |
        <a ng-href="/admin/products/notifications/{{item.ID}}">notifications</a> |
        <a ng-href="/admin/products/cloneproduct/{{item.ID}}">clone</a> |
        <a ng-href="/admin/products/productdelete/{{item.ID}}">delete</a>
    </td> 
        </tr>


    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/productlist")
    @Scripts.Render("~/bundles/hud")

    <script>
        var disclaimers = [
                @foreach (var disclaimer in Model.disclaimers)
                {
                    @:{ id: @disclaimer.ID, name:'@disclaimer.getDisclaimerAbreviation()' },
                }
        ];
    </script>
}




