﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Ingredients";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Ingredients - @Model.product.name</h2>

<p>
    @Html.RouteLink("Create a New Ingredient", "ProductAdminIngredient", new { id = "", p = @Model.product.ID }) |

    @Html.RouteLink("Edit Product", "ProductAdminProduct", new { id = Model.product.ID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ingredient.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ingredients.OrderBy(i => i.orderNo)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.RouteLink("Edit", "ProductAdminIngredient", new { id = item.ID }) |
            @Html.RouteLink("MoveUp", "ProductAdminIngredientMoveUp", new { id = item.ID }) |
            @Html.RouteLink("MoveDown", "ProductAdminIngredientMoveDown", new { id = item.ID }) |
            @Html.RouteLink("Delete", "ProductAdminIngredientDelete", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this ingredient?');" })
        </td>
    </tr>
}

</table>
