﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Ingredient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Ingredient</h2>

@Html.RouteLink("Back to Ingredients", "ProductAdminIngredients", new { id = Model.ingredient.ProductID })

@Html.Partial("_Message")

@using (Html.BeginRouteForm("ProductAdminIngredient", new { id = Model.ingredient.ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ingredient.ProductID)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ingredient.ID)
        @Html.HiddenFor(model => model.ingredient.ProductID)
        @Html.HiddenFor(model => model.ingredient.createDate)


        <div class="form-group">
            @Html.LabelFor(model => model.ingredient.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ingredient.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ingredient.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ingredient.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ingredient.description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ingredient.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="managesection">
            <h3>Manage your files</h3>

            <div id="SiteResources">
                @Html.Partial("_SiteResources")
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
