﻿@model IEnumerable<Kawa.Models.StockNotice>
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Stock Notifications - " + ViewBag.Product.name;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <div class="message">@Html.Raw(ViewBag.Message)</div>
}

<p>
    <a href="@ViewBag.Product.getUrl()" target="_blank">View product on front end</a> | 
    @Html.RouteLink("Edit Product", "ProductAdminProduct", new { id = ViewBag.Product.ID }) |
    @Html.RouteLink("Pricing", "ProductAdminVariants", new { id = ViewBag.Product.ID })
</p>

@if (ViewBag.Status == Kawa.Models.StockNotice.StatusOption.PENDING)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="uploadform">
            <div class="form-inline">
                <div class="form-group">
                    <label>Upload CSV File</label>
                    <input type="file" name="PropertyUpload" class="form-control" />
                </div>
                <input type="submit" value="UPLOAD FILE" class="btn btn-default" />
            </div>
        </div>
        <div class="uploadform">
            <div class="form-inline">
                <div class="form-group">
                    <label>Add Email</label>
                    <input type="text" name="StockNoticeEmail" class="form-control" />
                </div>
                <input type="submit" value="ADD EMAIL" class="btn btn-default" />
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("View sent notifications","Notifications", new { status = Kawa.Models.StockNotice.StatusOption.SENT })
    </p>
}
else
{
        @Html.ActionLink("View pending notifications","Notifications", new { status = Kawa.Models.StockNotice.StatusOption.PENDING })
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(x => x.email)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
           @item.sentDate.UtcToLocal()
        </td>
        <td>
@if (ViewBag.Status == Kawa.Models.StockNotice.StatusOption.PENDING)
{
            @Html.ActionLink("Delete", "NotificationDelete", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish delete this notification?');" })
}
        </td>
    </tr>
}

</table>
