﻿@model Kawa.Models.Product
@using Kawa.Models;
@using Kawa.Models.ViewModels;
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var sections = new List<Tuple<string, Tag.TypeOption>>
        {
            ///new Tuple<string, Tag.TypeOption>("Brand",Tag.TypeOption.BRAND_SECTION),
            new Tuple<string, Tag.TypeOption>("Categories",Tag.TypeOption.PRODUCT_SECTION),
            ///new Tuple<string, Tag.TypeOption>("Specialties",Tag.TypeOption.ADHOC_PRODUCT_TAGS),
            new Tuple<string, Tag.TypeOption>("Display",Tag.TypeOption.ADHOC_PRODUCT_GROUP),
        };

    var tags = ((List<Tag>)ViewBag.Tags);
}


<h2>@(Model.ID==0?"Create":"Edit") a Product</h2>

<h2 style="color:red;">Please note: any changes made here will be overwritten when the nightly updates are run.</h2>
<br />

@Html.Partial("_Message", ((AdminViewModel)ViewBag.SiteViewModel))

@if (@Model.ID != 0)
{ 
    <a href="@Model.getUrl()" target="_blank">View product on front end</a> @:|
    @Html.RouteLink("Pricing", "ProductAdminVariants", new { id = Model.ID }, new { @class = "checksave", data_formtosubmit = "productform" }) @:|
    @Html.RouteLink("Notifications", "ProductAdminNotifications", new { id = Model.ID }) 
}
<br /><br />

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class="productform" }))
{
    @Html.ValidationSummary(true)
<div class="addedit">
    <p>
        <input type="submit" value="Save" />
    </p>

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.formulation)
    @Html.HiddenFor(model => model.createdDate)
    @Html.HiddenFor(model => model.modifiedDate)
    @Html.HiddenFor(model => model.orderOverride)

    @Html.HiddenFor(model => model.metakeywords)
    @Html.HiddenFor(model => model.metadescription)

    <div class="row">
        <div class="col-sm-3 editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="col-sm-9 editor-field">
            @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.name)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 editor-label">
            @Html.LabelFor(model => model.sku)
        </div>
        <div class="col-sm-9 editor-field">
            @Html.TextBoxFor(model => model.sku, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.sku)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 editor-label">
            @Html.LabelFor(model => model.isHidden)
        </div>
        <div class="col-sm-9 editor-field">
            @Html.EditorFor(model => model.isHidden)
            @Html.ValidationMessageFor(model => model.isHidden)
        </div>
    </div>
    <div style="display:none;">
        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.gtin)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.TextBoxFor(model => model.gtin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.gtin)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.austL)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.TextBoxFor(model => model.austL, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.austL)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.poName)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.TextBoxFor(model => model.poName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.poName)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.nationalOnly)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.nationalOnly)
                @Html.ValidationMessageFor(model => model.nationalOnly)
            </div>
        </div>

        @*
            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.titleName)
                </div>
                <div class="col-sm-9 editor-field">
                    @Html.EditorFor(model => model.titleName)
                    @Html.ValidationMessageFor(model => model.titleName)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.menuName)
                </div>
                <div class="col-sm-9 editor-field">
                    @Html.EditorFor(model => model.menuName)
                    @Html.ValidationMessageFor(model => model.menuName)
                </div>
            </div>
        *@

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.aliases)
                @Html.TextAreaFor(model => model.aliases, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aliases)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.packNotes)
                @Html.TextAreaFor(model => model.packNotes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.packNotes)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.specifications)
                @Html.TextAreaFor(model => model.specifications, new { })
                @Html.ValidationMessageFor(model => model.specifications)
            </div>
        </div>

        <div class="row" style="display:none">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.intro)
                @Html.TextAreaFor(model => model.intro, new { })
                @Html.ValidationMessageFor(model => model.intro)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.hideBlurb)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.hideBlurb)
                @Html.ValidationMessageFor(model => model.hideBlurb)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.titleName)
                @Html.TextBoxFor(model => model.titleName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.titleName)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.blurb)
                @Html.TextAreaFor(model => model.blurb, new { @class = "editor" })
                @Html.ValidationMessageFor(model => model.blurb)
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.activeIngredients)
                @Html.TextAreaFor(model => model.activeIngredients, new { @class = "editor" })
                @Html.ValidationMessageFor(model => model.activeIngredients)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.freeFrom)
                @Html.TextAreaFor(model => model.freeFrom, new { @class = "editor" })
                @Html.ValidationMessageFor(model => model.freeFrom)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.noAdded)
                @Html.TextAreaFor(model => model.noAdded, new { @class = "editor" })
                @Html.ValidationMessageFor(model => model.noAdded)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.warnings)
                @Html.TextAreaFor(model => model.warnings, new { @class = "editor" })
                @Html.ValidationMessageFor(model => model.warnings)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field disclaimers">
                @Html.LabelFor(model => model.disclaimers)
                @foreach (var disclaimer in (List<Kawa.Models.Page>)ViewBag.disclaimers)
                {
                    <label>
                        <input type="checkbox"
                               value="@disclaimer.ID"
                               name="DisclaimerIDs"
                               @(Model.shouldShowContent(disclaimer.SystemPage) ? "checked" : "") />@disclaimer.getDisclaimerAbreviation()
                        </label>
                    }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.googleCat)
                @Html.TextBoxFor(model => model.googleCat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.googleCat)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.bingCat)
                @Html.TextBoxFor(model => model.bingCat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.bingCat)
            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-sm-12 editor-field">
            @Html.LabelFor(model => model.directions)
            @Html.TextAreaFor(model => model.directions, new { @class = "editor" })
            @Html.ValidationMessageFor(model => model.directions)
        </div>
    </div>



</div>

    @*
    <div class="managesection">

        <h3>Manage Questions and Answers</h3>
        <span class="collpase-switch" data-toggle="collapse" data-target="#qanda">open/hide</span>
        <div id="qanda" class="collapse">
            @{
    var i = 0;
            }
            @foreach (var qa in Model.questionAndAnswers)
            {
                Model.PartialIndex = i;

                @Html.Partial("_QandA")

                i++;
            }
            <input type="button" value="create a new q & a" onclick="addQandA()" />
        </div>

    </div>
    *@
    
    <div class="managesection" style="display:none;">
        <h3>Manage your files</h3>

        <div id="SiteResources">
            @Html.Partial("_SiteResourcesEdit", ((AdminViewModel)ViewBag.SiteViewModel))
        </div>

    </div>
    
    foreach(var tagsection in sections) {
        <div>
            <h3>@tagsection.Item1</h3>

            <div class="row tagsdiv">
                <div class="col-sm-4">
                    @Html.DropDownList("NewRelatedTagID", tags.Where(x => x.Type == tagsection.Item2).ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "Choose"), new { @class = "form-control tagsel" })
                    <input type="button" value="add" class="addtag" />
                </div>
                <div class="col-sm-8 taglist">
                    @if (Model.tags != null)
                    {
                        foreach (var tag in Model.tags.Where(x => x.Type == tagsection.Item2))
                        {
                            <span class="tag" id="taglabel_@(tag.ID)" style="color:@(string.IsNullOrEmpty(tag.colour) ? "#000" : "#fff");background-color:@tag.colour;">@(tag.name) <a href="javascript:void(0)" data-tagid="@(tag.ID)" class="removetag">x</a></span>
                            <input type="hidden" id="tag_@(tag.ID)" name="TagIDs" value="@(tag.ID)" />
                        }
                    }
                </div>
            </div>
        </div>
    }
    
    <div>
        <h3>Related Products</h3>

        <div class="row">
            <div class="col-sm-4">
                <input type="text" placeholder="search by product name" class="form-control product-multiselector" data-lookup="searchproducts" />
            </div>
            <div class="col-sm-8 taglist productsdiv">
                @if (Model.products != null)
                {
                    foreach (var product in Model.products)
                    {
                        <span class="tag" id="productlabel_@(product.ID)">
                            @(product.name)
                            <a href="javascript:void(0)" data-productid="@(product.ID)" class="removeproduct">x</a>
                        </span>
                        <input type="hidden" id="product_@(product.ID)" name="prodIDs" value="@(product.ID)" />
                    }
                }
            </div>
        </div>
    </div>
    <br/>
    <p>
        <input type="submit" value="Save" />
    </p>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.5.5/rxjs.umd.min.js" integrity="sha256-85uCh8dPb35sH3WK435rtYUKALbcvEQFC65eg+raeuc=" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")
}