﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Delete a Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (ViewBag.CanHide)
{ 
    <h3>Are you sure you want to delete this?</h3>
}
else
{
    <h3>This product has existing order data or promotions. Hide this product?</h3>
}
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.name)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.product.intro)
        </dt>

        <dd>
            @Html.Raw(Model.product.intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.blurb)
        </dt>

        <dd>
            @Html.Raw(Model.product.blurb)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.product.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.createdDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.product.isHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.isHidden)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@(ViewBag.CanHide?"Delete":"Hide")" class="btn btn-default" />
        </div>
    }
</div>
