﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Fact Sheets and Downloads";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Trade Area Fact Sheets & Downloads - @Model.product.name</h2>

<p>
    @Html.RouteLink("Create a new trade data section for this product", "ProductAdminDataPage", new { id = "", p = Model.product.ID }) |

    @Html.RouteLink("Edit Product", "ProductAdminProduct", new { id = Model.product.ID })
</p>
<table class="table">
    <tr>
        <th>
            Trade Data Section
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.pages) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.RouteLink("Edit", "ProductAdminDataPage", new { id = item.ID }) |
            @Html.RouteLink("Delete", "ProductAdminDataPageDelete", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this data section?');" })
        </td>
    </tr>
}

</table>
