﻿@model Kawa.Models.Variant

@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


    var SiteModel = ViewBag.SiteModel;
}

<h2>@ViewBag.Title - @SiteModel.product.name</h2>

@{ 
    Kawa.Models.ViewModels.AdminViewModel viewModel = new Kawa.Models.ViewModels.AdminViewModel();
    switch (Request["m"])
    {
        case "s":
            viewModel.message = "Your changes have been saved";
            viewModel.success = true;
            break;
        case "d":
            viewModel.message = "Your item was deleted";
            viewModel.success = true;
            break;
    }
}
@Html.Partial("_Message", viewModel)

<p>
    <a href="@SiteModel.product.getUrl()" target="_blank">View product on front end</a> |
    @Html.RouteLink("Edit Product", "ProductAdminProduct", new { id = SiteModel.product.ID }, new { @class = "checksave", data_formtosubmit = "variantsave" }) |
    @Html.RouteLink("Notifications", "ProductAdminNotifications", new { id = SiteModel.product.ID })
</p>
Product prices are managed in propella, this is view only.

<br />
<div ng-app="kawaApp" ng-controller="VariantController" class="variantsys" ng-cloak>
    <br /><br />
    <input type="submit" value="Save" class="btn btn-default variantsave" ng-click="saveVariant()" />
    <br /><br />
    <div class="hud" hud></div>

    <b>Purchase Data</b>
    <div class="row form-inline purchase-data">
        <div class="col-sm-6">
            @Html.LabelFor(m => m.weight)
            kg <input type="text" ng-model="variant.weight" class="form-control" />
            <div ng-show="modelErrHas(errorList.weight)" class="field-validation-error">{{modelErrMsg(errorList.weight)}}</div>
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(m => m.noTax)
            <input type="checkbox" ng-model="variant.noTax" class="form-control" />
            <div ng-show="modelErrHas(errorList.noTax)" class="field-validation-error">{{modelErrMsg(errorList.noTax)}}</div>
        </div>

        <div class="col-sm-6">
            @Html.LabelFor(m => m.shipDaysMinimum)
            <input type="text" ng-model="variant.shipDaysMinimum" class="form-control" />
            <div ng-show="modelErrHas(errorList.shipDaysMinimum)" class="field-validation-error">{{modelErrMsg(errorList.shipDaysMinimum)}}</div>
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(m => m.shipDays)
            <input type="text" ng-model="variant.shipDays" class="form-control" />
            <div ng-show="modelErrHas(errorList.shipDays)" class="field-validation-error">{{modelErrMsg(errorList.shipDays)}}</div>
        </div>

        <div class="col-sm-6">
            @Html.LabelFor(m => m.minQuantity)
            <input type="text" ng-model="variant.minQuantity" class="form-control" />
            <div ng-show="modelErrHas(errorList.minQuantity)" class="field-validation-error">{{modelErrMsg(errorList.minQuantity)}}</div>
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(m => m.maxQuantity)
            <input type="text" ng-model="variant.maxQuantity" class="form-control" />
            <div ng-show="modelErrHas(errorList.maxQuantity)" class="field-validation-error">{{modelErrMsg(errorList.maxQuantity)}}</div>
        </div>
    </div>
    <b>Availability</b>
    <div class="row form-inline">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.isHidden)
            <input type="checkbox" ng-model="variant.isHidden" class="form-control" />
            <div ng-show="modelErrHas(errorList.isHidden)" class="field-validation-error">{{modelErrMsg(errorList.isHidden)}}</div>
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(m => m.stockNo)
            <input type="text" ng-model="variant.stockNo" class="form-control" />
            <div ng-show="modelErrHas(errorList.stockNo)" class="field-validation-error">{{modelErrMsg(errorList.stockNo)}}</div>
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(m => m.preOrderShipDate)
            <input type="text" ng-model="variant.preOrderShipDate" class="form-control add-picker" />
            <div ng-show="modelErrHas(errorList.preOrderShipDate)" class="field-validation-error">{{modelErrMsg(errorList.preOrderShipDate)}}</div>
        </div>
    </div>
    <b>Single price</b>
    <div class="row form-inline">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.priceRRP)
            $<input type="text" ng-model="variant.priceRRP" ng-change="updateRRP(variant)" class="form-control" />
            <div ng-show="modelErrHas(errorList.priceRRP)" class="field-validation-error">{{modelErrMsg(errorList.priceRRP)}}</div>
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(m => m.priceMargin)
            % <input type="text" ng-model="variant.priceMargin" ng-change="updatePrice(variant)" class="form-control" />
            <div ng-show="modelErrHas(errorList.priceMargin)" class="field-validation-error">{{modelErrMsg(errorList.priceMargin)}}</div>
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(m => m.price)
            $ <input type="text" ng-model="variant.price" ng-change="updateMargin(variant)" class="form-control" />
            <div ng-show="modelErrHas(errorList.price)" class="field-validation-error">{{modelErrMsg(errorList.price)}}</div>
        </div>
    </div>
    <!---
    <b>Bulk discounts</b>
    <div><span ng-click="addBulk()" class="action">add bulk discount</span></div>
    @for (int y = 0; y < 1; y++)
    {
        <div class="row form-inline" ng-repeat="price in variant.bulkPrices">
            <div class="col-sm-3">
                @Html.LabelFor(m => m.bulkPrices[y].quantity)
                <input type="text" ng-model="price.quantity" class="form-control" />
                <div ng-show="modelErrHasStr('bulkPrices[' + $index + '].quantity')" class="field-validation-error">{{modelErrMsgStr('bulkPrices[' + $index + '].quantity')}}</div>
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(m => m.bulkPrices[y].priceMargin) %
                <input type="text" ng-model="price.priceMargin" ng-change="updatePrice(price)" class="form-control" />
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(m => m.bulkPrices[y].amount) $
                <input type="text" ng-model="price.amount" ng-change="updateMargin(price)" class="form-control" />
                <div ng-show="modelErrHasStr('bulkPrices[' + $index + '].amount')" class="field-validation-error">{{modelErrMsgStr('bulkPrices[' + $index + '].amount')}}</div>
            </div>
            <div class="col-sm-3">
                <span ng-click="deleteBulk(price)" class="action">delete bulk discount</span>
            </div>
        </div>
    }-->
    <br />
    <!--

    <input type="submit" value="Save" class="btn btn-default" ng-click="saveVariant()" />
        -->

</div>




@section Css {

}

@section Scripts {
    <script>
        var ProductID = @ViewBag.ProductID;
    </script>

    @Scripts.Render("~/bundles/variants")
    @Scripts.Render("~/bundles/hud")
}




