﻿@model Kawa.Models.IReport

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Report</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (Model.HasDateRange)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Startdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Startdate, new { htmlAttributes = new { @class = "form-control add-picker" } })
                @Html.ValidationMessageFor(model => model.Startdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Enddate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Enddate, new { htmlAttributes = new { @class = "form-control add-picker" } })
                @Html.ValidationMessageFor(model => model.Enddate, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    @{
        int i = 0;
    }
    @foreach (var filter in Model.Filters)
    {
        <div class="form-group">
            @Html.Label("Filter by", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model.Filters[i].Name)



            <div class="col-md-10">

                @if (filter.FilterSetUI == Kawa.Models.FilterSet.FilterSetUIOption.DropDown)
                {
                    @Html.DropDownListFor(model => model.Filters[i].SelectedID, new SelectList(filter.Options, "ID", "Name"), new { @class = "form-control" })
                }
                else if (filter.FilterSetUI == Kawa.Models.FilterSet.FilterSetUIOption.Lookup)
                {
                    @Html.HiddenFor(model => model.Filters[i].SelectedID, new
                    {
                        @class = "addlookup",
                        data_lookup = "search" + Model.Filters[i].ObjectName.ToLower() + "s",
                        data_lookup_display = "name",
                        data_lookup_placeholder = Model.Filters[i].ObjectName
                    })
                }


            </div>
        </div>
        i++;
    }
    <div class="form-group">
        @Html.LabelFor(model => model.MaxRows, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.MaxRows)
                @Html.ValidationMessageFor(model => model.MaxRows, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group" style="@(Model.HasProductHiddenFilter ? "" : "display:none")">
        @Html.LabelFor(model => model.excludeHidden, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.excludeHidden)
                @Html.ValidationMessageFor(model => model.excludeHidden, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DownloadCsv, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.DownloadCsv)
                @Html.ValidationMessageFor(model => model.DownloadCsv, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Run" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div class="reportResult">


</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Css {
  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")
}
