﻿@model Kawa.Models.ViewModels.PromotionFilterViewModel
@using PagedList.Mvc;
@using PagedList;
@using Kawa.Models.Extensions
@using Kawa.Models
@{
    ViewBag.Title = "Promotions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Promotions</h2>

<p>
    @Html.RouteLink("Create New Promotion", "PromotionAdminPromotion")
</p>

@using (Html.BeginForm())
{
    <div class="form-inline ordersearch">
        <div><b>search promotions and vouchers</b></div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.PromotionType, Model.PromotionType.ToSelectListChoose(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.PromotionType)
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.Status, Model.Status.ToSelectListChoose(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.Status)
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.search, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "search" } })
            @Html.ValidationMessageFor(model => model.search, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.searchSpecial, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "email (special)" } })
            @Html.ValidationMessageFor(model => model.searchSpecial, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="">
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}

@Html.PagedListPager(Model.promotions, page => Url.RouteUrl("PromotionAdminIndex", Model.getRouteVal(page)))

<table class="table table-responsive table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Location
        </th>
        <th>
            Expiry
        </th>
        <th>
            Status
        </th>
        <th>
            Notes
        </th>
        <th>
            Sys
        </th>
        <th>
            Priority
        </th>
        <th>
            Is Deactivated
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.promotions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td class="small">
                @foreach(var loc in item.locations)
                {
                    @loc.Name @: <br/>
                }
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.expiryDate)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.SystemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isHidden)
            </td>
            <td>
                @Html.RouteLink("Edit", "PromotionAdminPromotion", new { id = item.ID })  
                &nbsp;&nbsp;
                @Html.RouteLink("Delete", "PromotionAdminPromotionDelete", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this promotion?');" })
            </td>
        </tr>
    }

</table>
