﻿@model Kawa.Models.Promotion
@using Kawa.Models.Extensions
@using Kawa.Models
@{
    ViewBag.Title = Model.ID == 0 ? "Create a Promotion" : "Edit a Promotion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.createDate)
    @Html.HiddenFor(model => Model.usedDate)
    @Html.HiddenFor(model => Model.OrderID)
    @Html.HiddenFor(model => Model.VariantID)
    @Html.HiddenFor(model => Model.Status)
    @Html.HiddenFor(model => Model.SessionKey)
    @Html.HiddenFor(model => Model.notes)
    @Html.HiddenFor(model => Model.SystemType)
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => Model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Type, Model.Type.ToSelectListChoose(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.Type)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.isHidden, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => Model.isHidden)
            @Html.ValidationMessageFor(model => Model.isHidden)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => Model.name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => Model.code)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.expiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => Model.expiryDate, new { @class = "add-picker form-control" })
            @Html.ValidationMessageFor(model => Model.expiryDate)
            (dd/mm/yy)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.priority, htmlAttributes: new { @class = "control-label col-md-2" })
        (A higher number is a higher priority of being picked)
        <div class="col-md-10">
            @Html.TextBoxFor(model => Model.priority, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.priority)
        </div>
    </div>

    <h4>Effect</h4>

    <div class="form-group">
        @Html.LabelFor(model => Model.percentOff, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.percentOff, new { htmlAttributes = new { @class = "form-control", placeholder = "%" } })
            @Html.ValidationMessageFor(model => Model.percentOff)
            <br />
            <b>OR</b>
            <br />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.amountOff, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.amountOff, new { htmlAttributes = new { @class = "form-control", placeholder = "$" } })
            @Html.ValidationMessageFor(model => Model.amountOff)
            <br />
            <b>OR</b>
            <br />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.freeShipping, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.freeShipping, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => Model.freeShipping)
            <br />
            <b>and/OR</b>
            <br />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.SKU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.SKU, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => Model.SKU)
        </div>
    </div>


    <h4>Requirements</h4>

    <div class="form-group" style="display:;">
        Must Buy - @Html.LabelFor(model => Model.ProductID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ProductID, new
            {
                    @class = "addlookup",
                    data_lookup = "searchproducts",
                    data_lookup_display = "name",
                    data_lookup_value = (Model.product != null ? Model.product.name : "")
                })

            @Html.ValidationMessageFor(model => Model.ProductID)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => Model.CategoryID, ((List<Tag>)ViewBag.Tags).Where(x => x.Type == Tag.TypeOption.PRODUCT_SECTION || x.Type == Tag.TypeOption.ADHOC_PRODUCT_TAGS).ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "All"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.CategoryID)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.BrandID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => Model.BrandID, ((List<Tag>)ViewBag.Tags).Where(x => x.Type == Tag.TypeOption.BRAND_SECTION).ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "All"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.BrandID)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.minimumSpend, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.minimumSpend, new { htmlAttributes = new { @class = "form-control", placeholder = "$" } })
            @Html.ValidationMessageFor(model => Model.minimumSpend)
        </div>
    </div>
    <div class="form-group" style="display:none;">
        @Html.LabelFor(model => Model.maximumWeight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.maximumWeight, new { htmlAttributes = new { @class = "form-control", placeholder = "kg" } })
            @Html.ValidationMessageFor(model => Model.maximumWeight)
        </div>
    </div>

    <div class="form-group" style="display:none;">
        @Html.LabelFor(model => Model.ShippingMethodID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => Model.ShippingMethodID, ((List<ShippingMethod>)ViewBag.ShippingMethods).ToSelectList(f => f.Name, f => f.ID.ToString(), "All"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ShippingMethodID)
        </div>
    </div>

    <div class="form-group" style="display:none;">
        <label class="control-label col-md-2">Only in Locations</label>

        <div class="tagsdiv col-md-10">
            <div>
                @Html.DropDownList("NewLocationID", ((List<Location>)ViewBag.Locations).ToSelectList(f => f.Name, f => f.ID.ToString(), "Choose"), new { @class = "form-control tagsel" })
                <input type="button" value="add" class="addtag" />
            </div>
            <div class="taglist">
                @if (Model.locations != null)
                {
                    foreach (var location in Model.locations)
                    {
                        <span class="tag" id="taglabel_@(location.ID)">@(location.Name) <a href="javascript:void(0)" data-tagid="@(location.ID)" class="removetag">x</a></span>
                        <input type="hidden" id="tag_@(location.ID)" name="TagIDs" value="@(location.ID)" />
                    }
                }
            </div>
        </div>
    </div>
    @*
        <div class="form-group">
            ## DEPRECIATED ##
            @Html.LabelFor(model => Model.LocationID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.LocationID, ((List<Location>)ViewBag.Locations).ToSelectList(f => f.Name, f => f.ID.ToString(), "All"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.LocationID)
            </div>
        </div>
    *@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />

        </div>
    </div>
</div>
}

<div>
    @Html.RouteLink("Back to List", "PromotionAdminIndex")
</div>

@section Css {
   
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")
}