﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Category Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@(Model.prescriptiontag.ID == 0 ? "Create" : "Edit") a Category</h2>

@Html.Partial("_Message")
@if(Model.prescriptiontag.getUrl() != null && Model.prescriptiontag.getUrl() != "" &&  Model.prescriptiontag.getUrl() != "#")
{
    <a href="@Model.prescriptiontag.getUrl()" target="_blank">view on frontend</a>
    
}
<br/><br />

@if(Model.prescriptiontag.ParentID!=null)
            {
                <a href="/admin/prescription/@Model.prescriptiontag.ParentID">< Back</a>
            }


@using (Html.BeginRouteForm("PrescriptionTagAdminTag", new { id = Model.prescriptiontag.ID}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.prescriptiontag.ID)
    @Html.HiddenFor(model => model.prescriptiontag.Type)
    @Html.HiddenFor(model => model.prescriptiontag.ParentID)
    @Html.HiddenFor(model => model.prescriptiontag.nameUrl)
    @Html.HiddenFor(model => model.prescriptiontag.isInverseTextColour)
    @Html.HiddenFor(model => model.prescriptiontag.plugurl)
    @Html.HiddenFor(model => model.prescriptiontag.CnAlternative)
    @Html.HiddenFor(model => model.prescriptiontag.SystemTag)

    <div class="form-group">
        @Html.LabelFor(model => model.prescriptiontag.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prescriptiontag.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prescriptiontag.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.prescriptiontag.orderNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.prescriptiontag.orderNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prescriptiontag.orderNo, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.tag.aliases, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.prescriptiontag.aliases, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.prescriptiontag.aliases, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none;">
        @Html.LabelFor(model => model.prescriptiontag.metaDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prescriptiontag.metaDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.prescriptiontag.metaDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:;">
        @Html.LabelFor(c => c.prescriptiontag.colour, "Type", new { @class = "control-label col-md-2" })

        
        <div class="col-md-10">
            <select name="prescriptiontag.colour" id="prescriptiontag_colour" class="form-control">
                <option value="" @(Model.prescriptiontag.colour == "" ? "selected" : "")>Category</option>
                <option value="products" @(Model.prescriptiontag.colour == "products" ? "selected" : "")>Car Care Prescription Product Category</option>

            </select>

            @Html.ValidationMessageFor(model => model.prescriptiontag.colour, "", new { @class = "text-danger" })
        </div>
    </div>
  
        <div class="form-group">
            @Html.LabelFor(model => model.prescriptiontag.html, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.prescriptiontag.html, new { @class = "" })
                @Html.ValidationMessageFor(model => model.prescriptiontag.html, "", new { @class = "text-danger" })
            </div>
        </div>



    <div class="form-group">
        @Html.LabelFor(model => model.prescriptiontag.isHidden, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.prescriptiontag.isHidden, new { @class = "" })
            @Html.ValidationMessageFor(model => model.prescriptiontag.isHidden, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

    <div class="managesection">
        <h3>Manage Banner</h3>

        <div id="SiteResources">
            @Html.Partial("_SiteResources")
        </div>

    </div>



}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
