﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Delete a Tag";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tag.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag.isHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag.isHidden)
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
