﻿@model Kawa.Models.Data.Supplier
@using Kawa.Models.Extensions
@using Kawa.Models
@using Kawa.Models.ViewModels
@{
    ViewBag.Title = Model.ID > 0 ? "Edit Supplier": "Create Supplier";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

     var tags = ((List<Tag>)ViewBag.Tags);
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Message", ((AdminViewModel)ViewBag.SiteViewModel))
<br/>

<div>
    @Html.ActionLink("Back to List", "Index", new { id = "" })
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>  

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecialDeals, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpecialDeals, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpecialDeals, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Terms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Terms, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Terms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <h3>Brands</h3>

            <div class="row tagsdiv">
                <div class="col-sm-4">
                    @Html.DropDownList("NewRelatedTagID", tags.ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "Choose"), new { @class = "form-control tagsel" })
                    <input type="button" value="add" class="addtag" />
                </div>
                <div class="col-sm-8 taglist">
                    @if (Model.tags != null)
                    {
                        foreach (var tag in Model.tags)
                        {
                            <span class="tag" id="taglabel_@(tag.ID)" style="color:@(string.IsNullOrEmpty(tag.colour) ? "#000" : "#fff");background-color:@tag.colour;">@(tag.name) <a href="javascript:void(0)" data-tagid="@(tag.ID)" class="removetag">x</a></span>
                            <input type="hidden" id="tag_@(tag.ID)" name="TagIDs" value="@(tag.ID)" />
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <h3>Contacts <button type="button" class="btn mb-3 mt-3 repeated-form-addbutton">Add Contact</button></h3>
            <div class="repeated-form-box col-12">
                @{ 
                    var entityName = "Contacts";
                    if (Model.Contacts ==  null || !Model.Contacts.Any())
                    {
                        Model.Contacts = new List<Kawa.Models.Data.SupplierContact> { new Kawa.Models.Data.SupplierContact() { IsTemplate = true } };
                    }
                }
                @for (int index = 0; index < Model.Contacts.Count(); index++)
                {
                    <div id="repeated-form-@entityName-@index" class="repeated-form row@(Model.Contacts[index].IsTemplate?" istemplate":"")" data-entity-name="@entityName" data-repeated-index="@index">
                        @Html.HiddenFor(model => model.Contacts[index].ID)
                        @Html.HiddenFor(model => model.Contacts[index].SupplierID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contacts[index].Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Contacts[index].Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contacts[index].Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contacts[index].Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Contacts[index].Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contacts[index].Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contacts[index].Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Contacts[index].Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contacts[index].Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contacts[index].Position, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Contacts[index].Position, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contacts[index].Position, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-sm-offset-2">
                                <button type="button" class="repeated-form-deletebutton btn" data-selector="repeated-form-@entityName-@index">delete</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = "" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/repeatedform")
}
