﻿@model Kawa.Models.ViewModels.ArticlePageViewModel
@using Kawa.Models

<a href="#" class="share fav @(Model.page.favourite != null ? "favourited" : "")" data-objectis="page" data-id="@Model.page.ID">@(Model.page.favourite != null ? "Favourited" : "Favourite")</a>
<div class="addthis_sharing_toolbox sharing-pos"></div>
