﻿@model Kawa.Models.ViewModels.ArticlePageViewModel
@using Kawa.Models

@if (Model.page.pages.Any())
{
    <h4>Related articles</h4>
    <br/>
    foreach (var fpage in Model.page.pages)
    {
        <a href="@fpage.getUrl()">
            <img src="@fpage.getSrUrl(SiteResource.SiteResourceTypeOption.ARTICLE_SQUARE, SiteResource.SiteResourceVersion.ITEM_PAGE)" class="relatedarticleimg" />
            @if (fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH)
            {
                <div class="caption">
                    @fpage.name
                </div>
            }
        </a><br /><br />
    }
}
