﻿@model Kawa.Models.ViewModels.ArticlePageViewModel
@using Kawa.Models
@{
    ViewBag.Title = Model.page.name;
    if (Model.isModal)
    {
        Layout = "~/Views/Shared/_LayoutModal.cshtml";
    }
}

@Html.Partial("_PageTitle")

<div class="pagecontent">
    @if (Model.page.hasSrUrl(SiteResource.SiteResourceTypeOption.ARTICLE_HEADER, SiteResource.SiteResourceVersion.ITEM_PAGE))
    { 
    <div class="container">
        <div class="pageheader">
            <img src="@Model.page.getSrUrl(SiteResource.SiteResourceTypeOption.ARTICLE_HEADER,SiteResource.SiteResourceVersion.ITEM_PAGE)"  alt="@Model.page.name" />
        </div>
        
    </div>
    }
    <div class="container articlepage">
        <div>
            <div class="row article">
                <div class="col-sm-12 articleblock">
                    <div class="by">
                        @if (Model.page.html3 != null && Model.page.html3.Trim() != "")
                        {
                            @Html.Raw(Model.page.html3)
                        }
                        @if (false && Model.page.articleDate.HasValue)
                        {
                            @(((DateTime)Model.page.articleDate).ToString("MMMM dd, yyyy"))
                        }
                    </div>

                    <br />

                    @Html.Raw(Model.page.html2)



                    <!---
                                <hr /><div class="saving">
        @Html.Partial("../Articles/_PageSharing")
    </div>
       -->
                </div>
                @*
                    <div class="col-sm-3 articleblock">
                        @Html.Partial("../Articles/_RelatedArticles")
                    </div>
                *@
            </div>
        </div>
    </div>

</div>


@section Scripts {

    

    @Scripts.Render("~/bundles/favourites")

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5670c8fa4cbc94bf" async="async"></script>



}