﻿@model Kawa.Models.ViewModels.SiteViewModel
@using System.Linq;
@using Kawa.Models;
@{
    ViewBag.Title = "Pages";
}

<div class="sectionheader articles">
    <div class="container">

        <h1>Pages</h1>

    </div>
</div>

<div class="container featured">

    <h4>Featured Articles</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="featured-article">
                @{
                    var fpage = Model.getSlotPage(Kawa.Models.Slot.SpotOption.SITE_WIDE_BANNER);
                }
                @if (fpage != null)
                {
                    <a href="@fpage.getUrl()">
                        <img src="@fpage.getSrUrl(SiteResource.SiteResourceTypeOption.ARTICLE_FEATURED_WIDE, SiteResource.SiteResourceVersion.ITEM_PAGE)" />
                        @if (fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH)
                        {
                        <div class="caption">
                            @fpage.name
                            @if (fpage.articleDate.HasValue)
                            {
                                <div class="date">@(((DateTime)fpage.articleDate).ToString("MMMM dd, yyyy"))</div>
                            }
                        </div>
                        }
                    </a>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="featured-article">
                @{
                    fpage = Model.getSlotPage(Kawa.Models.Slot.SpotOption.SITE_WIDE_BANNER);
                }
                @if (fpage != null)
                {
                    <a href="@fpage.getUrl()">
                        <img src="@fpage.getSrUrl(SiteResource.SiteResourceTypeOption.ARTICLE_FEATURED_WIDE, SiteResource.SiteResourceVersion.ITEM_PAGE)" />
                        @if (fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH)
                        {
                            <div class="caption">
                                @fpage.name
                                @if (fpage.articleDate.HasValue)
                                {
                                    <div class="date">@(((DateTime)fpage.articleDate).ToString("MMMM dd, yyyy"))</div>
                                }
                            </div>
                        }
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="featured-article">
                @{
                    fpage = Model.getSlotPage(Kawa.Models.Slot.SpotOption.SITE_WIDE_BANNER);
                }
                @if (fpage != null)
                {
                    <a href="@fpage.getUrl()">
                        <img src="@fpage.getSrUrl(SiteResource.SiteResourceTypeOption.ARTICLE_SQUARE, SiteResource.SiteResourceVersion.ITEM_PAGE)" alt="@(fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH?@fpage.name:"")" />
                        @if (fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH)
                        {
                        <div class="caption">
                            @fpage.name
                            @if (fpage.articleDate.HasValue)
                            {
                                <div class="date">@(((DateTime)fpage.articleDate).ToString("MMMM dd, yyyy"))</div>
                            }
                        </div>
                        }
                    </a>
                }
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="featured-article">
                @{
                    fpage = Model.getSlotPage(Kawa.Models.Slot.SpotOption.SITE_WIDE_BANNER);
                }
                @if (fpage != null)
                {
                    <a href="@fpage.getUrl()">
                        <img src="@fpage.getSrUrl(SiteResource.SiteResourceTypeOption.ARTICLE_SQUARE, SiteResource.SiteResourceVersion.ITEM_PAGE)" alt="@(fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH?@fpage.name:"")" />
                        @if (fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH)
                        {
                        <div class="caption">
                            @fpage.name
                            @if (fpage.articleDate.HasValue)
                            {
                                <div class="date">@(((DateTime)fpage.articleDate).ToString("MMMM dd, yyyy"))</div>
                            }
                        </div>
                        }
                    </a>
                }
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="featured-article">
                @{
                    fpage = Model.getSlotPage(Kawa.Models.Slot.SpotOption.SITE_WIDE_BANNER);
                }
                @if (fpage != null)
                {
                    <a href="@fpage.getUrl()">
                        <img src="@fpage.getSrUrl(SiteResource.SiteResourceTypeOption.ARTICLE_FEATURED_WIDE, SiteResource.SiteResourceVersion.ITEM_PAGE)" alt="@(fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH?@fpage.name:"")" />
                        @if (fpage.Type != Kawa.Models.Page.TypeOption.CLICK_THROUGH)
                        {
                        <div class="caption">
                            @fpage.name
                            @if (fpage.articleDate.HasValue)
                            {
                                <div class="date">@(((DateTime)fpage.articleDate).ToString("MMMM dd, yyyy"))</div>
                            }
                        </div>
                        }
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<div class="container productscats">

    <h4>Articles by Category</h4>

    <br />
    <br />
    <div class="row">
        <div class="col-sm-6">
            @foreach (var tag in Model.getArticleTags(0))
            {

                <div @Html.Raw("style = \"background-color:" + @tag.colour + "\";") class="cattitle">@tag.name</div>
                <div class="category">
                    @foreach (var page in tag.pages.OrderByDescending(p => p.articleDate))
                    { 
                        <a href="@page.getUrl()">@page.name</a>
                        <br />
                    }
                </div>

            }
        </div>
        <div class="col-sm-6">
            @foreach (var tag in Model.getArticleTags(1))
            {

                <div @Html.Raw("style = \"background-color:" + @tag.colour + "\";") class="cattitle">@tag.name</div>
                <div class="category">
                    @foreach (var page in tag.pages.OrderByDescending(p => p.articleDate))
                    { 
                        <a href="@page.getUrl()">@page.name</a>
                        <br />
                    }
                </div>

            }
        </div>
    </div>
</div>

<div class="container article-subscribe">

    <h4>Subscribe</h4>
    <br />
    <br />
    @Html.Partial("_Subscribe")
    <br />
    <br />
</div>