﻿@model Kawa.Models.EventViewModel
@using Kawa.Models.Data
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string baseURL = "https://lovemycarnz.co.nz/Content/SiteResources/7/";
    int ix = 0;
}


<div class="container  ">
    <div class="newspage">
        <div class="row tag-header tag-header-products">
            <div class=" col-xs-12">
                @Model.PageHeading
            </div>
        </div>
    

                @if (Model.Item == null)
                {

                    <div class="row">
                        @foreach (CalendarEvent item in Model.List.OrderBy(x=>x.StartDate))
                        {
                            <div class="col-6 col-md-4 newsfeed @(ix%2 == 0 ?" newsfeed-alt" : "")">
                                <div class="mb-3">
                                    <h4><a href="@item.NameUrl">@item.Name</a></h4>
                                    <b>@String.Format("{0:D}", item.StartDate) @(item.EndDate.HasValue ? "- " + @String.Format("{0:D}", item.EndDate) : "")</b>
                                </div>

                                <a href="@item.NameUrl" target="_event">
                                    @if (item.FileName != null)
                                    {
                                        <img src="@(baseURL + item.ID + "/" + item.FileName)" />
                                    }
                                </a>

                                <div class="home-blocks">@Html.Raw(item.Content)</div>

                            </div>
                            ix++;
                        }
                    </div>

                }
                else
                {
                    <div class="mb-3">
                        <h2>@Model.Item.Name</h2>
                        <b>@String.Format("{0:D}", Model.Item.StartDate) @(Model.Item.EndDate.HasValue ? "- " + @String.Format("{0:D}", Model.Item.EndDate) : "")</b>
                    </div>

                  

            
                if (Model.Item.FileName != null)
                {
                    <img src="@(baseURL + Model.Item.ID + "/" + Model.Item.FileName)" />
                }
        
                    <div class="mt-3">
                        @Html.Raw(Model.Item.Content)
                    </div>
                }
            </div>
        </div>
