﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Faq ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@(Model.page.ID == 0 ? "Create" : "Edit") @(Model.page.Type.ToString().ToLower().Replace("_"," "))</h2>

@Html.Partial("_Message")



@using (Html.BeginRouteForm("FaqAdminPage", new { id = Model.page.ID, t = (Model.tag != null ? Model.tag.ID.ToString() : "") }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p>
        <input type="submit" value="Save" />
    </p>

    <div class="addedit">
        @Html.HiddenFor(model => model.page.ID)
        @Html.HiddenFor(model => model.page.Type)
        @Html.HiddenFor(model => model.page.SystemPage)
        @Html.HiddenFor(model => model.page.nameMenu)


        @Html.HiddenFor(model => model.page.createdDate)
        @Html.HiddenFor(model => model.page.modifiedDate)
        @Html.HiddenFor(model => model.page.SiteID)
        @Html.HiddenFor(model => model.page.ParentID)
        @Html.HiddenFor(model => model.page.ProductID)

        <input autocomplete="false" name="hidden" type="text" style="display:none;">

        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.page.html, "Question")
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.page.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.page.name, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.page.html, "Answer")
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.page.html, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.page.html, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 editor-label">
                
            </div>
            <div class="col-sm-3 editor-field">
                @Html.LabelFor(model => model.page.html2, "Existing Type/Category")
                <br />
                <select name="page.html2" class="form-control">
                    <option> --- </option>
                    @foreach (var type in Model.pages.OrderBy(p => p.html2).Select(x => x.html2).Distinct())
                    {

                        <option value="@type" @(type == Model.page.html2 ? "selected" : "")>@type</option>
                    }
                </select>
            </div>
            <div class="col-sm-1"><br /><br />or</div>
            <div class="col-sm-3 editor-field">
                @Html.LabelFor(model => model.page.html3, "New Type/Category")
                @Html.EditorFor(model => model.page.html3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.page.html3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.page.orderNo)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.page.orderNo)
                @Html.ValidationMessageFor(model => model.page.orderNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.page.isHidden)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.CheckBoxFor(model => model.page.isHidden)
                @Html.ValidationMessageFor(model => model.page.isHidden, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="managesection" style="display:none;">
            <h3>Manage your files</h3>

            <div id="SiteResources">
                @Html.Partial("_SiteResources")
            </div>

        </div>

        <div class="row">
            <div class="col-sm-3 editor-label">
            </div>
            <div class="col-sm-9 editor-field">
                <input type="submit" value="Save" />
            </div>
        </div>


    </div>
}



@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop")
    @Scripts.Render("~/bundles/orderupdate")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")

    <script type="text/javascript">

        function remove(pid, id) {
            var model = {
                ProductID: pid, PageID: id
            };

            console.log(model);

            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/pages/DeleteAssociatedProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        console.log(result);
                        window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        }
        function changerank(pid, id, thisfield) {

            var model = {
                ProductID: pid, PageID: id, Rank: thisfield.value
            };

            console.log(model);

            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/pages/AssociateProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        ///window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        }
        $(".admin-addtagproduct input[type=button]").click(function () {
            var formObj = $(this).parents(".admin-addtagproduct");
            if (formObj.find("#NewProduct").val() == "")
                return;

            var iid = $(this).attr("data-basketID");
            var model = {
                ProductID: formObj.find("#NewProduct").val(),
                PageID: formObj.find("#PageID").val(),
                Rank: 0
            };
            console.log(model);

            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/pages/AssociateProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        console.log(result);
                        window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        });

    </script>
}