﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "FAQ - Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.tag != null)
{
    <h3>
        @Model.tag.name
    </h3>
}

<p>

    @Html.RouteLink("Create a New fAQ", "FaqAdminPage", new { id = "", t = (Model.tag != null ? Model.tag.ID.ToString() : "") })


</p>


<div id="tags">

    <div class="catlist cats" style="display:none;">
        <a href="/admin/pages/">All Pages</a>
        @foreach (var tag in Model.tags.OrderBy(t => (int?)t.SystemTag ?? 100).ThenBy(t => t.name))
        {
            <a href="/admin/pages/@tag.ID" style="color:@tag.colour;border-left-color:@tag.colour;">@tag.name</a>
        }
    </div>


</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.page.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page.isHidden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page.orderNo)
        </th>
        <th></th>
    </tr>
    @foreach (var type in Model.pages.OrderBy(p => p.html2).Select(x => x.html2).Distinct())
    {
        <tr>
            <td colspan="6"><h3>@type</h3></td>
        </tr>
        foreach (var item in Model.pages.OrderBy(p => p.orderNo).Where(x=>x.html2==type))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isHidden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderNo)
                </td>
                <td>
                    @Html.RouteLink("Edit", "FaqAdminPage", new { id = item.ID })

                    @if (!item.SystemPage.HasValue)
                    {
                        @:|
                        @Html.RouteLink("Delete", "FaqAdminPageDelete", new { id = item.ID })
                    }
                </td>
            </tr>
        }
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/slotmanager")

}
