﻿@model Kawa.Models.AccountDetailDelivery
@using Kawa.Models
@using Kawa.Models.Extensions

<div class="delivery">
    <div class="accountdetail">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OrderID)
        @Html.HiddenFor(model => model.Type)

        <div class="row">
            <div class="col-sm-6 editor-field">
                @Html.LabelFor(model => model.FirstName) : <span class="mand">*</span><br />
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="col-sm-6 editor-field">
                @Html.LabelFor(model => model.Surname) :<span class="mand">*</span><br />
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>

        <div class="row DeliveryDetails_Lookup">
            <div class="col-sm-12 editor-field">
                <label>Address Lookup</label> : (@Html.Raw(Model._AddressLookupText))
                <input id="pac-input-delivery" type="text" class="form-control" placeholder="Enter an address" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.Company) : (if applicable)<br />
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", maxlength = "35" } })
                @Html.ValidationMessageFor(model => model.Company)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.LabelFor(model => model.Address1) : <span class="mand">*</span><br />
                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                @Html.ValidationMessageFor(model => model.Address1)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 editor-field">
                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                @Html.ValidationMessageFor(model => model.Address2)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 editor-field">
                @Html.LabelFor(model => model.Address3) : <span class="mand">*</span><br />
                @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address3)
            </div>
            <div class="col-sm-4 editor-field">
                @Html.LabelFor(model => model.Address4) : <br />
                @if (!Model.lockState)
                {
                    @Html.EditorFor(model => model.Address4, new { htmlAttributes = new { @class = "form-control statetxt" } })
                    @Html.DropDownListFor(m => m.Address4_Options, ((List<State>)ViewData["AllowedStates"]).ToSelectList(f => f.Name, f => f.Name, "Choose a State"), new { @class = "shipping-dropdown statesel" })
                }
                else
                {
                    @Model.Address4
                    @Html.HiddenFor(model => model.Address4, new { htmlAttributes = new { @class = "form-control" } })
                }
                @Html.ValidationMessageFor(model => model.Address4)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 editor-field">
                @Html.LabelFor(model => model.CountryID) : <br />
                @(((List<Country>)ViewData["AllowedCountries"]).Single(x => x.ID == Model.CountryID).Name)
                @Html.HiddenFor(model => model.CountryID, new { @class = "countryid" })
                @Html.ValidationMessageFor(model => model.CountryID)
            </div>
            <div class="col-sm-4 editor-field">
                @Html.LabelFor(model => model.Postcode) : <span class="mand">*</span> <br />
                @if (!Model.lockPostcode)
                {
                    @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                {
                    @Model.Postcode
                    @Html.HiddenFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                }

                <input type="hidden" name="DeliveryDetails_isIntOnlyPostcode" id="DeliveryDetails_isIntOnlyPostcode" />
                @Html.ValidationMessageFor(model => model.Postcode)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 editor-field">
                @Html.LabelFor(model => model.Email) : <span class="mand">*</span><br />
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="col-sm-4 editor-field">
                @Html.LabelFor(model => model.Mobile) : <span class="mand">*</span><br />
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-sm-12 editor-field ">
        @Html.LabelFor(model => model.DeliveryInstructions) : <br />

        <input type="checkbox" id="DeliveryInstructionsConfirm" class="@(Model.showSystemChangeMessage()?"needsleavemessage":"")" @(!string.IsNullOrEmpty(Model.DeliveryInstructions) ? "checked" : "") />
        I understand by granting authority to leave my parcel, that no signature will be collected and I am accepting liability for the parcel.
        <br /><br />If not home, leave parcel:<br />
        @Html.DropDownListFor(model => model.LeaveOption, Model.getLeaveOptions().Select(x => new SelectListItem { Text = x, Value = x }).ToList(), new { @class = "form-control allow-wide" + (!string.IsNullOrEmpty(Model.DeliveryInstructions) ? "" : " addreadonly") })

        @Html.TextAreaFor(model => model.DeliveryInstructions, new { @class = "form-control allow-wide", style = (!Model.showInstructionsTextbox() ? "display:none" : ""), maxlength = "128" })
        @Html.ValidationMessageFor(model => model.DeliveryInstructions)
    </div>
</div>

<div id="dialogleaveauth" class="dialog leaveauthmessage">
    <b>Delivery Instructions - Terms Updated</b>
    <br />
    <br />
    Welcome back! We have updated the terms and conditions for delivery instructions (now known as Authority to Leave Parcel).
    <br /><br />
    Please accept the terms to use the delivery instructions from your last order :
    <br /><br />
    <b>@Model.DeliveryInstructions</b>
    <br /><br />

    The new terms are :
    <br /><br />
    I understand by granting authority to leave my parcel, that no signature will be collected and I am accepting liability for the parcel.
</div>  