﻿@model Kawa.Models.AccountDetail
@using Kawa.Models

<div class="accountdetail accountdetailread">
    <div class="row">
        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.FirstName) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>   
    <div class="row">
        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Surname) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Surname)
        </div>
    </div>
    <div class="row">
        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Company) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Company)
        </div>
    </div>
    <div class="row">

        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Address1) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Address1)
        </div>
    </div>
    <div class="row">
        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Address2) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Address2)
        </div>
    </div>
    <div class="row">

        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Address3) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Address3)
        </div>
    </div>
    <div class="row">

        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Address4) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Address4)
        </div>
    </div>
    <div class="row">

        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Postcode) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Postcode)
        </div>
    </div>
    <div class="row">
        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Country) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Country)
        </div>
    </div>
    <div class="row">

        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Email) :
        </div>
        <div class="editor-field col-xs-7">
            @Model.Email
        </div>

    </div>
    <div class="row">

        <div class="editor-label col-xs-5">
            @Html.LabelFor(model => model.Mobile) :
        </div>
        <div class="editor-field col-xs-7">
            @Html.DisplayFor(model => model.Mobile)
        </div>

    </div>

    @if (ViewData.TemplateInfo.HtmlFieldPrefix == "CustomerDetails")
    {
        <div class="row">
            <div class="editor-label col-xs-5">
                <label>Mailing List :</label>
            </div>
            <div class="editor-field col-xs-7">
                @(Model.isMailer ? "Yes" : "No")
            </div>
        </div>
    }
    
    @if (Model.LeaveAuth.HasValue)
    {
        if ((bool)Model.LeaveAuth)
        {
        <div class="row">
            <div class="editor-label col-xs-5">
                <label>Authority to leave parcel terms and conditions accepted :</label>
            </div>
            <div class="editor-field col-xs-7">
                 yes
            </div>
        </div>
        <div class="row">
            <div class="editor-label col-xs-5">
                <label>Authority to leave :</label>
            </div>
            <div class="editor-field col-xs-7">
               @Html.DisplayFor(model => model.DeliveryInstructions)
            </div>
        </div>
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(Model.DeliveryInstructions))
        {
            <div class="row">
                <div class="editor-label col-xs-5">
                    <label>Delivery instructions liability terms and conditions accepted:</label>
                </div>
                <div class="editor-field col-xs-7">
                    yes
                </div>
            </div>
            <div class="row">
                <div class="editor-label col-xs-5">
                    <label>Delivery Instructions :</label>
                </div>
                <div class="editor-field col-xs-7">
                    @Html.DisplayFor(model => model.DeliveryInstructions)
                </div>
            </div>
        }
    }
</div>       