﻿@model Kawa.Models.AccountDetail
@using Kawa.Models
@using Kawa.Models.Extensions
<div class="accountdetail">
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.OrderID)
    @Html.HiddenFor(model => model.Type)

    <div class="row namesfields">
        <div class="col-sm-6 editor-field">
            @Html.LabelFor(model => model.FirstName) : <span class="mand">*</span><br />
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="col-sm-6 editor-field">
            @Html.LabelFor(model => model.Surname) :<span class="mand">*</span><br />
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
    </div>

    <div class="row CustomerDetails_Lookup">
        <div class="col-sm-12 editor-field">
            <label>Address Lookup</label> : (@Html.Raw(Model._AddressLookupText))
            <input id="pac-input-billing" type="text" class="form-control" placeholder="Enter an address" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 editor-field">
            @Html.LabelFor(model => model.Company) : (if applicable)<br />
            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", maxlength = "35" } })
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 editor-field">
            @Html.LabelFor(model => model.Address1) : <span class="mand">*</span><br />
            @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
            @Html.ValidationMessageFor(model => model.Address1)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 editor-field">
            @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
            @Html.ValidationMessageFor(model => model.Address2)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 editor-field">
            @Html.LabelFor(model => model.Address3) : <span class="mand">*</span><br />
            @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address3)
        </div>
        <div class="col-sm-4 editor-field">
            @Html.LabelFor(model => model.Address4) : <br />

            @Html.EditorFor(model => model.Address4, new { htmlAttributes = new { @class = "form-control statetxt" } })

            @Html.DropDownListFor(m => m.Address4_Options, ((List<State>)ViewData["AllowedStates"]).ToSelectList(f => f.Name, f => f.Name, "Choose a State"), new { @class = "shipping-dropdown statesel" })

            @Html.ValidationMessageFor(model => model.Address4)
        </div>
    </div>

    <div class="row">



        <div class="col-sm-8 editor-field">
            @Html.LabelFor(model => model.CountryID) : <span class="mand">*</span> <br />
                                                                                   <div style="display:none;">
                                                                                       @Html.DropDownListFor(m => m.CountryID, new SelectList((List<Country>)ViewData["AllowedCountries"], "ID", "Name"), new { @class = "form-control countryid", @readonly = "true" })
                                                                                   </div>
            @Model.Country
        </div>


        <div class="col-sm-4 editor-field">
            @Html.LabelFor(model => model.Postcode) : <span class="mand">*</span> <br />
            @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })

            @Html.ValidationMessageFor(model => model.Postcode)
            <input type="hidden" name="CustomerDetails_isIntOnlyPostcode" id="CustomerDetails_isIntOnlyPostcode" />
        </div>
         

    </div>
    <div class="row">
        <div class="col-sm-8 editor-field">
            @Html.LabelFor(model => model.Email) : <span class="mand">*</span><br />
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="col-sm-4 editor-field">
            @Html.LabelFor(model => model.Mobile) : <span class="mand">*</span><br />
            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>
    </div>
   
    @if (ViewData.TemplateInfo.HtmlFieldPrefix == "CustomerDetails")
    {
        <div class="row@((bool)ViewData["showSpecial"] ? " hidden" : "")">
            <div class="col-sm-12 editor-field">
                @Html.EditorFor(model => model.isMailer)
                @Html.LabelFor(model => model.isMailer)
                @Html.ValidationMessageFor(model => model.isMailer)
            </div>
        </div>
    }

</div>       