﻿@model Kawa.Models.AccountDetail
@using Kawa.Models

<table>
     <tr>
            <td class="editor-label" width="35%">
                @Html.LabelFor(model => model.FirstName) :
            </td>
            <td class="editor-field" width="65%">
                @Html.DisplayFor(model => model.FirstName)
            </td>
     </tr>       
     <tr>

            <td class="editor-label">
                @Html.LabelFor(model => model.Surname) :
            </td>
            <td class="editor-field">
                @Html.DisplayFor(model => model.Surname)
            </td>
    </tr>  
    <tr>

        <td class="editor-label">
            @Html.LabelFor(model => model.Company) :
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Company)
        </td>
    </tr>       
    <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Address1) :
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Address1)
        </td>
     </tr>       
     <tr>   

        <td class="editor-label">
            @Html.LabelFor(model => model.Address2) :
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Address2)
        </td>

     </tr>   
     <tr>   

        <td class="editor-label">
            @Html.LabelFor(model => model.Address3) :
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Address3)
        </td>
    </tr>       
    <tr>
         

        <td class="editor-label">
            @Html.LabelFor(model => model.Address4) :
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Address4)
        </td>

     </tr>       
    <tr>   

        <td class="editor-label">
            @Html.LabelFor(model => model.Postcode) :
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Postcode)
        </td>

     </tr>       
    <tr>   

        @if (ViewData.TemplateInfo.HtmlFieldPrefix == "CustomerDetails")
        {
             <td class="editor-label">
                @Html.LabelFor(model => model.Country) :
            </td>
            <td class="editor-field">
               @Html.DisplayFor(model => model.Country)
            </td>
        }
        else
        {

            <td class="editor-label">
                @Html.LabelFor(model => model.CountryID) :
            </td>
            <td class="editor-field">
                @Html.DisplayFor(model => model.Country)
            </td>

        }

    </tr>       
    <tr>    

        <td class="editor-label">
            @Html.LabelFor(model => model.Email) :
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Email)
        </td>

    </tr>       
    <tr>    

        <td class="editor-label">
            @Html.LabelFor(model => model.Mobile) :
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Mobile)
        </td>

       
    </tr>       

    @if (ViewData.TemplateInfo.HtmlFieldPrefix == "CustomerDetails")
    {
        <tr> 
            <td class="editor-label">
                Mailing List :
            </td>
            <td class="editor-field">
                @(Model.isMailer ? "Yes" : "No") 
            </td>
        </tr>             
    }

    @if (Model.LeaveAuth.HasValue)
    {
        if ((bool)Model.LeaveAuth)
        {
            <tr class="row">
                <td class="editor-label">
                    Authority to leave parcel terms and conditions accepted:
                </td>
                <td class="editor-field">
                    yes
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Authority to leave:
                </td>
                <td class="editor-field">
                   @Html.DisplayFor(model => model.DeliveryInstructions)
                </td>
            </tr>
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(Model.DeliveryInstructions))
        {
            <tr class="row">
                <td class="editor-label">
                    Delivery instructions liability terms and conditions accepted:
                </td>
                <td class="editor-field">
                    yes
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Delivery Instructions:
                </td>
                <td class="editor-field">
                    @Html.DisplayFor(model => model.DeliveryInstructions)
                </td>
            </tr>
        }
    }

</table> 