﻿@model Kawa.Models.Order
@using Kawa.Models
@using Kawa.Models.Extensions

<table class="baskettable">
    <thead>
        <tr>
            <th></th>
            <th>@(!Model.isBasket ? "Item Ordered" : "Product")</th>
            <th class="hidden-xs hidden-sm text-right">Unit Price</th>
            <th class="text-right">Quantity</th>
            <th class="hidden-xs text-right">Total</th>
            <th class="spacer"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orderItems)
        {
            <tr>
                <td>
                    @if (item.Product.sThumb != null)
                    {
                        <div class="product-img prodimgbox proddet"><a href="@item.Product.getUrl()"><img class="img" src="@(item.Product.sThumb)" /></a> </div>
                    }
                </td>
                <td>

                    @if (ViewBag.IsAccountOrder != null && ViewBag.IsAccountOrder && !item.Product.isHidden)
                    {

                        <!--- @Html.Partial("_TagProductBuyOnly", item.Product)-->

                    }

                    @if (Model.isAdmin && Model.isBasket && !item.Product.isHidden)
                    {
                        <div class="list-product reorder">
                            @Html.Partial("_VolumeTable", item.Product)
                        </div>
                    }


                    @if (item.Product.specialType.HasValue)
                    {
                        @item.Product.name
                    }
                    else
                    {
                        <a href="@item.Product.getUrl()">@item.Product.name</a>
                    }

                    <br /><b>@item.Product.sku</b>


                    <div class="visible-xs">
                        @if (item.Quantity > 1)
                        {
                            @((@item.Price).ToString("c")) @:Each<br />
                        }
                        <b>@(item.LinePrice.ToString("c")) Total</b>
                    </div>


                    @if (Model.isBasket && !item.Product.specialType.HasValue)
                    {
                        <div class="item-remove"><a href="javascript:void" class="item-remove-button formbutton checkout back" data-basketid="@item.ID"><img src="~/Content/images/white-bin.png" alt="" />Remove</a></div>
                    }

                    <br class="clearfix" />

                </td>
                <td class="hidden-xs hidden-sm  basketprice text-right">
                    @item.Price.ToString("c")

                    @if (Model.isAdmin)
                    {
                        <div class="jack"></div>
                        <input type="text" class="item-editprice" data-basketid="@item.ID" value="@item.Price" />
                        <span class="item-editprice-btn formbutton formbuttonred action" data-basketid="@item.ID">edit</span>
                    }
                </td>
                <td class="quantity text-right">
                    @if (!Model.isBasket)
                    {
                        @item.Quantity
                    }
                    else
                    {
                        if (item.Product.specialType.HasValue)
                        {
                            @item.Quantity
                        }
                        else
                        {
                            <select id="item-quantity-@item.ID" class="item-quantity-dropdown" data-basketid="@item.ID">
                                @for (var q = 1; q <= item.LineMaxQuantity; q++)
                                {
                                    <option value="@q" @(item.Quantity == q ? " selected" : "")>@q</option>
                                }
                                @if (item.Quantity > 100)
                                {
                                    <option value="@item.Quantity" selected>@item.Quantity</option>
                                }
                            </select>
                        }

                        if (!string.IsNullOrEmpty(item.Message))
                        {
                            <div class="message">
                                @item.Message
                            </div>
                        }
                        if (!string.IsNullOrEmpty(item.VolumeSuggestion))
                        {
                            <div class="volsuggest" style="background-color:@(item.VolumeSuggestionColour[0]);color:@(item.VolumeSuggestionColour[1]);border-color:@(item.VolumeSuggestionColour[1])">
                                @item.VolumeSuggestion
                            </div>
                        }
                    }
                </td>
                <td class="hidden-xs basketprice  text-right">
                    @(item.LinePrice.ToString("c"))
                </td>
                <td class="spacer"></td>

            </tr>

        }
        @if (ViewBag.DonationProduct != null)
        {
            Product DonationProduct = (Product)ViewBag.DonationProduct;

            if(!DonationProduct.isHidden)
            { 
                <tr>
                    <td colspan="6"><hr size="1" /></td>
                </tr>

                <tr>
                    <td class="text-center"><img src="/content/images/icon/icon-donate.png" style="float:none;" /></td>
                    <td>Donate an additional $5.00 to support Prostate Cancer New Zealand</td>
                    <td colspan="2" align="right">
                        @using (Html.BeginForm("AddToBasket", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal registerform", role = "form" }))
                        {
                            <input data-val="true" data-val-number="The field VariantID must be a number." data-val-required="The VariantID field is required." id="basket_VariantID" name="basket.VariantID" type="hidden" value="@DonationProduct.variant.ID">
                            <button type="button"
                                    class="addtocartbutton addtobasket"
                                    title="Add Donation to your cart">
                                Donate Now
                            </button>

                        }
                    </td>
                    <td class="text-center" colspan="2"><img src="~/Content/images/prostatecancerfoundationnz.png" style="float:none;" /></td>
                </tr>
                <tr>
                    <td colspan="6"><hr size="1" /></td>
                </tr>
            }

        }


</table>



@using (Html.BeginForm("Index", "Shop", FormMethod.Post, new { @class = "detailsform" }))
{

    <table class="baskettable">
        <tr>
            <td colspan="5">
                <div class="posttable">
                    @if (Model.isBasket)
                    {
                        if (Kawa.Controllers.SiteController.IsConfigEnabled("Config_Enable_Vouchers"))
                        {
                            <div class="voucheradd">
                                <h3>Voucher Code:</h3>
                                <input id="vouchercode" placeholder="Code" value="@(Model.voucher != null ? Model.voucher.code : "")" class="bigtextfield @(Model.voucher != null ? "vouchinstalled" : "")" @(Model.voucher != null ? "disabled" : "") />
                                <input type="button" id="voucherredeem" class="voucher formbutton @(Model.voucher != null ? "formbuttonred" : "")" value="@(Model.voucher != null ? "Clear" : "Redeem")" />
                                <input type="hidden" id="itemcount" value="@(Model.orderItems.Sum(x => x.Quantity))" />
                                <input type="hidden" id="baskettotal" value="@(Model.orderItems.Sum(x => x.LinePrice).ToString("c"))" />
                            </div>
                            <hr />
                        }
                    }
                </div>
            </td>
        </tr>
        <tr class="totals subtotaldisplay">
            <td class="text-right total_col_first" colspan="2">
                Items <span class="hidden-xs">Total</span>:
            </td>
            <td class="subtotal text-right total_col_second" colspan="3">
                @Model.BasketTotal.ToString("c")
            </td>
            <td class="spacer"></td>
        </tr>
        @if (Model.promotion != null && !Model.promotion.freeShipping)
        {
            <tr class="totals voucherdisplay">
                <td colspan="2" class="text-right">
                    Less Discount :
                </td>
                <td class="subtotal text-right" colspan="3">
                    @Model.promotionDiscount.ToString("c")
                    @if (!string.IsNullOrEmpty(Model.promotionText))
                    {
                        @Model.promotionText
                    }
                </td>
            </tr>
            <tr class="totals voucherdisplay">
                <td colspan="2" class="text-right">
                    After Promotion:
                </td>
                <td class="subtotal text-right" colspan="3">
                    @Model.totalAfterPromotion.ToString("c")
                </td>
            </tr>

        }



        @if (Model.voucher != null && !Model.voucher.freeShipping)
        {
            <tr class="totals voucherdisplay">
                <td colspan="2" class="text-right">
                    Less Discount :
                </td>
                <td class="subtotal align=" right"" colspan="3">
                    @Model.voucherDiscount.ToString("c")
                    @if (!string.IsNullOrEmpty(Model.voucherText))
                    {
                        @:(@Model.voucherText)
                    }
                </td>
            </tr>
            <tr class="totals voucherdisplay">
                <td colspan="2" class="text-right">
                    After Voucher:
                </td>
                <td class="subtotal text-right" colspan="3">
                    @Model.totalAfterVoucher.ToString("c")
                </td>
            </tr>

        }



        @if (Model.isBasket)
        {
        @Html.Partial("~/Views/Shop/_BasketShippingComponent.cshtml", Model)
        }
        else
        {
        <tr>
            <td colspan="2" class="text-right">
                Shipping Method:
            </td>
            <td colspan="3" class="text-right">
                @if (Model.ShippingMethodID.HasValue)
                {
                    @Model.allowedShippingMethods.Single(x => x.ID == Model.ShippingMethodID).Name<br />
                    @Model.allowedShippingMethods.Single(x => x.ID == Model.ShippingMethodID).DeliveryTime
                }
            </td>
        </tr>
        }
        @if (!Model.isBasket || Model.isAdmin)
        {
        <tr>
            <td colspan="2" class="text-right">
                Shipping Cost:
            </td>
            <td colspan="3" class="text-right">
                @if (Model.allowedShippingMethods.Any())
                {
                    if (Model.hasFreeShipping())
                    {
                        @:FREE SHIPPING
                        @:(@(Model.getFreeShippingText()))
                    }
                    else if (Model.hasSplitTheDifference())
                    {
                        @Model.FreightTotal.ToString("c")
                        @:(@(Model.getSplitTheDifferenceText()))
                    }
                    else
                    {
                        @Model.FreightTotal.ToString("c")
                    }
                }
            </td>
        </tr>
        }
       @if (Model.isAdmin)
        {
        if (Model.FreightOriginalAmount.HasValue && Model.FreightTotal != Model.FreightOriginalAmount)
        {
        <tr>
            <td colspan="2" class="text-right">
                Original Shipping Cost:
            </td>
            <td colspan="3" class="text-right">
                @(((decimal)Model.FreightOriginalAmount).ToString("c"))
                <input type="button" value="use it" id="shipping-settooriginal" />
                @Html.HiddenFor(x => x.FreightOriginalAmount)
            </td>
        </tr>
        }
        <tr>
            <td colspan="2" class="text-right">
                Force Shipping Cost:
            </td>
            <td colspan="3" class="text-right">
                $ @Html.TextBoxFor(x => x.AdminAdHocFreightTotal)
                <input type="button" value="update" id="update-as" />
            </td>
        </tr>
        }


        <tr class="totals">
            <td colspan="2" class="text-right">
                <b>Total:</b>
            </td>
            <td colspan="3" class="text-right">
                <b>@Model.OrderTotal.ToString("c")</b>
            </td>
        </tr>

        @if (Model.CountryID.HasValue && Model.CountryID == 2)
        {
        <tr class="subtotals">
            <td colspan="2" class="text-right">
                Includes GST:
            </td>
            <td colspan="3" class="text-right">
                @Model.incGst.ToString("c")
            </td>
        </tr>
        }
        <tr>
            <td colspan="5">

                <br />
                <div class="col-xs-12 text-right">
                    @if (Model.isBasket)
                    {
                        if (Model.isReadyToSubmit())
                        {
                            <text>
                                <input type="checkbox" id="terms" value="1" /> <label style="font-weight:400;" for="terms">I accept the </label> <a style="text-decoration:underline;" href="@ViewBag.model.getFooterUrl(Kawa.Models.Page.SystemPageOption.TERMS_AND_CONDITIONS)" target="_blank" class="shopterms">Terms and Conditions</a>
                                <br /><br />
                                <div class="checkform">

                                    <button id="continuebtn" class="formbutton chkxbutton">Proceed to Checkout</button>

                                </div>
                            </text>
                        }
                        else if (!Model.isAdmin)
                        {
                            <button id="continueissuebutton" class="formbutton chkbutton">Proceed to Checkout</button>
                        }
                        <br />
                    }
                    @if (Model.isBasket && Model.isReadyToAdminProceed())
                    {
                        <text>
                            <div class="checkform">

                                @Html.ActionLink("Choose Account", "OrderChooseAccount", new { id = Model.ID }, new { @class = "formbutton chkbutton" })

                            </div>
                        </text>
                    }
                </div>
            </td>
        </tr>


    </table>

}



<div id="dialog" class="dialog">
    You must accept the Terms and Conditions
</div>



@if (!string.IsNullOrEmpty(ViewBag.voucherMessage))
{
    <div id="promotiondialogshow">@Html.Raw(ViewBag.voucherMessage)</div>
}

@if (!Model.isAdmin && ModelTransformations.IsLive())
{
    if (Model.isBasket)
    {
        <script>

            ga('require', 'ec');
            // Add the step number and additional info about the checkout to the action.

            function gaStatWrite() {

                @foreach (var item in Model.orderItems)
                {
                    <text>
                    ga('ec:addProduct', {               // Provide product details in a productFieldObject.
                        'id': '@item.Product.ID',                   // Product ID (string).
                        'name': '@item.Product.name', // Product name (string).
                        'variant': '@item.Variant.name',               // Product variant (string).
                        'price': '@item.Variant.price.ToString("c")',
                        'quantity': @item.Quantity
                    });


                    </text>
                }

                fbq('track', 'AddToCart', {
                        value: @Model.BasketTotal.ToString("0.00"),
                        currency: 'AUD',
                        content_ids: ['@(string.Join(",", Model.orderItems.Select(x => x.Product.ID.ToString())))'],
                        content_type: 'product',
                    });

                ga('ec:setAction', 'checkout', {
                    'step': 2
                });

                ga('send', 'pageview');

            }

            $(function () {
                $('.detailsform').submit(function () {
                    if ($(this).valid()) {
                        gaStatWrite();
                    } else {
                        console.log('the form is not valid');
                    }
                });
            });


        </script>


    }
    else
    {
        if (ViewBag.IsCompletePage != null && ViewBag.IsCompletePage)
        {
            <!-- Google Code for Product Sales Conversion Page -->
            <script type="text/javascript">
                /* <![CDATA[ */
                var google_conversion_id = x977319714;
                var google_conversion_language = "en";
                var google_conversion_format = "3";
                var google_conversion_color = "ffffff";
                var google_conversion_label = "xUUGpCKyJ82gQou6C0gM";
                var google_conversion_value = @Model.OrderTotal.ToString("#.00");
                var google_conversion_currency = "NZD";
                var google_remarketing_only = false;
                /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
                <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/977319714/?value=0.00&amp;currency_code=AUD&amp;label=UUGpCKyJ82gQou6C0gM&amp;guid=ON&amp;script=0" />
                </div>
            </noscript>

            <script>

                ga('require', 'ec');
                // Add the step number and additional info about the checkout to the action.

                function gaStatWrite() {

                @foreach (var item in (Model.orderItems))
                {
                    <text>
                    ga('ec:addProduct', {               // Provide product details in a productFieldObject.
                        'id': '@item.Product.ID',                   // Product ID (string).
                        'name': '@item.Product.name', // Product name (string).
                        'variant': '@item.Variant.name',               // Product variant (string).
                        'price': '@item.Variant.price.ToString("#.00")',
                        'quantity': @item.Quantity
                    });
                    </text>
                }

                    fbq('track', 'Purchase', {
                        value: @Model.BasketTotal.ToString("0.00"),
                        currency: 'AUD',
                        content_ids: ['@(string.Join(",", Model.orderItems.Select(x => x.Product.ID.ToString())))'],
                        content_type: 'product',
                    });

                    // Transaction level information is provided via an actionFieldObject.
                    ga('ec:setAction', 'purchase', {
                        'id': '@Model.OrderNo',
                        'revenue': '@Model.OrderTotal.ToString()'
                    });

                    ga('send', 'pageview');

                }

                $(function () {
                    gaStatWrite();
                });


            </script>



        }
    }
}