﻿@model Kawa.Models.Basket
@using Kawa.Models
@using Kawa.Models.Services
<div class="justadded">
   
    <h2>You have just added this product to your cart</h2>
   
    <div class="row">
        <div class="col-sm-3">
            @if (Model.Product.sThumb!=null)
            {
                <a href="@Model.Product.getUrl()"><img class="img" src="@(Model.Product.sThumb)" /></a>
            }
        </div>
        <div class="col-sm-3">
            <div class="productname"><a href="@Model.Product.getUrl()">@Model.Product.name</a></div>
        </div>
        <div class="col-sm-3">
            @Model.Quantity x @Model.Price.ToString("c")

            @if (!string.IsNullOrEmpty(Model.VolumeSuggestion))
            {
            <div class="volsuggest">

                @Model.VolumeSuggestion

            </div>
            }
        </div>
        <div class="col-sm-3">
            @(Model.LinePrice.ToString("c"))
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="row">
            <div class="col-sm-12 message">
                @Model.Message
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-9">
            You have @ViewBag.OrderSummary.BasketCount items in your cart totalling
        </div>
        <div class="col-sm-3">
            @(ViewBag.OrderSummary.Total.ToString("c"))
        </div>
    </div>
    <div class="row options">
        <a href="/shop" class="formbutton checkout">View Cart</a>
        <div class="formbutton back" data-toggle="modal" data-dismiss="modal">Continue Shopping</div>
        
    </div>

    <input type="hidden" id="OrderSummary_BasketCount" value="@ViewBag.OrderSummary.BasketCount" />
    <input type="hidden" id="OrderSummary_Total" value="@ViewBag.OrderSummary.Total.ToString("c")" />
</div>