﻿@model Kawa.Models.Order
@using Kawa.Models
@using Kawa.Models.Extensions
@{
    var shippingStatus = Model.getBasketShippingStatus();
}
<div class="row hidden">
    <div class="col-xs-6 text-right">
        Delivery Country:
    </div>
    <div class="col-xs-6">
        @Html.DropDownListFor(m => m.CountryID, new SelectList(Model.allowedCountries, "ID", "Name"), new { @class = "shipping-dropdown", @disabled = "disabled" })
    </div>
</div>
@if (Model.CountryID.HasValue && Model.allowedStates.Any(x => x.CountryID == Model.CountryID))
{
    <div class="row">
        <div class="col-xs-6 text-right">
            Delivery State:
        </div>
        <div class="col-xs-6">
            @Html.DropDownListFor(m => m.StateID, Model.allowedStates.ToSelectList(f => f.Name, f => f.ID.ToString(), "Choose a State"), new { @class = "shipping-dropdown"  })
            @Html.ValidationMessageFor(m => m.StateID, "", new { @class = "text-danger" })
        </div>
    </div>
    if (!shippingStatus.HasCartViolation && !(shippingStatus.Allowed && Model.StateID.HasValue && !Model.Postcode.HasValue) && Model.StateID.HasValue)
    {

        <div class="row">
            <div class="col-xs-6 text-right">
                Delivery Postcode:
            </div>
            <div class="col-xs-6">

                <input class="shop-postcode form-control" data-val="true" data-val-number="The field Postcode must be a number." id="Postcode" name="Postcode" type="text" value="@Kawa.Controllers.SiteController.MaskPostCode(Model.Postcode)">

                 
                <input type="button" value="Apply Postcode" id="PostcodeSet" class="shop-postcode-set formbutton" style="display:none;" />
                @Html.ValidationMessageFor(m => m.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>
    }
}

<tr>
    <td colspan="2" class="text-right">
        Shipping Method:<br />
    </td>
    <td colspan="3" class="text-left">
            @if (shippingStatus.Allowed)
            {
                foreach (var shippingMethod in Model.allowedShippingMethods.Where(x=>x.isHidden==false))
                {
                    <div class="shippingoptionbox @(shippingMethod.ID == Model.ShippingMethodID?"sel":"")">
                        @Html.RadioButtonFor(x => x.ShippingMethodID, shippingMethod.ID, new { id = "shipping-radio-" + shippingMethod.ID, @class = "shipping-radio" })
                        <label for="shipping-radio-@shippingMethod.ID">
                            @Html.Raw(shippingMethod.BasketName)
                        </label>
                    </div>
                }
            }
            else
            {
                @:<span class="statewarning">@shippingStatus.Message</span>
                <div id="dialogshippingissue" class="dialog">
                    @(shippingStatus.LongMessage)
                </div>
            }
    </td>
</tr>