﻿@model Kawa.Models.Order

<table border="1"  width="100%" style="border-width:1px;">
    <tr>
        <th align="left">
            Item Ordered
        </th>
        @if(Model.IsPrintingOrder)
        {
        <th>
            Packed
        </th>
        }
        <th align="center">Unit Price</th>
        <th align="center">@(Model.IsPrintingOrder? "Qty" : "Quantity")</th>
        <th align="center">Total</th>
        <th align="center">Usually Ships within</th>
    </tr>
    @foreach (var item in Model.orderItems)
    {
        <tr>
            <td class="baskettablenametd baskettablefirsttd">
                <b>
                    @item.Product.name (@item.Product.sku)
                </b>
                @if (Model.IsPrintingOrder && !string.IsNullOrEmpty(item.Product.packNotes))
                {
                    <br/>@:Note: @item.Product.packNotes
                }
            </td>
            @if (Model.IsPrintingOrder)
            {
            <td>

            </td>
            }
            <td align="center">
                @item.Price.ToString("c")
            </td>
            <td align="center">
                @item.Quantity
            </td>
            <td align="center">
                @item.LinePrice.ToString("c")
            </td>
            <td align="center">
                @if (!item.Product.specialType.HasValue)
                {
                    @Html.Raw(item.Variant.getShipDaysText(Model, true))
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="@(Model.IsPrintingOrder?"6":"5")">

            <table class="totalstable" align="right">

                <tr class="row subtotal">

                    <td class="col-xs-4">
                        Items Total:
                    </td>
                    <td class="col-xs-8">
                        @Model.BasketTotal.ToString("c")
                    </td>

                </tr>

                @if (Model.promotion != null && !Model.promotion.freeShipping)
                {


                    <tr class="row promotiontotal">
                        <td class="col-xs-4">
                            Less Discount :
                        </td>
                        <td class="col-xs-8">
                            @Model.promotionDiscount.ToString("c")
                            @if (!string.IsNullOrEmpty(Model.promotionText))
                            {
                                @Model.promotionText
                            }
                        </td>
                    </tr>

                    <tr class="row subtotal">
                        <td class="col-xs-4">
                            After Promotion:
                        </td>
                        <td class="col-xs-8">
                            @Model.totalAfterPromotion.ToString("c")
                        </td>
                    </tr>
                }

                @if (Model.voucher != null && !Model.voucher.freeShipping)
                {

                    <tr class="row">
                        <td class="col-xs-4">
                            Less Discount :
                        </td>
                        <td class="col-xs-8">
                            @Model.voucherDiscount.ToString("c")
                            @if (!string.IsNullOrEmpty(Model.voucherText))
                            {
                                @:(@Model.voucherText)
                            }
                        </td>
                    </tr>

                    <tr class="row subtotal">
                        <td class="col-xs-4">
                            After Voucher:
                        </td>
                        <td class="col-xs-8">
                            @Model.totalAfterVoucher.ToString("c")
                        </td>
                    </tr>
                }

                <tr class="row">
                    <td class="col-xs-4">
                        Shipping Method:
                    </td>
                    <td class="col-xs-8">
                        @Model.allowedShippingMethods.Single(x => x.ID == Model.ShippingMethodID).Name <br />
                        @Model.allowedShippingMethods.Single(x => x.ID == Model.ShippingMethodID).DeliveryTime
                    </td>
                </tr>

                <tr class="row">
                    <td class="col-xs-4">
                        Shipping Cost:
                    </td>
                    <td class="col-xs-8">
                        
                        @if (Model.hasFreeShipping())
                        {
                            @:FREE SHIPPING
                            @:(@(Model.getFreeShippingText()))
                        }
                        else if (Model.hasSplitTheDifference())
                        {
                            @Model.FreightTotal.ToString("c")
                            @:(@(Model.getSplitTheDifferenceText()))
                        }
                        else
                        {
                            @Model.FreightTotal.ToString("c")
                        }
                        
                    </td>
                </tr>
                @if (Model.AmexSurcharge.HasValue)
                {
                    <tr class="row">
                        <td class="col-xs-4">
                            Amex Surcharge:
                        </td>
                        <td class="col-xs-8">
                            @(((decimal)Model.AmexSurcharge).ToString("c"))
                        </td>
                    </tr>
                }
                <tr class="row">
                    <td class="col-xs-4">
                        <b>Total:</b>
                    </td>
                    <td class="col-xs-8">
                        <b>@Model.OrderTotal.ToString("c")</b>
                    </td>
                </tr>

                @if (Model.CountryID.HasValue && Model.CountryID == 1)
                {
                <tr class="row">
                    <td class="col-xs-4"></td>
                    <td class="col-xs-8">
                        (Includes GST @Model.incGst.ToString("c"))
                    </td>
                </tr>
                }

            </table>


        </td>
    </tr>
</table>
