﻿@model Kawa.Models.ViewModels.CreditCardViewModel

<div class="row">
    <div class="col-sm-12 editor-field">
        @Html.LabelFor(model => model.EWAY_CARDNAME) :<span class="mand">*</span><br />
        @Html.EditorFor(model => model.EWAY_CARDNAME, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EWAY_CARDNAME)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 editor-field">
        @Html.LabelFor(model => model.EWAY_CARDNUMBER) :<span class="mand">*</span><br />
        @Html.TextBoxFor(model => model.EWAY_CARDNUMBER, new {  @class = "form-control"  })
        @Html.ValidationMessageFor(model => model.EWAY_CARDNUMBER)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 editor-field">
        <div class="row">
            <div class="col-sm-4 editor-field">
                @Html.LabelFor(model => model.EWAY_CARDEXPIRYMONTH) :<span class="mand">*</span><br />
                @Html.EditorFor(model => model.EWAY_CARDEXPIRYMONTH, new { htmlAttributes = new { @class = "form-control carddatecomp", maxlength = "2", placeholder = "mm" } })
                @Html.ValidationMessageFor(model => model.EWAY_CARDEXPIRYMONTH)
            </div>
            <div class="col-sm-4 editor-field">
                @Html.LabelFor(model => model.EWAY_CARDEXPIRYYEAR) :<span class="mand">*</span><br />
                @Html.EditorFor(model => model.EWAY_CARDEXPIRYYEAR, new { htmlAttributes = new { @class = "form-control cardyrcomp", maxlength = "2", placeholder = "yy" } })
                @Html.ValidationMessageFor(model => model.EWAY_CARDEXPIRYYEAR)
            </div>
            <div class="col-sm-4 editor-field">
                @Html.LabelFor(model => model.EWAY_CARDCVN) :<span class="mand">*</span><br />
                @Html.EditorFor(model => model.EWAY_CARDCVN, new { htmlAttributes = new { @class = "form-control cardcvncomp", maxlength = "4" } })
                @Html.ValidationMessageFor(model => model.EWAY_CARDCVN)
            </div>
        </div>
    </div>
</div>