﻿@model Kawa.Models.ViewModels.PaymentChoiceViewModel
@using System.Configuration
@using Kawa.Models.Services
@using Kawa.Models.Extensions
<div class="paypalform">
    <div class="loader">Pay with PayPal - please wait....</div>
    <form id="myContainer" method="post" action="/shop/payment/@Model.order.Code?pt=@PaymentServiceStore.PaymentTypeOption.PAYPAL"></form>
    <script>
        window.paypalCheckoutReady = function() {
            paypal.checkout.setup('@(ConfigurationManager.AppSettings["PaypalMerchantID"])', {
                environment: '@(ModelTransformations.IsLive() ? "live" : "sandbox")',
                container: 'myContainer',
                buttons: [
                     {
                         container: 'myContainer',
                         type: 'checkout',
                         color: 'gold',
                         size: 'medium',
                         shape: 'rect'
                     }
                ]
            });
        };
    </script>
    <script src="//www.paypalobjects.com/api/checkout.js" async></script>

</div>