﻿@model Kawa.Models.ViewModels.EwayViewModel

<br />

@if (Model.ewaySavedCard != null)
{
    <text>
        <h3>Saved card</h3>
        Use your card @Model.ewaySavedCard. Please provide the CVN for that card below.
        @if(Model.ewaySavedCardIsAmex())
        { 
            <div class="amexexception">(This AMEX card will incur an additional 2% surcharge)</div>
        }
    </text>
    <div class="payment-token-card-form">
        <form action="@Model.ewayResponseToken.FormActionURL" class="cc" method="post" data-code="@ViewBag.Order.Code" data-isamex="@(Model.ewaySavedCardIsAmex()?"true":"false")">
            <input type="hidden" name="EWAY_ACCESSCODE" value="@Model.ewayResponseToken.AccessCode" />
            <input type="hidden" name="EWAY_PAYMENTTYPE" value="Credit Card" />

            <div class="row">
                <div class="col-sm-12 editor-field">
                    <label for="EWAY_CARDCVN">CVN</label> :<span class="mand">*</span> <input type="text" name="EWAY_CARDCVN" value="" class="cardcvncomp form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 editor-field">
                    <input type="button" value="Pay" class="formbutton" />
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br />
            OR
            <br />
        </div>
    </div>

    <br/>

}

<h3>Enter new Card Details</h3>
<div class="payment-new-card-form" data-issuron="@(Model.isAmexSurchargeOn() ? "true" : "false")">
    Accepted payments: &nbsp; &nbsp;  
    <img src="~/Content/images/americanexpress.png" alt="" />
    <img src="~/Content/images/mastercard.png" alt="" />
    <img src="~/Content/images/visa.png" alt="" />
    @if (Model.isAmexSurchargeOn())
    { 
    <div class="amexexception">(AMEX cards incur an additional 2% surcharge)</div>
    }
    <form action="@Model.ewayResponse.FormActionURL" class="cc" method="post" data-isamex="false" data-code="@ViewBag.Order.Code">

        <input type="hidden" name="EWAY_ACCESSCODE" value="@Model.ewayResponse.AccessCode" />
        <input type="hidden" name="EWAY_PAYMENTTYPE" value="Credit Card" />

        @Html.Partial("../shop/_NewCard", Model.cc)

        @if (Model.account != null)
        {
        <div class="row">
            <div class="col-sm-12 editor-field">
                <input id="savecrd" type="checkbox" value="1" @(Model.account.saveCreditCard ? "checked" : "") />
                <label for="savecrd">Save this card on file</label>
            </div>
        </div>
        }
        <br/>
        <input type="button" value="Pay" class="formbutton" />


    </form>
</div>

<div id="dialog" class="dialog">
    AMEX cards incur an additional 2% surcharge
</div>