﻿<div class="payment-inject">

    Thank you for placing your order with Meguiars!<br/><br />
    Please deposit the full amount as shown on the invoice total with your order number as a reference to avoid delays.<br /><br />
    Direct Deposit Details<br /><br />
    Account name: Meguiars<br />
    Bank: National Australia Bank (nab)<br />
    BSB: 082366<br />
    Account Number: 570604877<br /><br />
    Full Payment must be received within 7 days or your pending order will be cancelled.

</div>
