﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models.ViewModels
@{
    var messageOn = Model.checkoutStage == SiteViewModel.CheckoutStage.ACCOUNT_DETAILS && ViewBag.BillingDetailsCC != null && !((Kawa.Models.Page)ViewBag.BillingDetailsCC).isHidden;
}
<!---
<div class="shopstages container">

    <div class="buttons@(messageOn?" messsageon":"")">
        @switch (Model.checkoutStage)
        {
            case SiteViewModel.CheckoutStage.CART:
                @Html.ActionLink("< Continue Shopping", "LastProductRedirect", new { id = "" }, new { @class = "continue-shopping formbutton back" })

                <a class="clearcart formbutton formbuttonred back" href="/shop?clear=True"><img src="~/Content/images/white-bin.png" alt="" />Clear Cart</a>
                break;
            case SiteViewModel.CheckoutStage.ACCOUNT_DETAILS:
            @Html.ActionLink("< back", "Index", new { id = "" }, new { @class = "formbutton back" })
                break;
            case SiteViewModel.CheckoutStage.CHOOSE_PAYMENT:
            @Html.ActionLink("< back", "Account", new { id = Model.ordercode }, new { @class = "formbutton back" })
                break;
            case SiteViewModel.CheckoutStage.PAYMENT:
            @Html.ActionLink("< back", "ChoosePayment", new { id = Model.ordercode }, new { @class = "formbutton back" })
                break;
            case SiteViewModel.CheckoutStage.COMPLETE:

                break;
        }
    </div>
    @if (messageOn)
    {
        <div class="cc-billing-details hidden">
            @Html.Raw(((Kawa.Models.Page)ViewBag.BillingDetailsCC).html)
        </div>
    }

    <div class="stages">
        <div class="stage stage1 @(Model.checkoutStage >= SiteViewModel.CheckoutStage.CART?" chkstgdone":"")">
            @if(Model.checkoutStage >= SiteViewModel.CheckoutStage.CART)
            {
                @Html.ActionLink("1. Basket Confirmation", "Index", new { id="" })
            }
            else
            {
                @:1. Basket Confirmation
            }
        </div>
        <div class="stage stage2 @(Model.checkoutStage >= SiteViewModel.CheckoutStage.ACCOUNT_DETAILS ? " chkstgdone" : "")">
            @if (Model.checkoutStage >= SiteViewModel.CheckoutStage.ACCOUNT_DETAILS)
            {
                @Html.ActionLink("2. Account Details", "Account", new { id = Model.ordercode })
            }
            else
            {
                @:2. Account Details
            }
        </div>
        <div class="stage stage3 @(Model.checkoutStage >= SiteViewModel.CheckoutStage.CHOOSE_PAYMENT ? " chkstgdone" : "")">
           @if (Model.checkoutStage >= SiteViewModel.CheckoutStage.CHOOSE_PAYMENT)
           {
            @Html.ActionLink("3. Choose Payment", "ChoosePayment", new { id = Model.ordercode })
           }
           else
           {
            @:3. Choose Payment
           }
        </div>
        <div class="stage stage3 @(Model.checkoutStage >= SiteViewModel.CheckoutStage.PAYMENT ? " chkstgdone" : "")">
           @if (false && Model.checkoutStage >= SiteViewModel.CheckoutStage.PAYMENT)
           {
            @Html.ActionLink("4. Payment", "Payment", new { id = Model.ordercode })
           }
           else
           {
            @:4. Payment
           }
        </div>
        <div class="stage stage4 @(Model.checkoutStage >= SiteViewModel.CheckoutStage.COMPLETE ? " chkstgdone" : "")">
           @if (false && Model.checkoutStage >= SiteViewModel.CheckoutStage.COMPLETE)
           {
            @Html.ActionLink("5. Receipt", "Complete", new { id = Model.ordercode })
           }
           else
           {
            @:5. Receipt
           }
        </div>
    </div>
</div>
    -->
