﻿@model Kawa.Models.ViewModels.AccountViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Shopping Cart - Your Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="accountpager">
    @Html.Partial("_PageTitle")
</div>


@Html.Partial("_ShopStages", ((SiteViewModel)ViewBag.model))


<div class="container accountdetails shopcontainer">
    <div>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="shop-account-page-logged">

                    You are logged in as @User.Identity.GetUserName()
                    <br /><br />
                    <a href="/Shop/AccountDetails/@Model.OrderCode">Continue with this account</a>
                    <br /><br />
                    or
                    <br /><br />
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
            }
        }
        else
        {

            <div class="row">
                <div class="col-md-9">
                    @Html.Partial("../Account/_LoginOrRegister")
                </div>
                <div class="col-md-3 shop-account-guest">
                    <div class="row jsaccount">
                        <div class="col-xs-12 loginreplace">
                            <div class="accountbox loginbox">

                                <h3>Guest Checkout</h3>
                            </div>
                            <div class="jackif"></div>
                            Skip, purchase as a guest<br /><br />
                            <a href="/Shop/AccountDetails/@Model.OrderCode" class="loginbutton formbutton">Guest Checkout</a>
                        </div>
                        
                    </div>

                   

                </div>
            </div>

        }
    </div>
</div>

<input type="hidden" value="/Shop/AccountDetails/@Model.OrderCode" id="accountnextstep" />

@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop")
    @Scripts.Render("~/bundles/account")
    @Scripts.Render("~/bundles/jqueryval")
}
