﻿@model Kawa.Models.ViewModels.AccountDetailsViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models
@using Kawa.Models.Extensions
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "Shopping Cart - Account Details";
}

@Html.Partial("_PageTitle")


<div class="accountdetails-stages">
    @Html.Partial("_ShopStages", ((SiteViewModel)ViewBag.model))
</div>

@using (Html.BeginForm("AccountDetails", "Shop", FormMethod.Post, new { @class = "detailsform" }))
{
    <div class="container accountdetails shopcontainer details">

        <div>

            @Html.ValidationSummary(true)


            <div class="row formbox">
                <div class="col-sm-6 customer">
                    <div class="requiredtxt">* Required Fields</div>
                    <h3>Billing Details</h3>
                    <div class="jackif"></div>
                    @{
                        var vddc = new ViewDataDictionary()
                        {
                            TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                            Model = Model.CustomerDetails
                        };
                        vddc["AllowedCountries"] = ViewBag.AllowedCountries;
                        vddc["AllowedStates"] = ViewBag.AllowedStates;
                        vddc["showSpecial"] = ViewBag.showSpecial;
                    }
                    @Html.Partial("_AccountDetail", vddc)
                </div> 
                <div class="col-sm-6">

                    <div class="formheader ">
                        <div class="requiredtxt">* Required Fields</div>
                        <h3>Delivery Details</h3>
                        <div class="jackif"></div>
                        <div class="filldelivery">
                            <input type="checkbox" id="fillDeliveryBtn" class="fillDeliveryBtn" /> <label for="fillDeliveryBtn" class="fillDeliveryBtn">Click if same as Billing Details</label>
                            <div id="dialogfilldelivery" class="dialog">
                                You must accept the Terms and Conditions
                            </div>
                        </div>
                    </div>
                    <div class="">
                        @{
                            var vddd = new ViewDataDictionary()
                            {
                                TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                                Model = Model.DeliveryDetails
                            };
                            vddd["AllowedCountries"] = ViewBag.AllowedCountries;
                            vddd["AllowedStates"] = ViewBag.AllowedStates;
                        }
                        @Html.Partial("_AccountDetailDelivery", vddd)

                    </div>
                   

                </div>
            </div>
        </div>

    </div>

    if (ViewBag.showSpecial)
    {
        <div class="container">
            <div class="special">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <h2>@(ViewBag.signupModule.page.html3)</h2>
                    </div>
                    <div class="col-sm-4">
                        @(ViewBag.signupModule.page.name)
                        <div class="conditions-apply">@(ViewBag.signupModule.page.html)</div>
                        <label><input type="checkbox" name="newsletter" id="newsletter" value="value">Subscribe to the e-newsletter.</label>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container shopbtns">
        <div>
            <input type="submit" value="Continue" class="formbutton btnright continuebtn pull-right" />
            <a id="backbtn" class="formbutton btnleft chkbutton back pull-left" href="/shop/">Back</a>
        </div>
    </div>


}


@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/accountdetails")

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"]&libraries=places&callback=initMap">
    </script>

    <script>

        var AustraliaID = "@(((List<Country>)ViewBag.AllowedCountries).Single(x => x.Name == "Australia").ID)";

        var countries = @Html.Raw(new JavaScriptSerializer().Serialize(((List<Country>)ViewData["AllowedCountries"]).Select(x => new
                   {
                       ID = x.ID,
                       Code = x.Code.ToLower()
                   })));

        var states = @Html.Raw(new JavaScriptSerializer().Serialize(((List<State>)ViewData["AllowedStates"]).Select(x => new
                   {
                       ID = x.Name,
                       Code = ShippingRepository.getStateCode(x.Name)
                   })));

        @if(ModelTransformations.IsLive())
        {
            <text>
            ga('require', 'ec');

            function gaStatWrite() {
                // Add the step number and additional info about the checkout to the action.
                ga('ec:setAction', 'checkout', { 'step': 3 });
                ga('send', 'pageview');     // Pageview for shipping.html
            }
            </text>
        }

    </script>
}


@Html.Partial("_ModalMessage")

