﻿@model Kawa.Models.ViewModels.ChoosePaymentViewModel
@using Kawa.Models.ViewModels
@{
    ViewBag.Title = "Shopping Cart - Choose Payment";
}

@Html.Partial("_PageTitle")


@Html.Partial("_ShopStages", (SiteViewModel)ViewBag.model)


<div class="container payment shopcontainer payforms">
    <div>
        <div class="payforms-header">
            <h3>Please choose a payment option..</h3>
        </div>
        <br /><br />

        @foreach (var choice in Model.options)
        {
            if (choice.hasView)
            {
                @Html.Partial(choice.viewName, choice)
            }
            else
            { 
                @Html.ActionLink(choice.name, "Payment", new { id = Model.orderCode, pt = choice.type }, new { @class = "formbutton paychoice" })
            }
            <br /><br />
        }

    </div>
</div>

@section Scripts {

    <script>
        var isAdminOrder = false;
    </script>

}




