﻿@model Kawa.Models.ViewModels.PaymentCompleteViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models

@{
    ViewBag.Title = "Shopping Cart - Complete";
    ViewBag.IsCompletePage = true;
}

@Html.Partial("_PageTitle")

<div class="container shopspace shopcontainer payment complete">
    <div>
        <div class="payforms-header">
            <h3>Order # @Model.order.OrderNo</h3>
        </div>

        <div class="basket">
            @if (Model.result.injectView != null)
            {
                @Html.Partial(Model.result.injectView, Model.result)
            }
            
            @if (!string.IsNullOrEmpty(Model.result.injectHeader))
            {
                <div class="payment-inject">
                    @Html.Raw(Model.result.injectHeader)
                </div>
            }
            
            <div class="row">
                <div class="col-sm-6 customer">
                    <div class="formheader"><h4>Customer Billing Details</h4></div>
                    @Html.Partial("_AccountDetailReadonly",
                    new ViewDataDictionary()
                    {
                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                        Model = Model.order.CustomerDetails
                    })
                </div>
                <div class="col-sm-6">

                    <div class="formheader">
                        <h4>Delivery Details</h4>
                    </div>
                    <div class="delivery">
                        @Html.Partial("_AccountDetailReadonly", new ViewDataDictionary()
                   {
                       TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                       Model = (Model.order.DeliveryDetails != null ? Model.order.DeliveryDetails : Model.order.CustomerDetails)
                   })
                    </div>

                </div>
            </div>
            <br /><br />
            @Html.Partial("_Basket", Model.order)
            <br /><br />
            <input type="button" value="Print" class="formbutton" onclick="window.print();" />
            <br /><br />
        </div>
    </div>
</div>

