﻿@model Kawa.Models.ViewModels.PaymentCompleteViewModel
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Complete";
}

<div class="shopspace">
    <div class="basket accountdetails">
        <table width="100%">
            <tr>
                <td width="50%"><a href="https://"><img src="@ModelTransformations.GetSiteUrl()/Content/images/logo.png" border="0" alt="@System.Configuration.ConfigurationManager.AppSettings["SiteName"].ToString()" /></a></td>
                <td width="50%" align="right">INVOICE</td>
            </tr>
            <tr>
                <td colspan="2"><hr/></td>
            </tr>
            @if (Model.result != null && Model.result.injectView != null)
            {
                <tr>
                    <td colspan="2">@Html.Partial(Model.result.injectView, Model.result)</td>
                </tr>
                <tr>
                    <td colspan="2"><hr /></td>
                </tr>
            }
            <tr>
                <td>
                    Meguiars
                
                    <br />
                    EMAIL: <a href="mailto:sales@meguiars.co.nz">sales@meguiars.co.nz</a>
                </td>
                <td valign="top">
                    Order # @Model.order.OrderNo
                    <br />
                    STATUS: @Model.order.Status.Name
                    <br />
                    DATE: @DateTime.UtcNow.UtcToLocal().ToString("g")
                    <br />
                    PAYMENT METHOD: @Model.order.getPaymentType()
                    <br />
                    SHIPPING METHOD: @Model.order.shippingMethod.Name
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                @foreach (var shipment in Model.order.shipments)
                {
                    <td>
                        <b>Shipment</b><br />
                        Shipping method: @shipment.shippingMethod.Name <br />
                        Shipment date: @shipment.createDate <br />
                        Carrier: @shipment.carrier.Name <br />
                        Tracking number: @shipment.TrackingNo <br />
                        Tracking URL: @shipment.carrier.Url <br />
                        Comment: @shipment.Comment
                    </td>
                }
            </tr>
        </table>
        <br />
        <table width="100%">
            <tr>
                <td><div class="detailsreadhead"><b>Customer Billing Details</b></div></td>

                <td><div class="detailsreadhead"><b>Delivery Details</b></div></td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td width="50%" valign="top">
                    @Html.Partial("~/Views/Shop/_AccountDetailEmail.cshtml",
                    new ViewDataDictionary()
                    {
                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                        Model = Model.order.CustomerDetails
                    })
                </td>
                <td width="50%" valign="top">
                    @Html.Partial("~/Views/Shop/_AccountDetailEmail.cshtml", new ViewDataDictionary()
                   {
                       TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                       Model = Model.order.DeliveryDetails
                   })
                </td>
            </tr>

        </table>
        <br /><br /> 

        @Html.Partial("~/Views/Shop/_BasketEmail.cshtml", Model.order)

        <br /><br />
    </div>


</div>