﻿@model Kawa.Models.ViewModels.PaymentCompleteViewModel

@{
    ViewBag.Title = "Complete";
}

<div class="shopspace">

    <h2>Shopping Cart</h2>

    @Html.Partial("_ShopStages")

    <div class="basket accountdetails shopcontainer">
        <br /><br /><br />
        <b>Your payment was successful however there was an issue with your order. A site admin has been notified.</b>
        <br /><br />
        Your Order # @Model.order.OrderNo

        <br /><br />
        Please feel free to contact us at <a href="mailto:sales@meguiars.co.nz">sales@meguiars.co.nz</a>
        <br /><br />

        @*

            @Html.Partial("_Basket")

            <table>
                <tr>
                    <td><b>Customer Details</b></td>

                    <td><b>Delivery Details</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                    <hr />
                    </td>
                </tr>
                <tr>
                    <td>@Html.Partial("_AccountDetailReadonly",
                        new ViewDataDictionary()
                        {
                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                        Model = Model.order.CustomerDetails
                        })</td>
                    <td>@Html.Partial("_AccountDetailReadonly", new ViewDataDictionary()
                   {
                       TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                          Model = Model.order.DeliveryDetails
                        })</td>
                </tr>

            </table>

        *@

        <br /><br /> <br /><br />
    </div>


</div>