﻿@model Kawa.Models.ViewModels.PaymentFailedViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models

@{
    ViewBag.Title = "InComplete";
}

@Html.Partial("_PageTitle")


@Html.Partial("_ShopStages", (SiteViewModel)ViewBag.model)

<div class="container payment shopcontainer payforms">
    <div>

        <br /><br /><br />
        <b>Your payment was unsuccessful.</b>
        <ul>
            <li>@ViewBag.OrderNo</li>
            <li>@ViewBag.Error</li>
        </ul>
        <br /><br />


        @using (@Html.BeginForm("ChoosePayment", "Shop", new { id = Model.order.Code }))
        {

            <input type="submit" value="Click to try again" />


        }


        <br /><br />
        Please feel free to contact us at <a href="mailto:sales@meguiars.co.nz">sales@meguiars.co.nz</a>
        <br /><br />


        <br /><br /> <br /><br />


    </div>
</div>