﻿@model Kawa.Models.ViewModels.SiteViewModel

@{
    ViewBag.Title = "Shopping Cart";

}

@Html.Partial("_PageTitle")

@Html.Partial("_ShopStages")

<div class="container cart basket shopcontainer">
    <div>
        @Html.Partial("_Basket", Model.order)
    </div>
</div>

@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop")
    @Scripts.Render("~/bundles/jqueryval")
}

