﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models

@{
    ViewBag.Title = "Sorry - Payment Issue";
    var order = (Order)ViewBag.Order;
}

@Html.Partial("_PageTitle")

@Html.Partial("_ShopStages", (SiteViewModel)ViewBag.model)

<div class="container payment shopcontainer payforms">
    <div>
        <br /><br />

        <p>
            @Html.Raw(ViewBag.message)
        </p>
        <br /><br />
        <a class="formbutton paychoice" href="/Shop/ChoosePayment/@Model.order.Code">Try again?</a>
        <br /><br />
    </div>
</div>



@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}


@section Scripts {
   
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

   
    <script>
        var isAdminOrder = false;
    </script>

}
