﻿@model Kawa.Models.ViewModels.IPaymentViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models

@{
    ViewBag.Title = "Shopping Cart - Payment";
    var order = (Order)ViewBag.Order;
}

@Html.Partial("_PageTitle")

@Html.Partial("_ShopStages", (SiteViewModel)ViewBag.model)

<div class="container payment shopcontainer payforms">
    <div>
        <div class="payforms-header">
            <h3>@Model.instructionText</h3>
        </div>
        <div class="visible-xs-block">
            <div class="order-details-check">
                Items total: @order.BasketTotal.ToString("c") <br />
                Shipping: @order.FreightTotal.ToString("c") <br />
                <b>Total: @order.OrderTotal.ToString("c")</b><br />
                @if (order.CountryID.HasValue && order.CountryID == 1)
                {
                    @:(Includes GST @order.incGst.ToString("c"))
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                @Html.Partial(Model.viewName, Model)
            </div>
            <div class="col-sm-7 hidden-xs">
                <div class="order-details-check">
                    Items total: @order.BasketTotal.ToString("c") <br />
                    Shipping: @order.FreightTotal.ToString("c") <br />
                    <b>Total: @order.OrderTotal.ToString("c")</b><br />
                    @if (order.CountryID.HasValue && order.CountryID == 1)
                    {
                        @:(Includes GST @order.incGst.ToString("c"))
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container payment shopcontainer paywait">
    <div>
        @Model.processingText
        <div><img src="~/Content/images/ajax-loader.gif" alt="" /> &nbsp; Processing</div>
    </div>
</div>


@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}


@section Scripts {
   
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/payment")

    <script>
        var isAdminOrder = false;
    </script>

}
