﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models
@using Kawa.Models.Extensions
@using Kawa.Models.ViewModels

@{
    ViewBag.Title = "Related Products";

}

@Html.Partial("_PageTitle")

!<
@Html.Partial("_ShopStages", ((SiteViewModel)ViewBag.model))

<div class="container cart basket relatedpage">

    @{
        ProductSliderViewModel related = new ProductSliderViewModel();
        related.MainTag = new Tag() { name = "You might also like these products", ID = 0 };
        related.Products = Model.products;
    }
    @Html.Partial("_ItemSlider", related)


    <br /><br />
    <div class="col-xs-12 text-right">
        <a href="@ViewBag.GoTo" class="continue-shopping formbutton back">No thanks, Continue with checkout ></a>
    </div>
    <br /><br />




</div>

@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/favourites")
    <script>
        $(function () {
            $(".addtobasket").addClass("addtobasketalt");
            $(".addtobasket").removeClass("addtobasket");
        });

    </script>



}



