﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>View</h2>


<div class="row vcenter rowdivider">
    <div class="col-xs-12 col-sm-6"><img src="../../../Content/SiteResources/PAGE/2/section-a-image.png" alt="" /></div>
    <div class="col-xs-12 col-sm-6">
        <p>At almost every car show and automotive museum across the globe, you will find an abundance of Meguiar&rsquo;s products being proudly used to maintain and showcase the prized vehicles on display. Our obsession with providing everything necessary to deliver that &lsquo;show car perfect&rsquo; appearance, has made Meguiar&rsquo;s the number one choice of elite professional detailers, passionate enthusiasts and car-proud consumers the world over.</p>
    </div>
</div>
<div class="row vcenter rowdivider">
    <div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg"><img src="../../../Content/SiteResources/PAGE/2/section-b-image.png" alt="" /></div>
    <div class="col-xs-12 col-sm-6">
        <p>Throughout its 110-plus year history, the primary goal for Meguiar&rsquo;s has never changed; offer exceptional products for every vehicle surface. This includes paintwork, exterior plastics, glass, wheels, tyres and the many different interior finishes. Don&rsquo;t just take our word for it when we say we offer the world&rsquo;s best car care products to our &lsquo;passionate fans&rsquo;, go ask someone who uses Meguiar&rsquo;s and see what they think..</p>
    </div>
    <div class="hidden-xs col-sm-6"><img src="../../../Content/SiteResources/PAGE/2/section-b-image.png" alt="" /></div>
</div>
<div class="row vcenter rowdivider">
    <div class="col-xs-12 col-sm-6"><img src="../../../Content/SiteResources/PAGE/2/section-c-image.png" alt="" /></div>
    <div class="col-xs-12 col-sm-6">
        <p>Meguiar&rsquo;s advanced chemical technology is what sets our car care range apart from the many imitators. As partner to global powerhouse, 3M, Meguiar&rsquo;s has at its disposal the scientific and technical might of 3M&rsquo;s many thousands world-renowned researchers, plus state-of-the-art research facilities. This excellence through innovation, is key to Meguiar&rsquo;s maintaining its position as the world&rsquo;s most respected and market leading car care brand.</p>
    </div>
</div>
<div class="row vcenter">
    <div class="col-xs-12 text-center">
        <h2>MEGUIAR'S HERITAGE</h2>
    </div>
</div>
<div class="row vcenter rowdivider">
    <div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg"><img src="../../../Content/SiteResources/PAGE/2/section-d-image.png" alt="" /></div>
    <div class="col-xs-12 col-sm-6">
        <p>Founded by Frank Meguiar Snr in 1901, Meguiar&rsquo;s Inc started as a simple furniture polish manufacturer run out of the garage of Frank&rsquo;s Indiana home. Upon relocating to Southern California in 1913, Frank was inspired by California&rsquo;s emerging car culture &ndash; prompting him to focus on Meguiar&rsquo;s Inc&rsquo;s range of professional products. From there, Meguiar&rsquo;s has grown into one of the world&rsquo;s leading surface care specialists &ndash; polishing the world&rsquo;s planes, trains and automobiles ever since. Frank was succeeded by son, Malcolm Meguiar, followed by grandson Barry Meguiar &ndash; with Meguiar&rsquo;s Inc remaining a family-owned company until the mid 2000s, before ultimately amalgamating with 3M in 2008.</p>
    </div>
    <div class="col-xs-12 col-sm-6 hidden-xs"><img src="../../../Content/SiteResources/PAGE/2/section-d-image.png" alt="" /></div>
</div>
<div class="row vcenter">
    <div class="col-xs-12 text-center">
        <h2>MEGUIAR'S AUSTRALIA</h2>
    </div>
</div>
<div class="row vcenter rowdivider">
    <div class="col-xs-12 col-sm-6"><img src="../../../Content/SiteResources/PAGE/2/section-e-image-new.png" alt="" /></div>
    <div class="col-xs-12 col-sm-6">
        <p>Australian&rsquo;s were officially introduced to Meguiar&rsquo;s in 1990, when Bruce Morrison launched Meguiar&rsquo;s Australia. As sole owner and Managing Director, Morrison morphed the company into MotorActive in 2007, to better represent the company&rsquo;s expanding portfolio of premium automotive brands. Today, MotorActive remains 100% Australian owned and operated, and a key supplier (including Meguiar&rsquo;s) to some of Australia&rsquo;s biggest automotive retailers and one of the leading companies in the automotive aftermarket segment.</p>
    </div>
</div>
