﻿@model IEnumerable<Kawa.Models.FlagTrigger>

@{
    ViewBag.Title = "Triggers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Triggers for @ViewBag.Flag.Name</h2>

<p>
    @Html.ActionLink("Create New Trigger", "FlagTrigger", new { id="", FlagID=ViewBag.Flag.ID }) |
    @Html.ActionLink("Flag Details", "Flag", new { id = ViewBag.Flag.ID }) |
    @Html.ActionLink("Back to Flags List", "Index", new { id = "" })
</p>
<table class="table">
    <tr>
        <th colspan="3">Customer Details</th>
        <th colspan="7">Shipping Address</th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "FlagTrigger", new { id=item.ID }) |
            @Html.ActionLink("Delete", "FlagTriggerDelete", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish delete this trigger?');" })
        </td>
    </tr>
}

</table>
