﻿@model Kawa.Models.FlagAdminViewModel
@using Kawa.Models
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Flags";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <div class="message">@Html.Raw(ViewBag.Message)</div>
}


<p>
    @Html.ActionLink("Create New", "Flag", new { id="" })
</p>

<div class="searchflags">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal form-inline">

        <div class="form-group">
            <b>By Flag</b>
            @foreach (Flag.LabelOption label in Enum.GetValues(typeof(Flag.LabelOption)))
            {
               
                    <input type="checkbox" name="Flag.Labels" value="@label" @(Model.Flag.HasLabel(label) ? "checked" : "") /><label for="@label">@label</label>
              
            }
            <b>Customer Details</b>
            <br />
            @Html.EditorFor(model => model.Search.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
            @Html.EditorFor(model => model.Search.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Surname" } })
            @Html.EditorFor(model => model.Search.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            <br />
            <b>Shipping Address</b>
            <br />
            @Html.EditorFor(model => model.Search.Address1, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
            @Html.EditorFor(model => model.Search.Address2, new { htmlAttributes = new { @class = "form-control", placeholder = "Address2" } })
            @Html.EditorFor(model => model.Search.Address3, new { htmlAttributes = new { @class = "form-control", placeholder = "Suburb/City" } })
            @Html.EditorFor(model => model.Search.Address4, new { htmlAttributes = new { @class = "form-control", placeholder = "State" } })
            @Html.EditorFor(model => model.Search.Postcode, new { htmlAttributes = new { @class = "form-control", placeholder = "Postcode" } })
            @Html.DropDownListFor(m => m.Search.CountryID, ((List<Country>)ViewData["Countries"]).ToSelectList(f => f.Name, f => f.ID.ToString(), "Choose"), new { @class = "form-control countryid", placeholder = "Country" })
            <br/>
            <input type="submit" value="Search" class="btn btn-default" />
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>
    </div>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Flag.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag.Labels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag.isHidden)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Flags)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Labels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isHidden)
            </td>
            <td>
                @Html.ActionLink("Edit", "Flag", new { id = item.ID }) |
                @Html.ActionLink("Triggers", "FlagTriggers", new { id = item.ID }) |
                @Html.ActionLink("Delete", "FlagDelete", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish delete this flag?');" })
            </td>
        </tr>
    }

</table>

