﻿body{
    color:#000;
    background-color:#fff;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.collpase-switch
{
    cursor:pointer;
}
.modal-content
{
    background-color:#fff;
    
}
.modal-footer {
    border-top: 0px solid #000;
}
    #wrapper {
    margin-top: 50px;
}

.logo
{
    width:100px !important;
}

/* Common */

.online
{
    color:green;
}

.offline
{
    color:red;
}

.warning-msg
{
    color:red;
    font-weight:bold;
    padding:10px 0px;
}

/* Print Orders */

.orderprint h3 {
    font-size:15px;
    margin:10px 0px;
    color:#000;
}

@media print {
    .print-break {
        page-break-after: always;
        height:10px;

    }
    h2{
        font-size:20px;
        margin-top:10px;
    }
    h3{
        font-size:18px;
    }
    body{
        font-size:13px;
    }
}

.print-container
{
    padding:20px;
}

.print-container a
{
    font-size:12px;
}

.baskettablenametd
{
    padding:10px;
}

.orig-ship
{
    background-color:#CCFFCC;
    padding: 2px 0px;
}

.printorders-progress-box {
    position:fixed;
    top:20px;
    width:100%;
     z-index:10000;
}
    
.printorders-progress
{
    width:400px;
    margin:auto;
    text-align:center;
    font-size:30px;
    background-color:#ccc;
   
}

/* Shipping Rates */

.shipping-rate
{
    margin-bottom:5px;
}


/* Product Lists */

.changed {
    background-color:#eafff9 !important;
}

.selected {
    background-color:#feffca !important;
}

.productslist .form-control {
    width:70px;
}

.productslist .form-control.gtin:focus {
    width:150px;
}

.bulkupdate
{
    padding:10px;
    background-color:#f0efef;
    margin:10px;
}

.adminsearch
{
    margin:10px;
    padding:10px;
    background-color:#f0efef;
}

/* HUD */

.hud {
    display:none;
    margin:10px 0px;
}

.hudbox
{
    padding:30px;
    border:1px solid #ccc;
}

.hudbox.action
{
    background-color:#feffca;
}

.hudbox.success
{
    background-color:#CCFFCC;
}

.hudbox.fail
{
    background-color:#fedcdc;
}

.hudaction
{
    margin-right:15px;
    cursor:pointer;
    text-decoration:underline;
}

.action-console
{
    padding:10px;
    border:1px solid #ccc;
    margin:10px 0px;
}

.action-console textarea {
    margin-top:5px;
}

/* End HUD */

/* OrderController */

#orderMessage
{
    width:100%;
}

/* End OrderController */

/* Order Search */
.ordersearch .smalldim{
    max-width:150px;
}

.ordersearch .form-control
{
    margin-bottom:5px;
}


/* End Order Search */

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: relative;
    margin-top: 4px\9;
    margin-left: 0px;
}


.client-logo {
    float:right;
    max-width:70px;
    margin-left:40px;
    margin-top:6px;
    margin-bottom:6px;
    
}

.editor-label label
{
    float:right;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .editor-label label
    {
        float:left;
    }

    .client-logo {
        max-width:100px;
    }
}

.addedit input[type=text]{
    max-width:initial;
    width:100%;
}


.addedit .row
{
    margin-bottom:15px;
}

.managesection
{
    background-color:#f0efef;
    padding:10px;
    margin:20px 0px;
}

.managesection h3 {
    margin-top:0px;
}

.managesection input[type=text], textarea{
    max-width:initial;
    width:100%;
}


.managesection .item
{
    background-color:#f7f6f6;
    padding:10px;
    margin-bottom:10px;
}

/* Siteresources */

.siteresourcesinsert
{
    /*
    width:100%;
    max-width:initial;
        */
}


.siteresourcesinsert .item input[type=text], .siteresourcesinsert .item select
{
    width:100%;
    max-width:initial;
}

.siteresourcesinsert .item img {
    margin-top:10px;
}

.tag
{
    background-color: #EAEAEA;
    padding:10px;
    margin: 5px 10px 5px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.taglist{
    line-height:45px;
}

.message
{
    background-color: #CCFFCC;
    border: 1px solid #66FF99;
    color: #003300;
    padding:10px 20px;
    display:inline-block;
}

.display-label-read
{
    font-weight:bold;
}

.srimg
{
    max-height:150px;
}

.validation-summary-errors
{
    color:red;
}

.variants-table td
{
    padding:10px;
}

.variants-list
{
    background-color:#f7f6f6;
    padding:5px;
}

.variants-list > div {
    background-color:#fff;
    margin:5px;
    padding:5px;
}

.variants-list input {
    max-width:100px;
    margin:3px;
}

.hasDatepicker, .smalltxtinput
{
    width: 100px !important;
}

.qtytxtinput {
    width:50px;
}


.successtick
{
    display:none;
}

.featured-article
{
    background-color:#f0efef;
    background-color:#ccc;
    padding:10px;
}

.successtick
{
    width:25px !important;
}


.orderadmin label
{
    float:left;
}

.orderadmin .agentdata
{
    background-color:#f0efef;
    color:#808080;
    padding:20px;
    font-size:10px;
}

.orderadmin .agentdatabutton
{
    margin-top:20px;
}

.orderadmin .addnote
{
    background-color:#f0efef;
    padding:10px;
}

.orderadmin .notes
{
    background-color:#f0efef;
    padding:10px;
}

.adminmenu h3{
    font-size:14px;
    margin-top:10px;
    margin-bottom:5px;
}

.tokenrecieved
{
    display:none;
}

.variantsys {
    max-width:800px;
}

.variantsys .form-inline
{
    background-color:#f0efef;
    margin:5px 0px;
    padding:5px 0px;
}

.variantsys .purchase-data .col-sm-6
{
    min-height:40px;
}

span.action {
    cursor: pointer;
    text-decoration: underline;
}

.linkstub
{
    width:100%;
    background-color:#fad5d5;
    border:2px dashed red;
    text-align:center;
    padding:20px;
}


/* Typeahead */

.twitter-typeahead
{
    display:block !important;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    /*
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    */
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    /*font-size: 18px;*/
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.has-val
{
    /*background-color:#f0fef0 !important;*/
    border-right:5px solid #97ff97;
}

/* End Typeahead */

/* Change Order */

#AdminAdHocFreightTotal
{
    width:100px;
}

.item-editprice
{
    width:100px;
    display:none;
}

.item-editprice-btn
{
   font-size: 12px;
    margin-top:5px;
}

.flag
{
    width:50px;
    text-align:center;
    margin-bottom:2px;
}

.flag.orderpage {
    padding:3px !important;
    display:inline-block;
    margin-right:5px;
}

.flag a {
    color:#000;
    font-size:10px;
}

.flag.label-vip
{
    background-color:#d3a54c;
}

.flag.label-urgent_dispatch
{
    background-color:#fede15;
}

.flag.label-problem_customer
{
    background-color:#faa41a;
}

.flag.label-fraud
{
    background-color:#ed2024;
}

.flag.label-fraud a 
{
    color:#fff;
}

.flag.label-ok_to_send
{
    background-color:#6cbe45;
}

.flag.label-other
{
    background-color:#cca3cc;
}

.flag.label-regular_customer
{
    background-color:rgb(68, 177, 245);
}

.disclaimers label {
    margin-right:15px;
}

.repeated-form {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom:20px;
}

.potable tbody:nth-child(even) {
    background-color: #fbfbfb;
}

.product-multiselector-result {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.product-multiselector-result li a {
    font-size:13px;
    cursor:pointer;
}

.uploadform {
    padding:10px;
}

.hidden-tag {
    color:red;
}

.alert {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}

.alert-success {
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    background-repeat: repeat-x;
    border-color: #b2dba1;
}


.alert-info {
    background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #9acfea;
}

.alert-warning {
    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #f5e79e;
}

.alert-danger {
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dca7a7;
}
.alert-primary {
    background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #9acfea;
}
.progress {
    background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #286090 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
    background-image: linear-gradient(to bottom, #337ab7 0%, #286090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-success {
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#449d44));
    background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-info {
    background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5));
    background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-warning {
    background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
    background-image: -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#ec971f));
    background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-danger {
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
    background-image: -o-linear-gradient(top, #d9534f 0%, #c9302c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c9302c));
    background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}