﻿

.navbar-inverse {
    background-color: #009fc3;
    border-color: #009fc3;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color:#00b4d0
}

.navbar-inverse a {
   font-size:17px;
}


.naturopath-menu, .naturopath-menu.section-selected
{
    position:relative;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background:url(/Content/images/naturopath.png) no-repeat;
    background-position:14px 10px;
}

.naturopath-menu.section-selected
{
    background:url(/Content/images/naturopathblue.png) no-repeat;
    background-position:14px 10px;
    padding-bottom: 8px !important;
}


.naturopath-menu .jack{
    width:43px;
    height:38px;
    display: inline-block;
}

.naturopath-menu .txt{
    width:80px;
    line-height:15px;
    padding-top:5px;
    font-size:14px;
    margin-left:45px;
    margin-bottom:7px;
}

.naturopath-menu a, .naturopath-menu a:hover
{
    color:#fff;
    text-decoration:none;
    font-size:14px;
}

.navbar-inverse
{
    /* padding-top:7px; */
    /* padding-bottom:5px; */
}

.cart-menu
{
    position:relative;
    top:5px;
}

.cart-menu img
{
    position:relative;
    top:-5px;
}

.cart-menu div {
    /* color:#fff; */
    font-size:25px;
    float:right;
}

.cart-menu a {
    text-decoration:none;
}

.cart-menu-collapsed, .cart-menu-collapsed:focus, .cart-menu-collapsed:hover,
.search-menu-collapsed, .search-menu-collapsed:focus, .search-menu-collapsed:hover
{
    background-color:inherit !important;
    border:none !important;
    position:relative;
    top:0px;
}

.navbar-submenu
{
    text-align:center;
}

.social-menu {
    position:relative;
    top:0px;
}

.search-menu
{
    border-bottom:solid 1px #fff;
    margin-top:10px;
    /*margin-left:10px;*/
    margin-right: 15px;
    position:relative;
    padding-bottom:2px;
    top:3px;
    width:200px;
}

.search-menu input[type=text]
{
    background-color:#009fc3;
    color:#fff;
    border:none;
    font-size:18px;
    width:90%;
}

.search-menu input[type=image] {
    vertical-align:initial;
    position:absolute;
    right:0px;
}

.navbar-collapse-search {
    margin-right: -15px;
    margin-left: -15px;
}

.search-menu-collapsed, .cart-menu-collapsed{
    margin-right:5px;
}

.cart-menu-collapsed span {
    color:#fff;
    font-size:17px;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .menu-mid-collapsed-off {
        display:none !important;
    }
    .menu-mid-collapsed-on {
        display:block !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar-nav>li>a {
        padding-left: 5px;
        padding-right: 5px;
        font-size:15px;
    }
    .naturopath-menu .txt {
        font-size:13px;
        margin-left:50px;
    }
    .cart-menu-out .txt {
        margin-left:50px !important;
    }
}

/*
.cart-menu-out
{
    margin-right:25px;
    position:relative;
    top:10px;
    background:url(/Content/images/cart.png) no-repeat;
    background-position:0px 0px;
    padding-top:10px !important;
    padding-bottom: 8px !important;
}

.cart-menu-out.section-selected
{
    background:url(/Content/images/cartblue.png) no-repeat;
    background-position:0px 4px;
    padding-top:10px;
    padding-bottom: 8px !important;
}
*/

.cart-menu-out, .cart-menu-out.section-selected
{
    position:relative;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background:url(/Content/images/cart.png) no-repeat;
    background-position:14px 15px;
    margin-right:10px;
}

.cart-menu-out.section-selected {
    background: url(/Content/images/cartblue.png) no-repeat;
    background-position: 14px 15px;
    padding-bottom: 8px !important;
}

.cart-menu-out .txt{
    line-height:15px;
    padding-top:5px;
    font-size: 25px;
    margin-top: 8px;
    margin-left:35px;
    margin-bottom:14px;
}


.cart-menu-out .jack{
    width:38px;
    height:38px;
    display:inline-block;
}

.navbar-collapse-search input{
    width:100%;
    max-width:none;
    font-size:25px;
    color:#009fc3;
    padding:5px;
}

.navbar-header .logo
{
   
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover
{
    background-color: #fff;
    color:#009fc3;
    padding-bottom:20px;
    padding-top:20px;
}

.section-selected
{
    background-color: #fff !important;
    color:#009fc3 !important;
    padding-bottom:20px !important;
    padding-top:20px !important;
}

.mainoutmenu
{
    margin-bottom: -3px;
}

.navbar-right{
    /* padding-bottom:5px; */
    margin-bottom:-5px;
}

.navbar-toggle{
    padding-bottom:0px;
}

button.navbar-toggle{
    padding-bottom:8px;
}


@media (max-width: 480px) {
    .navbar-header .logo
    {
        margin-left:10px;
        width:40%;
        max-width:158px;
    }
}


@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.in.navbar-submenu ul
{
    background-color:#fff;
}

.navbar-submenu a, .navbar-submenu a:hover,
.dropdown-menu.accounts a, .dropdown-menu.accounts a:hover,
.loginbutton
{
    background-color:#009fc3 !important;
    color:#fff !important;
    border-radius:5px;
    margin:10px;
}

.forgotpass
{
    
}

.forgotpass a.forgotpasslink, .forgotpass a.forgotpasslink:hover
{
    background-color:#fff !important;
    color:#ccc !important;
    border-radius:0px !important;
    margin:0px !important;
}

.dropdown-menu
{
    top: 97%;
    left: -1px;
    padding: 0px;
}

.dropdown-menu a{
    border-left:15px solid #4c5c65;
    border-bottom:1px solid #dee4e6;
    font-size:14px;
    padding:10px !important;
}

.navbar-submenu a.navbar-fullcol, .navbar-submenu a.navbar-fullcol:hover
{
    border-radius:0px;
    margin:0px;
}

.navbar-submenu .speakimg
{
    margin-right:10px;
}




.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:visited, .navbar-inverse .navbar-toggle:focus {
    border: none;
    background-color: #009fc3;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #90dced;
}

.navbar-inverse .icon-bar {
    position:relative;
    top:5px;
}


/* Cat headers */

.sectionheader{
    background-color: #4c5c66;
    padding-bottom:10px;
}

.sectionheader h1 {
    color:#fff;
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .sectionheader h1 {
        font-size:30px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .sectionheader h1 {
        font-size:20px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .sectionheader h1 {
        font-size:17px;
    }
}

/* Products */



h4 {
    border-bottom:3px solid #ef4136;
    display: inline-block;
    font-weight:600;
    padding-bottom:3px;
    font-size: 20px;
    margin-top:15px;
}

.cats a{
    background-color:#fff;
    border-left:4px solid #fff;
    padding:5px 10px;
    margin:5px 10px 5px 0px;
    line-height:15px;
    white-space: nowrap;
    /* font-weight:600; */
    color:#333;
}

.cats
{
    margin-top:20px;
    margin-bottom:20px;
}

.catlist
{
    line-height:40px;
    margin-bottom:20px 0px;
}

.prodlist
{
    padding: 0px 5px;
}

.productbox
{
    margin-bottom:20px;
}

.prodimgbox, .prodnamebox {
    min-width:190px;
}

.prodimgbox
{
    /*
    height:180px;
    width:125px;
    overflow:hidden;
    text-align:center;
    margin-bottom:3px;
        */
    text-align:center;
    vertical-align:middle;
    background-color:#fff;
    height:190px;
    position:relative;
}

.prodnamebox{
    background-color:#fff;
    text-align:center;
     white-space: nowrap;   
     overflow:hidden;
     font-size:15px;
     padding-top:3px;
     padding-bottom:3px;
}

.prodnamebox a {
    color:#333;
}

.prodimgbox img
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width:180px;
    max-height:180px;
}



.productcontent{
    margin-top:15px;
}

.productheader
{
    background-color:#d5d5d5;
    /*
    background:url(/Content/images/ProductBackground.jpg) no-repeat top;
    
    background-size: 100% auto;
    */
    position:relative;
    padding-bottom: 36%;
    /*
    margin-left:-15px;
    margin-right:-15px;
        */
}

.productheader .backimg {
    width: 100%;
    position: absolute;
    /*
padding-bottom: 37.11340206%;
    */
}

div.productheader > div {
  position: absolute;
  top: 15px; bottom: 15px; left: 15px; right: 15px;
}

.productheaderinner
{
    position:relative;
    padding-bottom: 38%;
}

.productshopbox.desk {
    position:absolute;
    right:0px;
    min-width:300px;
    max-width:500px;
}

.productshopbox.mob {
    /*
    margin-left:-15px;
    margin-right:-15px;
        */
    position:relative;
    z-index:900;
}

.productshopbox
{
    background-color:#fff;
    padding:20px;
    padding-top:30px;
    
}

.productshopbox h1{
    margin-top:0px;
}

.productpadding
{
    padding:15px 30px;
}

.productoverview
{
    background-color:#fff
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .smallfix
    {
        padding:0px 30px;
    }
}


.productmaininfo
{
    background-color:#fff;
    /* padding:15px; */
}

.prodimghead
{   
    
    width:25%;
    max-width:270px;
    position:absolute;
    top:-15px;
    left:-15px;
}

.prodimghead.landscape
{   
    width:45%;
    max-width:500px;
}

.productshopbox select,
.productshopbox input[type=text] {
    /* margin-top:15px; */
}




.productshopbox input[type=submit] {
    
}

.productshopbox select{
    width:57%;
}

.productshopbox .addtocart{
    width:43%;
}


.productshopbox .outofstock{
   color:#ef4036;
   padding:5px 15px;
   font-size:20px;
   font-weight:600;
}

.productshopbox .notifyme{
   background-color:#4c5c66;
   padding:10px;
   text-align:center;
}

.productshopbox .notifyme a {
    color:#fff;
    text-decoration:none;
}

.productshopbox .banner{
    background-color:#ef4036;
    color:#fff;
    margin-left:-38px;
    position:relative;
    padding-left:10px;
}

.psb-arrow {
    background-color:#fff;
}

.psb-shad {
   position:absolute;
   bottom:-18px;
   left:0px;
}

.productshopbox input[type=text] {
    width:35%;
}

.productshopbox .findstore{
    width:65%;
    font-size:16px;
}


.productshopbox ::-webkit-input-placeholder, 
.article-subscribe ::-webkit-input-placeholder, 
.voucheradd ::-webkit-input-placeholder,
.navbar-collapse-search ::-webkit-input-placeholder
{ /* WebKit, Blink, Edge */
    color:    #000;
}
.productshopbox :-moz-placeholder, 
.article-subscribe :-moz-placeholder,
.voucheradd :-moz-placeholder, 
.navbar-collapse-search ::-webkit-input-placeholder 
{ /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
.productshopbox ::-moz-placeholder, 
.article-subscribe ::-moz-placeholder,
.voucheradd ::-moz-placeholder,  
.navbar-collapse-search ::-webkit-input-placeholder 
{ /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
.productshopbox :-ms-input-placeholder, 
.article-subscribe :-ms-input-placeholder,
.voucheradd :-ms-input-placeholder, 
.navbar-collapse-search ::-webkit-input-placeholder 
{ /* Internet Explorer 10-11 */
   color:    #000;
}

.productshopbox .saving
{
    text-align:right;
    margin-top:18px;
}

.share {
    border:1px solid #009fc3;
    border-radius:3px;
    padding:3px 5px;
}

.saving a img {
    position:relative;
    top:-2px;
}

.favourited
{
    border:1px solid red !important;
    color:red;
}

.productingred
{
    background-color:#fff;
    margin-left:0px;
    margin-right:0px;
    /*
    padding-left:15px;
    padding-right:15px;

    */
}

.productingred > div {
    /*
    padding-left:0px;
    padding-right:0px;
        */
}

.productshopbox .jack
{
    height:10px;
}

.psb-break
{
    display:none;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .productshopbox.desk h1{
        font-size: 25px;
    }
    .productshopbox.desk
    {
        padding-top:10px;
    }
    .productshopbox.desk .jack {
        height:10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   .productshopbox.desk h1{
        font-size: 25px;
    }
    .productshopbox.desk
    {
        padding-top:5px;
        font-size:12px;
    }
    .productshopbox.desk select,
    .productshopbox.desk input[type=text] {
        font-size:13px;
        padding:2px;
    }
    .productshopbox.desk input[type=button] {
        height:20px;
        font-size:13px;
    }
    .productshopbox.desk .jack {
        height:0px;
    }
    .productshopbox .saving {
        margin-top: 10px;
    }

    .productheaderinner {
        text-align: center;
    }

    .prodimghead {
        max-width: initial;
        position: relative;
        width:45%;
    }

    .prodimghead.landscape {
        max-width:500px;
        position: relative;
        width:80%;
    }

    .productheader {
        padding-bottom: 66%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .productshopbox .banner {
        margin-left:-20px;
        margin-right:-20px;
    }

    .psb-shad, .psb-arrow
    {
        display:none;
    }

    .psb-break
    {
        display:block;
    }

    .productcontent .container
    {
        padding-left:0px;
        padding-right:0px;
    }

    .productshopbox input[type=text], .productshopbox .findstore {
        font-size:15px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}


.ingredient {
    /*background-color:#edeeef;
    height:360px;*/
}

.ingredient > div {
    padding:15px 0px;
}

.ingredient h5 {
    font-weight:bold;
    margin-top:0px;
}

.ingredient img
{
    width:100%;
}

.productingred .alt{
    background-color:#f6f7f7
}

.productdatasheets
{
    background-color:#fff;
}

.productdatasheets a h4
{
    color:#333;
}


.productdata
{
    background-color:#fff;
    padding:0px 0px 0px 0px;
}

.productrelations
{
    background-color:#fff;
    margin-top:15px;
    margin-bottom:15px;
}

.productrelations .prodnamebox
{
    background-color:#fff;
}

.expandlink
{
    float:right;
}

.expandlink img
{
    position:relative;
    top:15px;
    width:20px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .collapseformobile.collapse {
        display: block!important;
    }
}

@media print
{    
    .collapseformobile.collapse {
        display: block!important;
    }
}



/* Articles */

.articles {

    background-color:#f47421;

}

.featured
{
    margin-top:20px;
}

.featured .row {
    /*
    margin-left:0px;
    margin-right:0px;
        */
}

.featured .row > div {
    /*
    padding-left:0px;
    padding-right:0px;
        */
}

.featured .row {
    /* color:pink */
}

.featured-article
{
    margin-bottom:15px;
    margin-top:15px;
    position:relative
}



.featured-article .caption {
    color:#fff;
    padding:10px;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .8);
    font-size:16px;
}

.featured-article img 
{
    width:100%;
    /*
    max-height:262px;
        */
}

.featured-article .date {
    font-size:10px;
    color:#d5d5d5;
}


.productscats .cattitle
{
    color:#fff;
    padding:10px;
    font-size:17px;
}

.productscats .category{
    background-color:#fff;
    padding:10px;
    margin-bottom:10px;
}

.article-subscribe {
    margin-top:20px;
    margin-bottom:20px;
}

.article-subscribe input[type=button] {
    border:solid 1px #4c5c66;
    background-color:#4c5c66;
    color:#fff;
    height:40px;
    font-size:17px;
}

.article-subscribe input[type=text] {
    max-width: none;
    margin-top:15px;
}

.article
{
    background-color:#fff;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:15px;
}

.pageheader img
{
    width:100%;
    margin-top:15px;
}

.articleblock
{
    padding:30px;
}

.articleblock .saving
{
    margin-top:20px;
}

.article .by
{
    font-size:12px;
    margin-top:5px;
    margin-bottom:10px;
}


/* About */

.about {

    background-color:#009fc3;

}

.aboutnav
{
    margin-top:15px;
    margin-bottom:15px;
}

.about-pre
{
    background-color:#009fc3;
}

.about-pre-bord
{
    border-color:#009fc3 !important;
}

.about-made
{
    background-color:#00ad4d;
}

.about-made-bord
{
    border-color:#00ad4d !important;
}

.about-family
{
    background-color:#0063a4;
}

.about-family-bord
{
    border-color:#0063a4 !important;
}

.about-money
{
    background-color:#f29c1a;
}

.about-money-bord
{
    border-color:#f29c1a !important;
}

.aboutnav > div > div > div
{
    padding:10px;
    height:80px;
}

.aboutnav > div > div > div a {
    color:#fff;
    font-size:20px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .aboutnav > div > div > div a {
        font-size:18px;
    }
    .aboutnav > div > div > div
    {
        height:60px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .aboutnav > div > div > div a {
        font-size:16px;
    }
    .aboutnav > div > div > div
    {
        height:40px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .aboutnav > div > div > div a {
        font-size:14px;
    }
    .aboutnav > div > div > div
    {
        height:30px;
    }
}

.aboutsub
{
    
    border:10px solid #fff;
}

.container .selected
{
    padding: 0px;
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    margin: 0px 15px;
}

.naturopath
{
    background-color:#87c547;
}

.naturopathcontent
{
    margin-top:15px;
    margin-bottom:55px;
}

.bubblebox {
    position:relative;
    margin:auto;
    margin-left:0%;
    max-width:500px;
}

.bubblebox2 {
    width:70%;
    
}

.bubblebox2 > div {
    padding-top:2px !important;
}

.bubblebox > div {
    position:relative;
    z-index:1000;
    padding:10px 80px 10px 40px;
}

.bubble {
    position:absolute;
    top:0px;
    width:100%;
    height: auto;
}

.bubble.lg {
    height:530px;
}

.bubblebox .phone {
    font-size:30px;
}

.naturopathcontent .operator {
    height:90px;
    margin-top:10px;
}

.naturopathcontent .operatortxt {
    padding:22px 10px 15px 5px;
    font-size:16px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .bubble.sm {
        height:180px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .bubble.sm {
        height:180px;
    }
    .bubble.lg {
        height:620px;
    }
    .naturopath-form
    {
        margin-bottom:70px;
    }
    .bubblebox2 {
        margin-bottom:40px;
    }

    .bubblebox, .naturopath-form
    {
        background-color:#fff;
        margin:auto;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .bubble.sm {
        height:150px;
    }

    .bubblebox2 .bubble.sm {
        height:190px;
        margin-top:10px;
    }

    

    .naturopath-form > div {
       padding: 20px 30px 30px 30px !important;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .bubble.sm {
        height:200px;
    }
    .bubblebox .phone {
        font-size:25px;
    }
    .bubblebox h3 {
        font-size:20px;
    }
    .bubble.lg {
        height:700px;
    }
    .bubblebox2 {
        width:100%;
        
    }

    .bubblebox2 > div {
        padding-right:30px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .bubble.sm {
        height:200px;
    }
    .bubblebox .phone {
        font-size:25px;
    }
    .bubble.lg {
        height:720px;
    }
}

.naturopath-form > div {
    position:relative;
    z-index:1000;
    padding: 20px 30px 30px 90px;
}

.naturopath-form input[type=text], .naturopath-form textarea
{
    width:100%;
    max-width:none;
}

.naturopath-form .row {
    margin-bottom:10px;
}

.naturopath-form input[type=submit] {
    float:right;
    background-color:#009fc3;
    color:#fff;
    font-size:20px;
    padding:5px 20px;
    border-radius:5px;
    border:none;

}

.field-validation-error
{
    color:red;
}




/* Stores */

#map-ui
{
    /* width:300px;
     margin-left:20px;
     margin-top:5px;
         */
}

#map-canvas
{
    padding-bottom: 50%;
    margin:20px 0px;
}

#map-stores
{
    padding-bottom: 100%;
    margin:20px 0px;
    position:relative;
    
}

#map-stores .inner {
    padding:5px;
    overflow-y:scroll;
    position:absolute;
    height:100%;
}

.liststore
{
    cursor:pointer;
}

#stores
{
}

#storesbox
{
    /* height:400px; */
}

.sectionheader.stores{
    background-color:#4c5c66;
}

.greybutton {
    border: solid 1px #4c5c66;
    background-color: #4c5c66;
    color: #fff;
    height: 40px;
    font-size: 17px;
    padding:5px 15px;
}

.bigtextfield{
    border: solid 1px #4c5c66;
    height: 40px;
    max-width: none;
    font-size: 17px;
    padding: 5px;
    margin-right:-5px;
}


/* search */

.searchresults
{
    min-height:200px;
    background-color:#fff;
    margin:20px 0px;
    padding:15px 20px;
}

.searchbox {
    border-bottom:solid 1px #009fc3;
    width:320px;
    position:relative;
}

.searchbox input[type=text]
{
    color:#009fc3;
    border:none;
    font-size:18px;
    width:90%;
}

.searchbox input[type=image] {
    vertical-align:initial;
    position:absolute;
    right:0px;
        top: -5px;
}

.searchnotfoound
{
    border-bottom:none;
}

/* shop */

.shopcontainer
{
    margin-bottom:40px;
}

.sectionheader.cart {
    background-color: #4c5c66;
}

.sectionbanner.cart {
    background-color: #009fc3;
    color:#fff;
}

.sectionbanner.cart > div > div > div {
    padding-top:10px;
    padding-bottom:10px;
}

.sectionbanner.cart > div > div > div > img {
    margin-right:13px;
}

.sectionbanner .small
{
    margin-left:37px;
    margin-top:-2px;
}

.sectionbanner .small.runt {
   margin-left:45px;
}

.sectionbanner .rightborder {
    border-right:solid 1px #fff;
}

.shopstages
{
    padding:20px 0px;
}


.shopstages .stages
{
    float:right;
}

.shopstages .stage {
    float:left;
    padding:0px 10px;
}

.shopstages .chkstgdone
{
    border-bottom:2px solid #ef4136;
}


.cart
{
    background-color:#e6e7e8;
    padding-right: 0;
    padding-left: 0px;
}

.baskettable
{
    width:100%
}

.baskettable th {
    padding:10px 20px;
    font-size:17px;
}

.baskettable tbody tr {
     background-color:#fff;
}

.baskettable .productoptions, .baskettable tbody img
{
    float: left;
    
}

.baskettable .productoptions
{
    height:150px;
}

.baskettable tbody img 
{
    height:150px;
    margin:20px;
}

.baskettable .productoptions
{
    margin-top:70px;
}

.baskettable .productoptions a.remove {
    border: 1px solid #ed1c24;
    color:#ed1c24;
    border-radius: 3px;
    padding: 3px 5px;
    margin-top:10px;
}

.baskettable .productoptions .jack{
    height:5px;
}

.baskettable .productoptions .productname
{
     font-size:17px;
     font-weight:bold;
}

.baskettable .price, .baskettable .total, .baskettable .quantity
{
     padding-left:20px;
     font-size:20px;
     font-weight:bold;
}


.voucheradd
{
    padding:10px 20px;
    /*float:left;*/
}

.voucheradd input{
    max-width: none;
    font-size: 17px;
    padding: 5px;
}

.voucheradd .voucher{
   
}


.totals
{
    margin-top:30px;
    /*float:right;*/
    text-align:right;
    padding:10px 20px;
}

.dialog
{
    display:none;
}

.total
{
    font-size:35px;
    margin-top:20px;
}

.totals .jack
{
    height:10px;

}

.ccoptions{
    padding:10px 20px;
    font-weight:bold;
    font-size:15px;
}

.formbutton
{
    background-color:#009fc3;
    color:#fff;
    border:solid 1px #009fc3;
    border-radius:3px;
    padding:5px 50px;
    font-size:20px;
}

.formbutton-red, .formbutton-red:hover {
    background-color:#ed1c24;
    border:solid 1px #ed1c24;
    color:#fff;
}

.accountdetails
{
    background-color:#fff;
}

.accountdetail
{
    margin-bottom:10px;
}


.accountdetail input, .accountdetail select, .accountdetail textarea
{
    max-width:initial;
}

.accountdetails .formheader
{
    background-color:#e6e7e8;
    margin:0px -15px;
    padding:0px 15px;
    height:75px;
}


.accountdetails .formheader h4 {
   border-bottom:none;
}

.editor-field {
    margin-top:10px;
}

.accountdetailread .editor-label {
    margin-top:5px;
    white-space:nowrap
}

.accountdetailread .editor-label label
{
   
}

.shopbtns
{
    background-color:#e6e7e8;
    padding:15px;
    margin-bottom:30px;
}

.formbutton {
    margin-bottom:10px;
    margin-top:10px;
    text-align:center;
}

#backbtn
{
    background-color:#a7a9ab;
    border-color:#a7a9ab;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .formbutton {
        width:100%;
        max-width:initial;
    }

    .accountdetails .formheader.delivery {
        height:100px;
    }

    .baskettable .productoptions {
        margin-left: 20px;
    }

    .shop-account-guest {
        height: 150px !important;
        padding-top:50px !important;
    }
}

.paywait
{
    display:none;
    padding:50px !important;
    font-size:25px;
    height:400px;
}

.paywait > div
{
    text-align:center;
    margin-top:30px;
}

/* Accounts */

.accountbox
{
    width:325px;
    padding:0px 15px;
}

.dropdown-menu.accounts li.others,
.loginbutton {
    width:100%;
    text-align:center;
    margin-bottom:10px;
}

.others
{
    padding:0px 20px 0px 3px;
}

.otherslogged
{
    padding:0px 20px 10px 3px;
}

.otherslogged a {
    width:130px;
    text-align:center;
    margin-bottom:10px;
}

.dropdown-menu.accounts a
{
    border:none;
}

.dropdown-menu.accounts li {
    
}

.loginbutton {
    margin:0px;
    padding:10px;
}

.loginregpage, .accountpage, .tradepage
{
    background-color:#fff;
    padding:15px;
    margin-top:15px;
    margin-bottom:15px;
}


/* Accounts Sidebar */
#sidebar {
  height: 100%;
  padding-right: 0;
  
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

.account-toggle{
    background-color:#d5d5d5;
    margin-top:20px;

}

.account-toggle .icon-bar{
    background-color: #FFF;

}

.sidebar-collapse
{
    margin:-15px -15px;
}

@media (min-width: 768px) {
    .sidebar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    #sidebar {
      
    }
}

#sidebar a{
    background-color:#e6e7e8;
    color:#000;
    display: block;
}

#sidebar li.active a{
    background-color:#fff;
    color:#000;
}

.shop-account-page-logged
{
    text-align:center;
    padding:30px;
}

.shop-account-guest
{
    background-color:#e6e7e8;
    height:370px;
    padding:150px 10px;
    text-align:center;
}


.modal-back
{
    background-color:#fff;
}

.favourite-teaser
{
    text-align:center;
    height:50px;
    padding-top:25px;
}

.payment
{
    padding:0px 40px 40px 40px;
    background-color:#fff;
}

.payment-new-card-form
{
   max-width:390px;
}

.payment-new-card-form input
{
    max-width:none;
}

.payment-inject
{
    padding:30px;
    background-color:#e2efe1;
    color:#333;
    margin:20px 0px;
}



.billboarditem img
{
    margin:auto;
}

.homeslot
{
    margin-bottom:15px;
}


.ui-autocomplete
{
    z-index:10000 !important;
}

.ui-autocomplete a
{
    font-family: 'Open Sans', sans-serif;
}

.ui-autocomplete .header
{
    background-color:#e5f5f9;
    
}

.ui-autocomplete .header a
{
    font-weight:600;
    margin-top:20px;
    margin-bottom:20px;
}

.carddatecomp
{
    width:55px;
}

.cardyrcomp
{
    width:55px;
}

.cardcvncomp
{
    width:70px;
}

.accountpage .editor-label
{
    width:150px;
}

.pagewithside-header
{
    background-color:#e5f5f9;
    font-size:25px;
    margin: -15px -45px 10px -15px;
    padding: 10px 15px;
}

.pagewithside-subheader
{
    background-color:#f2fafc;
    font-size:15px;
    margin: -15px -45px 10px -15px;
    padding: 10px 15px;
}

.favourites a{
    font-size:25px;
}

.favourites a.share {
    font-size:15px;
    margin-left:10px;
}

.favourites a.delete {
    font-size:15px;
    color:red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 3px 5px;
}

.account-manage-form
{
    padding:0px 20px;
}

.fullregisterlogo
{
    float:right;
    width:100px;
    margin-right:20px;
}

.fullregisterlogolarge
{
    text-align:center;
    padding:10px;
}

.fullregisterlogolarge img
{
    width:200px;
}

.fullregister-teaser
{

}

.spanbutton
{
    cursor:pointer;
}

.spanbutton.blue
{
    color:#009fc3;
}

.spanbutton img {
    width:100px;
    margin-left:10px;
}

.tradearea 
{
    background-color:#fff;
    margin: 20px 0px;
}

.tradearea.login {
    text-align:center;
    padding:20px;
}

.tradearea.login h3{
    color:#ef4036;
}

.tradearea.login .logform
{
    width:500px;
    margin:auto;
    margin-top:30px;
}

.tradearea.login .trade-pass {
    border:1px solid #000;
    font-size:17px;
    margin-right:-5px;
    padding:10px
}

.tradearea.login .trade-sub
{
    background-color:#000;
    border:1px solid #000;
    color:#fff;
    font-size:17px;
    padding:10px
}

.tradearea.login ul {
    width:300px;
    margin:auto;
}

.tradepage .banner{
    background-color:#009fc3;
    text-align:center;
    padding:30px;
    margin: -15px -15px 15px -15px;
}

.tradepage .banner img{
    width:80%;
}

a.tradelogout-btn , a.tradelogout-btn:hover
{
    float:right;
    color:#fff;
    border:1px solid #fff;
    border-radius:3px;
    margin-top:30px;
    padding:5px;
}

.pricesheet
{
    margin:10px;
}

.pricesheet img
{
    width:30px;
    margin:0px 10px 0px 0px;
}

.trade-products
{
   padding:0px;
   margin-top:-15px;
   margin-bottom:20px;
}

.trade-product {
    background-color:#e6e7e8;
    padding:10px 15px;
    border-bottom:1px solid #f2f2f2;
    border-left:1px solid #f2f2f2;
}

.trade-product.active
{
    background-color:#fff;
}

.trade-product a {
    color:#000;
}

.pagewithside-block
{
    margin: 15px 15px 30px 15px; 
}

.pagewithside-item
{
    display:inline-block;
    text-align:center;
}

.productfactsheets .pagewithside-header{
    font-size:15px;
    font-weight:bold;
}

.tinymce-body-override
{
    background-color:#fff;
    padding-top:0px;
}

.trade-page
{
    margin-top:-10px;
}

.aboutblock
{
    padding:30px;
}

@media only screen and (max-width:768px) {

    .aboutblock img
    {
        width:100% !important;
        height:auto !important;
    }
}


.watchvidback
{
    background-color:#4c5c66;
    margin: 0px;
}

.watchvidtext
{
    text-align:left;
    margin-top:12%;
    padding-left:5%;
}

.watchvid
{
   padding: 0px;
   margin-bottom:-5px;
}

.watchvidback h1{
    font-size:45px;
    color:#fff;
    font-weight:normal;
}

.footerbox .exception
{
    font-size:11px;
    color:#abb4ba;
}


.sharing-pos
{
    display:inline-block;
    position:relative;
    top:3px;
}




.socialslot
{
    position:relative;
    overflow:hidden;
    height:268px;
}

.socialslot .posttext
{
    position:absolute;
    left:15px;
    right:15px;
    bottom:40px;
    height:45px;
    padding:3px 10px;
    overflow:hidden;
    color:#fff;
}

.socialslot .socialsite 
{
    position:absolute;
    left:15px;
    right:15px;
    bottom:0px;
    height:40px;
    padding:8px 10px;
    color:#fff;
    border-top:1px solid #fff;
}

.socialslot .socialsite img
{
    width:7px;
    position:relative;
    bottom:-3px;
    margin-right:5px;
}

.socialslot .socialsite .instimg
{
    width:15px;
}

.socialslot .gradient 
{
    position:absolute;
    left:15px;
    right:15px;
    bottom:0px;
    height:100px;
    background: none; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /*Standard*/
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #fff;
    color: #009fc3;
}

/* Fix ingredient grid issue */
.productingred .col-sm-4 {
    min-height: 400px;
}


.relatedarticleimg
{
    width:100%;
    margin-bottom:10px;
}
