﻿
.menubasket, .menubasket a {
    color: #2F2F2F;
}

.shadowbox {
    position: relative;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 22px;
    background: url(/Content/images/PRODUCT_PAGE_03.png);
    opacity: 0.3;
}

/* Bootstrap overrides */
.navbar-toggle {
    background-color: #fff;
    z-index: 100001;
}

    .navbar-toggle .icon-bar {
        background-color: #333333;
        height: 5px !important;
    }

.navbar-nav > li > a {
    display: inline-block;
    padding: 5px 15px !important;
}

.navbar-nav > li > b {
    padding: 5px 15px !important;
    width: 100%;
}

.navbar-nav > li > a:hover {
    background-color: #000;
}

.navbar-nav {
    float: right !important;
}

/* Fix for modal issues on IOS browsers, body beneath scrolls */

@media only screen and (max-device-width:768px) {
    .menubasket, .menubasket a {
        color: #2F2F2F;
        font-size: 1.2rem;
    }

    #slide-nav .navbar-toggle {
        margin-top: 14px !important;
    }

    .menubasket {
        padding-left: 0px !important;
    }

        .menubasket .basketcount {
            position: absolute;
            top: 22px;
        }

    .navbar-simple {
        background-color: transparent !important;
        padding-top: 0px !important;
    }

    .navbar-header {
        padding-top: 10px !important;
        background-color: #000;
        height: 120px;
    }

    .logo {
        width: 130px !important;
        margin-bottom: -10px !important;
        margin-left: 0px !important;
    }

    body.modal-open {
        overflow: hidden;
        position: fixed;
    }
}

body .viewport-lg {
    position: absolute;
}


/* Menu */

.navbar-simple {
    /*
    position:fixed;
    z-index:10000;
        */
    padding-top: 10px;
    background-color: #000;
}

    .navbar-simple .box {
        position: relative;
    }

.logobox {
    position: absolute;
    width: 255px;
    top: 0px;
    left: 25px;
    bottom: 0px;
    z-index: 100001
}

.logo {
    width: 100%;
    margin-bottom: -60px;
    margin-left: -50px;
}

@media only screen and (max-width : 920px) {
    .logo {
        margin-left: 0px;
        max-width: 110px;
    }
}

.shopbox {
    top: 0;
    right: 0px;
    bottom: 0;
}

.indicatorrow {
    height: 50px;
}

    .indicatorrow > div {
        float: right;
        position: relative;
        height: 34px;
        padding: 6px;
    }


.accountmenu-dropdown {
    background-color: #2F2F2F;
    margin-left: -22px;
}

    .accountmenu-dropdown li {
        padding: 4px 12px 4px 12px;
    }

.myaccount {
    background-color: #2F2F2F;
    padding: 4px 22px 4px 22px !important;
    color: #fff;
    height: 32px;
}

    .myaccount .nav a {
        color: #fff;
        font-weight: 600;
        padding: 2px !important;
    }

        .myaccount .nav a:hover {
            color: #FEDC00;
            background-color: transparent;
        }

.myaccountmenu {
    display: none;
}

.cart-img {
}

.accountsidemenu {
    background-color: #2f2f2f;
    padding: 12px;
    margin-right: 15px;
    min-height: 900px;
}

@media only screen and (max-width : 920px) {
    .accountsidemenu {
        min-height: 100px;
    }
    .searchblock {
        width: 100%;
        max-width: 1440px;
    }
}
    .searchrow .searchauto {
        margin-left: 12px;
        margin-right: 12px;
    }

    .indicatorrow .redtxt, .indicatorrow-xs .redtxt {
        font-weight: bold;
    }

    .menu-special {
        margin: 0px !important;
    }

        .menu-special > div {
            display: inline-block;
            font-size: 11px;
        }

            .menu-special > div > div {
                float: right;
                line-height: 13px;
                text-align: left;
            }

        .menu-special .bannertxt {
            font-weight: bold;
            font-size: 14px;
        }

        .menu-special img {
            padding: 5px 5px;
        }

        .menu-special .cond {
            font-size: 10px;
        }

    .shipping-banner-strip {
        text-align: center;
        color: #333333;
        padding: 5px;
        display: none;
    }

    /* end shipping banner */

    .indicatorrow .account {
        font-size: 12px;
    }

    .account-img {
        width: 16px;
    }

    .searchrow {
        position: relative;
        margin-top: -4px;
        margin-right: 30px;
    }

    .searchsuggestiontitle {
        font-weight: bold;
    }

    .searchsuggestion {
        color: #616060;
        cursor: pointer;
    }

    .searchrow .mag {
        position: absolute;
        background-color: transparent;
        padding: 4px;
        width: 21px;
        height: 21px;
        border: 0px;
        background-image: url(/Content/images/magnify-white.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0px;
        background-size: cover;
        left: 20px;
        top: 5px;
    }

.searchmag {
    background-color: transparent;
    padding: 4px;
    width: 21px;
    height: 21px;
    border: 0px;
    background-image: url(/Content/images/magnify-white.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    background-size: cover;
    margin-top: 55px;
}

    .searchrow .searchres {
        font-size: 12px;
    }

    .searchrow .cancel {
        position: absolute;
        right: 30px;
        background-color: #e2e2e2;
        color: #000;
        padding: 5px 8px;
        display: none;
        cursor: pointer;
        width: 27px;
        height: 27px;
        text-align: center;
        top: 3px;
    }



    .searchrow .searchauto {
        width: 100%;
        min-width: 340px;
        background-color: #616060;
        color: #fff;
        border: solid 1px #2F2F2F;
        border-radius: 4px;
        font-size: 17px;
        text-align: center;
    }

    .searchrow .viewwmore {
        float: right;
        cursor: pointer;
        font-weight: bold;
    }

    .searchrow .searchauto.running {
        border-bottom: none;
    }

    .searchresult {
        margin-left: 12px;
        margin-bottom: 12px;
        margin-right: 12px;
    }

    .searchres h4 {
        border-bottom: solid 1px black;
    }

    .searchrow .results {
        background-color: #f8f9ee;
        border: 2px solid #2F2F2F;
        position: relative;
        left: -50px;
        position: relative;
        z-index: 110000;
    }

        .searchrow .results .borderfix {
            border-top: 2px solid #737d36;
            width: 65px;
        }

        .searchrow .results .tags {
            padding: 15px;
            text-align: left;
        }

        .searchrow .results .products {
            background-color: #fff;
            padding: 15px;
        }

            .searchrow .results .products h4 {
                color: #000;
                font-weight: bold;
                margin-top: 0px;
            }

            .searchrow .results .products .row > div {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

            .searchrow .results .products .imgbox {
                width: 100px;
                height: 100px;
                text-align: center;
            }

    .trending-searches {
        display: none;
    }

        .trending-searches > div {
            padding: 3px;
            /*font-size:18px;*/
        }

    /* Slide Out Menu */

    .navbar-submenu {
        background-color: #000;
        /*position: fixed;*/
        z-index: 10000;
        /*padding:10px;*/
        padding-top: 30px;
        width: 100%;
        /*margin-top:10px;*/
        display: none;
        margin-left: 0px;
        margin-right: 0px
    }

        .navbar-submenu.catmenu ul li {
            display: block !important;
            border-bottom: 1px solid #fff;
        }

        .navbar-submenu.catmenu .level0 ul li, .navbar-submenu.catmenu .level1 ul li {
            border-bottom: 0px;
        }

        .navbar-submenu.catmenu ul li a {
            padding: 10px;
            line-height: 35px;
            font-weight: bold;
        }

        .navbar-submenu .togglelink {
            float: right;
            padding: 0px 20px !important;
        }

        .navbar-submenu .level0 {
            background-color: #000;
        }

        .navbar-submenu .level1 {
            background-color: #2F2F2F;
        }

            .navbar-submenu .level0 a, .navbar-submenu .level1 a {
                font-weight: normal !important;
            }


        .navbar-submenu a[aria-expanded=true] img.up {
            display: none;
        }

        .navbar-submenu a img.side {
            display: none;
            position: relative;
            top: 10px;
        }

        .navbar-submenu a[aria-expanded=true] img.side {
            display: block;
        }
