﻿.list-product a {
    font-weight: bold;
}
.products {
    background-color: #fff;
}
.product .row {
    margin-right: 5px;
    margin-left: 5px;
}
.newspage .row{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 16px;
}
.searchres .row {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
}
.prodlist {
    padding-top: 15px;
    padding-bottom: 15px;
}
.prod-blurb
{
}
.prodxtraimgs {
    margin: 25px;
    text-align: center;
}

    .prodxtraimgs img {
        margin-bottom: 20px;
        height: 82px;
    }

.categories-box {
    margin-bottom: -2px;
}

.categories-horis-list {
    background-color: #000;
    height: 39px;
}

.catmenu, .topcats {
    height: 40px;
}

.inverse .catmenu {
    height: auto !important;
    background-color: #000;
    color: white;
}

.catmenu ul {
    margin: 0px 0;
    padding: 0;
    list-style-type: none;
    font-weight: 600;
    margin-left:5px;
}

    .catmenu ul li {
        display: inline;
        text-indent: 6px;
    }
.nav .catmenu ul li {
    text-indent: 0px;
}
    .catmenu ul li a {
            text-decoration: none;
            padding: 10px 0px;
            color: #fff;
        }

            .catmenu ul li a:hover {
                color: #000; /* background-color: #369; */
            }

.catmenu .topcats ul li a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-transform: capitalize;
}

    .catmenu .topcats ul li a:hover, .catmenu .topcats ul li a:active {
        background-color: #FEDC00;
        color: #000;
    }
@media only screen and (max-width : 920px) {
    .catmenu .topcats ul li a:hover, .catmenu .topcats ul li a:active {
        background-color: #FEDC00;
        color: #fff;
    }
    .navbar-submenu.catmenu ul li a, .navbar-submenu.catmenu ul li a:hover {
        color: #fff;
    }
}
    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .catmenu .topcats ul li a {
            padding: 5px 6px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .catmenu .topcats ul li a {
            padding: 10px 2px;
            font-size: 12px;
        }

        .subcatlists ul li a {
            padding: 5px 30px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {
        .catmenu .topcats ul {
            display: none
        }

        .subcatlists ul li a {
            padding: 5px 20px;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        .catmenu .topcats ul li a {
            padding: 5px 5px;
        }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
    }

    .topcats {
        padding-top: 10px;
    }

    .catmenu .subcatmenu {
        position: relative;
        text-align: left;
        margin-top: -6px;
    }

        .catmenu .subcatmenu > div {
            background-color: #FEDC00;
            position: relative;
            top: -1px;
            left: 0px;
            right: 0px;
            /*height: 40px;*/
            z-index: 10000;
            text-align: center;
            display: none;
            padding-top: 20px;
        }

    .subcatmenu ul li a {
        padding: 10px 13px;
    }

    .subcatlists {
        text-align: left;
        padding: 20px;
        color: #000;
    }

        .subcatlists .catsul ul {
            height: 250px; /*your fixed height*/
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4; /*3 in those rules is just placeholder -- can be anything*/
        }

        .subcatlists .brandul ul {
            height: 250px; /*your fixed height*/
            -webkit-column-count: 5;
            -moz-column-count: 5;
            column-count: 5; /*3 in those rules is just placeholder -- can be anything*/
        }

        .subcatlists ul li {
            display: inline-block; /*necessary*/
        }

            .subcatlists ul li a {
                padding: 5px 5px;
                display: block;
                width: 150px;
            }

    .vmcats {
        font-size: 13px;
    }

    /* End Menu */

    /* Category Page */

    .categories.subcatlists .catsul ul {
        height: auto !important;
    }

    .categories.subcatlists .brandul ul {
        height: auto !important;
    }

    @media only screen and (max-width : 480px) {
        .subcatlists .catsul ul {
            -webkit-column-count: 2 !important;
            -moz-column-count: 2 !important;
            column-count: 2 !important; /*3 in those rules is just placeholder -- can be anything*/
        }
    }

    @media only screen and (max-width : 768px) {
        .subcatlists .catsul ul {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
        }
    }

    .list-product, .full-product {
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }

    .full-product {
        width: 100%;
    }

    .imgbox {
        height: 213px;
        position: relative;
    }

    .full-product .imgbox {
        width: 420px;
        height: 420px;
        margin: auto;
    }

    .imgbox .img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 200px;
        max-width: 150px;
    }

    .full-product .imgbox .img {
        max-height: 300px;
        max-width: 300px;
    }

    .imgbox .product-img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .list-product .name {
        height: 30px;
    }

    .prodsectcats {
        background-color: #e7eef9;
        padding: 10px;
    }

        .prodsectcats h6 {
            padding-bottom: 3px;
            border-bottom: solid 1px #000;
            margin-top: 0px;
            font-size: 14px;
        }

            .prodsectcats h6 img {
                float: right;
                width: 20px;
            }

        .prodsectcats a {
            color: #000;
        }

    @media (max-width: 992px) {
        .product .vol .savecol {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .carousel-control {
            background-image: none !important;
            width: 48px !important;
        }

        .prodsectcats {
            margin-top: 10px;
        }

            .prodsectcats h6 {
                border-bottom: solid 0px #000;
                padding-bottom: 0px;
                margin-bottom: 0px;
                cursor: pointer;
            }

            .prodsectcats > div {
                border-top: solid 1px #000;
                padding-top: 5px;
            }

        .product .vol .savecol {
            display: none;
        }
    }

    @media only screen and (max-width : 480px) {
        .list-product .imgbox {
            width: 150px;
        }

        .list-product {
        }

            .list-product .imgbox .img {
                max-height: 200px;
                max-width: 150px;
            }

            .list-product .add input[type=image] {
                width: 140px;
            }

            .list-product .add img {
                width: 140px;
            }

        .carousel-control img {
            width: 30px;
        }

        .brandlogos img {
            max-width: 140px;
        }

        .vol h4 {
            font-size: 13px !important;
        }

        .vol th {
            font-size: 9px;
        }

        .vol .savecol {
            display: none;
        }
        /*
    .outofstock
    {
        font-size:15px !important;
        padding:5px 5px !important;
    }

    
    .product .outofstock {
        font-size: 16px !important;
        padding: 10px 42px !important;
    }

    .product .outofstock.notifyme {
        padding: 10px 6px !important;
    }
    */

        .prod-blurb img {
            max-width: 100%;
            height: auto;
        }

        .prod-blurb iframe {
            max-width: 100%;
            height: auto;
        }
    }

    .price {
        text-align: left;
    }


        .price .rrp {
            color: #333333;
        }

    .pricer .specialprice {
        color: red;
    }

    .price .discount {
        color: #333333;
        margin-right: 10px;
        float: right;
    }

    .no-discount-jim {
        height: 20px;
    }

    .price .realprice, .searchrow .results .realprice {
        font-size: 1.7rem;
        margin: auto;
        text-align: center;
        margin: auto;
        text-align: center;
    }

    .price .qty {
        float: right;
        position: relative;
        top: 5px;
    }

    .price.tag {
        padding: 10px 20px 0px 20px;
    }

    .list-product .name, .searchrow .results .name {
        height: 60px;
        overflow: hidden;
    }


    .list-product .add.tag {
        margin-top: 10px;
    }



    .list-product .add {
        height: 80px;
        text-align: center;
    }


    .buybox input[type=submit] {
        padding: 5px 20px;
        border-collapse: collapse;
        border: 0;
        width: 100%;
    }

    .list-product .vol {
        padding: 5px;
        text-align: left;
        font-size: 11px;
    }

        .list-product .vol h4 {
            font-size: 15px;
            margin: 0px 0px 5px 0px;
        }
    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .catmenu .topcats ul li a {
            padding: 5px 6px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .catmenu .topcats ul li a {
            padding: 10px 2px;
            font-size: 12px;
        }

        .subcatlists ul li a {
            padding: 5px 30px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {
        .catmenu .topcats ul {
            display: none
        }

        .subcatlists ul li a {
            padding: 5px 20px;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        .catmenu .topcats ul li a {
            padding: 5px 5px;
        }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
    }



    .products .tag-header {
        color: #000;
        padding-right: 20px;
        padding-left: 20px;
    }


    /* Product Page */

.product {
    padding-bottom: 10px;
    padding-top: 15px;
    background-color: #fff;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

        .product h1 {
            color: #333333;
            font-weight: bold;
            font-size: 30px;
            margin-top: 0px;
        }
.add-to-cart-group .addwishlist {
    background-color: #000 !important;

}

.addtowishlist {
    background-color: #000 !important;
    color: #fff !important;
    font-size: 80% !important;
    background: linear-gradient(to bottom,#000 0%,#000 100%) !important;
}
.product .addtowishlist {
    font-size: 100% !important;
}
.addtowishlistbutton {
    cursor: pointer;
    max-width: 170px;
    width: 100%;
}



button.addtowishlistbutton {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6cb39+0,fb8d2a+100 */
    /* Old browsers */
    background: #000;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-collapse: collapse;
    padding: 5px;
    margin-top: 3px;
    color: #000;
}
.addtocartbutton {
    cursor: pointer;
    max-width: 170px;
    width: 100%;
}



button.addtocartbutton {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6cb39+0,fb8d2a+100 */
    /* Old browsers */
    background: #FEDC00;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-collapse: collapse;
    padding: 5px;
    margin-top: 3px;
    color: #000;
}

        button.addtocartbutton.outofstock {
            background: none;
            background-color: red;
            color: #fff;
        }

   

    .vol button.addtocartbutton {
        font-size: 12px;
    }

    .product .vol {
        padding: 15px;
        text-align: left;
        font-size: 15px;
    }

        .product .vol h4 {
            font-size: 17px;
            margin: 0px 0px 5px 0px;
        }

    .product .buybox {
        margin: 0px 10px;
        max-width: 190px;
        margin: auto;
    }

    .product .nobulk .buybox {
        margin: 0px 15px;
    }

    .product .buybox input[type=image] {
        margin: 0px;
        position: relative;
        top: 8px;
    }

    .product .buybox select {
        margin: 10px;
        position: relative;
    }

    .product .buybox button.addtocartbutton {
        font-size: 16px;
    }

        .product .buybox button.addtocartbutton.notifyme {
            font-size: 13px;
        }


    .product .buybox .favbox {
        margin-top: 15px;
    }



    /*
.product .buybox .favbox .fav.oos {
    padding: 5px 25px;
    right: -5px;
    white-space:nowrap;
}
*/



.bread-crumb {
    color: #2F2F2F;
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.4rem;
}
    .bread-crumb a {
        color: #2F2F2F;
    }

        .bread-crumb.visible-xs {
            margin-bottom: 10px;
        }

    .product .price {
        width: 190px;
        margin: auto;
    }

    .product .nobulk .price {
        margin: 0px 15px;
    }

    .product .price.visible-xs {
        text-align: center;
    }

    .product .price .realprice {
        font-size: 35px;
    }

    .product .purchbox {
        text-align: center;
    }

        .product .purchbox .price {
            text-align: center;
        }

    .modal-dialog.product-gallery {
        max-width: 900px;
        width: auto !important;
    }


    .shipinfo {
        display: inline-block;
    }

    .visible-xs .shipinfo {
        display: block;
        margin-top: 10px;
    }


    .shipinfo.shipinfo2level {
        top: -65px;
    }

    .shiptime img, .nationalonly img {
        margin-right: 10px;
        width: 33px;
    }

    .shiptime, .nationalonly, .productoptions .specialtag {
        padding: 5px 10px !important;
        color: #fff;
        font-size: 13px !important;
    }

        .productoptions .specialtag img {
            margin-right: 5px;
        }

    .shiptime {
        background-color: #176787;
        margin-bottom: 10px;
    }

    .nationalonly {
        background-color: #691a1a;
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

        .shipinfo {
            float: none;
            top: 0px !important;
            margin-bottom: 10px;
            display: block;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 768px) {

        .product .buybox .favbox {
            float: none;
        }

        .product h1 {
            font-size: 18px;
        }

        .product .buybox {
            text-align: center;
            margin: auto;
            max-width: none;
            display: inline-block;
        }



            .product .buybox .addtocartbutton.stocknotice {
                line-height: 14px;
            }

        /*
    .product .buybox .preorder, .product .buybox .notifyme {
        font-size: 16px;
        width:auto;
        max-width:none;
        padding: 10px 42px;
    }


    

    
    .product .buybox .notifyme {
        padding: 10px 6px;
    }

    .buybox .notifyme {
        margin-left: 10px !important;
    }
        */
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .shipinfo {
            float: none;
            top: 0px !important;
        }


        .product .price {
            margin: initial;
        }

        .product .purchbox {
            text-align: left;
        }

        .product .buybox {
            margin: initial;
        }

        .product .outofstockbox {
            margin: initial;
        }

        /*
    .buybox .notifyme {
        margin-left: 3px;
    }
    */
    }

    /* End Product Page */


    .product-img {
        position: relative;
        text-align: center;
    }

        .product-img .specialtags {
            position: absolute;
            z-index: 1000;
            margin: 0px;
            right: 0px;
            left: 0px;
        }

        .product-img .specialtag, .productoptions .specialtag {
            padding: 6px 2px;
            color: #fff;
            font-size: 10px;
            height: 28px;
        }

            .product-img .specialtag img {
                margin-right: 5px;
                position: relative;
                top: -1px;
                height: 13px;
            }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        .product-img .specialtag {
            font-size: 7px;
        }

            .product-img .specialtag img {
                margin-right: 2px;
            }

        .product-img .specialtag {
            height: 23px;
        }
    }

    .carousel-inner .list-product {
        margin-top: 8px;
    }