﻿body {
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

a {
    color: #000;
    text-decoration: none;
}
    a:hover {
        color: #2F2F2F;
        text-decoration: none;
    }



h1, h2, h3 {
    font-weight: 800;
}

/*
    grey: #2F2F2F;
    yellow: #FEDC00
*/
/* input bluer border focus */


/* Anguluar cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    text-align:center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  text-align:center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   text-align:center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   text-align:center;
}

.validation-summary-errors
{
    color:red;
}

.field-validation-error
{
    color:red;
}
#pac-input-billing::placeholder, #pac-input-delivery::placeholder {
    text-align: left;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 110px;
}




.dialog {
    display: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color: #000;
}


body {
    overflow-x: scroll !important;
    overflow-y: scroll !important;
}

/* End Fix */


/* START CUSTOM  */

.takeover {
    padding-left:0px;
    padding-right:0px;
}



/* shipping-banner */



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .shopstages .stages {
        /* margin-top: 10px; */
    }
    .shopbox .menu-special, .accountsep.for-menu-special
    {
        display:none;
    }
    .shipping-banner-strip
    {
        display:block;
    }
}
.homevid {
    width: 100%;
}


@media only screen and (max-width : 768px) {
    .searchblock {
        width: 100%;
        max-width: 940px;
        z-index: 9999;
    }

    .indicatorrow 
    {
        height:10px;
    }

}

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .shopbox {
            left: 230px;
            font-size: 11px;
        }

        .logobox {
            width: 230px;
        }

        .indicatorrow > div {
            margin-bottom: 12px;
        }

        .account .registerLink, .account span {
            display: none;
        }

        .accountsep {
            visibility: hidden;
        }

        .searchrow {
            margin-top: 4px;
            margin-right: 12px;
            margin-left: 12px;
        }
    }

    /* Small Devices, Devices */
    @media only screen and (max-width : 767px) {
        .slider-header, .tag-header {
            font-size: 1.6rem !important;
        }

        .videoslots iframe {
            
            padding: 22px !important;
        }
            .shopbox {
            left: 0px;
            right: 0px;
        }

        .body-content {
            margin-top: 147px !important;
        }

        .logobox img {
            width: 180px;
        }

        .logobox {
            width: 50%;
            margin-left: 20px;
            padding: 0px 10px;
            text-align: center;
        }

        .searchrow {
            position: absolute;
            left: 5px;
            right: 5px;
            bottom: 0px;
            height: 30px;
            padding-left: 0px;
        }

        .takeover .searchrow {
            position: relative;
            left: 0px;
            right: 0px;
            bottom: 0px;
            height: 0px;
            padding-left: 0px;
        }

        .takeover .searchauto {
            text-align: left;
            padding: 3px;
        }

        .takeover input.mag {
            width: 30px !important;
            height: 30px !important;
        }

        .takeover .suggestion {
            border-bottom: 1px solid #e2e2e2;
            color: #616060;
        }

        .takeover .trending-searches .suggestion {
            border-bottom: 1px solid #e2e2e2;
            color: #337ab7;
        }

        .takeover input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            text-align: left;
        }

        .takeover input[type=text]::-moz-placeholder { /* Firefox 19+ */
            text-align: left;
        }

        .takeover input[type=text]:-ms-input-placeholder { /* IE 10+ */
            text-align: left;
        }

        .takeover input[type=text]:-moz-placeholder { /* Firefox 18- */
            text-align: left;
        }

        .navbar-simple .box {
            height: 95px;
        }

        .searchrow .results {
            left: 0px;
            margin-right: 0px;
            margin-left: 0px;
        }

            .searchrow .results .borderfix {
                border-top: 0px solid #737d36;
            }

        .logobox img {
            height: 40px;
            width: auto;
            position: relative;
            top: 5px;
            left: -20px;
        }

        .body-content {
            margin-top: 157px;
        }

            .body-content.slide-active {
                margin-top: 102px;
            }

        .shipping-banner-strip {
            margin-top: 55px !important;
        }
    }

    .swiperslide {
        min-width: 420px;
        min-height: 420px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    /* Small Devices, Devices */
    @media only screen and (max-width : 500px) {
        .swiperslide {
            min-width: 220px;
            min-height: 320px;
        }



        .full-product .imgbox {
            height: auto;
            width: 100% !important;
        }

        .logobox img {
            /* width: 100px; */
            position: relative;
            top: -10px;
            left: 20px;
            height: 60px;
        }

        .searchrow .searchauto {
            font-size: 15px;
        }

        .searchrow .mag {
            width: 16px !important;
            height: 16px !important;
        }

        .mob-cart {
            position: relative;
            top: 3px;
        }

        .indicatorrow-xs {
            width: 30% !important;
            margin-right: 50px;
        }

        .shopstages .buttons {
            line-height: 2.5;
        }

        .baskettable th {
            padding: 10px 5px !important;
        }

        .subtotal {
            font-size: 15px !important;
        }

        .totals {
            padding: 10px 10px !important;
        }

        .total {
            font-size: 25px !important;
        }

        .shipping-banner-strip > div > div {
            font-size: 9px !important;
        }

        .shipping-banner-strip .bannertxt {
            font-size: 10px !important;
        }

        .shipping-banner-strip .cond {
            font-size: 9px !important;
        }
    }

    /* Very Small Devices, Devices */
    @media only screen and (max-width : 390px) {
        .shipping-banner-strip img {
            width: 25px;
            padding: 0px;
            margin-right: 5px;
            margin-top: 13px;
        }

        .shipping-banner-strip > div {
            margin-left: 3px;
        }
    }

    /* Very very Small Devices, Devices */
    @media only screen and (max-width : 350px) {
        .shipping-banner-strip img {
            display: none;
        }

        .shipping-banner-strip > div {
            margin-left: 3px;
        }
    }


    .indicatorrow-xs {
        width: 50%;
        position: absolute;
        right: 0px;
        text-align: center;
        margin-right: 40px;
        top: 10px;
        height: 50px;
    }

        .indicatorrow-xs .items-sum {
            position: relative;
            top: -3px;
            width: 80px;
        }

            .indicatorrow-xs .items-sum > div {
                white-space: nowrap;
            }

            .indicatorrow-xs .items-sum img {
                float: left;
                margin-right: 5px;
                position: relative;
                top: 3px;
            }

        .indicatorrow-xs hr {
            margin-top: 5px;
            margin-bottom: 10px;
        }



    .block {
        background-color: #f7f7f7;
        padding: 0px 0px 10px 0px;
    }

        .block h3 {
            color: #616060;
            background-color: #e7e9e8;
            padding: 10px 10px;
            font-size: 17px;
        }



    /* Billboards */

    .slidebox {
        /* margin-bottom:20px; */
    }

    .cycle-slideshow div {
        width: 100%;
    }

    .cycle-slideshow img {
        max-height: 100%;
        max-width: 100%;
    }

    .cycle-slideshow-controls {
        position: relative;
        display: none;
    }

        .cycle-slideshow-controls a {
        }

        .cycle-slideshow-controls img {
            max-width: 50px;
            position: absolute;
            z-index: 1000;
        }

    .billboarditem {
        display: none;
        margin-bottom: 15px;
    }

        .billboarditem:first-child {
            display: block;
        }

        .billboarditem img {
            width: 100%;
        }


    #prev img {
        left: 0px;
    }

    #next img {
        right: 0px;
    }

    .billboardarrow img {
        background-color: rgba(255, 255, 255, 0.3);
    }

    /* End Billboards */

    /* Product Sliders */

    .multi-item-carousel {
        padding: 0px 0px;
    }

    .multi-item-carousel {
        background-color: #fff;
        padding-bottom: 30px;
    }

        .multi-item-carousel .data {
            display: none;
        }

        .multi-item-carousel a.mainsection {
            color: #000;
        }

    .carousel-control {
        background-image: none !important;
        width: 36px !important;
    }

        .carousel-control img {
            margin-top: 70px;
            width: 36px;
        }

    .carousel-inner {
    }


    .slider-subtag {
    }

        .slider-subtag .dropdown {
        }

    /* Add to cart */

    .imgbox img {
        max-width: 100%;
    }

    .outofstockbox {
        display: inline-block;
    }

    .preorder {
        color: #fff;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .buybox .preorder, .buybox .notifyme {
        display: inline-block;
    }

    /*
.buybox .notifyme {
    position: relative;
    top: 8px;
    margin-left: 10px;
}
    */

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {



        .price.tag {
            padding: 0;
        }

        .price .qty {
            margin-left: 20px;
        }

        .outofstock {
            width: 151px;
        }
    }



    /* Example wrapper */
    .wrap {
        position: relative;
        margin: 3em 0;
    }

    /* Frame */
    .frame {
        height: 35px;
        line-height: 35px;
        overflow: hidden;
        background-color: #000;
    }

        .frame ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            font-size: 15px;
        }

            .frame ul li {
                float: left;
                width: 130px;
                height: 100%;
                margin: 0 1px 0 0;
                padding: 0;
                background: #000;
                text-align: center;
                cursor: pointer;
                border-right: 1px solid #fff;
            }

    .slider-subtag .dropdown {
        padding: 1px;
    }

    .slider-subtag .btn {
        line-height: 1.35;
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 768px) {
        .frame ul li {
            width: 100px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .frame ul li {
            width: 100px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .frame ul li a {
            font-size: 13px;
        }

        .frame ul li {
            width: 97px;
        }
    }




    .frame a {
        color: #fff;
    }

    .slider-subtag {
        background-color: #000;
    }

    .frame li.sel {
        color: #000;
        background-color: #fff;
        text-decoration: none;
    }

        .frame li.sel:hover {
            color: #000;
            background-color: #fff;
        }

        .frame li.sel a {
            color: #000;
        }

        .frame li.sel:hover a {
            color: #000;
            text-decoration: underline;
        }

    /* Scrollbar */
    .scrollbar {
        margin: 0 0 1px 0;
        height: 2px;
        background: #000;
        line-height: 0;
    }

        .scrollbar .handle {
            width: 100px;
            height: 100%;
            background: #77c3ea;
            cursor: pointer;
        }

            .scrollbar .handle .mousearea {
                position: absolute;
                top: -9px;
                left: 0;
                width: 100%;
                height: 20px;
            }

    .slider-controls {
        position: relative;
    }

        .slider-controls > div {
            background-color: #000;
            width: 25px;
            position: relative;
            height: 35px;
            line-height: 25px;
            cursor: pointer;
            background-color: #000;
        }

        .slider-controls .prev {
            position: absolute;
            background-image: url(/Content/images/arrow-large-left.png);
            background-size: 15px 25px;
            background-position: 5px 5px;
            background-repeat: no-repeat;
        }

        .slider-controls .next {
            position: absolute;
            right: 0px;
            text-align: right;
            background-image: url(/Content/images/arrow-large.png);
            background-size: 15px 25px;
            background-position: 5px 5px;
            background-repeat: no-repeat;
        }


    /* End Sliders */

    /* Category */
    .slider-header, .tag-header {
        background-color: #2F2F2F;
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0px;
    }

    .slider-header-yellow {
        background-color: #FEDC00;
        color: #000;
    }

    .tag-header > span {
        font-size: 14px;
    }

    /* Category End */


    /* Common Product*/

    .yellowbutton {
        padding: 10px 20px 10px 20px;
        color: #000;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        background-color: #ffe7a8;
        background: -moz-linear-gradient(top, #ffe7a8 0%, #ffbe00 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe7a8), color-stop(100%,#ffbe00));
        background: -webkit-linear-gradient(top, #ffe7a8 0%,#ffbe00 100%);
        background: -o-linear-gradient(top, #ffe7a8 0%,#ffbe00 100%);
        background: -ms-linear-gradient(top, #ffe7a8 0%,#ffbe00 100%);
        background: linear-gradient(to bottom, #ffe7a8 0%,#ffbe00 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe7a8', endColorstr='#ffbe00',GradientType=0 );
    }

        .yellowbutton.addtocart {
            /*
    background-image:url(/Content/images/dve-menu_09.png);
    background-image:url(/Content/images/dve-menu_09.png), linear-gradient(#ffe7a8, #ffbe00);
    background-repeat:no-repeat;
    background-position: right;
    */
        }


    .adhoctagpopup {
        display: none;
        padding: 15px;
        border: 3px solid #fff;
        width: 200px;
        background-color: #fff;
        z-index: 10000;
        cursor: pointer;
    }

        .adhoctagpopup h3 {
            margin-top: 0px;
            font-size: 16px;
            white-space: nowrap;
        }

    .modaladhoctag .modal-content {
        padding: 20px;
    }

        .modaladhoctag .modal-content h3 {
            padding: 0px;
        }


    /* End Common Product */


    /* Common Forms */

    .formbutton {
        background-color: #FEDC00;
        background: linear-gradient(to bottom,#FEDC00 0%,#FEDC00 100%);
        padding-left: 40px;
        padding-right: 40px;
        max-width: 370px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;
        font-weight: bold;
    }

    .formbuttonforced {
        color: #fff !important;
        padding: 5px 50px !important;
        font-size: 15px !important;
        border: 0px !important;
        background: none !important;
        background-color: #737d36 !important;
    }

    .formbuttonred {
        background-color: #eb232b !important;
    }

    a.formbutton:hover {
        color: #2F2F2F;
        text-decoration: none;
    }

    /* End Forms */


    /* WishList */



.favourited {
    color: #FEDC00 !important;
}


    /* Home */

    .home-blocks {
        margin-top: 30px;
    }

        .home-blocks img {
            width: 100%;
        }

        .home-blocks img {
        }

    .blurb {
        text-align: center;
        line-height: 25px;
        padding-bottom: 20px;
        color: #fff;
    }

        .blurb h3 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 30px;
        }

        .blurb h4 {
            font-weight: bold;
            font-size: 17px;
        }

    .brandlogos > div > div {
        text-align: center;
        height: 100px;
    }

        .brandlogos > div > div img {
            max-height: 100px;
        }

    .brandlogos h3 {
        margin-bottom: 30px;
    }

    /* End Home */

    /* Footer */

    footer {
        margin-top: 10px;
        background-color: #000;
        color: #fff;
        padding: 3%;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .footerbox {
        position: relative;
    }

        .footerbox h2 {
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;
            font-size: 14px;
        }

        .footerbox .follow img {
            padding: 10px 10px;
        }

        .footerbox .payment {
            margin-top: 30px;
        }

            .footerbox .payment > div {
                border-top: 1px solid #fff;
                padding-top: 30px;
            }

        .footerbox .top {
            float: right;
            margin-right: 30px;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

    footer a, footer a:hover {
        color: #fff;
    }

    .footerlinks .col-sm-4 {
        padding-bottom: 10px;
    }

    .footright {
        text-align: right;
    }

    .aussi-made-sign {
        max-width: 100%;
    }

    .footer-cards img {
        width: 60px;
    }

    .tradelogin-link {
        border: 1px solid #fff;
        width: 110px;
        text-align: center;
        padding: 5px;
    }

        .tradelogin-link img {
            position: relative;
            top: -2px;
            margin-right: 3px;
        }

    .subscribe {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .subscribe-email {
        background-color: #4c5c66;
        border: 1px solid #fff;
        margin-right: -5px;
    }

    .subscribe-button {
        color: #4c5c66;
        background-color: #fff;
        border: 1px solid #fff;
    }

    .rightsection-footer > div > div {
        text-align: center;
    }

    .rightsection-footer .madein {
        width: 140px;
    }

    .ewaypic img {
        max-width: 320px;
        width: 100%;
    }

    /* End Footer */



    /* Links */

    .linkstub {
        width: 90%;
        background-color: #fad5d5;
        border: 2px dashed red;
        text-align: center;
        padding: 20px;
    }

    iframe {
        border-collapse: collapse;
        border: none;
        max-width: 100%;
    }

    /* End Links */

    /* Shop */

    .shopstages {
        padding: 20px;
        color: #fff;
    }

        .shopstages a {
            color: #fff;
            font-weight: 600;
        }

        .shopstages .formbutton {
            color: #000 !important;
        }

        .shopstages .buttons {
            display: inline-block;
            position: relative;
        }

        .shopstages .stages {
            float: right;
            position: relative;
            top: 15px;
        }

        .shopstages .stage {
            float: left;
            padding: 0px 10px;
        }

        .shopstages .chkstgdone {
            color: #eb232b;
        }

        .shopstages .continue-shopping, .shopstages .clearcart {
            font-size: 13px;
            margin-right: 5px;
        }

        .shopstages .cc-billing-details {
            display: inline-block;
            background-color: #FDD102;
            padding: 3px;
            font-size: 10px;
            max-width: 460px;
            text-align: center;
            margin-left: 5px;
        }

    @media only screen and (min-width : 768px) {

        .accountdetails-stages .shopstages {
            margin-top: 10px;
        }

        .accountdetails-stages .buttons.messsageon {
        }
    }

    @media only screen and (max-width : 768px) {

        .shopstages .cc-billing-details {
            margin-top: 10px;
        }
    }

    .cart {
    }

    .baskettable {
        width: 100%;
        font-weight: 800;
    }


        .baskettable th {
            padding: 10px 4px;
            font-size: 15px;
            background-color: #FEDC00;
            color: #000;
        }

        .baskettable td {
            padding-right: 4px;
        }
        .baskettable .basketprice {
            font-size: 18px;
        }
        .baskettable .spacer {
            padding: 30px;
        }
@media only screen and (max-width : 768px) {
    .baskettable .spacer {
        padding: 0px;
    }
}




    .baskettable tbody tr {
    }

    /*
.baskettable .productoptions, .baskettable tbody img
{
    float: left;
    
}
    */

    .baskettable .proddetbox {
    }

    .baskettable .proddet {
        float: left;
        margin-top: 15px;
        margin-left: 15px;
        height: 150px;
    }

    .baskettable .prodimgbox {
        width: 150px;
        height: 150px;
        position: relative;
    }

        .baskettable .prodimgbox img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 100px;
            max-height: 150px;
        }

    .baskettable .productoptions {
        /*height:150px;*/
        margin-left: 15px;
        position: relative;
        max-width: 650px;
    }

    .tinymce-body-override {
        background-color: #fff;
        padding-top: 0px;
    }

    .item-remove {
        font-size: 12px;
        margin-top: 14px;
        position: absolute;
    }

    .baskettable .productoptions .jack {
        height: 5px;
    }

    .baskettable .productoptions .productname {
        font-size: 17px;
        font-weight: bold;
    }

    .baskettable .price, .baskettable .total, .baskettable .quantity, .baskettable .daystoshipcol {
        padding-left: 0px;
        padding-right: 12px;
        font-size: 20px;
        font-weight: bold;
    }

        .baskettable .quantity .message {
            font-size: 12px;
            max-width: 200px;
        }

        .justadded .message, .baskettable .quantity .message {
            color: red;
        }

    .justadded img {
        max-width: 100%;
    }
.justadded .productname a {
    color: #FEDC00;
}

.justadded .volsuggest, .baskettable .quantity .volsuggest {
    background-color: #e3edd9;
    color: #458500;
    border: 1px solid #458500;
    margin-top: 10px;
    font-size: 13px;
    padding: 5px 15px;
    max-width: 150px;
    font-weight: normal;
}

    .baskettable .daystoshipcol-header {
        font-size: 11px;
    }

    .belowbasketmsg {
        padding: 10px 130px 10px 40px;
        font-weight: bold;
        text-align: right;
        font-size: 18px;
    }

    .shopcontainer > div {
        background-color: #e7e9e8;
    }

    .cart .posttable {
        padding: 0px 20px;
    }

    .ccoptions {
        padding: 10px 0px;
        font-weight: bold;
        font-size: 15px;
    }

        .ccoptions img {
            margin-top: 10px;
        }

    .cart hr {
        border-color: #000;
    }

    .shipping > div, .voucherdisplay > div {
        margin: 8px 0px;
    }

    .totals {
        padding: 10px 20px;
        font-size: 25px;
    }

    .subtotals {
        padding: 10px 20px;
        font-size: 18px;
    }

    .total {
        font-size: 35px;
        font-weight: 600;
    }

    .totals .jack {
        height: 10px;
    }

    .subtotal {
        font-size: 25px;
        font-weight: 800;
    }

    .totals .shipping .row > div:first-child {
        font-size: 14px;
    }


    .clearcart {
        text-align: center;
    }

    .voucheradd {
        padding: 10px 20px;
        /*float:left;*/
    }

        .voucheradd input[type=text] {
            max-width: none;
            font-size: 17px;
            padding: 5px;
        }

    .bigtextfield {
        border: solid 1px #4c5c66;
        height: 38px;
        max-width: none;
        font-size: 17px;
        padding: 5px;
        margin-right: -5px;
    }

    .voucheradd .bigtextfield {
        position: relative;
        top: -1px;
        width: 275px;
    }

    .shipping .shipping-dropdown {
        width: 100%;
    }

    .shipping .shop-postcode {
        width: 40%;
        display: inline-block;
    }

    .shipping .shop-postcode-set {
        width: 40%;
        padding: 6px 3px !important;
        font-size: 12px;
    }

    .statewarning {
        color: red;
        font-weight: bold;
    }

    .shippingoptionbox {
        font-size: 13px;
        padding: 6px;
    }

    .total_col_first {
        width: 70%;
    }

    .total_col_second {
        width: 30%;
    }

    @media only screen and (max-width : 992px) {
        .total_col_first {
            width: 40%;
        }

        .total_col_second {
            width: 60%;
        }
    }

    @media only screen and (max-width : 580px) {
        .total_col_first {
            width: 30%;
        }

        .total_col_second {
            width: 70%;
        }
    }


    .shippingoptionbox label {
        font-weight: normal;
    }

        .shippingoptionbox label span {
            font-size: 10px;
        }

    .shippingoptionbox.sel {
        background-color: #e3edd9;
        color: #000;
        border: solid 1px #458500;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .shippingoptionbox td {
        vertical-align: top;
        padding: 5px;
    }

    #promotiondialogshow {
        display: none;
    }

    #CustomerDetails_Address4_Options {
        width: 100%;
    }

    .leaveauthmessage {
        font-size: 11px;
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        .modalmessage .formbutton {
            width: 100%;
            max-width: initial;
            font-size: 18px;
            padding: 5px 10px;
            margin-top: 20px;
        }

        .accountdetails .formheader.delivery {
            height: 100px;
        }

        .shop-account-guest {
            height: 150px !important;
            padding-top: 20px !important;
            padding-bottom: 150px;
        }

        .baskettable .productoptions {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .voucheradd .bigtextfield {
            width: 100%;
        }

        .formheader.delivery {
            margin-top: 20px;
        }

        .details .delivery .jackif {
            height: 35px;
        }

        .details .fillDelivery {
            position: relative;
            top: 30px;
        }

        .details .delivery .filldelivery {
            position: relative;
            top: 30px;
        }

        .requiredtxt {
            float: none !important;
            position: relative !important;
            color: #000 !important;
            top: 50px !important;
        }

        .shopbtns > div {
            height: 130px !important;
        }

        .shopbtns .continuebtn {
            margin-bottom: 15px;
        }

        .payforms-header h3 {
            font-size: 16px;
        }

        .belowbasketmsg {
            text-align: left;
            padding: 10px 40px 10px 40px;
        }

        .shipping .shop-postcode-set {
            width: 55%;
            font-size: 10px;
        }
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .baskettable .productoptions {
            margin-left: 20px;
            height: auto;
        }

        .baskettable .proddet {
            float: none;
        }

        .baskettable .item-remove {
            position: relative;
        }
    }


    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .fav {
            position: relative;
            right: 0px;
        }
    }

    .accountdetails > div {
        padding: 0px 15px 15px 15px;
    }

    .editor-field {
        margin-top: 10px;
    }

    .jsaccount .accountbox {
        position: relative;
    }

    .jsaccount h3, .details h3, .payforms-header h3 {
        background-color: #2F2F2F;
        margin-top: 5px;
        padding: 10px;
        color: #fff;
        position: absolute;
        top: -5px;
        left: -15px;
        right: -15px;
        height: 45px;
    }

    .blueband h3 {
        padding: 10px;
        color: #FEDC00;
        text-align: center;
        text-transform: uppercase;
    }

    .details h3 {
        left: 0px;
        right: 0px;
    }

    .jsaccount .jackif, .shop-account-guest .jackif, .details .jackif {
        height: 55px;
    }

    .shop-account-guest .jackif {
        height: 65px;
    }

    .requiredtxt, .fillDelivery {
        float: right;
        color: #fff;
        z-index: 100;
        position: relative;
        top: 20px;
    }

    .shop-account-guest .top-panel {
        background-color: #FEDC00;
        position: absolute;
        left: -15px;
        right: 0px;
        height: 45px;
    }

    @media only screen and (max-width:992px) {

        .shop-account-guest .top-panel {
            left: 0px;
        }
    }

    .shop-account-guest .formbutton, .jsaccount .formbutton {
        font-size: 15px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .shopbtns {
        margin-bottom: 30px;
    }

        .shopbtns > div {
            background-color: #e7e9e8;
            padding: 20px;
            height: 80px;
        }

    .special {
        background-color: #4a75a2;
        color: #fff;
        padding: 20px;
    }

        .special .formbutton {
            padding: 5px 30px;
            background-color: #458500;
        }

    .accountdetails .special {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .footer.special {
        margin-top: 30px;
        font-size: 17px;
        padding: 30px;
    }

    .special h2 {
        text-transform: uppercase;
    }

    .conditions-apply {
        font-size: 11px;
    }

    .special input[type=text] {
        font-size: 18px;
        height: 37px;
        /*padding: 19px;*/
        border: 0px;
        position: relative;
        top: -1px;
        color: #000;
    }

    .special .form-inline {
        margin-top: 15px;
    }

    .special h2 {
        margin-top: 0px;
    }

    .special input[type=checkbox] {
        width: 30px;
    }

    .special .formcomplete {
        display: none;
    }

    .accountdetail input, .accountdetail select, .accountdetail textarea {
        max-width: initial;
    }

    .accountdetailread .editor-field {
        margin-top: 0px !important;
    }

    .formbutton.back {
        background-color: #565656;
        text-align: center;
    }

    .formbutton img {
        height: 15px;
        margin-right: 5px;
        position: relative;
        top: -1px;
    }

    .item-remove-button {
        background-color: #000;
        text-align: center;
        color: #FFF;
        background: linear-gradient(to bottom,#000 0%,#000 100%);
    }

        .item-remove-button:hover {
            color: #FEDC00 !important;
        }


    .payment > div {
        padding: 5px 15px 15px 15px;
    }

    .payforms-header {
        height: 45px;
        position: relative;
    }

    .paychoice {
        width: 250px;
        display: inline-block;
        text-align: center;
    }


    .payment h3, .accountpage h3, articlepage h3 {
        margin-top: 0px;
    }

    .payment-new-card-form {
        max-width: 390px;
    }

        .payment-new-card-form input {
            max-width: none;
        }

            /* Chrome, Safari, Edge, Opera */
            .payment-new-card-form input::-webkit-outer-spin-button,
            .payment-new-card-form input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            .payment-new-card-form input[type=number] {
                -moz-appearance: textfield;
            }

            .payment-new-card-form input[type=submit] {
                margin-top: 15px;
            }

    .payment-inject {
        padding: 30px;
        background-color: #f6f6f6;
        color: #333;
        margin: 20px 0px;
    }

    .payment-new-card-form img {
        width: 20px;
    }

    .payment .order-details-check {
        padding-top: 20px;
    }

    .amexexception {
        font-size: 11px;
    }

    .paywait {
        display: none;
        padding: 50px !important;
        font-size: 25px;
        height: 400px;
    }

        .paywait > div {
            text-align: center;
            margin-top: 30px;
        }

    .basket {
    }

.complete .baskettable th {
    padding: 10px 20px;
    font-size: 17px;
    background-color: #FEDC00;
    color: #000;
}

    .paypalform {
        margin-bottom: -20px;
        position: relative;
        height: 48px;
    }

        .paypalform .loader {
            position: absolute;
            left: 20px;
            top: 10px;
        }

    /* Shop End */


    /* Account Start */

    .loginregpage {
        max-width: 800px;
    }

    /* Accounts Sidebar */
    #sidebar {
        height: 100%;
        padding-right: 0;
    }

        #sidebar .nav {
            width: 95%;
        }

        #sidebar li {
            border: 0 #f2f2f2 solid;
            border-bottom-width: 0px;
            font-weight: 600;
        }

        #sidebar a {
            background-color: #2f2f2f;
            color: #fff;
            display: block;
        }

        #sidebar li.active a {
            background-color: #2f2f2f;
            color: #FEDC00;
        }

    .account-toggle {
        background-color: #d5d5d5;
        margin-top: 20px;
    }

        .account-toggle .icon-bar {
            background-color: #FFF;
        }

    .sidebar-collapse {
        margin: -15px -15px;
    }

    @media (min-width: 768px) {
        .sidebar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }

        #sidebar {
        }
    }


    .account-manage-form {
        padding: 20px;
    }


    /* Account End */

    /* Article Start */

    .accountpage > div {
        background-color: #fff;
        padding: 15px;
    }

    .accountpager .tag-header {
        background-color: #FEDC00;
        color: #000;
    }

    .orderlistrow {
        border: solid 1px #2f2f2f;
    }

    .orderleft {
        background-color: #2F2F2F;
        color: #fff;
        padding: 12px;
        vertical-align: top;
        min-width: 300px;
        font-weight: 600;
        position: relative;
        min-height: 400px;
    }

    .accountpage h4 {
        font-weight: 800;
    }

    .accountpage .productrow .name {
        font-size: 18px;
        font-weight: 800;
    }

    .accountpage .productrow .realprice {
        font-size: 18px;
        font-weight: 800;
    }

    @media (max-width: 768px) {
        .formbutton.back {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }

        .baskettable .prodimgbox {
            width: 80px;
            height: 80px;
        }

        .baskettable td {
            padding: 4px;
        }

        .baskettable .proddet {
            float: left;
            margin-top: 0px;
            margin-left: 0px;
            height: 80px;
        }

        .baskettable .prodimgbox img {
            width: 100%;
        }

        .accountpage .price.tag {
            padding: 0px;
        }

        .baskettable {
            font-size: 14px;
        }

        .orderleft {
            min-height: 100px;
        }

        .container {
            padding: 0px !important;
        }

        .stages {
            display: none;
        }

        .accountpage {
            padding: 0px !important;
        }
    }

    .orderleft a, .orderleft a:hover {
        color: #FEDC00;
    }

    .accountpage .basket {
        background-color: #fff;
    }

    .orderbox {
        padding: 12px;
        font-weight: 600;
    }
    /* Article End */
    /* Tag List Start*/
    .tag-list {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .tag-list ul {
            list-style-type: none;
            padding: 0;
            margin: auto;
            text-align: center;
            list-style: none;
        }

        .tag-list li {
            height: 30px;
            line-height: 30px;
            display: inline;
            white-space: nowrap;
        }

            .tag-list li a {
                padding: 0 20px;
                text-decoration: none;
                font-size: 12px;
            }

                .tag-list li a:hover {
                    text-decoration: none;
                }

        .tag-list .parent {
            font-weight: bold;
        }


    /* End Tag List */

    /* Start Special */

    .modalspecial,
    .js-account-popup,
    .modalgallery {
        background-color: rgba(74,117,162,0.7);
    }

        .modalspecial .modal-header,
        .modalmessage .modal-header,
        .modalbasketadded .modal-header,
        .modalgallery .modal-header {
            border: 0px;
        }

        .modalspecial .modal-content,
        .modalmessage .modal-content,
        .js-account-popup .modal-content,
        .modalgallery .modal-content {
            -webkit-border-radius: 0px !important;
            -moz-border-radius: 0px !important;
            border-radius: 0px !important;
        }

        .modalspecial .logo {
            width: 200px;
            float: left;
            margin-left: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .modalspecial .modal-content {
            max-width: 500px;
            margin: auto;
        }

        .modalspecial .inner-content {
            height: 200px;
        }

    .modal-header .btn, .modal-header img {
        float: right;
        cursor: pointer;
    }

    .modalspecial .special {
        background-color: #fff;
        color: #FEDC00;
        padding: 40px;
    }

        .modalspecial .special .row > div {
            width: 100% !important;
            margin-left: 0px;
        }

        .modalspecial .special h2 {
            margin: 0px;
            font-weight: bold;
        }

        .modalspecial .special h4 {
            margin: 20px 0px;
            font-weight: bold;
            color: #000;
        }

        .modalspecial .special input[type=text] {
            margin: 0px;
            font-weight: bold;
            background-color: #ececec;
            border: solid 1px #b5b5b5;
            color: #333333;
            padding: 0px;
            height: 38px;
        }

    /* End Special */
    /* Start message modal */
    .messagemodal {
        padding: 0px 40px 20px 20px;
    }

    .modalmessage .modal-content {
    }
    /* Start Just added */
    .justadded {
        padding: 0px 40px 20px 20px;
        color: #fff;
    }

        .justadded .row {
            padding-left: 20px;
            font-size: 20px;
            font-weight: bold;
        }

        .justadded .options {
            height: 50px;
            margin-top: 20px;
        }

            .justadded .options .back {
                cursor: pointer;
                width: 290px;
                color: #000;
            }

            .justadded .options .checkout {
                float: right;
            }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .justadded h2 {
            font-size: 20px;
        }

        .justadded img {
            height: 150px;
        }

        .justadded .row {
            font-size: 15px;
        }

        .justadded .formbutton {
            width: 100% !important;
            padding: 5px 30px;
            text-align: center;
            font-size: 15px;
            margin-bottom: 10px;
            float: none !important;
            display: inline-block;
        }

        .justadded .options {
            height: 80px;
        }
    }

    /* End just added */

    /* Sitewide Slot */

    .sidewide-slot {
        background-color: #691a1a;
        color: #fff;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        position: fixed;
        width: 100%;
        height: 30px;
        top: 0px;
        z-index: 1030;
        white-space: nowrap;
    }

        .sidewide-slot a {
            color: #fff;
        }

    /* Title */

    h3 {
        color: #000;
        font-weight: bold;
    }

    /* MOB MENU */

    .inverse {
        width: 0px;
        overflow-y: auto;
    }

    body.slide-active {
        overflow-x: hidden
    }

    .no-margin-top {
        margin-top: 0px !important
    }

    #page-content {
        position: relative;
        left: 0;
    }

        #page-content.slide-active {
            padding-top: 0
        }

    #slide-nav .navbar-toggle {
        cursor: pointer;
        position: relative;
        line-height: 0;
        /*float: left;*/
        margin: 0;
        width: 30px;
        height: 40px;
        padding: 10px 0 0 0;
        border: 0;
        background: transparent;
    }

        #slide-nav .navbar-toggle > .icon-bar {
            width: 100%;
            display: block;
            height: 3px;
            margin: 5px 0 0 0;
        }

        #slide-nav .navbar-toggle.slide-active .icon-bar {
            background: orange
        }

    .navbar-header {
        position: relative
    }

    .navbar.navbar-fixed-top.slide-active {
        position: relative
    }

    body.slide-active .navbar-submenu {
        display: block;
    }


    @media (max-width:767px) {
        #slide-nav .container {
            margin: 0 !important;
            padding: 0 !important;
            height: 100%;
        }
        /*
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
        */
        #slide-nav .navbar.slide-active {
            position: absolute;
            width: 80%;
            top: -1px;
            z-index: 1000;
        }

        #slide-nav #slidemenu {
            background: #f7f7f7;
            left: -100%;
            width: 80%;
            min-width: 0;
            position: absolute;
            padding-left: 0;
            z-index: 2;
            top: -8px;
            margin: 0;
        }

            #slide-nav #slidemenu .navbar-nav {
                min-width: 0;
                width: 100%;
                margin: 0;
            }

                #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
                    min-width: 0;
                    width: 80%;
                    white-space: normal;
                }

        #slide-nav {
            border-top: 0
        }

            #slide-nav.navbar-inverse #slidemenu {
                background: #333
            }

        #navbar-height-col {
            position: fixed;
            top: 0;
            height: 100%;
            bottom: 0;
            width: 80%;
            left: -80%;
            background: #f7f7f7;
        }

            #navbar-height-col.inverse {
                background: #333;
                z-index: 1;
                border: 0;
            }

        #slide-nav .navbar-form {
            width: 100%;
            margin: 8px 0;
            text-align: center;
            overflow: hidden;
        }

            #slide-nav .navbar-form .form-control {
                text-align: center
            }

            #slide-nav .navbar-form .btn {
                width: 100%
            }
    }

    @media (min-width:768px) {
        /* 
	#page-content {
	    left: 0!important
	}
        */
        .navbar.navbar-fixed-top.slide-active {
            position: fixed
        }

        .navbar-header {
            left: 0 !important
        }
    }

    /* END MOB MENU */


    /* Result Filter */

    .result-filter {
        background-color: #dfdfdf;
        text-align: center;
        padding: 10px;
    }

        .result-filter h3 {
            font-size: 22px;
            color: #000;
            margin-top: 0px;
            margin-bottom: 0px;
            cursor: pointer;
        }

        .result-filter .contents {
            padding: 10px;
            text-align: left;
        }

            .result-filter .contents > div {
                max-width: 600px;
                margin: auto;
            }

        .result-filter .submitrow {
            text-align: center;
        }

        .result-filter label {
            font-weight: normal;
        }

        .result-filter h3 img {
            position: relative;
            top: -3px;
        }

        .result-filter h3[aria-expanded=true] img.up {
            display: none;
        }

        .result-filter h3 img.side {
            display: none;
        }

        .result-filter h3[aria-expanded=true] img.side {
            display: inline-block;
        }

    /* End Result Filter */

    /* Shipments */

    .shipments > div {
        display: table-cell;
        padding: 5px;
        background-color: #e7e9e8;
        margin-right: 10px;
    }

    /* contact */

    .enquirybox {
        width: 310px;
        height: 200px;
        max-width: none;
    }

    /* Order Item Add to cart */

    .reorder {
        float: right;
        position: relative;
        z-index: 1000;
    }

        .reorder th {
            font-weight: normal !important;
            padding: 3px 0px !important;
            background-color: #e2e2e2 !important;
            font-size: 11px !important;
            color: #333 !important;
        }

        .reorder .price {
            font-size: 12px !important;
        }

    /* paging */

    .pagination-container {
        display: inline-block;
    }

    .pagesize-box {
        vertical-align: top;
        display: inline-block;
        margin: 25px 10px;
    }

    @media (max-width:767px) {
        .pagination > li > a, .pagination > li > span {
            padding: 12px 18px;
        }

        .pagination {
            margin: 10px 0px 0px 0px;
        }

        .pagesize-box {
            vertical-align: top;
            display: inline-block;
            margin: 15px 10px 10px 10px;
        }

        .text-xs-center {
            text-align: center;
        }

        .full-product-vol .vol table td {
            padding: 6px 0px 6px 0px;
        }
    }



    /* retraction */

    .retraction-box {
        margin-top: 2px;
    }

    .retraction {
        border: 2px solid #691a1a;
        min-height: 200px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

        .retraction h2, .retraction-accompany h2 {
            margin: 0px;
            font-size: 20px;
            margin-bottom: 10px;
        }

    .cathtml {
        padding: 0px 20px;
    }

    .purchaseorders .notes, .purchaseorders .qtyreq {
        color: red;
        font-weight: bold;
    }


    /* google refactor */

    .subscribe-txt {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }


    .freedel {
        margin-left: -8px;
    }


    .allow-wide {
        max-width: initial !important;
    }

    @media (max-width:767px) {
        .product-img .specialtag, .productoptions .specialtag {
            padding: 6px 0px;
        }

        .footerbox {
            line-height: 200%;
            font-size: 1.6rem;
        }

            .footerbox h2 {
                font-size: 2rem;
            }

        .customtag_64 img {
            height: 10px !important;
        }

        .customtag_1767 img, .customtag_63 img {
            height: 13px !important;
        }

        .brandlist ul, .categorylist ul {
            padding-left: 8px;
        }

        .brandlist li, .categorylist li {
            padding: 14px 4px 14px 4px;
        }
    }

    .up {
        width: 12px;
    }

    .side {
        height: 12px;
    }


    .catmenu-dropdown {
        background-color: #FEDC00;
    }

        .catmenu-dropdown li a {
            color: #000 !important;
            font-weight: bold;
        }

    .dropdown-menu {
        min-width: 310px;
    }

    .videos h3 {
        color: #FEDC00;
    }

    .submenudiv {
        display: none;
        z-index: 999999999;
        background-color: #FEDC00 !important;
        position: absolute;
        float: right;
        padding: 4px;
        padding-right: 12px;
        margin-left: 278px;
        width: 450px;
        margin-top: -40px;
    }

    .subsubmenudivitem a {
    }

    .subsubmenudivitem {
        width: 445px;
        padding: 10px 0px;
    }

        .subsubmenudivitem:hover {
            background-color: #EAC600;
        }

    .right-caret:after {
        border-left: 5px solid #1c2b58;
    }

    .right-caret:after, .left-caret:after {
        content: "";
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        display: inline-block;
        height: 5px;
        vertical-align: middle;
        float: right;
        width: 10px;
        margin-left: 5px;
        align-self: stretch;
    }

    .bi-chevron-right {
        padding-top: 4px;
        float: right;
    }

    .catmenu-dropdown a:active, .catmenu-dropdown a:hover {
        background-color: #EAC600 !important;
    }

    .leftcatmenu {
        color: black;
        border-right: solid 1px black;
    }

        .leftcatmenu .menu {
            padding: 0px 12px 0px 12px;
        }

            .leftcatmenu .menu a {
                text-transform: capitalize;
            }

        .leftcatmenu  .selmenu
        {
            
            border-bottom: solid 1px #FEDC00;
        }

.subsidemenu .selmenu {
    font-weight: 600;
}

        .leftcatmenu h2 {
            font-size: 1.8rem;
            font-weight: bold;
            margin-top: 2px;
        }

        .leftcatmenu ul {
            list-style-type: none;
            padding: 0px;
            margin-bottom: 16px;
        }

    .tag-header-products {
        background-color: #2F2F2F;
        color: #EAC600 !important;
    }

    .swiper-arrow-right, .icon-next {
        background-image: url(images/slider-arrow.png) !important;
        height: 110px !important;
        background-size: 43px 84px !important;
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 0;
        width: 43px;
    }

    .swiper-arrow-left, .icon-prev {
        background-image: url("images/slider-arrow.png") !important;
        height: 110px !important;
        background-size: 43px 84px !important;
        transform: rotate(180deg);
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 0;
        width: 43px;
    }

    .carousel-control .icon-next:before {
        display: none;
    }

    .carousel-control .icon-prev:before {
        display: none;
    }

    .slidebox .carousel-control {
        top: 30%;
    }

.add-to-cart-group .qty {
    background-color: #000;
    float: left;
    padding: 12px;
    height:47px;
}

        .add-to-cart-group .qty select {
            background-color: #000;
            color: #fff;
            border: solid 1px #000;
        }

    .add-to-cart-group .add {
        background-color: #FEDC00;
        float: left;
        padding: 7px;
    }

    .add-to-cart-group .wish {
        background-color: #2F2F2F;
        color: #fff;
        float: left;
        padding: 14px;
        margin-left: 30px;
    }

        .add-to-cart-group .wish a {
            text-transform: uppercase;
            color: #fff;
            max-width: 270px;
            font-weight: 600;
        }

    .add-to-cart-group .addtocartbutton {
        background-color: #FEDC00;
        background: linear-gradient(to bottom,#FEDC00 0%,#FEDC00 100%);
        padding-left: 40px;
        padding-right: 40px;
        max-width: 270px;
    }




    @media (max-width:767px) {

        .center-xs {
            text-align: center;
            float: none;
            margin: 0 auto;
        }

        .add-to-cart-group {
        }

            .add-to-cart-group .row1 {
                padding: 10px;
                float: none;
                max-width: 240px;
                align-items: center;
                margin: auto !important;
            }

            .add-to-cart-group .wish a {
            }

            .add-to-cart-group .wish {
                padding: 10px;
                float: none;
                max-width: 240px;
                align-items: center;
                margin: auto;
                margin-top: 16px;
            }

            .add-to-cart-group button.addtocartbutton {
                padding: 13px;
                margin-top: 0px;
                color: #000;
                max-width: 210px !important;
                margin-left: -4px;
            }

            .add-to-cart-group .qty {
                display: block;
                display: inline-block;
                float: none;
            }

            .add-to-cart-group .addtocartbutton {
            }
    }

    .pricer {
        font-size: 3rem;
    }

    .product h2 {
        font-size: 2.2rem;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .product h3 {
        font-size: 1.4rem;
        font-weight: bold;
        color: #797979;
    }

    .list-product .price .realprice {
        font-size: 2rem;
    }

    .list-product .add {
        margin-top: 8px;
    }

    .product .slider-header {
        color: #000;
        background-color: #fff;
        text-align: left;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        z-index: 2;
        color: #000;
        cursor: default;
        background-color: #FEDC00;
        border-color: #000;
    }

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
        z-index: 3;
        color: #000;
        background-color: #FEDC00;
        border: solid 1px black;
    }

    .pagination > li > a, .pagination > li > span {
        color: #000;
    }

    .prod-blurb iframe {
        max-width: 100%;
    }

    .msdslabel {
        padding-top: 4px;
        font-size: 1.6rem;
        /* padding-left: 14px; */
        text-indent: 12px;
    }

    .msds {
        margin-bottom: 8px;
    }

        .msds a:hover {
            text-decoration: underline;
        }

    .newspage {
        background-color: #2F2F2F;
        color: white;
    }

    .articleblock a {
        color: #fff;
        text-decoration: underline;
    }
.articleblock h3 {
    color: #FEDC00;
}
.prescription-products iframe {
    max-width: 100%;
}

.newsfeed {
    padding: 12px;
    min-height: 740px;
    background-color: #656565;
}

        .newsfeed h4 {
            font-weight: 800;
        }

        .newsfeed .intro {
            margin-bottom: 8px;
        }

    .newsfeed-alt {
        background-color: #2F2F2F;
    }

    .newspage img {
        max-width: 100%;
    }

    .newspage a {
        color: #FEDC00;
    }

    .newspage .readmore {
        background-color: #FEDC00;
        color: #fff;
        float: left;
        padding: 10px;
        margin-top: 20px;
        position: absolute;
        bottom: 20px;
    }

        .newspage .readmore a {
            text-transform: uppercase;
            color: #000;
            padding-left: 40px;
            padding-right: 40px;
            max-width: 270px;
            font-weight: bold;
        }

    .displaynews {
        padding: 30px;
    }

    @media (max-width:767px) {
        .displaynews {
            padding: 8px;
        }
    }

    @media (min-width:767px) {

        .archivenews {
            float: right;
            position: absolute;
            top: 2px;
            right: 12px;
        }
    }

    .subsidemenu {
        padding: 4px 0px 4px 16px;
    }
.specialtag {
    z-index: 99;
}
.customtag_Trending_Products {
    color: #000 !important;
    background-image: url('/Content/images/icon/on-sale.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 46px;
}
.customtag_Clearance {
    color: #000 !important;
    background-image: url('/Content/images/icon/clearance.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 66px;
    margin:6px;
}

.customtag_Blue_Ribbon {
    color: #000 !important;
    background-image: url(/Content/images/icon/icon-donate.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 30px;
}
.customtag_Trending_now_Additional_Products
{
    display:none;
}


.full-product .specialtag {
    float: right;
    width: 60px;
    height: 60px;
}

.gotoproduct {
    background-color: #000 !important;
    color: #fff !important;
    font-size: 80% !important;
}

    .modal-back {
        color: #fff;
    }

    .modal-content {
        position: relative;
        background-color: #000;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #000;
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
        box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    }

    .modal-footer {
        border-top: 1px solid #000;
    }

    .menubasket .basketcount {
        background-color: #FEDC00;
        padding: 4px;
        padding-right: 12px;
        text-align: right;
    }


    .videobox {
        overflow: hidden;
    }


    .articlepage .vcenter {
        display: flex;
        align-items: center;
    }

    .articlepage h2 {
        font-weight: 600;
        color: #FEDC00;
    }

    .articlepage {
        color: #fff;
    }

        .articlepage img {
            max-width: 100%;
        }


        .articlepage .rowdivider {
            border-bottom: solid 2px #FEDC00;
            margin-bottom: 30px;
            padding-bottom: 16px;
        }

    .socialicons img {
        margin-left: 10px;
        margin-right: 10px;
    }


    @media (max-width:767px) {
        .socialicons img {
            margin-top: 10px;
        }

        .articlepage .vcenter {
            display: block;
            align-items: center;
        }

        .articlepage .col-xs-12 {
            text-align: center;
        }

        .articlepage h2 {
            font-size: 24px;
        }

        .socialicons {
            align-content: center;
            text-align: center;
        }
    }

    .slotrow {
        color: #fff;
    }

    .prescription {
        color: #fff;
        background-color: #2F2F2F;
    }

        .prescription a, .prescription a:hover {
            color: #fff;
        }

        .prescription img {
            max-width: 100%;
        }

    .prescription-products, .prescription-products a, .prescription-products a:hover {
        background-color: #fff;
        color: #000;
    }

    .prescription h3 {
        color: #FEDC00;
    }

    .productrow .productcontainer {
        padding: 30px;
    }

    .productrow .realprice {
        font-size: 34px;
        font-weight: 800;
    }

    .productrow .name {
        font-size: 24px;
        font-weight: 800;
    }

    .productrow .price .realprice {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .prescription-products .wish a, .prescription-products .wish a:hover {
        background-color: #2F2F2F;
    }

    .arrow-right {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid #5f5f5f;
        float: left;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid #2F2F2F;
        background-color: #5f5f5f;
        float: left;
    }

    .spacer-left {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid #2F2F2F;
        background-color: #2F2F2F;
        float: left;
    }

    .spacer-left-yellow {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid #FEDC00;
        background-color: #FEDC00;
        float: left;
    }

    .arrow-left-yellow {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid #2F2F2F;
        background-color: #FEDC00;
        float: left;
    }

    .arrow-right-yellow {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid #FEDC00;
        float: left;
    }

    .prescription-breadcrumb {
        float: left;
        background-color: #5f5f5f;
        color: #fff;
        padding: 11px 36px 11px 36px;
        font-size: 12px;
        width: 88%;
        margin-bottom: 12px;
    }

        .prescription-breadcrumb a, .prescription-breadcrumb a:hover {
            color: #fff;
        }

    .prescription-breadcrumb-yellow {
        float: left;
        padding: 11px 36px 11px 36px;
        font-size: 12px;
        width: 88%;
        background-color: #FEDC00;
        color: #000;
        margin-bottom: 12px;
    }

    .prescriptionbox {
        margin-bottom: 50px;
    }

        .prescriptionbox img {
            padding: 0px 20px 0px 20px;
        }


        .prescriptionbox h3 {
            xborder-bottom: solid 2px #FEDC00;
            font-size: 20px;
            font-weight: 800;
            color: #fff;
            padding: 4px 16px 8px 16px;
            margin-top: 4px;
        }

    .prescriptionbreadcrumbcontainer {
        padding: 10px 40px 10px 40px;
    }

        .prescriptionbreadcrumbcontainer h3, .prescriptionbreadcrumbcontainer h3 a {
            color: #FEDC00;
            margin-bottom: 16px;
        }


        .prescriptionbreadcrumbcontainer .col-xs-3,
        .prescriptionbreadcrumbcontainer .col-xs-4,
        .prescriptionbreadcrumbcontainer .col-xs-2,
        .prescriptionbreadcrumbcontainer .col-xs-6,
        .prescriptionbreadcrumbcontainer .col-xs-12 {
            padding: 0px;
        }

    .prescriptionbox img {
    }

.prescription_subtitle
{
    color:#fff !important;
}
#appInt {
    position: absolute;
    top: 26%;
    left: 40%;
}

    #appWheels {
        position: absolute;
        top: 55%;
        left: 2%;
    }

    #appTires {
        position: absolute;
        top: 73%;
        left: 49%;
    }

    #appPaint {
        position: absolute;
        top: 38%;
        left: 81%;
    }

    #appLights {
        position: absolute;
        top: 48%;
        left: 64%;
    }

    #appOther {
        position: absolute;
        top: 10%;
        left: 60%;
    }

    #appIntm {
        position: absolute;
        top: 22%;
        left: 24%;
    }

    #appWheelsm {
        position: absolute;
        top: 41%;
        left: 23%;
    }

    #appTiresm {
        position: absolute;
        top: 44%;
        left: 49%;
    }

    #appPaintm {
        position: absolute;
        top: 30%;
        left: 54%;
    }

    #appLightsm {
        position: absolute;
        top: 40%;
        left: 52%;
    }

    #appOtherm {
        position: absolute;
        top: 20%;
        left: 50%;
    }

    .appOpt {
    }


    .vehicleposition {
        margin: auto;
        position: relative;
    }

    .vehicle {
        padding-left: 80px;
        padding-right: 80px;
    }

    @media (max-width:767px) {
    }

    .galleryrow .newsfeed {
        min-height: 420px !important;
    }

    .newspage .galleryrow .newsfeed img {
        max-height: 260px;
    }

    .slick-slide img {
        margin: auto;
    }

    .HYPE_document {
        cursor: pointer;
        max-width: 100%;
    }

    .HYPE_element {
        border: solid 0px white !important;
    }

    .meguiarscarcarev3_hype_container {
        max-width: 100%;
    }

    .submenudiv, submenudivdesignator {
        display: none;
    }

    @media (max-width:767px) {
        .submenudiv, submenudivdesignator {
            display: block;
        }

        .carousel-control img {
            margin-top: 0px;
        }
    }

    .carousel-indicators {
        z-index: 999;
    }

        .carousel-indicators li {
            z-index: 999;
            border: solid 2px #FEDC00;
        }

        .carousel-indicators .active {
            background-color: #FEDC00;
        }

    .carousel-control {
        color: #FEDC00;
    }

        .carousel-control:focus, .carousel-control:hover {
            color: #FEDC00;
        }

    .viewrange {
        background-color: #2F2F2F;
        width: 50%;
        float: left;
    }

        .viewrange h3 {
            color: #FEDC00;
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: 20px;
        }

        .viewrange a, .viewrange a:hover {
            color: #FEDC00
        }

    @media (max-width:1200px) {
        .viewrange h3 {
            font-size: 16px;
        }
    }

    @media (max-width:600px) {
        .viewrange h3 {
            font-size: 16px;
        }

        .viewrange {
            background-color: #2F2F2F;
            width: 100%;
            float: left;
        }
    }

    .relatedpage .tag-header a {
        color: #000;
    }

    .videoslots {
        background-color: #FEDC00;
        color: #000;
        font-size: 22px;
    }

        .videoslots h3 {
            color: #000;
            font-weight: 800 !important;
            text-transform: uppercase;
        }

        .videoslots iframe {
            width: 100%;
            height: 420px;
        }

        .videoslots .tiny iframe {
            width: 100%;
            height: 120px;
        }

        .videoslots .vidcontainer {
            padding: 0px !important;
            min-height: 420px;
            font-weight: 600;
        }

    @media (max-width:600px) {
        .videoslots .vidcontainer {
            min-height: 220px;
        }
    }

    .videoslots .row {
        padding: 0px !important;
    }

    .tinyprev {
        padding: 15px;
    }

    .faqs {
        color: #fff;
        font-size: 22px;
    }

        .faqs a, .faqs a:hover {
            color: #FEDC00;
            text-decoration: none;
            text-transform: uppercase;
        }

        .faqs h3 {
            color: #FEDC00 !important;
            text-transform: uppercase;
            font-weight: 600;
        }

    .faqanswers {
        display: none;
        margin-left: 20px;
        font-size: 14px;
    }

    .faq {
        padding: 12px;
    }

    .CustomerDetails_Lookup {
        display: none;
    }


.howtolinks {
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
    background-color: #2F2F2F;
    float: right;
    min-width: 240px;
    line-height: 18px;
    margin-bottom:12px;
}

@media (max-width:600px) {
    .howtolinks {
        float: left;
        margin-left:15px;
        margin-top:15px;
    }
}
    .howtolinks a {
        color: #FEDC00;
        font-size: 15px;
        padding: 0px;
    }

    .howtolinks span {
        color: #FFF;
    }


.prescription .subcatheader {
    color: #2F2F2F;
   
    padding: 10px 0px;
    background-color: #fff;
    text-indent: 30px;
}
.prescription .subcatheader h3 {
    color: #2F2F2F;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    background-color: #fff;
    text-indent: 30px;
    text-align:left;
}

.prescription-breandcrumb
{
    text-transform:uppercase;
    font-weight:bold;
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

.picklabels > div{
    background-color:#FEDC00;
 
    padding: 6px 32px 6px 32px;
}
.picklabels a, .picklabels a:hover{
    color: #000;
    font-weight: bold;
}

.modal-title {
    color: #fff;
}

.modal-title {
    color: #fff;
}

.bootbox-body {
    color: #fff;
}

.searchresultpage a {
    padding: 4px 30px 4px 30px;
    line-height: 200%;
}