﻿.navbar-fixed-top {
    top: 30px;
}
    
.body-content {
    margin-top: 175px;
}

@media only screen and (max-width : 1200px) {
     .body-content {
       margin-top: 215px;
    }
}
        
@media only screen and (max-width : 768px) {
     .body-content {
       margin-top: 180px;
    }
}

