﻿<div class="hudbox" ng-class="getLook()">
    <p ng-bind-html="actionMessage.message | unsafe"></p>

    <span ng-show="!actionMessage.processing" ng-repeat="action in actionMessage.actions" class="hudaction" ng-class="getActionLook(action)" ng-click="runAction(action)">

        {{action.text}}

    </span>
    <span ng-show="actionMessage.processing"><img src="/Content/images/ajax-loader.gif" /> &nbsp; Processing</span>

</div>