﻿@model Kawa.Models.ViewModels.DbBackupViewModel
@{
    ViewBag.Title = "BackupDatabase";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Backup Database</h2>

@if (Model == null)
{

    @:Are you sure you want to back up the site database.<br /><br />


    using (Html.BeginForm())
    {
        <input type="submit" value="Start Backup" />
    }

}
else
{
    if (Model.success)
    {
        @:Please collect you database backup file from the following link.<br /><br />
        <a href="@Model.link" target="_blank">@Model.FileName</a><br /><br />
        @:The link will be valid for 5 minutes.
    }
    else
    {
        @:There was a problem, please contact support. <br/><br/>
        @Html.Raw(Model.message)
        <br /><br />
    }
}



