﻿@model Kawa.Models.ViewModels.OrderStatusUpdaterViewModel

@{
    ViewBag.Title = "FixOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Fix Order</h2>

Order has been adjusted.

<div>
    @Html.ActionLink("Go to Orders", "Index", "ShopAdmin", new { id="ACTIVE_ORDER" }, new { })
</div>
