﻿@model Kawa.Models.ViewModels.OrderStatusUpdaterViewModel

@{
    ViewBag.Title = "FixOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Fix Order</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OrderToFix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1 text-right">MGR-</div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.OrderToFix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderToFix, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderToCopy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1 text-right">MGR-</div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.OrderToCopy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderToCopy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adjust" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
