﻿@model Kawa.Models.ViewModels.AdminViewModel
@using System.Configuration;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <h1>Website Admin</h1>
        <a href="#menu-toggle" class="btn btn-default hidden" id="menu-toggle">Toggle Menu</a>

        Welcome to the Meguiars website admin.
        <br /><br />
        @if (ViewBag.Message != null)
        {
            <div class="message">@ViewBag.Message</div>
        }
        <br /><br />

        @Html.ActionLink("Run Cache Update", "RunCache", new { id = "" }, new { onclick = "return confirm('Are you sure you wish to run a cache update?');" })
        <br /><br />

        @*

        @Html.ActionLink("Run Mailchimp Cache Update", "MailchimpLocalCacheUpdate", new { id = "" }, new { onclick = "return confirm('Are you sure you wish to run a mailchimp cache update?');" })
        <br /><br />

        @Html.ActionLink("Run Searcherise Update", "UploadBatchToSearchanise", new { id = "" }, new { onclick = "return confirm('Are you sure you wish to run a full searchanise update?');" })
        <br /><br />
        @Html.ActionLink("Run Google SiteMap Update", "GenerateSiteMap", new { id = "" }, new { onclick = "return confirm('Are you sure you wish to build the google sitemap?');" })
        <br /><br />
        @Html.ActionLink("Run Google Shopping Feed Update", "GenerateShoppingFeed", new { id = "" }, new { onclick = "return confirm('Are you sure you wish to build the google shopping feed?');" }) <br /><br /> <a href="~/Content/SiteResources/ShoppingFeed.xml" target="_blank">Google Shopping Xml File</a>
        <br /><br />
        @Html.ActionLink("Run Bing Shopping Feed Update", "GenerateBingShoppingFeed", new { id = "" }, new { onclick = "return confirm('Are you sure you wish to build the bing shopping feed?');" }) <br /><br /> <a href="~/Content/SiteResources/ShoppingFeedBing.xml" target="_blank">Bing Shopping Xml File</a>
        <br /><br />
        @Html.ActionLink("List Products without Brands / Empty Sku / Media Google Cat", "ProductsWithoutBrands", new { id = "" }, new { onclick = "return confirm('Are you sure you wish to view all products without Brands / Empty Sku / Media Google Cat?');" })
        <br /><br />
        @Html.ActionLink("List Feed Products without Images", "ProductsWithoutImages", new { id = "" }, new { onclick = "return confirm('Are you sure you wish to view all products without images?');" })
        <br /><br />
        @Html.ActionLink("Backup database", "BackupDatabase")
        <br /><br />
        @Html.ActionLink("Request Ftp access", "RequestFtpAccess")
        <br /><br />
        @Html.ActionLink("Fix order that did not return correctly from the payment gateway", "FixOrder")

        <br /><br />
        <a href="/admin/InstagramRefresh"><h3>Refresh your Instagram Post</h3></a>
        <br /><br /><br />

        @if (Model.needsToken.HasValue && (bool)Model.needsToken)
        {
            <h3>Refresh your Facebook token</h3>
            <div class="tokenlogin">
                <div class="fb-login-button" scope-scope="manage_pages" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false">Click here to login and refresh</div>
            </div>
            <div class="tokenrecieved">
                <h4>Your token has been collected</h4>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="token" id="token" />
                    <input type="submit" value="Submit token" class="btn btn-default" />

                }

            </div>

        }
        *@
    </div>
</div>
@section Scripts {

    <script>

        var facebookappid = @ConfigurationManager.AppSettings["FacebookAppID"];

    </script>

    <script src="~/Scripts/kawa-facebook.js"></script>
}