﻿
@{
    ViewBag.Title = "Download Batch from Mailchimp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Download Batch from MailChimp</h2>

No of emails downloaded: <b>@(ViewBag.DoneNo * 100)</b>

<script>
    $(function () {

        setTimeout(function () {
            window.location = "/admin/MailchimpLocalCacheUpdate/?doneno=" + @ViewBag.DoneNo;
        }, 1500);


    });
</script>

