﻿@model IEnumerable<Kawa.Models.FeedProduct>

@{
    ViewBag.Title = " Feed Products Without Images";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.googleCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.googleCat)
        </td>
        <td>
            @if(item.brand != null)
            { 
                @Html.DisplayFor(modelItem => item.brand.name)
            }
        </td>
        <td>
            @item.cats.Count()
        </td>
        <td>
            <a href="@item.getUrl()">link</a>
        </td>
    </tr>
}

</table>
