﻿@{
    /**/

    ViewBag.Title = "Request Ftp Access";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Request Ftp access for your current IP address.</h2>

@if (ViewBag.IpRequestResult == null)
{

    @:Are you sure you want to Request Ftp access for your current IP address.
    <br /><br />

    @ViewBag.IpCheck.message

    <br /><br />

    using (Html.BeginForm())
    {
        <input type="submit" value="Request" />
    }

}
else
{
    @ViewBag.IpRequestResult.message
}



