﻿
@{
    ViewBag.Title = "Searchanise Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="snize" id="snize_container"></div>

<script type="text/javascript">
    SearchaniseAdmin = {};
    SearchaniseAdmin.PrivateKey = '9J0J4y3K6b4s1N1n8M5P';
    SearchaniseAdmin.AddonStatus = 'enabled';

    SearchaniseAdmin.Engines = [];

    SearchaniseAdmin.Engines.push({
        PrivateKey: '9J0J4y3K6b4s1N1n8M5P',
            LangCode: 'EN',
            Name: 'English',
            ExportStatus: 'done'
    });


</script>

<script type="text/javascript" src="https://searchanise.com/js/init.js"></script>


