﻿
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Settings</h2>


<div ng-app="kawaApp" ng-controller="SettingsController">
    <div class="hud" hud></div>
    <div class="row">
        <div class="col-md-6">Local Default Days To Ship Minimum</div>
        <div class="col-md-6 form-inline">
            <input type="text" ng-model="settings.Local_Default_Days_To_Ship_Minimum" style="width:50px" class="form-control" />
            <input type="button" value="Store" ng-click="storeSetting('Local_Default_Days_To_Ship_Minimum',settings.Local_Default_Days_To_Ship_Minimum)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">Local Default Days To Ship Maximum</div>
        <div class="col-md-6 form-inline">
            <input type="text" ng-model="settings.Local_Default_Days_To_Ship" style="width:50px" class="form-control" />
            <input type="button" value="Store" ng-click="storeSetting('Local_Default_Days_To_Ship',settings.Local_Default_Days_To_Ship)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">International Default Days To Ship Minimum</div>
        <div class="col-md-6 form-inline">
            <input type="text" ng-model="settings.International_Default_Days_To_Ship_Minimum" style="width:50px" class="form-control" />
            <input type="button" value="Store" ng-click="storeSetting('International_Default_Days_To_Ship_Minimum',settings.International_Default_Days_To_Ship_Minimum)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">International Default Days To Ship Maximum</div>
        <div class="col-md-6 form-inline">
            <input type="text" ng-model="settings.International_Default_Days_To_Ship" style="width:50px" class="form-control" />
            <input type="button" value="Store" ng-click="storeSetting('International_Default_Days_To_Ship',settings.International_Default_Days_To_Ship)" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/settings")
    @Scripts.Render("~/bundles/hud")
    @Scripts.Render("~/bundles/jqueryval")
}
