﻿
@{
    ViewBag.Title = "Upload Batch To Searchanise";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Upload Batch To Searchanise</h2>

No of products uploaded: <b>@ViewBag.DoneNo</b>

<script>
    $(function () {

        setTimeout(function () {
            window.location = "/admin/UploadBatchToSearchanise/?doneno=" + @ViewBag.DoneNo;
        }, 1500);


    });
</script>

