﻿@model Kawa.Models.Product
@using Kawa.Models
@using Kawa.Models.ViewModels
@using Kawa.Models.Extensions

@if(Model.variant.priceMargin > 0) {
    <span class="rrp">
        <strike>@(Model.variant.priceRRP.ToString("c"))</strike>
    </span>
}

@if(Model.variant.priceMargin > 0) {
    <span class="discount">
        Save: @Model.variant.priceMargin.ToString("0.0")%
    </span>
}

<div class="realprice">
@(Model.variant.price.ToString("c"))
</div>

