﻿@model Kawa.Models.Product
@using System.Linq;
@using Kawa;
@using (Html.BeginForm("AddToBasket", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal registerform", role = "form" }))
{

<div class="pricer center-xs">

    @if (Model.promotion != null)
    {
        <span class="rrp">
            <strike>@(Model.variant.price.ToString("c"))</strike>
        </span>
        <span class="specialprice">
            @(Model.getBuyPrice().ToString("c"))
        </span>
    }
    else
    {
        @(Model.getBuyPrice().ToString("c"))
    }






</div>
            <br />
            @Html.HiddenFor(m => m.basket.VariantID)
            if (Model.CanBeOrdered)
            {
                var qtys = (List<int>)ViewBag.Quantities;

                ///qtys = qtys.Take((int)Model.variant.stockNo).ToList();

<div class="add-to-cart-group hidden-xs">
    <div class="row1">
        <div class="qty">
            @Html.DropDownListFor(m => m.basket.Quantity, qtys.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString() }), new { @class = "form-input" })
        </div>
        <div class="add">

            <button type="button" class="addtocartbutton addtobasket">ADD TO CART</button>

        </div>
        <div class="add addwishlist">

            <button type="button" class="fav addtocartbutton  addtowishlist" data-objectis="product" data-id="@Model.ID">ADD TO WISHLIST</button>

        </div>
    </div>
   
</div>
                <div class="add-to-cart-group hidden-sm hidden-md hidden-lg">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                                <div class="qty">
                                    @Html.DropDownListFor(m => m.basket.Quantity, qtys.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString() }), new { @class = "form-input" })
                                </div>

                                <button type="button" class="addtocartbutton addtobasket">ADD TO CART</button>
                 

                 
                            <div class="wish"><a href="#" class="fav @(Model.favourite != null?"favourited":"") @(!Model.CanBeOrdered?"oos":"")" data-objectis="product" data-id="@Model.ID">@(Model.favourite != null ? "Added To Wishlist" : "Add To Wishlist")</a></div>

                        </div>
                    </div>
                    
                </div>
            }
                else
                {
                    <p><b>Sorry, this product is currently out of stock.</b></p>
                }
}

              <div style="clear:both;"></div> 
