﻿@model Kawa.Models.Product
<div class="shipinfo@(Model.nationalOnly?" shipinfo2level":"")">
    @if (Model.nationalOnly)
    {
        <div class="nationalonly"><img src="~/Content/images/white-truck.png" alt="" />This product ships in Australia only</div>
    }
    @if (Model.variant.isHidden && Model.HasVariantPreOrder)
    {
        <div class="shiptime"><img src="~/Content/images/white-truck.png" alt="" />PRE-ORDER Expected to ship by @Model.variant.preOrderShipDateStr</div>
    }
    else
    {
        <div class="shiptime"><img src="~/Content/images/white-truck.png" alt="" />Usually ships within @Model.variant.shipDaysOrDefault business day(s)</div>
    }
</div>
