﻿@model Kawa.Models.ViewModels.SearchResultsViewModel
@using PagedList.Mvc;
@using System.Linq;
@using Kawa.Models
@{
    ViewBag.Title = Model.Tag != null ? Model.Tag.name : "Products";
    ViewBag.MetaDescription = Model.Tag != null ? Model.Tag.metaDescription : "";
}
<div class="container ">
    <div class="products">
        @if (Model.Tag != null)
        {
            if (Model.Tag.siteResources.Any())
            {
                var mobileSrs = Model.Tag.siteResources.Where(s => s.SiteResourceType == SiteResource.SiteResourceTypeOption.BILLBOARD_MOBILE);
                var i = 0;
                foreach (var sr in Model.Tag.siteResources.Where(s => s.SiteResourceType == SiteResource.SiteResourceTypeOption.BILLBOARD))
                {
                    <div class="billboarditem">
                        <a href="@sr.Caption">

                            <img src="@sr.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE)" class="visible-lg-block visible-md-block visible-sm-block" alt="@ViewBag.Title">
                            @if (mobileSrs.Count() > i)
                            {
                                <img src="@mobileSrs.ElementAt(i).getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE)" class="visible-xs-block" alt="@ViewBag.Title">
                            }
                        </a>
                    </div>
                    i++;
                }
            }
            <div class="tag-header tag-header-products">@(Model.Brand!=null ? Model.Brand.name.ToUpper().Replace("MEGUIARS","") + " - " : "")@Model.Tag.name <!---<span>(@Model.Products.TotalItemCount Products)</span>--></div>
        }

        @if (Model.Tag != null && Model.Tag.subtags.Count() > 0)
        {
            <!---@Html.Partial("_TagList", Model.Tag.subtags)-->
        }


        <div class="row prodlist">



            <div class="hidden-xs col-sm-3 leftcatmenu">
                <div class="menu">
                    <h2>Product Categories</h2>
                    @{
                        MenuViewModel MenuViewModel = (MenuViewModel)ViewBag.MenuModel;
                        List<Tag> alltags = MenuViewModel.Categories;

                        if (Model.Brand != null)
                        {
                            <ul>
                                @foreach (var brand in MenuViewModel.Brands.Where(x => x.ID == Model.Brand.ID))
                                {
                                    foreach (var catgroup in brand.subtags.Where(x => x.aliases == "CATGRP"))
                                    {
                                        <li>
                                            <b><a class="@(Model.Tag.ID == catgroup.ID ? "selmenu" : "")" href="/products/@brand.nameUrl/@catgroup.nameUrl">@Html.Raw(catgroup.name.ToLower())</a></b>
                                        </li>
                                        foreach (var subx in brand.subtags.Where(x => x.aliases == "CAT" && x.ParentID == catgroup.ID))
                                        {
                                            <li class="subsidemenu">
                                                <a class="@(Model.Tag.ID == subx.ID ? "selmenu" : "")" href="/products/@brand.nameUrl/@subx.nameUrl">@Html.Raw(subx.name.ToLower())</a>
                                            </li>
                                        }
                                        <BR />
                                    }

                                    if (brand.name.ToLower() == "meguiars consumer")///insert the marine menu
                                    {

                                        Tag marine = MenuViewModel.Brands.Where(x => x.name.ToLower() == "meguiars marine").FirstOrDefault();
                                        string submenuname = brand.ID + "_" + marine.ID + "_submenu";

                                        <li>
                                            <b><a class="" href="@marine.getUrl()">@Html.Raw(marine.name.ToLower())</a></b>
                                        </li>

                                    }

                                }
                            </ul>
                        }
                        else
                        {

                            foreach (var sub in alltags.Distinct().Where(x => x.aliases == "CATGRP"))
                            {
                                <ul>
                                    <li>
                                        <b><a class="@(Model.Tag.ID == sub.ID ? "selmenu" : "")" href="@sub.getUrl()">@Html.Raw(sub.name.ToLower())</a></b>
                                    </li>
                                    @foreach (var subx in alltags.Where(x => x.aliases == "CAT" && x.ParentID == sub.ID))
                                    {
                                        <li class="subsidemenu">
                                            <a class="@(Model.Tag.ID == subx.ID ? "selmenu" : "")" href="@subx.getUrl()">@Html.Raw(subx.name.ToLower().Replace("car care -", "").Replace("professional grooming -", "").Replace("marine -", ""))</a>
                                        </li>
                                    }
                                </ul>
                            }

                        }
                    }
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="row" style="padding-right: 15px;padding-left:15px;">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-3 col-md-3 col-xs-6">
                            @Html.Partial("_TagProduct", product)
                        </div>
                    }
                </div>
                @Html.Partial("_Pager", Model)
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/favourites")
}
