﻿@model Kawa.Models.Product
@using Kawa.Models
@using Kawa.Models.ViewModels
@using Kawa.Models.Extensions
@using System.Configuration;
@{
    ViewBag.Title = Model.name;
    var hasBulk = Model.variant.bulkPrices != null && Model.variant.bulkPrices.Any();
    bool swiper = false;
    string mainimg = "";

}

<div class="container ">
    <div class="product">
        <div class="row">
            <div class="col-sm-6 col-md-6">


                <div class="visible-xs hidden-sm text-center">
                    <h1>@Model.name</h1><br />
                </div>



                <div class="full-product">
                    @Html.Partial("_MarkerTag", Model)


                    <div class="imgbox">
                        @{
                            try
                            {
                                List<string> deserialised = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.sHero);
                                int ix = 1;


                                <div class="swiper-container gallery-top" data-toggle="modal">
                                    <div class="swiper-wrapper">
                                        @foreach (string image in deserialised)
                                        {
                                            var index = "#img" + ix;
                                            <div class="swiper-slide swiperslide" data-target="@index" style="background-image:url('@image');"></div>
                                            if (mainimg == "")
                                            {
                                                mainimg = image;
                                            }
                                            ix++;
                                        }
                                    </div>

                                    @if (deserialised.Count > 1)
                                    {
                                        ix = 1;
                                        swiper = true;
                                        <div class="swiper-button-next swiper-arrow-right"></div>
                                        <div class="swiper-button-prev swiper-arrow-left"></div>

                                        <br /><br />
                                        <div class="swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-thumbs" style="height: 90px;">
                                            <div class="swiper-wrapper">
                                                @foreach (string image in deserialised)
                                                {
                                                    var index = "#img" + ix;
                                                    <div class="swiper-slide  @(ix == 1 ? "swiper-slide-thumb-active" : "")" data-target="@index" style="background-image:url('@image');height:90px; margin-right: 10px;background-size: contain;background-repeat: no-repeat;"></div>
                                                    ix++;
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>

                            }
                            catch
                            {
                                string output = Model.sHero;
                                if (Model.sHero != null)
                                {
                                    <img src="@output" class="img-fluid" style="width:90%;" />
                                }
                                else
                                {
                                    <img src="~/Content/images/no-image-large.png" class="img" />
                                }
                            }


                        }


                    </div>
                </div>


                <div class="hidden-xs">
                    <br style="clear:both;" />
                    <br style="clear:both;" />
                    <br style="clear:both;" />
                    <br style="clear:both;" />
                </div>
                <div class="prodvideo">

                    @{
                        List<Kawa.Models.Page> videopages = (List<Kawa.Models.Page>)ViewBag.ProductVideos;
                        if (videopages != null)
                        {

                            foreach (Kawa.Models.Page p in videopages)
                            {
                                <iframe width="450" height="340"
                                        src="https://www.youtube.com/embed/@p.html"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                @if (Model.brandtags.Any())
                {
                    <div class="bread-crumb">
                        <a href="@Model.brandtags.First().getUrl()">@Model.brandtags.First().name</a>
                        @foreach (var tag in Model.tags.Where(x => x.Type == Tag.TypeOption.PRODUCT_SECTION).OrderBy(x => x.name))
                        {
                            @:> <a href="/products/@Model.brandtags.First().nameUrl/@tag.nameUrl">@tag.name</a>
                        }

                    </div>
                }




                <h1 class="hidden-xs">@Model.name</h1>
                <h3>@Model.sku</h3>

                @if (Model.variant.minQuantity.HasValue)
                {
                    <div class="minquan">*minimum order quantity for this product is @Model.variant.minQuantity unit(s)</div>
                }
                @if (Model.variant.maxQuantity.HasValue)
                {
                    <div class="maxquan">*maximum order quantity for this product is @Model.variant.maxQuantity unit(s)</div>
                }

                <div class="prod-blurb">


                    @Html.Partial("_ProductShopBox")

                    <br /><br />

                    @if (!string.IsNullOrEmpty(Model.directions))
                    {
                        @Html.Raw(Model.directions)
                    }



                    @if (Model.sFiles != null && Model.sFiles != "")
                    {
                        <h2>Product Resources</h2>

                        @Html.Raw(Model.sFiles)
                    }

                </div>
            </div>
        </div>




        @if (Model.products.Count > 0)
        {
            ProductSliderViewModel thisslider = (ProductSliderViewModel)ViewBag.RelatedProducts;
            thisslider.MainTag.name = "THIS GOES WITH THAT";

            <div class="container">

                <hr size="1" />
                @Html.Partial("_ItemSlider", thisslider)
            </div>
        }
    </div>
</div>
<input type="hidden" id="trackdata" data-track-id="@Model.ID" data-track-price="@Model.variant.price.ToString("0.00")" />

@section Css {
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    @Styles.Render("~/Content/prodimages")
}


@section Scripts {


    @Html.Partial("_Schema")

    @Scripts.Render("~/bundles/favourites")
    @if (ModelTransformations.IsLive())
    {
        @Scripts.Render("~/bundles/tracking")
    }
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    @Scripts.Render("~/bundles/prod")

    @if (swiper)
    {
        <script type="text/javascript">

            $(function () {

                var galleryTop = new Swiper('.gallery-top', {
                    spaceBetween: 10,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    thumbs: {
                        swiper: new Swiper('.gallery-thumbs', {
                            spaceBetween: 10,
                            slidesPerView: 5
                        }),
                    },
                });

            });

        </script>
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
}