﻿@model Kawa.Models.ViewModels.PurchaseOrderItemFilterViewModel
@using Kawa.Models
@using Kawa.Models.Extensions
@{
    ViewBag.Title = (Model.statusSet == Kawa.Models.ViewModels.PurchaseOrderItemFilterViewModel.StatusSetOption.IN_PROGRESS ? "Processing" : "Complete") + " Purchase Orders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="kawaApp" ng-controller="PurchaseOrderController" data-statusset="@Model.statusSet" class="purchaseorders">
    <h2>@ViewBag.Title</h2>

    <div class="action-console">
        <div class="hud" hud></div>
        <div class="">
            <b>Purchase Order Actions :</b>
            <br/>
            <div class="form-inline">
                <input type="button" value="Add New Purchase Order" class="btn btn-default" ng-click="new()" />
            </div>
            <br/>
            <b>Bulk Updates :</b>
            <div class="form-inline">
                
                <div class="input-group">
                  <div class="input-group-btn">
                    <select name="orderActionsSelect" id="orderActionsSelect"
                        ng-options="option.Name for option in bulkStatusOptions.availableOptions track by option.ID"
                        ng-model="bulkStatusOptions.selectedOption"
                        ng-change="bulkStatusChangePrepare()"
                        class="form-control"></select>
                  </div>
                  <input type="text" ng-model="bulkStatusOptions.statusChangeDate" placeholder={{bulkStatusOptions.statusChangeDatePlaceholder}} class="form-control add-picker" />
                </div>
                <button class="btn btn-default" ng-click="bulkStatusChange()">Change</button>
            </div>
            <br/>
            <div class="form-inline">
                <div class="input-group">
                     <div class="input-group-btn">
                          <select name="supplierSelect" id="supplierSelect"
                                ng-options="option.Name for option in bulkSuppliers track by option.ID"
                                ng-model="bulkStatusOptions.selectedSupplier"
                                class="form-control"></select>
                    </div>
                    <input type="text" ng-model="bulkStatusOptions.SupplierInvNo" placeholder="Invoice" class="form-control" />
                </div>
                <button class="btn btn-default" ng-click="bulkStatusChange()">Change</button>
            </div>

        </div>
    </div>

    <div class="form-inline ordersearch">
        <div><b>search orders</b></div>
        <div class="form-group">
            @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "orderno" } })
            @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.BrandID, Model.brands.ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "brand"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.SupplierID, Model.suppliers.ToSelectList(f => f.Name, f => f.ID.ToString(), "supplier"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", placeholder = "product name / sku" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.Startdate, new { htmlAttributes = new { @class = "form-control add-picker", placeholder = "start date" } })
            @Html.ValidationMessageFor(model => model.Startdate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.Enddate, new { htmlAttributes = new { @class = "form-control add-picker", placeholder = "end date" } })
            @Html.ValidationMessageFor(model => model.Enddate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.Status, Model.Status.ToSelectListChoose("Status"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.SupplierInvNo, new { htmlAttributes = new { @class = "form-control", placeholder = "invoice" } })
            @Html.ValidationMessageFor(model => model.SupplierInvNo, "", new { @class = "text-danger" })
        </div>
        <div class="">

            <input type="button" value="Filter" class="btn btn-default" ng-click="getPurchaseOrderItems()" />
            <img src="~/Content/images/admin/ajax-loader.gif" ng-show="indicators.loading" alt="">
            <select name="pageSizeSelect" id="pageSizeSelect"
                    ng-options="o as o for o in pageSizes"
                    ng-model="ordersPerPage"
                    class="form-control"></select>
            
        </div>
    </div>

    <table class="table table-responsive potable">
        <tr>
            <th><input type="checkbox" ng-model="selectstate.all" /></th>
            <th>
                OrderNo
            </th>
            <th>
                Date
            </th>
            <th>
                Days T S
            </th>
            <th>
                Product
            </th>
            <th>
                Sku
            </th>
             <th>
                Qty Req
            </th>
            <th>
                Qty Rec
            </th>
            <th>
                Supplier
            </th>
            <th>
                Invoice
            </th>
            <th>
                Status
            </th>
            <th>
                Ordered
            </th>
            <th>
                OOS till
            </th>
            @if(Model.statusSet != Kawa.Models.ViewModels.PurchaseOrderItemFilterViewModel.StatusSetOption.IN_PROGRESS)
            { 
            <th>
                Finalised
            </th>
            }
            <th></th>
        </tr>

        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        <tbody dir-paginate="item in purchaseOrderItems | itemsPerPage: ordersPerPage" total-items="totalPurchaseOrderItems" current-page="pagination.current" ng-class="{'editing':item.edit}">
            <tr>
                <td>
                    <input type="checkbox" ng-model="item.selected" />
                </td>
                <td>
                    <div ng-if="!item.edit">
                        <a ng-if="item.OrderID" ng-href="/admin/orders/order/{{item.OrderID}}" target="_blank">
                            MGR-{{item.OrderID}}
                        </a>
                        <span ng-if="!item.OrderID">MGR-{{item.OrderID}}</span>
                    </div>
                    <div ng-if="item.edit">
                        <input class="form-control smalltxtinput" ng-model="item.OrderID" placeholder="OrderNo" />                    </div>
                </td>
                <td>
                    {{item.OrderIDDate}}
                </td>
                <td>
                    {{item.ProductIDDaysToShip}}
                </td>
                <td>
                    <div>
                        <a ng-if="item.ProductIDUrl" ng-href="{{item.ProductIDUrl}}" target="_blank">
                        {{item.ProductName || item.ProductIDName}}
                        </a>
                        <span ng-if="!item.ProductIDUrl">{{item.ProductName || item.ProductIDName}}</span>
                    </div>
                    <div ng-if="item.edit">
                        <input class="addanglookup form-control" data-lookup="searchproducts" data-lookup-display="name" data-lookup-value="" id="NewProduct" name="NewProduct" type="text" ng-model="item.ProductID" ng-change="productChange(item)" style="display:none" />                        <input class="form-control" ng-model="item.ProductName" placeholder="list name" />
                    </div>
                </td>
                <td>
                    {{item.ProductIDSku}}
                </td>
                <td>
                    <div ng-if="!item.edit" class="qtyreq">
                       {{item.QuantityRequired}}
                    </div>
                    <div ng-if="item.edit">
                        <input class="form-control qtytxtinput" ng-model="item.QuantityRequired" placeholder="Qty Req" />                    </div>
                </td>
                <td>
                    <div ng-if="!item.edit">
                       {{item.QuantityRecieved}}
                    </div>
                    <div ng-if="item.edit">
                        <input class="form-control qtytxtinput" ng-model="item.QuantityRecieved" placeholder="Qty Rec" />                    </div>
                </td>
                <td>
                    <div ng-if="!item.edit">
                       {{item.SupplierName}}
                    </div>
                    <div ng-if="item.edit">
                        <select name="supplierSelect" id="supplierSelect"
                        ng-options="option.Name for option in suppliers track by option.ID"
                        ng-model="item.CurrentSupplier"
                        ng-change="statusSupplier(item)"
                        class="form-control"></select>                    </div>
                </td>
                 <td>
                    <div ng-if="!item.edit">
                       {{item.SupplierInvNo}}
                    </div>
                    <div ng-if="item.edit">
                        <input class="form-control smalltxtinput" ng-model="item.SupplierInvNo" placeholder="Invoice" />                    </div>
                </td>
                <td style="color:#000;" ng-style="{'background-color':getStatusColor(item)}">

                    <div ng-if="!item.edit">
                       {{item.StatusName}}
                    </div>
                    <div ng-if="item.edit">
                        <select name="statusSelect" id="statusSelect"
                        ng-options="option.Name for option in statusOptions track by option.ID"
                        ng-model="item.CurrentStatus"
                        ng-change="statusChange(item)"
                        class="form-control"></select>                    </div>
                </td>
                <td>
                    <div ng-if="!item.edit">
                       {{item.OrderedDate}}
                    </div>
                    <div ng-if="item.edit">
                        <input class="form-control add-picker" ng-model="item.OrderedDate" placeholder="Ordered Date" />                    </div>
                </td>
                 <td>
                     <div ng-if="!item.edit">
                       {{item.OutOfStockUntilDate}}
                    </div>
                    <div ng-if="item.edit">
                        <input class="form-control add-picker" ng-model="item.OutOfStockUntilDate" placeholder="OOStock Until Date" />                    </div>
                </td>
                @if (Model.statusSet != Kawa.Models.ViewModels.PurchaseOrderItemFilterViewModel.StatusSetOption.IN_PROGRESS)
                {
                 <td>
                    <div ng-if="!item.edit">
                      {{item.FinalisedDate}}
                    </div>
                    <div ng-if="item.edit">
                        <input class="form-control add-picker" ng-model="item.FinalisedDate" placeholder="Finalised Date" />                    </div>
                </td>
                }
                <td>
                    <button class="btn btn-primary" ng-if="!item.edit" ng-click="setEdit(item)" type="button">edit</button>
                    <button class="btn btn-primary" ng-if="item.edit" ng-click="save(item)" type="button">save</button>
                    <button class="btn btn-primary" ng-if="item.edit" ng-click="save(item,true)" type="button">save and new</button>
                    <button class="btn btn-danger" ng-if="item.edit" ng-click="delete(item)" type="button">delete</button>
                    <button class="btn btn-primary" ng-if="item.edit" ng-click="item.edit=false" type="button">cancel</button>
                </td>
            </tr>
            <tr ng-if="item.edit || item.Notes">
                <td colspan="1"></td>
                <td colspan="12">
                    <div ng-if="!item.edit" class="notes">
                      Notes: {{item.Notes}}
                    </div>
                    <div ng-if="item.edit">
                        <textarea class="form-control" placeholder="notes" ng-model="item.Notes"></textarea>
                    </div>
                </td>
            </tr>
        </tbody>


    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/shopadmin")
    @Scripts.Render("~/bundles/hud")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var statusOptions = @Html.Raw(Kawa.Models.Data.PurchaseOrderItem.StatusOption.Complete.ToJS());
    </script>
}