﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Category Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Bulk Update Groups</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tag.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tag.isHidden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.tags.OrderBy(t => t.name)) {
    <tr>
        <td>
            @(item.name)  
            @if(item.noOfProducts > 0)
            {
                @:(@item.noOfLiveProducts/@item.noOfProducts)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHidden)
        </td>
        <td>
            
            @Html.RouteLink("edit", "TagAdminTag", new { id = item.ID }) 

            @if (!item.SystemTag.HasValue)
            {
                @:|
                @Html.RouteLink("delete", "TagAdminTagDelete", new { id = item.ID }) 
            }

        </td>
    </tr>
}

</table>
