﻿@model Kawa.Models.ViewModels.AdminViewModel
@using Kawa.Models.ViewModels
@{
    ViewBag.Title = "Category Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<div id="xcatman" style="@(Model.tag!=null && Model.tag.ID == 2792 ? "display:none" :"")">


    <h2>Categories</h2>


    @if (Model.tag != null)
    {
        <h4>
            @{
                List<Kawa.Models.Tag> trees = (List<Kawa.Models.Tag>)ViewBag.tags;

                List<Kawa.Models.Tag> stucture = new List<Kawa.Models.Tag>();
                if (Model.tag.ParentID != null)
                {
                    Kawa.Models.Tag parent = trees.Where(x => x.ID == Model.tag.ParentID).FirstOrDefault();
                    if (parent.ParentID != null)
                    {
                        Kawa.Models.Tag parentparent = trees.Where(x => x.ID == parent.ParentID).FirstOrDefault();
                        if (parentparent.ParentID != null)
                        {
                            Kawa.Models.Tag parentparentparent = trees.Where(x => x.ID == parentparent.ParentID).FirstOrDefault();
                            stucture.Add(parentparentparent);
                        }
                        stucture.Add(parentparent);
                    }
                    stucture.Add(parent);
                }
                stucture.Add(Model.tag);
            }


            in

            @foreach (Kawa.Models.Tag t in stucture)
            {
                @Html.RouteLink(t.name, "TagAdminIndex", new { id = t.ID }) @(" > ")
            }

            @if (Model.filter.HasValue)
            {
                @Model.filter.ToString().Replace("_", " ")
            }
            - @Html.RouteLink("edit", "TagAdminTag", new { id = Model.tag.ID })
        </h4>
    }


    <p>
        @Html.RouteLink("Create a New Category", "TagAdminTag", new { id = "", pid = (Model.tag == null ? "" : Model.tag.ID.ToString()) })
        @if (Model.tag != null)
        {
            <div style="display:none;">
                Filter by
                @Html.RouteLink("With metatags", "TagAdminIndex", new { id = Model.tag.ID, filter = AdminViewModel.ContentFilter.With_Meta })  |
                @Html.RouteLink("Without metatags", "TagAdminIndex", new { id = Model.tag.ID, filter = AdminViewModel.ContentFilter.Without_Meta })  |
                @Html.RouteLink("With content", "TagAdminIndex", new { id = Model.tag.ID, filter = AdminViewModel.ContentFilter.With_Content })  |
                @Html.RouteLink("Without content", "TagAdminIndex", new { id = Model.tag.ID, filter = AdminViewModel.ContentFilter.Without_Content }) |
                @Html.RouteLink("Clear filter", "TagAdminIndex", new { id = Model.tag.ID })
            </div>
        }
    </p>
    <h3>Child Categories</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tag.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tag.colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tag.orderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tag.isHidden)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.tags.OrderBy(t => t.orderNo))
        {
            <tr>
                <td>
                    @(item.name)
                    @if (item.noOfProducts > 0)
                    {
                        @:(@item.noOfProducts)
                    }
                </td>
                <td style="background-color:@item.colour">
                    @Html.DisplayFor(modelItem => item.colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isHidden)
                </td>
                <td>



                    @Html.RouteLink("children", "TagAdminIndex", new { id = item.ID, productcounts = true })



                    |


                    @Html.RouteLink("edit", "TagAdminTag", new { id = item.ID })

                    @if (!item.SystemTag.HasValue)
                    {
                        @:|
                        @Html.RouteLink("delete", "TagAdminTagDelete", new { id = item.ID })
                    }

                    @if (item.getUrl() != null && item.getUrl() != "" && item.getUrl() != "#")
                    {
                        @:|
                        <a href="@item.getUrl()" target="_blank">frontend</a>
                    }

                </td>
            </tr>
        }

    </table>
    <br />
    <br />
    <br />
</div>



@helper grablevels(List<Kawa.Models.Tag> tags, Kawa.Models.Tag tag, string level)
{

   
    foreach (Kawa.Models.Tag t in tags.Where(x => x.ParentID == tag.ID))
    {
        <option value="@t.ID">@level @t.name</option>
        @grablevels(tags, t, level + "-")
    }
}

@if (Model.tag != null && (Model.tag.Type == Kawa.Models.Tag.TypeOption.CAR_PRESCRIPTION_CAT || Model.tag.ID == 2792 || Model.tag.ParentID == 37))
{

    if (Model.tag != null && (Model.tag.Type == Kawa.Models.Tag.TypeOption.CAR_PRESCRIPTION_CAT))
    {
        <h2>Replicate Structure from....</h2>

        <div class=" form-inline">
            <div class="form-group">
                <select name="replicate" id="replicate">
                    @foreach (Kawa.Models.Tag t in Model.brands.Where(x => x.ParentID == 6379))
                    {
                        <optgroup label="------------------@t.name------------------"></optgroup>
                        <option value="@t.ID">@t.name</option>
                        @grablevels(Model.brands.Where(x => !x.isHidden).ToList(), t, "-")

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="button" value="replciate" class="form-control" onclick="javascript: replicate(@Model.tag.ID);" />
            </div>
        </div>
    }

    <h2>Add SKU's for @Model.tag.name</h2>

    <div class="admin-addtagproduct form-inline">
        <div class="form-group">
            Add an <b>active</b> product
        </div>
        <div class="form-group">
            @Html.Hidden("NewProduct", "", new
           {
               @class = "addlookup form-control",
               data_lookup = "searchproducts",
               data_lookup_display = "name",
               data_lookup_value = ""
           })
            <input type="hidden" name="TagID" id="TagID" value="@Model.tag.ID" />
            <select id="QuantityNew" class="item-quantity-dropdown form-control" style="display:none;">
                @for (var q = 1; q <= 100; q++)
                {
                    <option value="@q">@q</option>
                }
            </select>

        </div>
        <div class="form-group">
            <input type="button" value="add" class="form-control" />

        </div>
    </div>


    <h2>Currently Assigned...</h2>
    <table class="table table-responsive table-striped productslist">

        <tr>
            <th>Delete/Rank</th>
            <th>Product</th>
            <th></th>
        </tr>
        @foreach (Kawa.Models.Product p in Model.tag.products.OrderBy(x => x.ProductTagRelationShipRank))
        {
            <tr>
                <td>
                    <a href="javascript: remove(@p.ID,@Model.tag.ID);">remove</a> | <select name="prank" id="prank" onchange="changerank(@p.ID,@Model.tag.ID,this);">
                        @for (var q = 0; q <= 40; q++)
                        {
                            <option value="@q" @(p.ProductTagRelationShipRank == q ? "selected" : "")>@q</option>
                        }
                    </select>
                </td>
                <td>@p.name</td>
                <td><input type="checkbox" name="mover" value="@p.ID" /></td>

            </tr>
        }
        @if (Model.tags.OrderBy(t => t.orderNo).Where(x => x.colour == "products").Count() > 0)
        {
            <tr>
                <td></td>
                <td align="right">Move selected products to child category</td>
                <td>
                    <select name="subcatformove" id="subcatformove">

                        @foreach (var item in Model.tags.OrderBy(t => t.orderNo).Where(x => x.colour == "products"))
                        {
                            <option value="@item.ID">@item.name</option>
                        }
                    </select>
                    <input type="button" name="move" value="move to child" onclick="javascript: moveproducts(@Model.tag.ID);" />

                </td>
            </tr>
        }
    </table>

}



@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop")
    @Scripts.Render("~/bundles/orderupdate")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")

    <script type="text/javascript">


        function moveproducts(tag) {



            var productids = [];
            $.each($("input[name='mover']:checked"), function () {
                productids.push($(this).val());
            });

            var model = {
                SourceTag: tag,
                RecipientTag: $('#subcatformove').val(),
                Productids: productids
            };


            console.log(model);
            if (model.Productids.length == 0) {
                return alert("Please select at least one product to move");
            }
            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/categories/MoveProducts/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        console.log(result);
                        let text = "Complete\n" + model.Productids.length + " products moved";
                        if (confirm(text) == true) {
                            window.location.reload();
                        } else {
                            window.location.reload();
                        }
                        ///window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });



        }

        function replicate(tag) {
            var model = {
                RecipientTag: tag, SourceTag: $('#replicate').val()
            };


            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/categories/ReplicateStucture/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        console.log(result);
                        window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        }

        function remove(pid, tid) {
            var model = {
                ProductID: pid, TagID: tid
            };


            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/categories/DeleteAssociatedProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        console.log(result);
                        window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        }
        function changerank(pid, tid, thisfield) {

            var model = {
                ProductID: pid, TagID: tid, Rank: thisfield.value
            };


            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/categories/AssociateProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        }
        $(".admin-addtagproduct input[type=button]").click(function () {
            var formObj = $(this).parents(".admin-addtagproduct");
            if (formObj.find("#NewProduct").val() == "") {
                alert("Enter a sku and select the product from the dropdown of results before clicking Add.");
                return;
            }


            var iid = $(this).attr("data-basketID");
            var model = {
                ProductID: formObj.find("#NewProduct").val(),
                TagID: formObj.find("#TagID").val(),
                Rank: 0
            };

            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/categories/AssociateProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        });

    </script>
}