﻿@model Kawa.Models.ViewModels.AdminViewModel
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Category Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Brands to Filter out for @Model.tag.name</h2>
<h4>in @Html.RouteLink(Model.tag.name, "TagAdminIndex", new { id = (Model.tag.ParentID == null ? "" : Model.tag.ParentID.ToString()) })</h4>
<div class="form-inline">
    @using (Html.BeginRouteForm("TagAdminAddRelation", new { id="" }, FormMethod.Post, null))
    {
        @Html.HiddenFor(model => model.TagID)
        @Html.DropDownList("RelatedTagID", Model.brands.OrderBy(x => x.name).ToSelectList(f => f.nameWithProductNo, f => f.ID.ToString(), "Add a Filter"), new { @class = "form-control tagsel" })
    <input type="submit" value="Add" class="addtag form-control" />
    }
</div><br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tag.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tag.colour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.tags.OrderBy(t => t.name)) {
    <tr>
        <td>
            @(item.name)  
            @if(item.noOfProducts > 0)
            {
                @:(@item.noOfLiveProducts/@item.noOfProducts)
            }
        </td>
        <td style="background-color:@item.colour">
            @Html.DisplayFor(modelItem => item.colour)
        </td>
        <td>
            @Html.RouteLink("remove", "TagAdminDeleteRelation", new { tagid = Model.tag.ID, relatedtagid = item.ID }) 
        </td>
    </tr>
}

</table>
