﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Category Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@(Model.tag.ID == 0 ? "Create" : "Edit") a Category</h2>

@Html.Partial("_Message")

@if(Model.tag.getUrl() != null && Model.tag.getUrl() != "" &&  Model.tag.getUrl() != "#")
{
    <a href="@Model.tag.getUrl()" target="_blank">view on frontend</a>
    
}
<br/><br />

@if(Model.tag.ParentID!=null)
            {
                <a href="/admin/categories/@Model.tag.ParentID">< Back</a>
            }


@using (Html.BeginRouteForm("TagAdminTag", new { id = Model.tag.ID}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.tag.ID)
    @Html.HiddenFor(model => model.tag.Type)
    @Html.HiddenFor(model => model.tag.ParentID)
    @Html.HiddenFor(model => model.tag.nameUrl)
    @Html.HiddenFor(model => model.tag.isInverseTextColour)
    @Html.HiddenFor(model => model.tag.plugurl)
    @Html.HiddenFor(model => model.tag.CnAlternative)
    @Html.HiddenFor(model => model.tag.SystemTag)

    <div class="form-group">
        @Html.LabelFor(model => model.tag.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tag.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tag.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tag.orderNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.tag.orderNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tag.orderNo, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.tag.aliases, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.tag.aliases, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tag.aliases, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none;">
        @Html.LabelFor(model => model.tag.metaDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tag.metaDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tag.metaDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:;">
        @Html.LabelFor(c => c.tag.colour, "Type", new { @class = "control-label col-md-2" })

        
        <div class="col-md-10">
            <select name="tag.colour" id="tag_colour" class="form-control">
                <option value="" @(Model.tag.colour == "" ? "selected" : "")>Category</option>
                <option value="products" @(Model.tag.colour == "products" ? "selected" : "")>Car Care Prescription Product Category</option>

            </select>

            @Html.ValidationMessageFor(model => model.tag.colour, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (Model.tag.Type == Kawa.Models.Tag.TypeOption.CAR_PRESCRIPTION_CAT)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.tag.html, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.tag.html, new { @class = "" })
                @Html.ValidationMessageFor(model => model.tag.html, "", new { @class = "text-danger" })
            </div>
        </div>



    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.tag.html, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.tag.html, new { @class = "editor" })
                @Html.ValidationMessageFor(model => model.tag.html, "", new { @class = "text-danger" })
            </div>
        </div>
    }




    <div class="form-group">
        @Html.LabelFor(model => model.tag.isHidden, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.tag.isHidden, new { @class = "" })
            @Html.ValidationMessageFor(model => model.tag.isHidden, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

    <div class="managesection">
        <h3>Manage Banner</h3>

        <div id="SiteResources">
            @Html.Partial("_SiteResources")
        </div>

    </div>



}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
