﻿@model IEnumerable<Kawa.Models.Status>

@{
    ViewBag.Title = "StatusManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Status Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="background-color:@item.Color;width:50px;">
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.RouteLink("Edit", "ConfigStatus", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
