﻿@model IEnumerable<Kawa.Models.Signature>

@{
    ViewBag.Title = "Signatures";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <div class="message">@Html.Raw(ViewBag.Message)</div>
}

<p>
    @Html.ActionLink("Create new", "Signature", new { id = "" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Signature", new { id=item.ID }) |
            @Html.ActionLink("Delete", "SignatureDelete", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish delete this signature?');" })
        </td>
    </tr>
}

</table>
