﻿@model Kawa.Models.ViewModels.SearchResultsViewModel
@using PagedList.Mvc;
@using System.Linq;
@using Kawa.Models;

@{
    ViewBag.Title = "Search Results";
}

<div class="container ">

    <div class="tag-header">@ViewBag.Title (@(ViewBag.Search == "" ? "No Search Provided" : ViewBag.Search))</div>
    <div class="products searchres">
        <div class="row">
            <div class="col-xs-12">
                <div class="row prodlist">
                    <h3>Products (Top 64 Results)</h3>
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-15 col-md-3 col-xs-6">
                            @Html.Partial("_TagProduct", product)
                        </div>
                    }
                    <div style="clear:both;"></div>
                    <br />
                    <div class="searchresultpage" style="@(Model.news.Count==0 ? "display:none" :"")">
                        <h3>News</h3>
                        @foreach (var product in Model.news)
                        {
                               <a href="/News/Article/@product.ID"><b>@String.Format("{0:MMM dd, yyyy}", product.NewsDate)</b> - @product.Title</a><br />
                        }
                    </div>
                    <br />

                    <div class="searchresultpage" style="@(Model.pages.Count==0 ? "display:none" :"")">
                        <h3>Frequently Asked Questions</h3>
                        @foreach (var product in Model.pages)
                        {

                            <a href="/home/faq/?load=@product.ID">@product.name</a><br />

                        }
                    </div>
                    <br />

                    <div class="searchresultpage" style="@(Model.galleries.Count==0 ? "display:none" :"")">
                        <h3>Galleries</h3>
                        @foreach (var product in Model.galleries)
                        {
                            <a href="/home/gallery/@product.ID/@product.NameURL">@product.Name</a><br />
                        }

                    </div>
                    </div>
                </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        var isSearch = true;
    </script>
}

