﻿@model Kawa.Models.ViewModels.LocationScopeViewModel



<table class="table">
    <tr>
        <th>
            Countries
        </th>
       <th></th>
    </tr>

    @foreach (var item in Model.ScopeCountries) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <input type="button" value="remove" class="remove-scope-button btn" data-id="@item.ID" data-entity="country" />
        </td>
    </tr>
}

</table>
@if (Model.ScopeStates.Any())
{
    <table class="table">
        <tr>
            <th>
                States
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ScopeStates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                 <td>
                     <input type="button" value="remove" class="remove-scope-button btn" data-id="@item.ID" data-countryid="@item.ID" data-entity="state" />
                </td>
            </tr>
        }

    </table>
}

@if (Model.ScopePostcodeRanges.Any())
{
    <table class="table">
        <tr>
            <th>
                Postcode Ranges
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ScopePostcodeRanges.OrderBy(x => x.FromPostcode))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RangeName)
                </td>
                <td>
                    <input type="button" value="remove" class="remove-scope-button-postcode btn" data-id="@item.ID" data-countryid="@item.ID" data-entity="postcoderange" />
                </td>
            </tr>
        }

    </table>
}
