﻿@model IEnumerable<Kawa.Models.Carrier>

@{
    ViewBag.Title = "Carriers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Carrier", new { id="" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Carrier", new { id = item.ID }) |
            @Html.ActionLink("Delete", "CarrierDelete", new { id = item.ID })
        </td>
    </tr>
}

</table>
