﻿@model Kawa.Models.Country

@{
    ViewBag.Title = "Country Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Country Delete</h2>



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.isHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isHidden)
        </dd>


    </dl>

    @if (ViewBag.CanDelete)
    { 

        using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        
    }
    else
    {
        @:You cannot delete this country as it is associated with either an order, state or location.  You must hide it instead.  
        
        @Html.ActionLink("Edit this country", "Country", new { id = Model.ID })
    }

</div>
