﻿@model IEnumerable<Kawa.Models.Country>

@{
    ViewBag.Title = "Countries";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Country", new { id = "" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isHidden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isBlocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAddressSearch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isIntPostCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(x => x.Name)) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Code)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.isHidden)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.isBlocked)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.isAddressSearch)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.isIntPostCode)
    </td>
    <td>
        @Html.ActionLink("Edit", "Country", new { id = item.ID }) |
        @Html.ActionLink("Delete", "CountryDelete", new { id = item.ID })
    </td>
</tr>
}

</table>
