﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Shipping Config</h2>
<ul>
    <li>
       Manage @Html.RouteLink("Shipping Methods", "ShippingConfigShippingMethods", new { id = "" })
    </li>
    <li>
        Manage @Html.RouteLink("Carriers", "ShippingConfigCarriers", new { id = "" })
    </li>
    <li>
        Manage @Html.RouteLink("Locations", "ShippingConfigLocations", new { id = "" })
    </li>
    <li>
        Manage @Html.RouteLink("Countries", "ShippingConfigCountries", new { id = "" })
    </li>

</ul>
