﻿@model Kawa.Models.ViewModels.LocationScopeViewModel
@using Kawa.Models.Extensions
@using Kawa.Models
@{
    ViewBag.Title = Model.Location.Name + " Countries & States";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="form-inline">
    <label for="CountryID">Add a country</label>
    @Html.DropDownListFor(m => m.CountryID, Model.Countries.ToSelectList(f => f.Name, f => f.ID.ToString(), "Choose"), new { @class = "form-control" })
    @Html.HiddenFor(m => m.Location.ID)
    <input type="button" value="add" class="add-scope-button-country btn btn-default form-control" />
</div>


<div class="form-inline">
    <label for="CountryID">Add a state</label>
    @Html.DropDownListFor(m => m.StateID, Model.States.ToSelectList(f => f.Name, f => f.ID.ToString(), "Choose"), new { @class = "form-control" })
    @Html.HiddenFor(m => m.Location.ID)
    <input type="button" value="add" class="add-scope-button-state btn btn-default form-control" />
</div>

<div class="form-inline">
    <label for="CountryID">Add a postcode range</label>
    @Html.TextBoxFor(m => m.FromPostcode, new { @class = "form-control", placeholder = "From" })
    @Html.TextBoxFor(m => m.ToPostcode, new { @class = "form-control", placeholder = "To" })
    @Html.HiddenFor(m => m.Location.ID)
    <input type="button" value="add" class="add-scope-button-postcode btn btn-default form-control" />
</div>

<br/><br />

<div class="locationscopeitems">
    @Html.Partial("_LocationScopeItems", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/shippingadmin")
}