﻿@model Kawa.Models.ViewModels.ShippingMethodRatesViewModel

@{
    ViewBag.Title = "Rates for " + Model.ShippingMethod.Name;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

> @Html.RouteLink("Shipping Methods", "ShippingConfigShippingMethods", new { id = "" }) <br/>

<h2>@ViewBag.Title</h2>



<div ng-app="kawaApp" ng-controller="ShippingRatesController" ng-cloak>
    <div class="hud" hud></div>
    <select name="locationsSelect" id="locationsSelect"
            ng-options="option.Name for option in locationSelection.locations track by option.ID"
            ng-model="locationSelection.selectedLocation"
            ng-change="getRates()"
            class="form-control"></select>
    <h3>
        @Model.ShippingMethod.Name Rates in {{locationSelection.selectedLocation.Name}} Location
    </h3>
    <div class="shipping-rates">
        <div class="shipping-rate row" ng-repeat="shippingRate in shippingRates">
            <div class="col-xs-4 form-inline" ng-class="modelErrClass(shippingRate.errorList.WeightDependency)">
                Up to
                <span ng-show="!shippingRate.isEdit"><b>{{shippingRate.WeightDependency}}</b></span>
                <input type="text" ng-model="shippingRate.WeightDependency" ng-required="true" ng-show="shippingRate.isEdit" class="form-control" />
                kg
                <span ng-if="shippingRate.isLastWeight"> and above</span>
                <div ng-show="modelErrHas(shippingRate.errorList.WeightDependency)" class="field-validation-error">{{modelErrMsg(shippingRate.errorList.WeightDependency)}}</div>
            </div>
            <div class="col-xs-4 form-inline" ng-class="modelErrClass(shippingRate.errorList.Rate)">
                $<span ng-show="!shippingRate.isEdit">{{shippingRate.Rate}}</span>
                <input type="text" ng-model="shippingRate.Rate" ng-show="shippingRate.isEdit" ng-required="true" class="form-control" />
                <div ng-show="modelErrHas(shippingRate.errorList.Rate)" class="field-validation-error">{{modelErrMsg(shippingRate.errorList.Rate)}}</div>
            </div>
            <div class="col-xs-4">
                <input type="button" value="{{shippingRate.isEdit ? (shippingRate.ID>0 ? 'save' : 'add')  : 'edit'}}" ng-click="shippingRate.isEdit ? saveRate(shippingRate) : shippingRate.isEdit = true" class="btn btn-primary" />
                <input type="button" value="cancel" ng-show="shippingRate.isEdit && shippingRate.ID>0" ng-click="shippingRate.isEdit=false" class="btn btn-default" />
                <input type="button" value="delete" ng-show="shippingRate.isEdit && shippingRate.ID>0" ng-click="deleteRate(shippingRate)" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var ShippingMethodID = @Model.ShippingMethod.ID;
        var locations = @Html.Raw(Json.Encode(Model.Locations));
    </script>
    @Scripts.Render("~/bundles/shippingrates")
}


