﻿@model IEnumerable<Kawa.Models.ShippingMethod>

@{
    ViewBag.Title = "Shipping Methods";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "ShippingMethod", new { id="" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isHidden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHidden)
        </td>
        <td>
            @Html.ActionLink("Rates", "ShippingMethodRates", new { id = item.ID }) |
            @Html.ActionLink("Edit", "ShippingMethod", new { id = item.ID }) |
            @Html.ActionLink("Delete", "ShippingMethodDelete", new { id = item.ID })
        </td>
    </tr>
}

</table>
