﻿@model IEnumerable<Kawa.Models.State>

@{
    ViewBag.Title = ViewBag.Country.Name + " States";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "State", new { id = "", CountryID = ViewBag.Country.ID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isHidden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHidden)
        </td>
        <td>
            @Html.ActionLink("Edit", "State", new { id=item.ID }) |
            @Html.ActionLink("Delete", "StateDelete", new { id = item.ID })
        </td>
    </tr>
}

</table>
