﻿@using Kawa.Models

@foreach (Tag tag in ViewBag.AdhocPopupTags)
{
    if (!Request.Browser.IsMobileDevice)
    { 
        <div class="adhoctagpopup" data-tagid="@(tag.ID)" style="border-color:@tag.colour">
            <h3 style="color:@tag.colour">
                @switch (tag.SystemTag)
                {
                    case Tag.SystemTagOption.PRODUCT_CAT_HEAT_SENSITIVE:
                        <img src="~/Content/images/systemcats/snowflake.png" alt="" />
                        break;
                    case Tag.SystemTagOption.PRODUCT_CAT_FREE_SHIPPING:
                    <img src="~/Content/images/systemcats/free-delivery-reversed.png" class="freedel" alt="" />
                        break;
                }

            @tag.name
            </h3>
            @Html.Raw(tag.html)
        </div>
    }
    else
    { 
        <div class="modal fade modaladhoctag" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="adhoctagpopupmob" data-tagid="@(tag.ID)" style="border-color:@tag.colour">
                        <h3 style="color:@tag.colour">
                            @switch (tag.SystemTag)
                            {
                                case Tag.SystemTagOption.PRODUCT_CAT_HEAT_SENSITIVE:
                                    <img src="~/Content/images/systemcats/snowflake.png" alt="" />
                                    break;
                                case Tag.SystemTagOption.PRODUCT_CAT_FREE_SHIPPING:
                                <img src="~/Content/images/systemcats/free-delivery-reversed.png" alt="" />
                                    break;
                            }

                            @tag.name
                        </h3>
                        @Html.Raw(tag.html)
                    </div>
                </div>
            </div>
        </div>
    }
}
