﻿@using Kawa.Models.ViewModels
@if (ViewBag.showSpecial && ViewBag.showSpecialInFooter)
{
    <div class="special footer">
        <div class="container">
            @Html.Partial("_Special", new SpecialViewModel())
        </div>
    </div>
}
<footer>
    <div class="container footerbox">
        <div class="row links">

            <div class="col-xs-6 col-sm-4 socialicons">
                <a href="@ViewBag.model.getFooterUrl(Kawa.Models.Page.SystemPageOption.CONTACT_US)">Contact Us</a><br />
           
                <a href="@ViewBag.model.getFooterUrl(Kawa.Models.Page.SystemPageOption.PRIVACY)">Privacy Policy</a><br />

                <a href="@ViewBag.model.getFooterUrl(Kawa.Models.Page.SystemPageOption.TERMS_AND_CONDITIONS)">Terms and Conditions</a>

            </div>
            <div class="col-xs-12 col-sm-4 text-center ">
                &copy; @System.DateTime.Now.Year Meguiar's
            </div>
            <div class="col-xs-12 col-sm-4 text-right socialicons ">

                <a href="https://www.facebook.com/meguiarsnewzealand" target="_blank" rel="noreferrer"><img src="~/Content/images/icon/fb.png" alt="Facebook" /></a>

                <a href="https://www.instagram.com/meguiars_nz/" target="_blank" rel="noreferrer"><img src="~/Content/images/icon/ig.png" alt="Instagram" /></a>

                <a href="https://twitter.com/LoveMyCarNZ" target="_blank" rel="noreferrer"><img src="~/Content/images/icon/tw.png" alt="Twitter" /></a>

                <a href="https://www.youtube.com/channel/UCQI-SUtne_lgh6vC-dkjAAg" target="_blank" rel="noreferrer"><img src="~/Content/images/icon/yt.png" alt="Youtube" /></a>


            </div>
        </div>

    </div>
</footer>


<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "395324774224");
      chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v14.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
</script>
