﻿@model Kawa.Models.ViewModels.ProductSliderViewModel
@using Kawa.Models
@{
    var controlName = "carousel_" + Model.MainTag.ID;
}
<div class="row">
    <div class="col-xs-12">
        <div class="multi-item-carousel" data-tagid="@Model.MainTag.ID" data-interval="false">
            <div class="slider-header slider-header-yellow"><a href="#" class="mainsection" data-tagid="@Model.MainTag.ID">@Model.MainTag.name</a></div>
            @if (Model.Tags != null)
            {
                <div class="slider-subtag">

                    <div class="dropdown visible-xs-block visible-sm-block">

                        <ul class="dropdown-menu" aria-labelledby="@("dropdownMenu"+Model.MainTag.ID)">
                            <li><a href="#" class="intersection" data-tagid="@Model.MainTag.ID">All @Model.MainTag.name</a></li>
                            @foreach (var tag in Model.Tags)
                            {
                                <li><a href="#" class="intersection" data-tagid="@tag.ID">@tag.name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {

            }
            <div class="carousel slide" id="@controlName">
                <div class="carousel-inner"></div>
                <a class="left carousel-control" href="#@controlName" data-slide="prev"><img src="~/Content/images/slider-arrow.png" style="transform: rotate(180deg);" alt="Previous Item"></a>
                <a class="right carousel-control" href="#@controlName" data-slide="next"><img src="~/Content/images/slider-arrow.png" alt="Next Item"></a>
                <div class="data">
                    @Html.Partial("_ItemSliderData", Model.Products)
                </div>
            </div>
        </div>
    </div>
</div>