﻿@using Kawa.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: @ViewBag.Title</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    

    @Styles.Render("~/Content/admincss")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("Css", false)
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container nav-container">
            <div class="navbar-header">
                <a href="/"><img class="client-logo" src="~/Content/images/logo.png" alt="Meguiars" /></a>
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
    </div>


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div id="sidebar-inner" class="adminmenu">
                <h3>Admin Home</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink(" - Admin Home", "AdminIndex", new { id = "" })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink(" - Propella Services", "PropellaAdminIndex", new { id = "" })
                    </li>
                  
                </ul>
                <h3>Orders</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Processing Orders", "ShopAdminIndex", new { id = Status.StatusSetOption.ACTIVE_ORDER })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Direct Deposit Orders", "ShopAdminIndex", new { id = Status.StatusSetOption.AWAITING_PAYMENT })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Complete Orders", "ShopAdminIndex", new { id = Status.StatusSetOption.SENT })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- New Order", "ShopAdminNewOrder", new { id = "" })
                    </li>
                    <!---
    <li class="sidebar-brand">
        @Html.RouteLink("- Flags", "FlagsIndex", new { id = "" })
    </li>
    <li class="sidebar-brand">
        @Html.RouteLink("- Reports", "ReportsIndex", new { id = "" })
    </li>
                         <li class="sidebar-brand">
                        @Html.RouteLink("- Shipping Banner 1", "ArticleAdminShippingBanner", new { id = 1 })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Shipping Banner 2", "ArticleAdminShippingBanner", new { id = 2 })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Retraction", "ArticleAdminRetraction", new { id = "" })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Billing Details Warning", "ArticleAdminContentInsert", new { id = Kawa.Models.Page.SystemPageOption.BILLING_DETAILS_CC })
                    </li>
                            <li class="sidebar-brand">
                        @Html.RouteLink("- Bulk Update Groups", "TagAdminBulkActionGroups", new { id = "" })
                    </li>

                        <h3>Purchase Orders</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Processing Purchase Orders", "PurchaseOrdersIndex", new { id = "" })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Completed Purchase Orders", "PurchaseOrdersIndex", new { id = Kawa.Models.ViewModels.PurchaseOrderItemFilterViewModel.StatusSetOption.COMPLETE })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Suppliers", "SupplierAdminIndex", new { id = "" })
                    </li>
                </ul>  <li class="sidebar-brand">
                        @Html.RouteLink("- Settings", "AdminSettings", new { id = "" })
                    </li>  <li class="sidebar-brand">
                        @Html.RouteLink("- Headline Banner", "HomeAdminBanners", new { id = "" })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Popular Brands", "HomeAdminBrands", new { id = "" })
                    </li>
                     <li class="sidebar-brand">
                        @Html.RouteLink("- Signature Manager", "SignaturesIndex", new { id = "" })
                    </li>
        -->

                </ul>
                <h3>Vouchers</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Promotion and Voucher Management", "PromotionAdminIndex", new { id = "" })
                    </li>
                </ul>
                <h3>Homepage</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Module Management", "ArticleAdminModules", new { id = "" })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Module Placement", "HomeAdminModules", new { id = "" })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Metadescription", "ArticleAdminContentInsert", new { id = Kawa.Models.Page.SystemPageOption.HOMEPAGE_METADESCRIPTION })
                    </li>
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Homepage Slideshow", "ArticleAdminPage", new { id = "13" })
                    </li>
                    <li><a href="/admin/Prescription/6379"> - Car Care Prescription</a></li>
                    
                </ul>
                <h3>Products</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Product Management", "ProductAdminIndex", new { id = "" })
                    </li>
                    <li  class="sidebar-brand"><a href="/admin/categories/2792?productcounts=True"> - Trending Products</a></li>
                </ul>

                <h3>Categories</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Category Management", "TagAdminIndex", new { id = "" })
                    </li>
                
                </ul>

                <h3>Pages</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Article Management", "ArticleAdminIndex", new { id = "" })
                    </li>
                    <li class="sidebar-brand">
                        <a href="/admin/pages/page/472"> - News Article Selector</a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="/admin/faq"> - Faq Management</a>
                    </li>
                    <li class="sidebar-brand">
                        <a href="/admin/pages/page/476"> - PDF Catalog Management</a>
                    </li>
                </ul>

                

                <h3>Accounts</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Account Management", "AccountAdminIndex", new { id = "" })
                    </li>
                </ul>
                <h3>Sitemaps</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Generate SiteMap", "AdminGenerateSiteMap", new { id = "" })
                    </li>
                </ul>
                <h3>Config</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Status Manager", "ConfigStatusManager", new { id = "" })
                    </li>
                  
                    <li class="sidebar-brand">
                        @Html.RouteLink("- Shipping Manager", "ShippingConfigIndex", new { id = "" })
                    </li>
                  
                </ul>
                <h3>Security</h3>
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <a href="javascript:document.getElementById('logoutForm').submit()">- Log off</a>
                        }
                    </li>
                </ul>
                <br /><br /><br />
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>




    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=h6kz40c9tmefi8zc1dcxwhh89o4rkkkqilf28c0rlqauy2v9"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/angular-ui/ui-tinymce/master/src/tinymce.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
</body>
</html>
