﻿@using Kawa.Models.ViewModels
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TG2S2C8');</script>
    <!-- End Google Tag Manager -->
    <!-- Meta Pixel Code -->

    <script>

        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?

                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };

            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';

            n.queue = []; t = b.createElement(e); t.async = !0;

            t.src = v; s = b.getElementsByTagName(e)[0];

            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',

            'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '976785843281143');

        fbq('track', 'PageView');

    </script>


    <!-- End Meta Pixel Code -->



    <meta name="facebook-domain-verification" content="el35jnue93llbas42gt5b4taiq6s51" />

    <meta charset="utf-8" />
    @if (((SiteViewModel)(ViewBag.model)).isTablet)
    {
        <meta name="viewport" content="width=1000">
    }
    else
    {
        if (((SiteViewModel)(ViewBag.model)).isDevice)
        {
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5" />
        }
        else
        {
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        }
    }

    @Html.Partial("_TitleAndMetaTags")

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap" rel="stylesheet">

    @Html.Partial("_GoogleTags")

    @Styles.Render("~/Content/css")



    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap" rel="stylesheet">


    @if (!((SiteViewModel)(ViewBag.model)).isDevice)
    {
        <style>
            ul.nav li.dropdown:hover > ul.dropdown-menu {
                display: block;
            }
        </style>
    }

    @if (ViewBag.sideWideSlot != null)
    {
        @Styles.Render("~/Content/csssitewideslot")
    }




    @RenderSection("Css", false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG2S2C8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=976785843281143&ev=PageView&noscript=1" />
    </noscript>


    <div class="site">
        @Html.Partial("_Menu")

        <div id="page-content" class="body-content">


            @RenderBody()

        </div>

        @Html.Partial("_Footer")
    </div>

    @Html.Partial("_ModalAccount")
    @if (false && ViewBag.showSpecial && !ViewBag.specialPopupSuppressed)
    {
        @Html.Partial("_ModalSpecial")
    }

    @Html.Partial("_ModalBasketAdded")
    <!---
        @Html.Partial("_AdhocTagPopups")
    -->


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    @if (!((SiteViewModel)(ViewBag.model)).isDevice)
    {
        <script>
            $(function () {
                $("#proddropdown").click(function () {
                    location.href = "/products/";
                })
            });
        </script>
    }

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/sitewidejs")


    @if (ViewBag.showSpecial)
    {
        @Scripts.Render("~/bundles/special")
    }
    @RenderSection("scripts", required: false)

    @Html.Partial("_Tracking")
</body>
</html>
