﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <a href="/account/"><img src="~/Content/images/my-account.png" alt="My Account" class="account-img"></a>
        @Html.ActionLink(@User.Identity.GetUserName().Split('@')[0], "Index", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="registerLink" })
        <span>:</span>
        <a href="javascript:document.getElementById('logoutForm').submit()">log off</a>
    }
}
else
{
    <img src="~/Content/images/my-account.png" alt="My Account" class="account-img">
     @Html.ActionLink("login", "Login", "Account")
     @*
        @Html.ActionLink("Create an Account", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    *@
}
