﻿@model Kawa.Models.Product
@using Kawa.Models
@using Kawa.Models.ViewModels
@using Kawa.Models.Extensions
@using System.Linq
<div  id="markertags_new">
    @foreach (string tag in Model.markertags.Where(x=>!x.isHidden).Select(x=>x.nameSpecialtag).Distinct())
    {
        <div class="specialtag @("customtag_" + tag.Replace(" ", "_")) col-xs-6 adhoctag" style="float:right;margin:auto;"  title="@tag"></div>
    }
</div>