﻿@model Kawa.Models.Tag

<li @Html.Raw(!string.IsNullOrEmpty(Model.colour) ? "style='background-color:" + Model.colour + "'" : "")>
    @if(Model.getUrl()=="#")
    {
        <a>@Html.Raw(Model.name)</a>
    }
    else
    {
        <a href="@Model.getUrl()">@Html.Raw(Model.name)</a>
    }
    @{ 
        List<Kawa.Models.Tag> submenutags = Model.subtags;
        if (Model.Type == Kawa.Models.Tag.TypeOption.BRAND_SECTION)
        {
            submenutags = Model.subtags.Where(x => x.aliases == "CATGRP").ToList();
        }
    }
    @if (submenutags != null && submenutags.Any())
    {
        submenutags.ForEach(x => x.level = Model.level + 1);
        <a class="togglelink" data-toggle="collapse" href="#collapse@(Model.ID)"><img src="~/Content/images/slide-arrow-down.png" class="up"><img src="~/Content/images/slide-arrow-right.png" class="side" alt=""></a>
        <div id="collapse@(Model.ID)" class="panel-collapse collapse level@(Model.level)">
            <ul>
                @foreach (var tag in submenutags)
                {
                    @Html.Partial("_MenuSlideComponent", tag)
                }
            </ul>
        </div>
    }
</li>