﻿@using Kawa.Models;
@using Kawa.Models.ViewModels;
@{
    var Model = (MenuViewModel)ViewBag.MenuModel;
    
}
@Html.Partial("_SiteWideModule")





<div class="navbar navbar-simple navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container box">
        <div class="navbar-header  row">
            <div class="col-xs-3 visible-xs">
                <a class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-12 text-center ">
                <a href="/" class="logohome">
                    <img class="logo" src="~/Content/images/logo.png" alt="Meguiars" />
                </a>
            </div>
            <div class="col-xs-3 hidden-sm hidden-md hidden-lg menubasket">

                <div class="basketcount">
                    <a class="" href="/shop">
                        <img src="~/Content/images/headercarticon.png" alt="Cart" class="cart-img">
                        <b class="basketcounter">@Model.OrderSummary.BasketCount</b>
                    </a>
                </div>
            </div>
            
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    @using (Html.BeginForm("Index", "Search", new { id = "" }, FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-xs-10">
                                <input id="mobsearch" class="searchauto searchauto1" type="text" placeholder="Search for a product" name="search" style="margin-top: 55px; width: 96%; max-width: 100%; margin-left: 10px;">
                            </div>
                            <div class="col-xs-2 text-center">
                                <input type="submit" class="searchmag" value=" " />
                            </div>
                        </div>
                    }
                </div>

        </div>

        <div class="shopbox">
            <div class="indicatorrow menubasket">

                <div class="basketcount hidden-xs ">
                    <a class="" href="/shop">
                        <img src="~/Content/images/headercarticon.png" alt="Cart" class="cart-img">
                        <b class="basketcounter">@Model.OrderSummary.BasketCount</b>
                    </a>
                </div>
                <div class="basketcount hidden-xs ">
                    <a class="" href="/home/wishlist">
                        <img src="~/Content/images/headerfavicon.png" alt="Favs" class="cart-img">
                    </a>
                </div>

                <form action="/Account/LogOff" id="logoutForm" method="post">
                    @Html.AntiForgeryToken()
                </form>
                <div class="myaccount text-center hidden-xs ">
                    <ul class="nav navbar-nav">

                        @if (Request.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="/Account/orders" class="dropdown-toggle" id="accountmenux" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">My Account</a>
                                <ul class="dropdown-menu dropdown-menu-left accountmenu-dropdown">
                                    <li><a href="/Account/orders">My Orders</a></li>
                                    <li><a href="/Account/wishlist">Wishlist</a></li>
                                    <li><a href="/Account/details">Edit Profile</a></li>
                                    <li><a href="/Account/changepassword">Change Password</a></li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="/account/login">Login</a> or <a href="/account/register">Register</a></li>
                        }
                    </ul>
                </div>
                <div class="hidden-xs">
                    @Html.Partial("_Search")
                </div>

            </div>




            <div class="container-fluid categories-box categories-horis-list hidden-xs ">
                <div class="catmenu">
                    <div class="topcats">
                        <ul class="nav navbar-nav">


                            <li><a href="/about" class="maintag">About Meguiar's</a></li>
                            @foreach (var brand in Model.Brands.Where(x => x.html != "MEGM"))///
                            {
                                
                                <li class="dropdown">
                                    <a href="/" class="dropdown-toggle" id="proddropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        @Html.Raw(brand.name.Replace("MEGUIARS ", "").ToLower())
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-left catmenu-dropdown">
                                        @foreach (var catgroup in brand.subtags.Where(x => x.aliases == "CATGRP"))
                                        {
                                            string submenuname = brand.ID + "_" + catgroup.ID + "_submenu";
                                            <li>
                                                @if (brand.subtags.Where(x => x.aliases == "CAT" && x.ParentID == catgroup.ID).Count() != 0)
                                                {
                                                    <a class=" dropdown-toggle" href="/products/@brand.nameUrl/@catgroup.nameUrl">
                                                        @Html.Raw(catgroup.name.ToLower())
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="" href="/products/@brand.nameUrl/@catgroup.nameUrl" onmouseover="javascript: $('.submenudiv').hide();">@Html.Raw(catgroup.name.ToLower())</a>
                                                }
                                            </li>
                                        }
                                        @if (brand.oldID == 1428)///insert the marine menu
                                        {

                                            Tag marine = Model.Brands.Where(x => x.oldID == 1446).FirstOrDefault();
                                            if(marine!=null)
                                            {
                                                string submenuname = brand.ID + "_" + marine.ID + "_submenu";

                                            <li>
                                                <a class=" dropdown-toggle" href="/products/@marine.nameUrl">
                                                    @marine.name.Replace("MEGUIARS ", "").ToLower()
                                                </a>
                                            </li>

                                            if (Model.Catalogs.siteResources.Where(x => x.SiteResourceType == SiteResource.SiteResourceTypeOption.MARINE_CATALOG).FirstOrDefault() != null)
                                            {
                                                SiteResource file = Model.Catalogs.siteResources.Where(x => x.SiteResourceType == SiteResource.SiteResourceTypeOption.MARINE_CATALOG).FirstOrDefault();

                                                <li>
                                                    <a href="@file.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE)" target="_catalog">Marine Catalogue (Download PDF)</a>
                                                </li>
                                                }
                                            }

                                        }

                                        @if (brand.name.ToLower().Contains("consumer") && Model.Catalogs.siteResources.Where(x => x.SiteResourceType == SiteResource.SiteResourceTypeOption.CONSUMER_CATALOG).FirstOrDefault() != null)
                                        {
                                            SiteResource file = Model.Catalogs.siteResources.Where(x => x.SiteResourceType == SiteResource.SiteResourceTypeOption.CONSUMER_CATALOG).FirstOrDefault();
                                            <li>
                                                <a href="@file.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE)" target="_catalog">@brand.name.Replace("MEGUIARS ", "").ToLower() Catalogue (Download PDF)</a>
                                            </li>
                                        }
                                        @if (brand.name.ToLower().Contains("professional") && Model.Catalogs.siteResources.Where(x => x.SiteResourceType == SiteResource.SiteResourceTypeOption.PROFESSIONAL_CATALOG).FirstOrDefault() != null)
                                        {
                                            SiteResource file = Model.Catalogs.siteResources.Where(x => x.SiteResourceType == SiteResource.SiteResourceTypeOption.PROFESSIONAL_CATALOG).FirstOrDefault();
                                            <li>
                                                <a href="@file.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE)" target="_catalog">@brand.name.Replace("MEGUIARS ", "").ToLower() Catalogue (Download PDF)</a>
                                            </li>
                                        }


                                    </ul>

                                </li>

                                if (brand.html == "0001MEGC")
                                {
                                    <li><a href="/home/prescription" class="maintag">Car Care Prescription</a></li>

                                }

                            }


                            <li class="dropdown">
                                <a href="/" class="dropdown-toggle" id="proddropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    News & Events
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right catmenu-dropdown">
                                    <li>
                                        <a class="" href="/news">
                                            News
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="/events">
                                            Events
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="/home/Galleries?type=@GalleryTypeOption.Gallery_Photo">
                                            Gallery
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/" class="dropdown-toggle" id="proddropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    How To
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right catmenu-dropdown">
                                    <li>
                                        <a class="" href="/home/videos/Consumer">
                                            How To Video's Consumer Products

                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="/home/videos/Professional">
                                            How To Video's Professional Products
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="/home/faq">
                                            FAQ's'
                                        </a>
                                    </li>

                                </ul>
                            </li>


                        </ul>
                    </div>
                    <div class="subcatmenu">
                        @foreach (var tag in Model.Brands)
                        {
                            <div data-tagid="@tag.ID">

                                <div class="row subcatlists">

                                    <div class="catsul">
                                        <b>Categories</b>

                                        @foreach (var sub in tag.subtags.Where(x => x.aliases == "CATGRP"))
                                        {
                                            <a href="@sub.getUrl()"><b>@Html.Raw(sub.name)</b></a><br />


                                            foreach (var subx in tag.subtags.Where(x => x.aliases == "CAT" && x.ParentID == sub.ID))
                                            {
                                                <a href="@subx.getUrl()"> - @Html.Raw(subx.name)</a><br />
                                            }

                                            <br /><br />
                                        }
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="navbar-height-col" class="inverse">
    <div id="mob-menu-main" class="navbar-collapse-main navbar-submenu catmenu">


        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Why Meguiar's</a></li>
            @foreach (Tag brand in Model.Brands)
            {
                @Html.Partial("_MenuSlideComponent", brand)
            }

        <li>
            <a>News and Events</a>

            <a class="togglelink collapsed" data-toggle="collapse" href="#collapse3455x" aria-expanded="false"><img src="/Content/images/slide-arrow-down.png" class="up"><img src="/Content/images/slide-arrow-right.png" class="side" alt=""></a>
            <div id="collapse3455x" class="panel-collapse level0 collapse" aria-expanded="false" style="height: 0px;">
                <ul>
                    <li>
                        <a class="" href="/news">
                            News
                        </a>
                    </li>
                    <li>
                        <a class="" href="/events">
                            Events
                        </a>
                    </li>
                </ul>
            </div>
        </li>
               
                <li>
                    <a class="" href="/home/Galleries?type=@GalleryTypeOption.Gallery_Photo">
                        Gallery
                    </a>
                </li>

            <li>
                <a class="" href="/home/videos">
                    Videos
                </a>
            </li>
            <li>
                <a class="" href="/home/faq">
                    FAQ's
                </a>
            </li>
            @if (Request.IsAuthenticated)
            {
                <li>
                    <a>My Account</a>

                    <a class="togglelink collapsed" data-toggle="collapse" href="#collapse34555" aria-expanded="false"><img src="/Content/images/slide-arrow-down.png" class="up"><img src="/Content/images/slide-arrow-right.png" class="side" alt=""></a>
                    <div id="collapse34555" class="panel-collapse level0 collapse" aria-expanded="false" style="height: 0px;">
                        <ul>
                            <li><a href="/Account/orders">My Orders</a></li>
                            <li><a href="/Account/wishlist">Wishlist</a></li>
                            <li><a href="/Account/details">Edit Profile</a></li>
                            <li><a href="/Account/changepassword">Change Password</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            }
            else
            {
                <li><a href="/home/wishlist">My Wishlist</a></li>
                <li><a href="/account/login">Login</a> or <a href="/account/register">Register</a></li>
            }

            <!---<li>@Html.ActionLink("My Account", "Index", "Account", new { id = "" }, new { })</li>
    <li>@Html.Partial("_LoginPartialSlideout")</li>-->
        </ul>
    </div>
</div>
<div class="shadowbox"><div class="shadow"></div></div>

