﻿<div class="modal fade modalbasketadded" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a data-toggle="modal" data-dismiss="modal">
                    <img src="~/Content/images/cross.png" alt="">
                </a>
            </div>
            <div class="inner-content">
                
            </div>
        </div>
    </div>
</div>
