﻿@model Kawa.Models.Page
<div class="messagemodal">

    <div class="row">
        <div class="col-xs-12">

            <h2>@Model.name</h2>

            <br />
            <p>@Html.Raw(Model.html2)</p>

            <br />
            <a href="javascript: $('.modalmessage').modal('toggle');" class="formbutton btnleft continuebtn pull-left">Back to delivery details</a>
            
            <a href="/Shop" class="formbutton btnright continuebtn pull-right">Back to cart</a>
        </div>
    </div>
</div>