﻿@using Kawa.Models.ViewModels
<div class="modal fade modalmessage modalmessager" tabindex="-1" role="dialog" aria-labelledby="myLargexModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a data-toggle="modal" data-dismiss="modal">
                    <img src="~/Content/images/cross.png">
                </a>
            </div>
            <div class="inner-content">
            </div>
        </div>
    </div>
</div>
