﻿@using Kawa.Models.ViewModels
<div class="modal fade modalspecial" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <img class="logo" src="/Content/images/logo.png" alt="DVE - Meguiars">
                <a data-toggle="modal" data-dismiss="modal">
                    <img src="~/Content/images/cross.png" alt="">
                </a>
            </div>
            <div class="inner-content">
                @Html.Partial("_Special", new SpecialViewModel())
            </div>
        </div>
    </div>
</div>

