﻿@model Kawa.Models.ViewModels.SearchResultsViewModel
@using PagedList.Mvc;



@if (Model.Products.PageCount > 1)
{
<div class="pager-box row hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12 text-center">
        @Html.PagedListPager(Model.Products, page => "?page=" + page, new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 3, DisplayEllipsesWhenNotShowingAllPageNumbers = false })
    </div>
    <!--- <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
         @Html.Partial("_PageSizeSelector", Model)
     </div>
        -->
</div>

    <div class="pager-box row hidden-xs">
        <div class="col-xs-12 text-center">
            @Html.PagedListPager(Model.Products, page => "?page=" + page, new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 12 })
            <!---@Html.Partial("_PageSizeSelector", Model)-->
        </div>
    </div>


}
