﻿@model Kawa.Models.ViewModels.SearchResultsViewModel
<div class="pagesize-box">
    View
    <select class="pagesizesel" data-state="@Model.getPagesUrl(1, Url)">
        <option @(Model.Products.PageSize == 16 ? "selected" : "")>16</option>
        <option @(Model.Products.PageSize == 60 ? "selected" : "")>60</option>
        <option @(Model.Products.PageSize == 120 ? "selected" : "")>120</option>
    </select>
</div>
