﻿@model Kawa.Models.ViewModels.ProductImageViewModel
@using Kawa.Models
@using Kawa.Models.ViewModels



<div class="product-img">
    <div class="specialtags row">
        @Html.Partial("_MarkerTag", Model.Product)


        @if (Model.Product.variant.isHidden)
        {
            <div class="specialtag col-xs-6" style="background-color:#676767;"><img src="~/Content/images/ghostbusters.png" alt="" />OUT OF STOCK</div>
        }
    </div>
    @if (Model.Version == SiteResource.SiteResourceVersion.ITEM_PAGE)
    { 
        <a href="@Model.Product.getSrUrl(SiteResource.SiteResourceTypeOption.PRODUCT_IMAGE, SiteResource.SiteResourceVersion.ITEM_LARGE)" data-gallery>
            <img class="img" src="@Model.Product.getSrUrl(SiteResource.SiteResourceTypeOption.PRODUCT_IMAGE, Model.Version)" alt="@Model.Product.name" />
        </a>
    }
    else
    {
        <img class="img" src="@Model.Product.getSrUrl(SiteResource.SiteResourceTypeOption.PRODUCT_IMAGE, Model.Version)" alt="@Model.Product.name"  />
    }
</div>