﻿@using Kawa.Models.ViewModels
@using Kawa.Models
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=1100">
        
        <title>Redirect Debugger</title>
       
       
    </head>
    <body>
        
            <div id="body">
                <div class="content-wrapper main-content clear-fix">
                    
                    @RenderBody()
                    
                </div>
            </div>

    </body>
</html>
