﻿@model Kawa.Models.ResultFilterViewModel
@using MvcCheckBoxList
@using MvcCheckBoxList.Model
@{
    var nofilters = 1 + (Model.brands.Count()>1 ? 1 : 0) + (Model.specialties.Any() ? 1 : 0);
    var col = 12 / nofilters;
}

<div class="row result-filter">
    <h3 data-toggle="collapse" data-target="#resultfilter">REFINE YOUR SEARCH <img src="~/Content/images/slide-arrow-down-black.png" class="up" alt=""><img src="~/Content/images/slide-arrow-right-black.png" class="side" alt=""></h3>

    <div id="resultfilter" class="contents collapse">
        <div>
            @using (Html.BeginForm(null, null, new { }))
            {
                if(!string.IsNullOrEmpty(Model.postedResultFilters.search))
                {
                    @Html.HiddenFor(x => x.postedResultFilters.search)
                }
                <div class="row">
                    <div class="col-sm-@(col)">
                        <b>PRICE</b><br />
                        @Html.CheckBoxListFor(x => x.postedResultFilters.PriceIDs,
                                          x => x.prices,
                                          x => x.ID,
                                          x => x.name,
                                          x => x.selectedPrices,
                                       Position.Vertical)

                    </div>
                    @if (Model.brands.Count() > 1)
                    {
                    <div class="col-sm-@(col)">
                        <b>BRAND</b><br />
                        @Html.CheckBoxListFor(x => x.postedResultFilters.BrandIDs,
                                          x => x.brands,
                                          x => x.ID,
                                          x => x.name,
                                          x => x.selectedBrands,
                                       Position.Vertical)

                    </div>
                    }
                    @if (Model.specialties.Any())
                    {
                    <div class="col-sm-@(col)">
                        <b>SPECIALTY</b><br />
                        @Html.CheckBoxListFor(x => x.postedResultFilters.SpecialtiesIDs,
                                          x => x.specialties,
                                          x => x.ID,
                                          x => x.name,
                                            x => x.selectedSpecialties,
                                       Position.Vertical)

                    </div>
                    }
                </div>
                <div class="submitrow">
                    <input type="submit" value="Filter" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
