﻿@using Kawa.Models;
@using Kawa.Models.ViewModels;
@{
    var Model = (MenuViewModel)ViewBag.MenuModel;
}
<div class="searchblock">
    @if(true)
    { 
    <div class="searchrow" ng-app="angApp" ng-controller="SearchController" data-searchstr="@ViewBag.Search">
        @using (Html.BeginForm("Index", "Search", new { id = "" }, FormMethod.Get))
        {
            <span class="cancel" ng-click="cancel()">X</span>
            <input type="submit" class="mag" value=" "  />

            <input id="searchauto1" ng-model="search.searchStr" class="searchauto searchauto1" ng-class="{'running':search.results}" type="text" placeholder="Search for a product" name="search">
            <div class="results row" ng-show="search.results" ng-cloak>
                <div class="borderfix"></div>

            
            <div class="col-xs-12 col-sm-12 products searchres">
            
                <div ng-if="search.results.products_consumer.length != 0">
                    <h4>Consumer Products</h4>
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="searchresult" ng-repeat="product in search.results.products_consumer">

                                <div class=""><a ng-href="{{product.url}}" ng-click="saveProductHit(product.ID)">{{product.name}} - {{product.sku}}</a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="search.results.products_pro.length != 0">
                    <h4>Professional Products</h4>
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="searchresult" ng-repeat="product in search.results.products_pro">

                                <div class=""><a ng-href="{{product.url}}" ng-click="saveProductHit(product.ID)">{{product.name}} - {{product.sku}}</a></div>

                            </div>
                        </div>
                    </div>
                </div>
             
                <br />
                <div class="viewwmore" ng-click="viewMoreResults()">View more results >></div>

            </div>

            </div>
          
        }
    </div>
    }
    else
    {
        <div class="searchrow">
         @using (Html.BeginForm("Index", "Search", new { id = "" }, FormMethod.Get))
         {
            <span class="cancel" ng-click="cancel()">X</span>
            <input type="submit" class="mag" value=" " />
            <input id="searchauto1" class="searchauto searchauto1" type="text" placeholder="Search for a product, brand or category" name="search" value="@ViewBag.Search">
         }
         </div>
    }
</div>