﻿@model Kawa.Models.ViewModels.AdminViewModel
@using Kawa.Models  
   

@{
 int i = 0 ;
 int iZero = 0 ;
}

@if (!Model.isPartial)
{

@:<div class="siteresourcesinsert">

}

@foreach (SiteResource sr in Model.srOwner.siteResources.Where(s => s.ID != 0))
{
    <div class="item">
        <div class="row">
            <div class="col-sm-3">
                @Model.getFiletypeDescription(sr.SiteResourceType) :
            </div>
            <div class="col-sm-6">
                <input type="hidden" id="@(Model.srOwner.getPostObjectName())_siteResources_@(i)__ID" name="@(Model.srOwner.getPostObjectName()).siteResources[@i].ID" value="@sr.ID" />
                <input type="text" id="@(Model.srOwner.getPostObjectName())_siteResources_@(i)__Caption" name="@(Model.srOwner.getPostObjectName()).siteResources[@i].Caption" value="@sr.Caption" class="imgcapt" placeholder="description/url" />
            </div>
            <div class="col-sm-3">
                <a href="javascript:void(0)" onclick="siteResourceAction(@(sr.ID),'delete')">delete</a>
                <a href="javascript:void(0)" onclick="siteResourceAction(@(sr.ID),'up')">up</a>
                <a href="javascript:void(0)" onclick="siteResourceAction(@(sr.ID),'down')">down</a>

                @{i++;}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                @switch (sr.SiteResourceType)
                {
                    case SiteResource.SiteResourceTypeOption.FILE_FOR_DOWNLOAD:

                        var img = "text-x-generic-icon.png";
                        if (sr.FileName.EndsWith(".pdf")) { img = "Adobe_PDF_Icon.svg.png"; }
                        if (sr.FileName.EndsWith(".zip")) { img = "mac_zip_icon.jpg"; }
                        if (sr.FileName.EndsWith(".mp4")) { img = "mp4.png"; }

                        <a href="@(sr.url)" target="_blank"><img src="/content/images/@img" style="width:50px" alt="" /></a>

                        break;
                    case SiteResource.SiteResourceTypeOption.PROFESSIONAL_CATALOG:

            <a href="@(sr.url)" target="_blank"><img src="/content/images/Adobe_PDF_Icon.svg.png" style="width:50px" alt="" /> @sr.FileName</a>
                        break;
                    case SiteResource.SiteResourceTypeOption.CONSUMER_CATALOG:

            <a href="@(sr.url)" target="_blank"><img src="/content/images/Adobe_PDF_Icon.svg.png" style="width:50px" alt="" /> @sr.FileName</a>
                        break;
                    case SiteResource.SiteResourceTypeOption.MARINE_CATALOG:
            <a href="@(sr.url)" target="_blank"><img src="/content/images/Adobe_PDF_Icon.svg.png" style="width:50px" alt="" /> @sr.FileName</a>
                        break;
                    case SiteResource.SiteResourceTypeOption.SLIDESHOW_MP4:

                        <a href="@(sr.url)" target="_blank"><img src="/content/images/mp4.png" style="width:50px" alt="" /></a>

                        break;
                    case SiteResource.SiteResourceTypeOption.SLIDESHOW_MOBILE_MP4:

                        <a href="@(sr.url)" target="_blank"><img src="/content/images/mp4.png" style="width:50px" alt="" /></a>

                        break;
                    default:
                        <img src="@(sr.url)" class="srimg" alt="@sr.url" />
                        break;
                }

            </div>
        </div>
    </div>
}


    
    

@foreach (SiteResource sr in Model.srOwner.siteResources.Where(s => s.ID == 0))
{
    <div class="item">
        <div class="row">
            <div class="col-sm-2">Add Image:</div>
            <div class="col-sm-2">
                <input type="hidden" id="@(Model.srOwner.getPostObjectName())_siteResources_@(i)__ID" name="@(Model.srOwner.getPostObjectName()).siteResources[@i].ID" value="@sr.ID" />
                <select id="@(Model.srOwner.getPostObjectName())_siteResources_@(i)__SiteResourceType" name="@(Model.srOwner.getPostObjectName()).siteResources[@i].SiteResourceType" class="imgopt">
                    @foreach (var val in Model.srTypes)
                    {
                        <option value="@val">
                            @Model.getFiletypeDescription(val) :
                        </option>
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <input type="text" id="@(Model.srOwner.getPostObjectName())_siteResources_@(i)__Caption" name="@(Model.srOwner.getPostObjectName()).siteResources[@i].Caption" class="imgcapt" placeholder="description/url" />
            </div>
            <div class="col-sm-5">
                <input type="file" id="@(Model.srOwner.getPostObjectName())_siteResources_@(i)__FileName" name="@(Model.srOwner.getPostObjectName()).siteResources[@i].FileName" />
            </div>

                @{i++; iZero++;}
            
        </div>
    </div>
}

<input type="button" onclick="imageSave()" value="upload images/files" />
<input type="hidden" value="false" name="showedit" id="showedit" />

@if (!Model.isPartial)
{

@: </div>
    
}



