﻿@using Kawa.Models
@if (ViewBag.sideWideSlot != null)
{
    <div class="container-fluid sidewide-slot"
         @if(!string.IsNullOrEmpty(((Slot)ViewBag.sideWideSlot).page.html4)) {
             @:style="background-color:@(((Slot)ViewBag.sideWideSlot).page.html4)"
         }
         ><a href="@(((Slot)ViewBag.sideWideSlot).page.getUrl())">@(((Slot)ViewBag.sideWideSlot).page.name)</a></div>
}

