﻿@model Kawa.Models.Product
@using Kawa.Models
@using Kawa.Models.ViewModels
@using System.Configuration;
@{


}
<div class="list-product">
    <div class="imgbox">
        <a href="@Model.getUrl()">
          
            @if (Model.sThumb != null)
            {
                <img class="img" src="@(Model.sThumb)" />
            }
            else
            {
                <img src="~/Content/images/no-image-small.png" class="img" />
            }

        </a>
    </div>
    <div class="name">
        <a href="@Model.getUrl()">@Model.name</a>
    </div>
    <div class="price">
        @if (Model.variant.priceMargin > 0)
        {
            <span class="rrp">
                <strike>@(Model.variant.priceRRP.ToString("c"))</strike>
            </span>
            <span class="discount">
                Save: @Model.variant.priceMargin.ToString("0.0")%
            </span>
        }
        else
        {
            <div class="no-discount-jim"></div>
        }
        <div class="realprice">
            @(Model.variant.price.ToString("c"))
        </div>
    </div>
    <div class="add">
        @using (Html.BeginForm("AddToBasket", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
        {
            @Html.HiddenFor(m => m.basket.VariantID)
            @Html.HiddenFor(m => m.basket.Quantity)
            if (Model.CanBeOrdered)
            {
                if (!Model.HasVariantPreOrder)
                {
                    <button type="button" class="addtocartbutton gotoproduct" data-produrl="@Model.getUrl()">ADD TO CART</button>
                }
                else
                {
                    <button type="button" class="addtocartbutton outofstock preorder gotoproduct" data-produrl="@Model.getUrl()">PRE-ORDER NOW</button>
                }
            }
            else
            {
                <button type="button" class="addtocartbutton outofstock stocknotice" data-href="/products/notify/@Model.ID">NOTIFY ME WHEN AVAILABLE</button>
            }
        }
    </div>
</div>