﻿@model Kawa.Models.Slot
@using Kawa.Models

<div class="row slotrow">

    @{
        if (Model.page.siteResources.Count() == 0)
        {
        <div class="col-xs-12">
            @Html.Raw(Model.page.html)
        </div>


        }
        else
        { 

            foreach (SiteResource s in Model.page.siteResources.OrderBy(x=>x.orderNo))
            {
                <div class="col-xs-12 col-sm-@(12 / Model.page.siteResources.Count()) ">
                    <a href="@s.Caption"><img src="@s.getUrl(SiteResource.SiteResourceVersion.ITEM_PAGE,false)" alt="" /></a>
                </div>
            }
        }
    }
</div>