﻿@model Kawa.Models.ViewModels.SpecialViewModel
<div class="special">
    <div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <h2>@(ViewBag.signupModule.page.html3)</h2>
            </div>
            <div class="col-sm-5 specialform">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="subscribe-txt">@(ViewBag.signupModule.page.name)</div>
                    <div class="conditions-apply">@(ViewBag.signupModule.page.html)</div>
                    <div class="validation-summary-errors"></div>
                    <div class="form-inline">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "", placeholder = "your@email.com.au" })
                            <input type="button" class="formbutton" value="Subscribe" />
                            <br />
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-5 formcomplete">
                <div class="formresult"></div>
            </div>
        </div>
    </div>
</div>
    

@section Scripts {
   
}


