﻿@model Kawa.Models.Product
@using Kawa.Models
@using Kawa.Models.ViewModels
@using Kawa.Models.Extensions
@using System.Linq


<div class="row productrow">

    <div class="col-xs-12 col-md-4">

        @foreach (var tag in Model.markertags.Where(x => x.SystemTag.HasValue).OrderBy(x => x.getSpecialOrderNo()))
        {
            <div class="specialtag @("customtag_" + tag.ID) col-xs-6 adhoctag" data-tagid="@(tag.ID)" title="@tag.nameSpecialtag"></div>
        }

        @{
            string image = "";
            if(Model.sHero!=null)
            {
                List<string> deserialised = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.sHero);
                try
                {
                    foreach(string s in deserialised.Take(1))
                    {
                        image = s;
                    }

                }
                catch { }
            }
        }

        <a href="@Model.getUrl()">
           
                <img src="@image" />
        </a>
    </div>
    <div class="col-xs-12 col-md-8 productcontainer">
        <span class="name">
            <a href="@Model.getUrl()">
                <b>@Model.name</b>
            </a>
        </span>
            <br /><br />

            @Html.Raw(Model.directions)
        
        <div class="price tag">
            @if (Model.variant.priceMargin > 0)
            {
                <div class="discount">
                    Save: @Model.variant.priceMargin.ToString("0.0")%
                </div>
                <div class="rrp">
                    <strike>@(Model.variant.priceRRP.ToString("c"))</strike>
                </div>
            }

            <div class="">
                @using (Html.BeginForm("AddToBasket", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal registerform", role = "form" }))
                {
                    @Html.HiddenFor(m => m.basket.VariantID)
                    @*
                        <div class="qty">
                            @if (Model.CanBeOrdered)
                            {
                                var qtys = (List<int>)ViewBag.Quantities;
                                if(Model.variant.stockNo.HasValue)
                                {
                                    qtys = qtys.Take((int)Model.variant.stockNo).ToList();
                                }
                                @:QTY @Html.DropDownListFor(m => m.basket.Quantity, qtys.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString() }))
                            }
                        </div>
                    *@
                    <div class="realprice">

                        @if (Model.promotion != null)
                        {
                            <span class="rrp">
                                <strike>@(Model.variant.price.ToString("c"))</strike>
                            </span>
                            <span class="specialprice">
                                @(Model.getBuyPrice().ToString("c"))
                            </span>
                        }
                        else
                        {
                            @(Model.getBuyPrice().ToString("c"))
                        }

                    </div>
                    <div class="add tag@(!Model.CanBeOrdered ? " uos":"")">


                        <button type="button" class="addtocartbutton gotoproduct" data-produrl="@Model.getUrl()">MORE INFO</button>

                        @if (Model.CanBeOrdered)
                        {
                            if (!Model.HasVariantPreOrder)
                            {
                                <button type="submit" class="addtocartbutton">ADD TO CART</button>
                            }
                            else
                            {
                                <button type="button" class="addtocartbutton outofstock preorder " data-produrl="@Model.getUrl()">PRE-ORDER NOW</button>
                            }
                        }
                        else
                        {
                            <button type="button" class="addtocartbutton outofstock stocknotice" data-href="/products/notify/@Model.ID">NOTIFY ME WHEN AVAILABLE</button>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<hr size="1" />