﻿@model Kawa.Models.ViewModels.AdminViewModel

<div class="col-sm-4">
    @Html.DropDownListFor(model => model.tags, Model.tagItems())
    <input type="button" value="add" onclick="addTag()" />
</div>
<div class="col-sm-8 taglist tagsdiv">
    @if (Model.page.tags != null)
    {
        foreach (var tag in Model.page.tags)
        {
            <span class="tag" id="taglabel_@(tag.ID)" style="color:#fff;background-color:@tag.colour;">@(tag.name) <a href="javascript:void(0)" onclick="removeTag(@(tag.ID));">x</a></span>
            <input type="hidden" id="tag_@(tag.ID)" name="TagIDs" value="@(tag.ID)" />
        }
    }
</div>

