﻿@model IEnumerable<Kawa.Models.Tag>


<div class="tag-list">
    @foreach (var tag in Model)
    {
        <a href="@tag.getUrl()" class="@(tag.hasChildren?"parent":"")">@tag.name</a> @:&nbsp;&nbsp;
    }
</div>

@*
    <div class="tag-list">
        <ul>
            @foreach (var tag in Model)
            {
                <li>
                    <a href="@tag.getUrl()" class="@(tag.hasChildren?"parent":"")">@tag.name</a>
                </li>
            }
        </ul>
    </div>

*@    
  