﻿
@model Kawa.Models.Favourite
@using Kawa.Models
@using Kawa.Models.ViewModels
@using Kawa.Models.Extensions
@using System.Linq
@using (Html.BeginForm("AddToBasket", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal registerform", role = "form" }))
{


    <input type="hidden" id="basket_Quantity" value="1" />
    <input id="basket_VariantID" name="basket.VariantID" type="hidden" value="@Model.product.basket.VariantID">


    <div class="row productrow">

        <div class="col-xs-6 col-md-3">



            @{
                List<string> deserialised = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.product.sHero);
            }

            <a href="@Model.product.getUrl()">
                @foreach (string image in deserialised.Take(1))
                {
                    <img src="@image" style="width:100%;" />
                }
            </a>
        </div>
        <div class="col-xs-6 col-md-4 productcontainer">
            <span class="name">
                <a href="@Model.product.getUrl()">
                    <b>@Model.product.name</b>
                </a>
            </span>

            <div class="price tag hidden-sm hidden-md hidden-lg">
                @if (Model.product.variant.priceMargin > 0)
                {
                    <div class="discount">
                        Save: @Model.product..productvariant.priceMargin.ToString("0.0")%
                    </div>
                    <div class="rrp">
                        <strike>@(Model.product.variant.priceRRP.ToString("c"))</strike>
                    </div>
                }

                <div class="">

                    <div class="realprice">

                        @if (Model.product.promotion != null)
                        {
                            <span class="rrp">
                                <strike>@(Model.product.variant.price.ToString("c"))</strike>
                            </span>
                            <span class="specialprice">
                                @(Model.product.getBuyPrice().ToString("c"))
                            </span>
                        }
                        else
                        {
                            @(Model.product.getBuyPrice().ToString("c"))
                        }

                    </div>
                    <div class="add tag">
                        <button type="button" class="addtocartbutton gotoproduct" data-produrl="/account/FavouriteDelete/@Model.ID"><img src="~/Content/images/white-bin.png" style=" height: 18px; margin-left: -32px; margin-right: 22px;" />REMOVE</button>

                        <button type="button" class="addtocartbutton addtobasket">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-md-2 productcontainer">
            <div class="realprice">
                @if (Model.product.variant.priceMargin > 0)
                {
                    <div class="discount">
                        Save: @Model.product..productvariant.priceMargin.ToString("0.0")%
                    </div>
                    <div class="rrp">
                        <strike>@(Model.product.variant.priceRRP.ToString("c"))</strike>
                    </div>
                }
                else
                {
                    @(Model.product.getBuyPrice().ToString("c"))
                }
            </div>
        </div>
        <div class="hidden-xs col-md-3 productcontainer">


            <button type="button" class="addtocartbutton gotoproduct" data-produrl="/account/FavouriteDelete/@Model.ID"><img src="~/Content/images/white-bin.png" style=" height: 18px; margin-left: -32px; margin-right: 22px;" />REMOVE</button>

            <button type="button" class="addtocartbutton addtobasket">ADD TO CART</button>
        </div>
    </div>
    <hr size="1" />

}