﻿@model Kawa.Models.Product
@using Kawa.Models
@using Kawa.Models.ViewModels
@using Kawa.Models.Extensions
@using System.Linq




        <div class="list-product">
            <div class="imgbox product-img">
                @Html.Partial("_MarkerTag", Model)
             
               

                <a href="@Model.getUrl()">
                    @if (Model.sThumb != null)
                    {
                        <img class="img" alt="@Model.name" src="@(Model.sThumb)" />
                    }
                    else
                    {
                        <img src="~/Content/images/no-image-small.png" class="img" />
                    }
                </a>
            </div>
            <div class="name">
                <a href="@Model.getUrl()">
                    @Model.name
                </a>
            </div>
            <div class="price tag">
                @if (Model.variant.priceMargin > 0)
                {
                    <div class="discount">
                        Save: @Model.variant.priceMargin.ToString("0.0")%
                    </div>
                    <div class="rrp">
                        <strike>@(Model.variant.priceRRP.ToString("c"))</strike>
                    </div>
                }
              
                <div class="buybox">
                    @using (Html.BeginForm("AddToBasket", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal registerform", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.basket.VariantID)
                        @*
                            <div class="qty">
                                @if (Model.CanBeOrdered)
                                {
                                    var qtys = (List<int>)ViewBag.Quantities;
                                    if(Model.variant.stockNo.HasValue)
                                    {
                                        qtys = qtys.Take((int)Model.variant.stockNo).ToList();
                                    }
                                    @:QTY @Html.DropDownListFor(m => m.basket.Quantity, qtys.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString() }))
                                }
                            </div>
                        *@
                    <div class="realprice hidden-print">

                        @if (Model.promotion != null)
                        {
                            <span class="rrp">
                                <strike>@(Model.variant.price.ToString("c"))</strike>
                            </span>
                            <span class="specialprice">
                                @(Model.getBuyPrice().ToString("c"))
                            </span>
                        }
                        else
                        {
                            @(Model.getBuyPrice().ToString("c"))
                        }

                    </div>
                    <div class="hidden-print add tag@(!Model.CanBeOrdered ? " uos":"")">
                        <button type="button" class="addtocartbutton gotoproduct" data-produrl="@Model.getUrl()">MORE INFO</button>
                        <button type="button" class="fav addtocartbutton  addtowishlist" data-objectis="product" data-id="@Model.ID">ADD TO WISHLIST</button>
                        @if (Model.CanBeOrdered)
                        {
                            if (!Model.HasVariantPreOrder)
                            {
                                <button type="button" class="addtocartbutton addtobasket">ADD TO CART</button>
                            }
                            else
                            {
                                <button type="button" class="addtocartbutton outofstock preorder " data-produrl="@Model.getUrl()">PRE-ORDER NOW</button>
                            }
                        }
                        else
                        {
                            <button type="button" class="addtocartbutton outofstock ">OUT OF STOCK</button>
                            <!--- <button type="button" class="addtocartbutton outofstock stocknotice" data-href="/products/notify/@Model.ID">NOTIFY ME WHEN AVAILABLE</button>-->
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
