﻿@model Kawa.Models.Product
@using Kawa.Models
@using Kawa.Models.ViewModels
@using Kawa.Models.Extensions
@using System.Linq
<div class="list-product reorder">
    <div class="price tag">
        <h4>Re-order</h4>
        @if(Model.variant.priceMargin > 0) {
            <div class="discount">
                Save: @Model.variant.priceMargin.ToString("0.0")%
            </div>
            <div class="rrp">
                <strike>@(Model.variant.priceRRP.ToString("c"))</strike>
            </div>
        }
        else
        {
            <div class="no-discount-jim"></div>
        }
        <div class="buybox">
            @using (Html.BeginForm("AddToBasket", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal registerform", role = "form" }))
            {
                @Html.HiddenFor(m => m.basket.VariantID)
                @*
                <div class="qty">
                    @if (Model.CanBeOrdered)
                    {
                        var qtys = (List<int>)ViewBag.Quantities;
                        if(Model.variant.stockNo.HasValue)
                        {
                            qtys = qtys.Take((int)Model.variant.stockNo).ToList();
                        }
                        @:QTY @Html.DropDownListFor(m => m.basket.Quantity, qtys.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString() }))
                    }
                </div>
                *@
            <div class="realprice">
                @(Model.variant.price.ToString("c"))
            </div>
            <div class="add tag">
                @if (Model.CanBeOrdered)
                {
                    if(!Model.HasVariantPreOrder)
                    {
                        <button type="button" class="addtocartbutton gotoproduct"  data-produrl="@Model.getUrl()">BUY NOW</button>
                    }
                    else
                    {
                        <button type="button" class="addtocartbutton outofstock preorder gotoproduct"  data-produrl="@Model.getUrl()">PRE-ORDER NOW</button>
                    }
                }
                else
                {
                    <button type="button" class="addtocartbutton outofstock stocknotice" data-href="/products/notify/@Model.ID">NOTIFY ME WHEN AVAILABLE</button>
                }
            </div>
            }
        </div>
    </div>
    @Html.Partial("_VolumeTable")
</div>