﻿@if (ViewBag.TitleFull == null)
{
    <title>@ViewBag.Title - Meguiar's - Since 1901</title>
}
else
{
    <title>@ViewBag.TitleFull</title>
}
@if (ViewBag.metadescription != null)
{
    <meta name="description" content="@ViewBag.metadescription">
}
@if (ViewBag.metakeywords != null)
{
    <meta name="keywords" content="@ViewBag.metakeywords">
}
<link rel="icon" type="image/x-icon" href="/favicon.ico">
