﻿@model Kawa.Models.Product
<div class="vol-box">
    @if (Model.variant.bulkPrices != null && Model.variant.bulkPrices.Any())
    {
        <div class="vol">
            <h4>VOLUME DISCOUNT</h4>
            <table>
                <tr>
                    <th>Qty</th>
                    <th>RRP(ea)</th>
                    <th>Discount</th>
                    <th>Price(ea)</th>
                    <th class="savecol">Save(ea)</th>
                </tr>
                @foreach (var price in Model.variant.bulkPrices)
                {
                    <tr>
                        <td>@(price.quantity)+</td>
                        <td>@(Model.variant.priceRRP.ToString("c"))</td>
                        <td class="discount">@(Model.variant.getBulkPriceDiscount(price).ToString("0.0"))%</td>
                        <td class="realprice">@(price.amount.ToString("c"))</td>
                        <td class="savecol">@((Model.variant.priceRRP - price.amount).ToString("c"))</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>