﻿@model Kawa.Models.Product
<div class="vol-box">
    @if (Model.variant.bulkPrices != null && Model.variant.bulkPrices.Any())
    {
        <div class="vol">
            <h4>VOLUME DISCOUNT</h4>
            <table>
                <tr>
                    <th>Qty</th>
                    <th>RRP(ea)</th>
                    <th>Discount</th>
                    <th>Price(ea)</th>
                    <th class="savecol">Save(ea)</th>
                    <th></th>
                </tr>
                @foreach (var price in Model.variant.bulkPrices)
                {
                    <tr>
                        <td>@(price.quantity)+</td>
                        <td>@(Model.variant.priceRRP.ToString("c"))</td>
                        <td class="discount">@(Model.variant.getBulkPriceDiscount(price).ToString("0.0"))%</td>
                        <td class="realprice">@(price.amount.ToString("c"))</td>
                        <td class="savecol">@((Model.variant.priceRRP - price.amount).ToString("c"))</td>
                        <td>
                            @if(Model.CanBeOrdered && !Model.HasVariantPreOrder)
                            { 
                                using (Html.BeginForm("AddToBasket", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                                {
                                    @Html.HiddenFor(m => m.basket.VariantID)
                                    <input type="hidden" id="basket_Quantity" value="@(price.quantity)" />
                                    <button type="button" class="addtocartbutton volbutton addtobasket">ADD @(price.quantity) TO CART</button>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>