﻿
<script type="text/javascript">

    $(document).ready(function () { var vim2 = "<iframe  id='player2' src='//player.vimeo.com/video/91375775?api=1&amp;player_id=player2&amp;title=0&amp;byline=0&amp;autoplay=0' width='100%' height='430' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"; runVimeo("vimvid", vim2); });

</script>  
<div class="row watchvidback">
    <div class="col-md-4 watchvidtext"><h1>Watch the<br />Caruso Story</h1></div>
    <div id="vimvid" class="col-md-8 watchvid"></div>
</div>