﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models
@{
    ViewBag.Title = "The Caruso Story";
}

<div class="sectionheader about">
    <div class="container">

        <h1>The Caruso Story</h1>

    </div>
</div>

<div class="aboutnav container">
    <div class="row">

        <div class="col-md-3 col-sm-6">
            <div class="about-pre">
                <a href="@(Model.getSystemUrl("ABOUT_HOW_WE"))">Premium Formulas<br /></a>
            </div>
            @if (Model.isAboutSubSection("ABOUT_HOW_WE"))
            {
                ViewBag.Title = "Premium Formulas";
                <div class="selected about-pre"></div>
            }
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="about-made">
                <a href="@(Model.getSystemUrl("ABOUT_AUSTRALIAN_MADE"))">Australian Made*</a>
            </div>
            @if (Model.isAboutSubSection("ABOUT_AUSTRALIAN_MADE"))
            {
                ViewBag.Title = "Australian Made";
                <div class="selected about-made"></div>
            }
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="about-family">
                <a href="@(Model.getSystemUrl("PERCENT_100"))">Australian Family Owned Business</a>
            </div>
            @if (Model.isAboutSubSection("PERCENT_100"))
            {
                ViewBag.Title = "Australian Family Owned Business";
                <div class="selected about-family"></div>
            }
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="about-money">
                <a href="@(Model.getSystemUrl("MONEY_BACK"))">100% Money Back Guarantee</a>
            </div>
            @if (Model.isAboutSubSection("MONEY_BACK"))
            {
                ViewBag.Title = "Premium Formulas";
                <div class="selected about-money"></div>
            }
        </div>

    </div>

</div>

<div class="container">
    @if (Model.isAboutHome()) { 
   
        @Html.Partial("_WatchTheStory")
    
    }
    <div class="row article">
        <div class="col-sm-12 aboutblock @(!Model.isAboutHome()?"aboutsub":"") @(Model.isAboutSubSectionClass())">



            @Html.Raw(Model.page.html2)

        </div>

    </div>

</div>


