﻿@model Kawa.Models.ViewModels.AdminViewModel
@using Kawa.Models;

<div class="featured">

    Choose articles or click through modules to put in the following feature slots.
    
    <div class="row">
        <div class="col-md-6">
            <div class="featured-article">
                @Html.DropDownList("slot_" + Slot.SpotOption.ARTICLES_FEATURED_TOP_LEFT, Model.getSlotPageOptions(Slot.SpotOption.ARTICLES_FEATURED_TOP_LEFT), new { @class = "slot", @dataspot = Slot.SpotOption.ARTICLES_FEATURED_TOP_LEFT })

                <img id="@("slot_" + (int)Slot.SpotOption.ARTICLES_FEATURED_TOP_LEFT + "_success")" src="~/Content/images/admin/tick.png" class="successtick" alt="" />

            </div>
        </div>
        <div class="col-md-6">
            <div class="featured-article">
                @Html.DropDownList("slot_" + Slot.SpotOption.ARTICLES_FEATURED_TOP_RIGHT, Model.getSlotPageOptions(Slot.SpotOption.ARTICLES_FEATURED_TOP_RIGHT), new { @class = "slot", @dataspot = Slot.SpotOption.ARTICLES_FEATURED_TOP_RIGHT })

                <img id="@("slot_" + (int)Slot.SpotOption.ARTICLES_FEATURED_TOP_RIGHT + "_success")" src="~/Content/images/admin/tick.png" class="successtick" alt="" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="featured-article">
                @Html.DropDownList("slot_" + Slot.SpotOption.ARTICLES_FEATURED_SQUARE_LEFT, Model.getSlotPageOptions(Slot.SpotOption.ARTICLES_FEATURED_SQUARE_LEFT), new { @class = "slot", @dataspot = Slot.SpotOption.ARTICLES_FEATURED_SQUARE_LEFT })

                <img id="@("slot_" + (int)Slot.SpotOption.ARTICLES_FEATURED_SQUARE_LEFT + "_success")" src="~/Content/images/admin/tick.png" class="successtick" alt="" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="featured-article">
                @Html.DropDownList("slot_" + Slot.SpotOption.ARTICLES_FEATURED_SQUARE_RIGHT, Model.getSlotPageOptions(Slot.SpotOption.ARTICLES_FEATURED_SQUARE_RIGHT), new { @class = "slot", @dataspot = Slot.SpotOption.ARTICLES_FEATURED_SQUARE_RIGHT })

                <img id="@("slot_" + (int)Slot.SpotOption.ARTICLES_FEATURED_SQUARE_RIGHT + "_success")" src="~/Content/images/admin/tick.png" class="successtick" alt="" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="featured-article">
                @Html.DropDownList("slot_" + Slot.SpotOption.ARTICLES_FEATURED_BOTTOM_RIGHT, Model.getSlotPageOptions(Slot.SpotOption.ARTICLES_FEATURED_BOTTOM_RIGHT), new { @class = "slot", @dataspot = Slot.SpotOption.ARTICLES_FEATURED_BOTTOM_RIGHT })

                <img id="@("slot_" + (int)Slot.SpotOption.ARTICLES_FEATURED_BOTTOM_RIGHT + "_success")" src="~/Content/images/admin/tick.png" class="successtick" alt="" />
            </div>
        </div>
    </div>
</div>


