﻿@model Kawa.Models.Page

@{
                /**/

                ViewBag.Title = ViewBag.pageTitle;
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_MessageBag")


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.name)

    <div class="addedit">

        @if (Model.SystemPage.HasValue)
        {
            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.SystemPage)
                </div>
                <div class="col-md-9">
                    @Model.SystemPage
                </div>
            </div>
        }

        

        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.isHidden)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.CheckBoxFor(model => model.isHidden)
                @Html.ValidationMessageFor(model => model.isHidden, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>Content</label>
                @Html.TextAreaFor(model => model.html, new { @class = (Model.isHtml()?"editor":"") })
                @Html.ValidationMessageFor(model => model.html, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
    <p>
        <input type="submit" value="Save" />
    </p>
}


@section Css {

}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



}