﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Site Pages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Featured Articles</h2>


<div>

    @Html.Partial("_ArticleHomeSlots")

</div>


@section Scripts {
    @Scripts.Render("~/bundles/slotmanager")

}
