﻿@model Kawa.Models.ViewModels.AdminViewModel
@using Kawa.Models.Extensions

@{
    ViewBag.Title = "Site Pages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.tag != null)
{
    <h3>
        @Model.tag.name
    </h3>
}

<p>

    @Html.RouteLink("Create a New Page", "ArticleAdminPage", new { id = "", t = (Model.tag != null ? Model.tag.ID.ToString() : "") })  

   
   

</p>


<div id="tags">

    <div class="catlist cats" style="display:none;">
        <a href="/admin/pages/">All Pages</a>
        @foreach (var tag in Model.tags.OrderBy(t => (int?)t.SystemTag ?? 100).ThenBy(t => t.name))
        {
            <a href="/admin/pages/@tag.ID" style="color:@tag.colour;border-left-color:@tag.colour;">@tag.name</a>
        }
    </div>


</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.page.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page.isHidden)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.page.SystemPage)
        </th>
        <th></th><th></th>
    </tr>

@foreach (var item in Model.pages.OrderBy(p => p.name)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
            <br />
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHidden)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.SystemPage)
        </td>
       <td>
           @Html.RouteLink("Edit", "ArticleAdminPage", new { id = item.ID })

           @if (!item.SystemPage.HasValue)
           {
               @:|
               @Html.RouteLink("Delete", "ArticleAdminPageDelete", new { id = item.ID })
           }

           |
           <a target="____@item.ID" href="/articles/@item.ID/@item.name.ToSafeString()">/articles/@item.ID/@item.name.ToSafeString()</a>
       </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/slotmanager")

}
