﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Site Pages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Homepage Modules</h2>


<p>

    @Html.RouteLink("Create a New Click Through Module", "ArticleAdminPage", new { id = "", type = Kawa.Models.Page.TypeOption.CLICK_THROUGH })
    |
    @Html.RouteLink("Create a New Youtube Video Module", "ArticleAdminPage", new { id = "", type = Kawa.Models.Page.TypeOption.CONTENT_VIDEO })

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.page.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page.isHidden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.pages.OrderBy(p => p.name).Where(x => x.Type == Kawa.Models.Page.TypeOption.CLICK_THROUGH))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isHidden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.RouteLink("Edit", "ArticleAdminPage", new { id = item.ID })

                @if (!item.SystemPage.HasValue)
                {
                    @:|
                    @Html.RouteLink("Delete", "ArticleAdminPageDelete", new { id = item.ID })
                }
            </td>
        </tr>
    }
    <tr>
        <th>
            <h2>Youtube Modules</h2>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th></th>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.page.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page.isHidden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page.Type)
        </th>
        <th></th>
    </tr>


    @foreach (var type in Model.pages.OrderBy(p => p.html4).Where(x => x.Type == Kawa.Models.Page.TypeOption.CONTENT_VIDEO).Select(x => x.html4).Distinct())
    {
        <tr><td colspan="3"><b>@type</b></td></tr>

        foreach (var item in Model.pages.Where(x => x.Type == Kawa.Models.Page.TypeOption.CONTENT_VIDEO).OrderBy(p => p.orderNo).Where(x => x.html4 == type))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isHidden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.RouteLink("Edit", "ArticleAdminPage", new { id = item.ID })

                    @if (!item.SystemPage.HasValue)
                    {
                        @:|
                        @Html.RouteLink("Delete", "ArticleAdminPageDelete", new { id = item.ID })
                    }
                </td>
            </tr>
        }
    }


</table>


@section Scripts {
    @Scripts.Render("~/bundles/slotmanager")

}
