﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Delete a Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.page.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page.html2)
        </dt>

        <dd>
            @Html.Raw(Model.page.html2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page.html3)
        </dt>

        <dd>
            @Html.Raw(Model.page.html3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page.createdDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.page.isHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page.isHidden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page.articleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page.articleDate)
        </dd>

        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
