﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@(Model.page.ID == 0 ? "Create" : "Edit") @(Model.page.Type.ToString().ToLower().Replace("_"," "))</h2>

@Html.Partial("_Message")



@using (Html.BeginRouteForm("ArticleAdminPage", new { id = Model.page.ID, t = (Model.tag != null ? Model.tag.ID.ToString() : "") }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p>
        <input type="submit" value="Save" />
    </p>

    <div class="addedit">
        @Html.HiddenFor(model => model.page.ID)
        @Html.HiddenFor(model => model.page.Type)
        @Html.HiddenFor(model => model.page.SystemPage)
        @if (Model.page.Type != Kawa.Models.Page.TypeOption.CONTENT_VIDEO)
        {
            @Html.HiddenFor(model => model.page.nameMenu)
        }



        @Html.HiddenFor(model => model.page.createdDate)
        @Html.HiddenFor(model => model.page.modifiedDate)
        @Html.HiddenFor(model => model.page.SiteID)
        @Html.HiddenFor(model => model.page.ParentID)
        @Html.HiddenFor(model => model.page.orderNo)
        @Html.HiddenFor(model => model.page.ProductID)

        @if (Model.page.Type == Kawa.Models.Page.TypeOption.CONTENT_VIDEO)
        {


            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.page.name)
                </div>
                <div class="col-sm-9 editor-field">
                    @Html.EditorFor(model => model.page.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.page.name, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.page.isHidden)
                </div>
                <div class="col-sm-9 editor-field">
                    @Html.CheckBoxFor(model => model.page.isHidden)
                    @Html.ValidationMessageFor(model => model.page.isHidden, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.page.html2, "Introduction Text")
                </div>
                <div class="col-sm-9 editor-field">
                    @Html.EditorFor(model => model.page.html2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.page.html, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.page.html, "Youtube Video Code")
                </div>
                <div class="col-sm-9 editor-field">
                    @Html.EditorFor(model => model.page.html, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.page.html, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.page.html3, "Type")
                </div>
                <div class="col-sm-9 editor-field">
                    @{
                        List<string> options = new List<string>() { "Professional", "Consumer", "Both" };
                        foreach (string s in options)
                        {
                            <input type="radio" name="page.html3" value="@s" id="@s" @(s == Model.page.html3 ? "checked" : "") /> <label style="margin-right:20px;" for="@s">@s</label>
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.page.html4, "Category")
                </div>
                <div class="col-sm-3 editor-field">
                    @Html.LabelFor(model => model.page.html4, "Existing Category")
                    <br />
                    <select name="page.html4" class="form-control">
                        <option> --- </option>
                        @foreach (var type in Model.pages.OrderBy(p => p.html4).Select(x => x.html4).Distinct())
                        {
                            <option value="@type" @(type == Model.page.html4 ? "selected" : "")>@type</option>
                        }
                    </select>
                </div>
                <div class="col-sm-1"><br /><br />or</div>
                <div class="col-sm-3 editor-field">
                    @Html.LabelFor(model => model.page.nameMenu, "New Category")
                    @Html.EditorFor(model => model.page.nameMenu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.page.nameMenu, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="managesection" style="display:none;">
                <h3>Manage your files</h3>

                <div id="SiteResources">
                    @Html.Partial("_SiteResources")
                </div>

            </div>


            <h2>Associate Products</h2>
            <p>This will place this video on the product page.</p>

            <div class="admin-addtagproduct form-inline">
                <div class="form-group">
                    Add an <b>active</b> product
                </div>
                <div class="form-group">
                    @Html.Hidden("NewProduct", "", new
                   {
                       @class = "addlookup form-control",
                       data_lookup = "searchproducts",
                       data_lookup_display = "name",
                       data_lookup_value = ""
                   })
                    <input type="hidden" name="PageID" id="PageID" value="@Model.page.ID" />
                    <select id="QuantityNew" class="item-quantity-dropdown form-control" style="display:none;">
                        @for (var q = 1; q <= 100; q++)
                        {
                            <option value="@q">@q</option>
                        }
                    </select>

                </div>
                <div class="form-group">
                    <input type="button" value="add" class="form-control" />

                </div>
            </div>


            <h3>Currently Assigned...</h3>
            <table class="table table-responsive table-striped productslist">

                <tr>
                    <th>Delete</th>
                    <th>Product</th>
                </tr>
                @foreach (Kawa.Models.Product p in Model.page.products.OrderBy(x => x.ProductPageRelationShipRank))
                {
                    <tr>
                        <td>
                            <a href="javascript: remove(@p.ID,@Model.page.ID);">remove</a> <select style="display:none;" name="prank" id="prank" onchange="changerank(@p.ID,@Model.page.ID,this);">
                                @for (var q = 0; q <= 40; q++)
                                {
                                    <option value="@q" @(p.ProductPageRelationShipRank == q ? "selected" : "")>@q</option>
                                }
                            </select>
                        </td>
                        <td>@p.name</td>

                    </tr>
                }
            </table>



        }
        else if (Model.page.Type == Kawa.Models.Page.TypeOption.NEWS_SELECTOR)
        {

            <h3>Select the Meguiars related news articles from Lovemycarnz.co.nz</h3>

            @Html.HiddenFor(model => model.page.name)
            List<Kawa.Models.Data.New> articles = (List<Kawa.Models.Data.New>)ViewBag.news;
            List<string> split = new List<string>();
            try
            {
                split = Model.page.html.Split(',').ToList();
            }
            catch { }
            foreach (Kawa.Models.Data.New n in articles.Where(x => x.SiteResourceTypeE == 3))
            {
                string sel = (split.Contains(n.ID.ToString()) ? "checked" : "");
                <input type="checkbox" name="page.html" value="@n.ID" id="n_@n.ID" @sel /> <label for="n_@n.ID">@n.Title - @n.NewsDate</label><br />
            }

        }
        else
        {


            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.page.name)
                </div>
                <div class="col-sm-9 editor-field">
                    @Html.EditorFor(model => model.page.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.page.name, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3 editor-label">
                    @Html.LabelFor(model => model.page.isHidden)
                </div>
                <div class="col-sm-9 editor-field">
                    @Html.CheckBoxFor(model => model.page.isHidden)
                    @Html.ValidationMessageFor(model => model.page.isHidden, "", new { @class = "text-danger" })
                </div>
            </div>

            if (Model.page.SystemPage != Kawa.Models.Page.SystemPageOption.HOME_PAGE_SLIDE_SHOW)
            {
                <div class="row">
                    <div class="col-sm-3 editor-label">
                        @Html.LabelFor(model => model.page.articleDate)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.page.articleDate, new { htmlAttributes = new { @class = "form-control add-picker" } })
                        @Html.ValidationMessageFor(model => model.page.articleDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            if (Model.page.SystemPage.HasValue)
            {
                <div class="row">
                    <div class="col-sm-3 editor-label">
                        @Html.LabelFor(model => model.page.SystemPage)
                    </div>
                    <div class="col-md-9">
                        @Model.page.SystemPage
                    </div>
                </div>
            }

            if (Model.page.Type == Kawa.Models.Page.TypeOption.CONTENT || Model.page.Type == Kawa.Models.Page.TypeOption.CONTENT_VIDEO)
            {


                if (Model.page.SystemPage == Kawa.Models.Page.SystemPageOption.ACCOUNTDETAIL_LOOKUP_TEXT)
                {

                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.page.html2)
                            @Html.EditorFor(model => model.page.html2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.page.html2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                }
                else
                {
                    if (Model.page.SystemPage != Kawa.Models.Page.SystemPageOption.HOME_PAGE_SLIDE_SHOW)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                xx
                                @Html.LabelFor(model => model.page.html2)
                                @Html.TextAreaFor(model => model.page.html2, new { @class = "editor" })
                                @Html.ValidationMessageFor(model => model.page.html2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                }
                                if(Model.page.Type == Kawa.Models.Page.TypeOption.CONTENT)
                                { 
                                        @Html.HiddenFor(model => model.page.html4)
                                }



                            }
                            else
                            {
                @Html.HiddenFor(model => model.page.html4)
            }

            if (false && Model.page.Type == Kawa.Models.Page.TypeOption.CONTENT)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{var isEmbed = false;}
                        @if (isEmbed)
                        {
                            @:<label>Embed Code</label>
                        }
                        else
                        {
                            @Html.LabelFor(model => model.page.html3)
                        }
                        @Html.TextAreaFor(model => model.page.html3, new { @class = (isEmbed ? "" : "editor") })
                        @Html.ValidationMessageFor(model => model.page.html3, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }
    </div>
    if (Model.page.Type != Kawa.Models.Page.TypeOption.CONTENT_VIDEO)
    {
        <div class="managesection" @(Model.page.Type == Kawa.Models.Page.TypeOption.NEWS_SELECTOR ? "style=display:none" : "")>
            <h3>Manage your files</h3>

            <div id="SiteResources">
                @Html.Partial("_SiteResources")
            </div>

        </div>

        if (Model.page.SystemPage != Kawa.Models.Page.SystemPageOption.HOME_PAGE_SLIDE_SHOW)
        {
            if (Model.page.Type == Kawa.Models.Page.TypeOption.CONTENT)
            {
                <div>
                    <h3>Tags</h3>

                    <div class="row">
                        @Html.Partial("_Tags")
                    </div>
                </div>

                <div>
                    <h3>Related Pages</h3>

                    <div class="row">
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.pages, Model.relPageItems())
                            <input type="button" value="add" onclick="addPage()" />
                        </div>
                        <div class="col-sm-8 taglist pagesdiv">

                            @if (Model.page.pages != null)
                            {
                                foreach (var page in Model.page.pages)
                                {
                                    <span class="tag" id="pagelabel_@(page.ID)">
                                        @(page.name)


                                        <a href="javascript:void(0)" onclick="removePage(@(page.ID));">x</a>

                                    </span>
                                    <input type="hidden" id="page_@(page.ID)" name="pageIDs" value="@(page.ID)" />
                                }
                            }

                        </div>
                    </div>
                </div>
            }
        }
    }
    <br />
    <p>
        <input type="submit" value="Save" />
    </p>
}



@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop")
    @Scripts.Render("~/bundles/orderupdate")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")

    <script type="text/javascript">

        function remove(pid, id) {
            var model = {
                ProductID: pid, PageID: id
            };

            console.log(model);

            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/pages/DeleteAssociatedProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        console.log(result);
                        window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        }
        function changerank(pid, id, thisfield) {

            var model = {
                ProductID: pid, PageID: id, Rank: thisfield.value
            };

            console.log(model);

            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/pages/AssociateProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        ///window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        }
        $(".admin-addtagproduct input[type=button]").click(function () {
            var formObj = $(this).parents(".admin-addtagproduct");
            if (formObj.find("#NewProduct").val() == "")
                return;

            var iid = $(this).attr("data-basketID");
            var model = {
                ProductID: formObj.find("#NewProduct").val(),
                PageID: formObj.find("#PageID").val(),
                Rank: 0
            };
            console.log(model);

            var post = JSON.stringify(model);
            $.ajax(
                {
                    type: "POST",
                    url: "/admin/pages/AssociateProduct/",
                    data: post,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        console.log(result);
                        window.location.reload();
                    },
                    error: function (req, status, error) {
                        //setMessage("Error addLink." + error, true);
                    }
                });
        });

    </script>
}