﻿@model Kawa.Models.ViewModels.AdminViewModel

@{
    ViewBag.Title = Model.pageTitle;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Message")


@using (Html.BeginRouteForm(Model.formRoute, Model.formRouteVars, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="addedit">
        @Html.HiddenFor(model => model.page.ID)
        @Html.HiddenFor(model => model.page.Type)
        @Html.HiddenFor(model => model.page.SystemPage)
        @Html.HiddenFor(model => model.page.nameMenu)
        @Html.HiddenFor(model => model.page.html)
        
        @Html.HiddenFor(model => model.page.html4)
        @Html.HiddenFor(model => model.page.createdDate)
        @Html.HiddenFor(model => model.page.modifiedDate)
        @Html.HiddenFor(model => model.page.SiteID)
        @Html.HiddenFor(model => model.page.ParentID)
        @Html.HiddenFor(model => model.page.orderNo)
        @Html.HiddenFor(model => model.page.isHidden)
        @Html.HiddenFor(model => model.page.articleDate)
        @Html.HiddenFor(model => model.page.ProductID)

        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.page.name)
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.page.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.page.name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @if(Model.page.SystemPage.HasValue)
        { 
        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.page.SystemPage)
            </div>
            <div class="col-md-9">
                @Model.page.SystemPage
            </div>
        </div>
        }
        
        @if(Model.page.Type == Kawa.Models.Page.TypeOption.CONTENT)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.page.html2)
                    @Html.TextAreaFor(model => model.page.html2, new { @class = "editor" } )
                    @Html.ValidationMessageFor(model => model.page.html2, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else if (Model.page.Type == Kawa.Models.Page.TypeOption.CLICK_THROUGH)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("Url")<br/>

                    For external links provide a full url starting with http://....<br/>
                    For internal links you can remove the domain, eg.. "/products/"<br /><br />

                    @Html.TextBoxFor(model => model.page.html2)
                    @Html.ValidationMessageFor(model => model.page.html2, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        
    </div>

    <div class="managesection">
        <h3>Manage your files</h3>

        <div id="SiteResources">
            @Html.Partial("_SiteResources")
        </div>

    </div>
    
    <div class="hidden">
        <h3>Tags</h3>

        <div class="row">
            @Html.Partial("_Tags")
        </div>
    </div>
    
    <p>
        <input type="submit" value="Save" />
    </p>
}


@section Css {
  
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   

}