﻿@model Kawa.Models.Page

@{
    ViewBag.Title = "Shipping Banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_MessageBag")


<br /><br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  
    <div class="addedit">
        <div class="row">
            <div class="col-sm-3 editor-label">
                <label>Big Text</label>
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 editor-label">
                <label>Text</label>
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.html3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.html3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 editor-label">
                <label>Small Text</label>
            </div>
            <div class="col-sm-9 editor-field">
                @Html.EditorFor(model => model.html2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.html2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 editor-label">
                <label>Image</label>
            </div>
            <div class="col-sm-9 editor-field">
                <select name="html">
                    <option value="sc-truck.png" @(Model.html == "sc-truck.png" ? "selected" : "")>Truck</option>
                    <option value="sc-plane.png" @(Model.html == "sc-plane.png" ? "selected" : "")>Plane</option>
                    <option value="sc-cart.png" @(Model.html == "sc-cart.png" ? "selected" : "")>Cart</option>
                </select>
            </div>
        </div>
    </div>
    <p>
        <input type="submit" value="Save" />
    </p>
}


@section Css {
    
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}