﻿@model Kawa.Models.Page

@{
    ViewBag.Title = ViewBag.pageTitle;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_MessageBag")


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="addedit">
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.SystemPage)
    @Html.HiddenFor(model => model.nameMenu)

    @Html.HiddenFor(model => model.html4)
    @Html.HiddenFor(model => model.createdDate)
    @Html.HiddenFor(model => model.modifiedDate)
    @Html.HiddenFor(model => model.SiteID)
    @Html.HiddenFor(model => model.ParentID)
    @Html.HiddenFor(model => model.orderNo)
    @Html.HiddenFor(model => model.articleDate)
    @Html.HiddenFor(model => model.ProductID)

    <div class="row">
        <div class="col-sm-3 editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="col-sm-9 editor-field">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 editor-label">
            @Html.LabelFor(model => model.isHidden)
        </div>
        <div class="col-sm-9 editor-field">
            @Html.CheckBoxFor(model => model.isHidden)
            @Html.ValidationMessageFor(model => model.isHidden, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (Model.SystemPage.HasValue)
    {
        <div class="row">
            <div class="col-sm-3 editor-label">
                @Html.LabelFor(model => model.SystemPage)
            </div>
            <div class="col-md-9">
                @Model.SystemPage
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <label>Block 1</label>
            @if (Model.SystemPage == Kawa.Models.Page.SystemPageOption.RETRACTION)
            {
                <br />
                @:Use the Formats/Headings/Heading 2 for the main heading.
            }
            @Html.TextAreaFor(model => model.html, new { @class = "editor" })
            @Html.ValidationMessageFor(model => model.html, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Block 2 Wide</label>
            @if (Model.SystemPage == Kawa.Models.Page.SystemPageOption.RETRACTION)
            {
                <br />
                @:Use the Formats/Headings/Heading 2 for the main heading.
            }
            @Html.TextAreaFor(model => model.html2, new { @class = "editor" })
            @Html.ValidationMessageFor(model => model.html2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Block 2 Thin</label>
            @if (Model.SystemPage == Kawa.Models.Page.SystemPageOption.RETRACTION)
            {
                <br />
                @:Use the Formats/Headings/Heading 2 for the main heading.
            }
            @Html.TextAreaFor(model => model.html3, new { @class = "editor" })
            @Html.ValidationMessageFor(model => model.html3, "", new { @class = "text-danger" })
        </div>
    </div>


</div>
    
    <p>
        <input type="submit" value="Save" />
    </p>
}


@section Css {
  
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   

}