﻿@model Kawa.Models.Order
@using Kawa.Models.Extensions
<div class="shopspace orderadmin orderprint">
    <div class="basket accountdetails">
        
        <div class="row">
            <div class="col-xs-6">
                <h3>Meguiars</h3>
                ABN : 16 002 029 227
                <br />
                Unit 1 / 11 Lagana Place
                <br />
                Wetherill Park, New South Wales, 2164
                <br />
                Australia
                <br />
                PHONE: 02 9794 7555
                <br />
                FAX: 02 9723 5962
                <br />
                EMAIL: sales@meguiars.co.nz
            </div>
            <div class="col-xs-6">
                <h3>Invoice</h3>
                <h3>Order # @Model.OrderNo</h3>
                STATUS: @Model.Status.Name
                <br />
                DATE: @Model.OrderDate.UtcToLocal().ToString("g")
                <br />
                PAYMENT METHOD: @Model.getPaymentType()
                <br />
                SHIPPING METHOD: @Model.shippingMethod.Name
                <br />
                PRODUCT(S) WEIGHT: @Model.Weight kg
                @if (Model.FlagLabels.Any())
                {
                    <br />
                    @:FLAG(S):
                    foreach (var label in Model.FlagLabels)
                    {
                        @label.Name@(label != Model.FlagLabels.Last()?",":"")
                    }
                }
            </div>
        </div>
        <div class="shipments">
            @foreach (var shipment in Model.shipments)
            {
                <div>
                    <b>Shipment</b><br />
                    Shipping method: @shipment.shippingMethod.Name <br />
                    Shipment date: @shipment.createDate <br />
                    Carrier: @shipment.carrier.Name <br />
                    Tracking number: @shipment.TrackingNo <br />
                    Tracking URL: @shipment.carrier.Url <br />
                    Comment: @shipment.Comment
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>Customer Billing Details</h3>
                @Html.Partial("../shop/_AccountDetailReadonly",
                        new ViewDataDictionary()
                        {
                            TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                            Model = Model.CustomerDetails
                        })
            </div>

            <div class="col-xs-6">
                <h3>Delivery Details</h3>
                @Html.Partial("../shop/_AccountDetailReadonly", new ViewDataDictionary()
                   {
                       TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                       Model = Model.DeliveryDetails
                   })
            </div>
        </div>
        
        @Html.Partial("../Shop/_BasketEmail", Model)

        @if (Model.voucher != null)
        {
            <br />
            <text>
                Voucher <b>@Model.voucher.code</b> @(Model.voucher.OrderID.HasValue ? "was used with" : "is associated with") this order.
            </text>
            <br /><br />
        }

    </div>
</div>