﻿@model Kawa.Models.ViewModels.OrderFilterViewModel
@using PagedList.Mvc; 
@using PagedList; 
@using Kawa.Models;
@using Kawa.Models.Extensions;
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="kawaApp" ng-controller="OrderController" data-statusset="@Model.statusSet">
    <h2>Orders</h2>
    <!--
    Bank codes can be referenced <a href="http://www.paychoice.com.au/docs/api/credit-card-error-codes/" target="_blank">here</a>.
        -->

    <div class="action-console">
        <div class="hud" hud></div>
        <div class="form-inline">
            Order Actions :
            <select name="orderActionsSelect" id="orderActionsSelect"
                    ng-options="option.Name for option in statusOptions.availableOptions track by option.ID"
                    ng-model="statusOptions.selectedOption"
                    ng-change="statusChange()"
                    class="form-control"></select>
            <select name="signaturesSelect" id="signaturesSelect"
                    ng-options="option.Name for option in statusOptions.signatures track by option.ID"
                    ng-model="statusOptions.selectedSignature"
                    ng-change="signatureChange()"
                    class="form-control"></select>
            <input type="button" value="Print Selected" class="btn btn-default" ng-click="print()" />
            <input type="button" value="Set Printed" class="btn btn-default" ng-click="setPrintedState(true)" />
            <input type="button" value="Set not Printed" class="btn btn-default" ng-click="setPrintedState(false)" />
            <input type="button" value="Download Labels" class="btn btn-default" ng-click="downloadLabels()" />
            <input type="button" value="Add Shipment" class="btn btn-default" ng-click="toggleShipment()" ng-class="{'btn-primary': isShipment()}" />

        </div>
        <div ng-show="isShipment()" class="form-inline">
            <br /><br />
            <b>Add a shipment to order {{shipmentOrderNo}}</b><br />
            <div class="form-group" ng-class="{'has-error': shipmentErr.ShippingMethodID}">
                @Html.DropDownListFor(model => model.Shipment.ShippingMethodID, Model.shippingMethodsList.ToSelectList(f => f.Name, f => f.ID.ToString(), "Shipping Method"), new { @class = "form-control", ng_model = "shipment.ShippingMethodID" })
            </div>

            <div class="form-group" ng-class="{'has-error': shipmentErr.CarrierID}">
                @Html.DropDownListFor(model => model.Shipment.CarrierID, Model.carriers.ToSelectList(f => f.Name, f => f.ID.ToString(), "Carrier"), new { @class = "form-control", ng_model = "shipment.CarrierID" })
            </div>

            <div class="form-group" ng-class="{'has-error': shipmentErr.TrackingNo}">
                @Html.TextBoxFor(model => model.Shipment.TrackingNo, new { @class = "form-control", placeholder = "Tracking Code", ng_model = "shipment.TrackingNo" })

            </div>
        </div>
        <textarea name="orderMessage" id="orderMessage" ui-tinymce="tinymceOptions" ng-model="statusOptions.message" ng-if="!isShipment()" placeholder="message"></textarea>
        <textarea name="shipmentMessage" id="shipmentMessage" ng-model="statusOptions.shipmentMessage"  ng-if="isShipment()" placeholder="shipment message"></textarea>
        <input type="button" value="Add" class="btn btn-default btn-primary" ng-click="addShipment()" ng-show="isShipment()" />
        <br /><br />
    </div>


    <div class="form-inline ordersearch">
        <div><b>search orders</b></div>
        <div class="form-group">
            @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "orderno" } })
            @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "customer" } })
            @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Startdate, new { htmlAttributes = new { @class = "form-control add-picker", placeholder = "start date" } })
            @Html.ValidationMessageFor(model => model.Startdate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Enddate, new { htmlAttributes = new { @class = "form-control add-picker", placeholder = "end date" } })
            @Html.ValidationMessageFor(model => model.Enddate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.StatusID, Model.getStatusItems(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.TotalFrom, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "total from" } })
            @Html.ValidationMessageFor(model => model.TotalFrom, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.TotalTo, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "total to" } })
            @Html.ValidationMessageFor(model => model.TotalTo, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.VoucherCode, new { htmlAttributes = new { @class = "form-control smalldim", placeholder = "promotion" } })
            @Html.ValidationMessageFor(model => model.VoucherCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.CountryID, Model.countryList.ToSelectList(f => f.Name, f => f.ID.ToString(), "country"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.PaymentType, Model.PaymentType.ToSelectListChoose("payment method"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.isTaxExempt, Model.getTaxExemptItems(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.isTaxExempt, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.isPrinted, Model.getPrintedOptionItems(), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.isPrinted, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.FlagLabel, Model.FlagLabel.ToSelectListChoose("flag"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FlagLabel, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.CheckBoxListFor(model => model.PostedShippingMethods.ShippingMethodIDs,
                     model => model.shippingMethodsList,
                     entity => entity.ID,
                     entity => entity.Name,
                     model => model.ShippingMethods)
            @Html.ValidationMessageFor(model => model.ShippingMethods, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Products, new { htmlAttributes = new { @class = "form-control", placeholder = "products" } })
            @Html.ValidationMessageFor(model => model.Products, "", new { @class = "text-danger" })
        </div>


        <div class="">

            <input type="button" value="Filter" class="btn btn-default" ng-click="getOrders()" />
            <img src="~/Content/images/admin/ajax-loader.gif" ng-show="indicators.loading" alt="">
            <select name="pageSizeSelect" id="pageSizeSelect"
                    ng-options="o as o for o in pageSizes"
                    ng-model="ordersPerPage"
                    class="form-control"></select>



            @Html.ActionLink("New Order", "NewOrder", new { id = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>



    <table class="table table-responsive table-striped">
        <tr>
            <th><input type="checkbox" ng-model="selectstate.all" /></th>
            <th>
                OrderNo
            </th>
            <th>
                Status
            </th>
            <th>
                Flags
            </th>
            <th>
                Payment
            </th>
            <th>
                Promotion
            </th>
            <th>
                Voucher
            </th>
            <th>
                OrderDate
            </th>
            <th>
                OrderTotal
            </th>
            <th>
                Customer
            </th>
            <th>
                Cubic Weight
            </th>
            <th>
                Printed
            </th>
            <th></th>
        </tr>

        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        <tr dir-paginate="item in orders | itemsPerPage: ordersPerPage" total-items="totalOrders" current-page="pagination.current" ng-class="{'changed':item.changed,'selected':item.selected}">
            <td>
                <input type="checkbox" ng-model="item.selected" />
            </td>
            <td>
                {{item.OrderNo}}
            </td>
            <td style="color:#fff;"
                ng-style="{'background-color':item.Status.Color}">
                {{item.Status.Name}}
            </td>
            <td>
                <div ng-repeat="label in item.FlagLabels" class="flag" ng-class="[label.ClassName]"><a ng-href="{{label.Link}}" target="_blank">{{label.Name}}</a></div>
            </td>
            <td>
                {{item.PaymentType}}
            </td>
            <td>
                <span class="online" ng-if="item.PromotionID">yes</span>
            </td>
            <td>
                <span class="online" ng-if="item.VoucherPromotionID">yes</span>
            </td>
            <td>
                {{item.OrderDateLocal}}
            </td>
            <td>
                {{item.OrderTotal}}
            </td>
            <td>
                {{item.CustomerDetails_FirstName}} {{item.CustomerDetails_Surname}}
            </td>
            <td>
                <input type="text" ng-model="item.CubicWeight" class="form-control gtin" ng-change="updateCubicWeight(item)" />
            </td>
            <td>
                <span class="online" ng-if="item.Printed">yes</span>
            </td>
            <td>
                <a ng-href="/admin/orders/order/{{item.ID}}">view</a>
            </td>
        </tr>


    </table>

</div>

@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shopadmin")
    @Scripts.Render("~/bundles/hud")
    @Scripts.Render("~/bundles/jqueryval")


}