﻿@model Kawa.Models.ViewModels.PaymentCompleteViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models

@{
    ViewBag.Title = "Order - Complete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="shopspace orderadmin payment complete">
    <div>
        <div class="">
            <h3>Order # @Model.order.OrderNo</h3>
            @Html.ActionLink("Print", "OrdersForPrint", new { OrderIDs = Model.order.ID }, new { target = "_blank" }) |
            @Html.ActionLink("Change items or shipping", "OrderChange", new { ID = Model.order.ID }) |
            @Html.ActionLink("Change account details", "OrderAccountDetails", new { ID = Model.order.ID })
        </div>

        <div class="basket">
            @if (Model.result.injectView != null)
            {
                @Html.Partial(Model.result.injectView, Model.result)
            }

            @if (!string.IsNullOrEmpty(Model.result.injectHeader))
            {
                <div class="payment-inject">
                    @Html.Raw(Model.result.injectHeader)
                </div>
            }

            <div class="row">
                <div class="col-sm-6 customer">
                    <div class="formheader"><h4>Customer Billing Details</h4></div>
                    @Html.Partial("../Shop/_AccountDetailReadonly",
                new ViewDataDictionary()
                {
                    TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                    Model = Model.order.CustomerDetails
                })
                </div>
                <div class="col-sm-6">

                    <div class="formheader">
                        <h4>Delivery Details</h4>
                    </div>
                    <div class="delivery">
                        @Html.Partial("../Shop/_AccountDetailReadonly", new ViewDataDictionary()
                    {
                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                        Model = Model.order.DeliveryDetails
                    })
                    </div>

                </div>
            </div>
            <br /><br />
            @Html.Partial("../Shop/_Basket", Model.order)
            <br /><br />
            
            <br /><br />
        </div>
    </div>
</div>
<!-- Conversion Pixel - Kawa_ConversionTag - DO NOT MODIFY 
<img src="https://secure.adnxs.com/px?id=545698&t=2" width="1" height="1" />
    -->
<!-- End of Conversion Pixel -->
