﻿@model Kawa.Models.ViewModels.PaymentFailedViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models

@{
    ViewBag.Title = "Order - InComplete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="shopspace orderadmin payment complete">
    <div>

        <br /><br /><br />
        <b>Your payment was unsuccessful.</b>
        <br /><br />


        @using (@Html.BeginForm("OrderPayment", null, new { id = Model.order.Code, pt = Model.type }))
        {

            <input type="submit" value="Click to try again" />


        }


        <br /><br />
        Please feel free to contact us at <a href="mailto:sales@meguiars.co.nz">sales@meguiars.co.nz</a>
        <br /><br />


        <br /><br /> <br /><br />


    </div>
</div>