﻿@model List<int>

@{
    ViewBag.Title = "Orders For Print";
    Layout = "~/Views/Shared/_LayoutAdminPrint.cshtml";
}
<div class="printorders-progress-box">
    <div class="printorders-progress">
        0 of @Model.Count() output
    </div>
</div>

<div class="printorders"></div>

<script>
    var OrderIDs = [@(string.Join(",", Model.ToArray()))];
    var currentIndex = 0;

    function outputNextOrder(id) {

        //var post = JSON.stringify(obj);
        $.ajax(
        {
            type: "POST",
            url: "/Admin/Orders/OrderForPrint/" + id,
            data: null,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $(".printorders").append(result);
                if (currentIndex < OrderIDs.length - 1)
                {
                    $(".printorders").append("<div class=\"print-break\"></div>");
                    setTimeout(function () {
                        currentIndex++;
                        outputNextOrder(OrderIDs[currentIndex]);
                    },1000)
                }
                else
                {
                    setTimeout(function () {
                        $(".printorders-progress-box").hide();
                    }, 3000)
                }
                $(".printorders-progress").html((currentIndex + 1) + " of " + OrderIDs.length + " output");
            },
            error: function (req, status, error) {
                //setMessage("Error addLink." + error, true);
            },
            returnObj: this
        });
    }

    $(function () {

        
        outputNextOrder(OrderIDs[currentIndex]);

    })

</script>
