﻿@model Kawa.Models.ViewModels.AccountDetailsViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models

@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "Set Order Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="shopspace orderadmin">
    <h2>Order # @ViewBag.Order.OrderNo</h2>
    @Html.ActionLink("View this order", "Order")
    <br /><br />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "detailsform" }))
    {
        <div>
            <input type="submit" value="Save" class="btn btn-default" />
            <br /><br />
        </div>
        <div class="accountdetails shopcontainer details">

            <div>

                @Html.ValidationSummary(true)


                <div class="row formbox">
                    <div class="col-sm-12 customer">
                        <div class="requiredtxt">* Required Fields</div>
                        <h3>Billing Details</h3>
                        <div class="jackif"></div>
                        @{
                            var vddc = new ViewDataDictionary()
                            {
                                TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                                Model = Model.CustomerDetails
                            };
                            vddc["AllowedCountries"] = ViewBag.AllowedCountries;
                            vddc["AllowedStates"] = ViewBag.AllowedStates;
                            vddc["showSpecial"] = ViewBag.showSpecial;
                        }
                        @Html.Partial("../Shop/_AccountDetail", vddc)
                    </div>
                    <div class="col-sm-12">

                        <div class="formheader delivery">
                            <div class="requiredtxt">* Required Fields</div>
                            <h3>Delivery Details</h3>
                            <div class="jackif"></div>
                            <div class="filldelivery">
                                <input type="checkbox" id="fillDeliveryBtn" class="fillDeliveryBtn" /> <span class="fillDeliveryBtn">Click if same as Billing Details</span>
                            </div>
                        </div>
                        <div class="delivery">
                            @{
                                var vddd = new ViewDataDictionary()
                                {
                                    TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                                    Model = Model.DeliveryDetails
                                };
                                vddd["AllowedCountries"] = ViewBag.AllowedCountries;
                                vddd["AllowedStates"] = ViewBag.AllowedStates;
                            }
                            @Html.Partial("../Shop/_AccountDetailDelivery", vddd)
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div>
            <br /><br />
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    }

</div>


@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/accountdetails")

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"]&libraries=places&callback=initMap">
    </script>


    <script>
         var countries = @Html.Raw(new JavaScriptSerializer().Serialize(((List<Country>)ViewData["AllowedCountries"]).Select(x => new
                   {
                       ID = x.ID,
                       Code = x.Code.ToLower()
                   })));

        var states = @Html.Raw(new JavaScriptSerializer().Serialize(((List<State>)ViewData["AllowedStates"]).Select(x => new
                   {
                       ID = x.Name,
                       Code = ShippingRepository.getStateCode(x.Name)
                   })));

        var AustraliaID = "@(((List<Country>)ViewBag.AllowedCountries).Single(x => x.Name == "Australia").ID)";
    </script>

}
