﻿@model Kawa.Models.Order


@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="shopspace orderadmin">

    <div class="basket accountdetails">
        <h2>Order # @Model.OrderNo</h2>
        @if (Model.FlagLabels.Any())
        {
            foreach (var label in Model.FlagLabels)
            {
                <div class="flag @label.ClassName orderpage"><a href="@label.Link" target="_blank">@label.Name</a></div>
            }
            <br />
        }
        Order date<br/>
        @Model.OrderDateLocal<br />
        @if(Model.IsAdminOrder.HasValue)
        { 
            <text>
            Placed by: @((bool)Model.IsAdminOrder?"admin":"customer") <br/>
            </text>
        }


        @Html.ActionLink("Print", "OrdersForPrint", new { OrderIDs = Model.ID }, new { target = "_blank" }) |
        @Html.ActionLink("Change items or shipping","OrderChange") |
        @Html.ActionLink("Change account details", "OrderAccountDetails")

        <br /><br />
        
        <br />

        <div class="shipments">
            <div>
                Paid Shipping Method: 
                @if (Model.ShippingMethodID.HasValue)
                {
                    <b>@Model.allowedShippingMethods.Single(x => x.ID == Model.ShippingMethodID).Name</b>
                }
            </div>
            <br/>
            @foreach (var shipment in Model.shipments)
            {
                <div>
                    <b>Shipment</b><br/>
                    Shipping method: @shipment.shippingMethod.Name <br/>
                    Shipment date: @shipment.createDate <br />
                    Carrier: @shipment.carrier.Name <br />
                    Tracking number: @shipment.TrackingNo <br />
                    Tracking URL: @shipment.carrier.Url <br />
                    Comment: @shipment.Comment
                </div>
            }
        </div>

        @if (Model.voucher != null)
        {
            <br />
            <text>
                Voucher <b>@Model.voucher.code</b> @(Model.voucher.OrderID.HasValue ? "was used with" : "is associated with") this order.
            </text>
            <br /><br />
        }

     
        <div class="row">
            <div class="col-md-6">
                <h3>Customer Billing Details</h3>
                @Html.Partial("../shop/_AccountDetailReadonly",
                        new ViewDataDictionary()
                        {
                            TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                            Model = Model.CustomerDetails
                        })
            </div>

            <div class="col-md-6">
                <h3>Delivery Details</h3>
                @Html.Partial("../shop/_AccountDetailReadonly", new ViewDataDictionary()
                   {
                       TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                       Model = Model.DeliveryDetails
                   })
            </div>
        </div>

        <br />
        @Html.Partial("../shop/_Basket", Model)

    </div>


    <div class="ordernotes">
        <h3>Order Notes</h3>
        <div class="addnote">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => Model.NewNote.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => Model.NewNote.Note, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.NewNote.Note)
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => Model.NewNote.AddToCustomer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 checkbox">
                            @Html.EditorFor(model => Model.NewNote.AddToCustomer, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => Model.NewNote.AddToCustomer)
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add Note" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="notes">
            @if (Model.SystemNotes != null)
            { 
                @Html.Raw(Model.SystemNotes.Replace("\n","<br/>"))
            }
        </div>
    </div>


    <button class="agentdatabutton btn btn-default" data-toggle="collapse" data-target="#agentdata">Show User Browser Data</button>
    <div id="agentdata" class="agentdata collapse">
        @Html.Raw(Model.AgentData)
    </div>

</div>