﻿@model Kawa.Models.ViewModels.ChoosePaymentViewModel
@using Kawa.Models.ViewModels
@{
    ViewBag.Title = "Order - Choose Payment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="shopspace orderadmin payforms">
    <h2>Order # @ViewBag.Order.OrderNo</h2>
    <div>
        <div class="payforms-header">
           Please choose a payment option..
        </div>

        <br /><br />

        @foreach (var choice in Model.options)
        {
            @Html.ActionLink(choice.name, "OrderPayment", new { id = Model.orderCode, pt = choice.type }, new { @class = "formbutton paychoice" })
            <br /><br />
        }

    </div>
</div>


@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/payment")

    <script>
            var isAdminOrder = true;
    </script>

}
