﻿@model Kawa.Models.ViewModels.OrderChooseAccountViewModel

@{
    ViewBag.Title = "Order Choose Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="shopspace orderadmin">
    <h2>Choose an Account for this Order: @Model.Order.OrderNo</h2>

  
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "accountchooseform" }))
    {
        @Html.HiddenFor(m => m.OrderID);
        @Html.HiddenFor(m => m.AccountID);
        @Html.HiddenFor(m => m.LastOrderID);

    }

    <div ng-app="kawaApp" ng-controller="AccountListController" ng-cloak>
      
        
        @Html.Partial("../AccountAdmin/_AccountSearch", Model.FilterModel)

        <br/><br />
        <span class="action" ng-click="selectGuest()">use guest</span>
        <br/><br />

        <table class="table table-responsive table-striped accountslist">
            <tr>
                <th>

                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last name
                </th>
                <th>
                    Email
                </th>
                <th>

                </th>
            </tr>

            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            <tr dir-paginate="item in accounts | itemsPerPage: accountsPerPage" total-items="totalAccounts" current-page="pagination.current" ng-class="{'changed':item.changed,'selected':item.selected}">
                <td>
                    <span class="action" ng-click="select(item)">choose</span>
                </td>
                <td>
                    {{item.aFirstName}}
                </td>
                <td>
                    {{item.aLastName}}
                </td>
                <td>
                    {{item.aEmail}}
                </td>
                <td>
                    <a ng-href="{{getLinkUrl(item)}}" target="_blank">{{getEditLinkText(item)}}</a>
                </td>
            </tr>
        </table>

    </div>



</div>


@section Scripts {
    @Scripts.Render("~/bundles/accountlist")
}