﻿@model Kawa.Models.ViewModels.IPaymentViewModel
@using Kawa.Models.ViewModels
@using Kawa.Models

@{
    ViewBag.Title = "Order - Payment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var order = (Order)ViewBag.Order;
}

<div class="shopspace orderadmin payforms">
    <h2>Order # @ViewBag.Order.OrderNo</h2>
    <div>
        <div class="payforms-header">
            <h3>@Model.instructionText</h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.Partial("../Shop/" + Model.viewName, Model)
            </div>
            <div class="col-sm-8">
                <br/><br /><br /><br />
                <div class="order-details-check">
                    Items total: @order.BasketTotal.ToString("c") <br />
                    Shipping: @order.FreightTotal.ToString("c") <br />
                    <b>Total: @order.OrderTotal.ToString("c")</b><br />
                    @if (order.CountryID.HasValue && order.CountryID == 1)
                    {
                        @:(Includes GST @order.incGst.ToString("c"))
                    }
                    <br />
                    <b>Cust Name: @order.CustomerDetails.FirstName @order.CustomerDetails.Surname</b>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shopspace orderadmin paywait">
    <div>
        @Model.processingText
        <div><img src="~/Content/images/ajax-loader.gif" alt="" /> &nbsp; Processing</div>
    </div>
</div>


@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
   
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/payment")

    <script>
        //To tell Amex system to use admin urls if order done from the admin.
        var isAdminOrder = true;
    </script>

}
