﻿@model Kawa.Models.Order

@{
    ViewBag.Title = "Change Order Costs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="shopspace orderadmin">
    <h2>Order # @Model.OrderNo</h2>
    @Html.ActionLink("View this order and its logs", "Order")
    <input type="hidden" id="ChangeOrderID" value="@Model.ID" />

    <div class="warning-msg">Warning! Changes are realtime and permanent</div>

    <div class="shipments">
        @foreach (var shipment in Model.shipments)
        {
            <div>
                <b>Shipment</b><br />
                Shipping method: @shipment.shippingMethod.Name <br />
                Shipment date: @shipment.createDate <br />
                Carrier: @shipment.carrier.Name <br />
                Tracking number: @shipment.TrackingNo <br />
                Tracking URL: @shipment.carrier.Url <br />
                Comment: @shipment.Comment <br /><br />

                <a href="#" class="admin-deleteshipment" data-shipment-id="@shipment.ID">delete this shipment</a>
            </div>
        }
    </div>

    <br/><br/>
    <div class="row">
        <div class="col-lg-6">
            <div class="admin-addproduct form-inline">
                <div class="form-group">
                    Add an <b>active</b> product
                </div>
                <div class="form-group">
                    @Html.Hidden("NewProduct", "", new
                   {
                       @class = "addlookup form-control",
                       data_lookup = "searchproducts",
                       data_lookup_display = "name",
                       data_lookup_value = ""
                   })
                </div>
                <div class="form-group">
                    <select id="QuantityNew" class="item-quantity-dropdown form-control">
                        @for (var q = 1; q <= 100; q++)
                        {
                            <option value="@q">@q</option>
                        }
                    </select>

                    <input type="button" value="add" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="admin-addproduct form-inline">
                <div class="form-group">
                    Add an <b>offline</b> product
                </div>
                <div class="form-group">
                    @Html.Hidden("NewProduct", "", new
                   {
                       @class = "addlookup form-control",
                       data_lookup = "searchproducts",
                       data_lookup_display = "name",
                       data_lookup_value = "",
                       data_lookup_productoffline = "true"
                   })
                </div>
                <div class="form-group">
                    <select id="QuantityNew" class="item-quantity-dropdown form-control">
                        @for (var q = 1; q <= 100; q++)
                        {
                            <option value="@q">@q</option>
                        }
                    </select>

                    <input type="button" value="add" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="cart basket shopcontainer">
        <div>
            @Html.Partial("../Shop/_Basket", Model)
        </div>
    </div>

</div>


@section Css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/shop") 
    @Scripts.Render("~/bundles/orderupdate")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/adminlookups")
}