﻿@model Kawa.Models.ViewModels.OrderFilterViewModel
@using PagedList.Mvc; 
@using PagedList; 
@using Kawa.Models;
@using Kawa.Models.Extensions;
@using Kawa.Models.Services;
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Pending Paypal Orders</h2>


@Html.PagedListPager(Model.orders, page => Url.RouteUrl("ShopAdminPendingPaypal", Model.getRouteVal(page)))

<table class="table table-responsive table-striped">
    <tr>
        <th>
            OrderNo
        </th>
        <th>Paid Link</th>
        <th>
            OrderDate
        </th>
        <th>
            OrderTotal
        </th>
        <th>
            Customer
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>Remove</th>
    </tr>

    @foreach (var item in Model.orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.ActionLink("Set Paid", "Complete", "Shop", new { id = item.Code, pt = PaymentServiceStore.PaymentTypeOption.PAYPAL }, new { target = "_blank", onclick = "return confirm('Are you sure you wish to set order " + item.OrderNo + " as paid ?');" })
            </td>
            <td>
                @(((DateTime)item.OrderDate).UtcToLocal().ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
               @item.CustomerDetails.FirstName @item.CustomerDetails.Surname  @item.CustomerDetails.FirstName @item.CustomerDetails.Surname
            </td>
            <td>
                @item.CustomerDetails.FirstName @item.CustomerDetails.Email
            </td>
            <td>
                @item.CustomerDetails.FirstName @item.CustomerDetails.Mobile
            </td>
            <td>
                @Html.ActionLink("Hide", "OrderHide", "ShopAdmin", new { id = item.ID }, new { onclick = "return confirm('Are you sure you wish to set order " + item.OrderNo + " as hidden ?');" })
            </td>
        </tr>
    }

</table>
@section Css {
  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   
}