﻿@model Kawa.Models.ViewModels.SiteViewModel

<!-- sidebar -->
<div class="col-xs-12 col-sm-3 sidebar-collapse collapse" id="sidebar" role="navigation">
    <div class="accountsidemenu">
        <ul class="nav">
            <h3 style="color:#fff;text-transform:uppercase">My Account</h3>


            <!---<li class="@ViewBag.model.subSectionClass("Home")">@Html.ActionLink("Home", "Index", "Account")</li>
    -->
            <li class="@ViewBag.model.subSectionClass("Orders")">@Html.ActionLink("Order History", "Orders", "Account")</li>

            <li class="@ViewBag.model.subSectionClass("Favourites")">@Html.ActionLink("Wish List", "WishList", "Account")</li>
            <li class="@ViewBag.model.subSectionClass("Details")">@Html.ActionLink("Edit Profile", "Details", "Account")</li>

            <!---
            <li class="@ViewBag.model.subSectionClass("DeleteMyAccount")">@Html.ActionLink("Delete My Account", "DeleteAccount", "Account")</li>
    <li class="@ViewBag.model.subSectionClass("Subscriptions")">@Html.ActionLink("Subscriptions", "Subscriptions", "Account")</li><li class="@ViewBag.model.subSectionClass("ChangeEmail")">@Html.ActionLink("Change Email", "ChangeEmail", "Account")</li>-->
            <li class="@ViewBag.model.subSectionClass("ChangePassword")">@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
            <li class=""><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>

        </ul>

    </div>
</div>