﻿@model Kawa.Models.ViewModels.AccountViewModel

<div class="row jsaccount">
    <div class="col-sm-6 loginreplace">@Html.Partial("../Account/_Login", Model.Login)</div>
    <div class="col-sm-6 registerreplace">@Html.Partial("../Account/_Register" + (Model.Register.fullregister ? "FullRegister" : ""), Model.Register)</div>
</div>
