﻿@model Kawa.Models.ViewModels.LoginViewModel

<div class="accountbox loginbox">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal loginform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3>Login</h3>
        <div class="jackif"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
        *@
        <div class="form-group">
            <div class="col-md-12">
                @if (Model.js)
                {
                    <input type="button" value="Log in" class="loginbutton loginbuttonjs formbutton" />
                }
                else
                {
                    <input type="submit" value="Log in" class="loginbutton formbutton" />
                }
            </div>
        </div>
       
            <div class="forgotpass">
                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", new { id = "" }, new { @class = "forgotpasslink" })
            </div>
    }
</div>