﻿@model Kawa.Models.ViewModels.RegisterViewModel
@using Kawa.Models.Extensions

<div class="accountbox registerbox">
    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal registerform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.fullregister)

        @Html.HiddenFor(m => m.Channel, new { @class = "form-control" })

        <h3>Register</h3>
        <div class="jackif"></div>
        @:* Required Fields

        if(Model.Channel != null && Model.Channel.ToUpper() == "NZPC")
        {
                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.LabelFor(m => m.VoucherCode, new { @class = "control-label" }) : <span class="mand">*</span>
                        @Html.TextBoxFor(m => m.VoucherCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.VoucherCode, "", new { @class = "text-danger" })
                    </div>
                </div>
        }


        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Gender, Model.Gender.ToSelectListChoose(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="display:none;">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label" }) <br />
            @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="display:none;">
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.DateOfBirthDay, new { @class = "form-control", placeholder = "dd" })
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.DateOfBirthMonth, new { @class = "form-control", placeholder = "mm" })
            </div>
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.DateOfBirthYear, new { @class = "form-control", placeholder = "yyyy" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-1 text-right">
                @Html.EditorFor(model => model.isMailer)
            </div>
            <div class="col-xs-11">
                @Html.LabelFor(model => model.isMailer)
                @Html.ValidationMessageFor(model => model.isMailer)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                @if (Model.js)
                {
                    <input type="button" value="Create an Account" class="formbutton loginbutton registerbuttonjs" />
                }
                else
                {
                    <input type="submit" value="Create an Account" class="formbutton loginbutton" />
                }
            </div>
        </div>
    }
</div>