﻿@model Kawa.Models.ViewModels.RegisterViewModel

<div class="accountbox registerbox">
    @using (Html.BeginForm("Account", "Shop", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal registerform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.fullregister)

        <div class="requiredtxt">* Required Fields</div>
        <h3>Register</h3>
        <div class="jackif"></div>

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }) : <span class="mand">*</span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.isMailer)
                @Html.LabelFor(model => model.isMailer)
                @Html.ValidationMessageFor(model => model.isMailer)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @if (Model.js)
                {
                    <input type="button" value="Create an Account" class="loginbutton registerbuttonjs formbutton" />
                }
                else
                {
                    <input type="submit" value="Create an Account" class="loginbutton formbutton" />
                }
            </div>
        </div>
    }
</div>