﻿@model Kawa.Models.ViewModels.FullRegisterUpdateViewModel
@using Kawa.Models.Extensions


@Html.HiddenFor(m => m.Channel, new { @class = "form-control" })


<div class="accountbox registerbox">
    <div class="form-group">
        <div class="col-sm-6">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Gender, Model.Gender.ToSelectListChoose(), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label" }) <br />
        @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.DateOfBirthDay, new { @class = "form-control", placeholder = "dd" })
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.DateOfBirthMonth, new { @class = "form-control", placeholder = "mm" })
        </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.DateOfBirthYear, new { @class = "form-control", placeholder = "yyyy" })
        </div>
    </div>

</div>