﻿@model Kawa.Models.ViewModels.ChangeEmailViewModel
@{
    ViewBag.Title = "My Account - Change your email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageTitle")
<div class="sectionheader">
    <div class="container">

        <h1 class="pull-left">Change your email</h1>

        @Html.Partial("_AccountSideMenuCollapseButton")


    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="row">

            @Html.Partial("_AccountSideMenu", (Kawa.Models.ViewModels.SiteViewModel)ViewBag.model)

            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                Change your email address and login to the website.
                <div class="account-manage-form">

                    @using (Html.BeginForm("ChangeEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label>Your current email address</label>
                            <br />@ViewBag.model.account.UserName
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewEmailAddress, new { @class = "" }) : <span class="mand">*</span><br />

                            @Html.TextBoxFor(m => m.NewEmailAddress, new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "" }) : <span class="mand">*</span><br />

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        </div>
                        <div class="form-group">

                            <input type="submit" value="Change email" class="formbutton" />

                        </div>
                    }

                </div>
            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/account")
}
