﻿@model Kawa.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change your password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="accountpager">
    @Html.Partial("_PageTitle")
</div>
<div class="sectionheader">
    <div class="container">

        @Html.Partial("_AccountSideMenuCollapseButton")
    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="row">

            @Html.Partial("_AccountSideMenu", (Kawa.Models.ViewModels.SiteViewModel)ViewBag.model)

            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                <div class="account-manage-form">

                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "" }) : <span class="mand">*</span><br />

                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "" }) : <span class="mand">*</span><br />

                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" }) : <span class="mand">*</span><br />

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                        </div>
                        <div class="form-group">

                            <input type="submit" value="Change password" class="formbutton" />

                        </div>
                    }

                </div>
            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/account")
}
