﻿@model Kawa.Models.ViewModels.DeleteAccountViewModel
@{
    ViewBag.Title = "My Account - Close your account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageTitle")
<div class="sectionheader">
    <div class="container">

        <h1 class="pull-left">Close your account</h1>

        @Html.Partial("_AccountSideMenuCollapseButton")


    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="row">

            @Html.Partial("_AccountSideMenu", (Kawa.Models.ViewModels.SiteViewModel)ViewBag.model)

            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                <div class="account-manage-form">

                    @using (Html.BeginForm("DeleteAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="form-group">

                            @Html.CheckBoxFor(m => m.AgreeToTerms, new { @class = "" })

                            @Html.LabelFor(m => m.AgreeToTerms, new { @class = "" }) : <br />

                            <ul>
                                <li>Remove access to my order hisotry</li>
                                <li>Permanently remove my details, including any credit cards on file.</li>
                                <li>Delete my favourites</li>
                            </ul>

                            If you are subscribed to our newsletter, deleting your account will not change this. You can unsubscribe at anytime by clicking the “unsubscribe” link in any of our email communication or by changing your subscription settings before deleting your account.

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "" }) : <span class="mand">*</span><br />

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        </div>
                        <div class="form-group">

                            <input type="submit" value="Delete My Account" class="formbutton formbuttonred" />

                        </div>
                    }

                </div>
            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/account")
}
