﻿@model Kawa.Models.ViewModels.SiteViewModel

@{
    ViewBag.Title = "Update your details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="accountpager">
    @Html.Partial("_PageTitle")
</div>
<div class="sectionheader ">
    <div class="container">

        @Html.Partial("_AccountSideMenuCollapseButton")


    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="row">

            @Html.Partial("_AccountSideMenu")

            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                <h3>Your Account Details</h3>

                @using (Html.BeginForm("Details", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.Partial("../account/_UpdateFullRegister",
                    new ViewDataDictionary()
                    {
                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "FullRegisterUpdate" },
                        Model = Model.FullRegisterUpdate
                    })
                    <div class="form-group row">
                        <div class="col-md-12"><input type="submit" value="Update Details" class="formbutton" /></div>
                    </div>

                }

                @if (@Model.savedCard != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            You have a card @Model.savedCard saved with our credit card provider.
                            <br /><br />

                            @Html.ActionLink("Remove Card", "DeleteCard", new { id = "" }, new { @class = "formbutton formbutton-red" })
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-12">

                        @if (Model.order != null)
                        {
                            <h3>Your Last Order Details</h3>
                            @:Please note: You can update your address details when placing your next order. If you need to change your address details on a current order, please <a href="@ViewBag.model.getFooterUrl(Kawa.Models.Page.SystemPageOption.CONTACT_US)">contact us</a>.
                            
                    <div style="padding:20px;">
                        <div class="row">
                            <div class="col-sm-6 customer">
                                <div class="formheader"><h4>Customer Billing Details</h4></div>
                                @Html.Partial("../shop/_AccountDetailReadonly",
                                    new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                                        Model = Model.order.CustomerDetails
                                    })
                            </div>
                            <div class="col-sm-6">

                                <div class="formheader">
                                    <h4>Delivery Details</h4>
                                </div>
                                <div class="delivery">
                                    @Html.Partial("../shop/_AccountDetailReadonly", new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                                        Model = Model.order.DeliveryDetails
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                        }
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(function () {

            $("#CustomerDetails_Email").prop("readonly", true);
            $(".mailerfield").hide();
        })

    </script>

}