﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="sectionheader">
    <div class="container">

        <h1>My Account</h1>

    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="loginregpage">

            <h1>@ViewBag.Title</h1>

            <div>
                <p>
                    Please check your email to reset your password. Remember to check your spam box if needed.
                </p>
            </div>

        </div>

    </div>

</div>