﻿@model Kawa.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="sectionheader">
    <div class="container">

        <h1>My Account</h1>

    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="loginregpage">

            <h2>@ViewBag.Title</h2>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @:Please Enter your email.
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Email Link" />
                    </div>
                </div>
            }

        </div>

    </div>
</div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
