﻿@model Kawa.Models.ViewModels.SiteViewModel

@{
    ViewBag.Title = "My Account - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="accountpager">
    @Html.Partial("_PageTitle")
</div>

<div class="sectionheader ">
    <div class="container">

        @Html.Partial("_AccountSideMenuCollapseButton")


    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="row">

            @Html.Partial("_AccountSideMenu")

            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                <div class="">

                    <p class="text-success">@ViewBag.StatusMessage</p>

                    Here you can check the status of your orders and view your order history.
                    You can also manage your subscriptions.
                    <br /><br />

                </div>
            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/account")
}


