﻿@model Kawa.Models.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Login Or Register";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

@Html.Partial("../Account/_FullRegisterTeaser")

@Html.Partial("../Account/_LoginOrRegister")

<input type="hidden" id="accountnextstep" value="refreshparent" />

@section Scripts {
    @Scripts.Render("~/bundles/account")
    @Scripts.Render("~/bundles/jqueryval")

    @if(Model.favourite != null)
    { 
    <script>

        var favourite = @Html.Raw(Json.Encode(Model.favourite));

        $(".fullregisterlogo").hide();

    </script>
    }
}

