﻿@using Kawa.Models.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "My Account - Login";
}


@Html.Partial("_PageTitle")

<div class="container accountpage">
    <div>
        <div class="loginregpage">

            @Html.Partial("../Account/_Login")

        </div>
        @*
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        *@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}