﻿@model Kawa.Models.Order
@using Kawa.Models.ViewModels;
@{
    ViewBag.Title = "Your Order - " + Model.OrderNo;
    ViewBag.IsAccountOrder = true;
}



<div class="accountpager">
    @Html.Partial("_PageTitle")
</div>


<div class="sectionheader">
    <div class="container">

        @Html.Partial("_AccountSideMenuCollapseButton")


    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="row" style="background-color: #2f2f2f;">

            @Html.Partial("_AccountSideMenu", (SiteViewModel)ViewBag.model)

            <!-- main area -->
            <div class="col-xs-12 col-sm-9" style="background-color: #fff;">
                <div class="basket">
                    <b>Order date</b>: @Model.OrderDateLocal<br />
                   
                    <br />

                    <b>Order Status:</b> @Html.DisplayFor(modelItem => Model.Status.Name)
                    <br /><br />
                    @Html.Partial("../shop/_Basket")

                    <div class="row">
                        <div class="col-sm-6 customer">
                            <div class="formheader"><h4>Customer Billing Details</h4></div>
                            @Html.Partial("../shop/_AccountDetailReadonly",
                    new ViewDataDictionary()
                    {
                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                        Model = Model.CustomerDetails
                    })
                        </div>
                        <div class="col-sm-6">

                            <div class="formheader">
                                <h4>Delivery Details</h4>
                            </div>
                            <div class="delivery">
                                @Html.Partial("../shop/_AccountDetailReadonly", new ViewDataDictionary()
                        {
                            TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                            Model = Model.DeliveryDetails
                        })
                            </div>

                        </div>
                    </div>

                    @*
        <table>
            <tr>
                <td><div class="detailsreadhead">Customer Details</div></td>

                <td><div class="detailsreadhead">Delivery Details</div></td>
            </tr>
            <tr>
                <td colspan="2">
                <hr />
                </td>
            </tr>
            <tr>
                <td>@Html.Partial("_AccountDetailReadonly",
                    new ViewDataDictionary()
                    {
                    TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CustomerDetails" },
                    Model = Model.order.CustomerDetails
                    })</td>
                <td>@Html.Partial("_AccountDetailReadonly", new ViewDataDictionary()
               {
                   TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DeliveryDetails" },
                      Model = Model.order.DeliveryDetails
                    })</td>
            </tr>

        </table>
                    *@

                </div>



            </div>
        </div><!--/.row-->
    </div>
</div>