﻿@model Kawa.Models.ViewModels.SiteViewModel
@using Kawa.Models.Extensions
@{
    ViewBag.Title = "Orders";
}


<div class="accountpager">
    @Html.Partial("_PageTitle")
</div>
<div class="sectionheader accountpager">
    <div class="container">

        @Html.Partial("_AccountSideMenuCollapseButton")


    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="row">

            @Html.Partial("_AccountSideMenu")
            <!-- main area -->
            <div class="col-xs-12 col-sm-9 table-responsive">

                <div class="row hidden-sm hidden-md hidden-lg">
                    @foreach (var item in Model.orders)
                    {
                    <div class="col-xs-12">
                        <div class="orderleft">
                            Order: @item.OrderNo
                            <br /><br />
                            @item.OrderDate.ToLongDateString()
                            <br />

                            @Html.ActionLink("View order details >", "Order", new { id = item.Code })
                            <br />
                            <a href="/contact">Contact us ></a>

                        </div>
                        @foreach (var basket in item.orderItems)
                        {
                            List<string> deserialised = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(basket.Product.sHero);

                            <div class="orderbox" style="border-bottom: solid 1px #2f2f2f;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img src="@deserialised[0]" style="max-width:100%;" />
                                    </div>
                                    <div class="col-xs-9">
                                        @basket.Product.name -  @basket.Variant.sku
                                        <br />
                                        x @basket.Quantity
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="orderbox">
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </div>

                        <br /><br />
                    </div>
                    }
                </div>


                <table class="orderlist hidden-xs">

                    @foreach (var item in Model.orders)
                    {
                        <tr class="orderlistrow">
                            <td class="orderleft">
                                Order: @item.OrderNo
                                <br /><br />
                                @item.OrderDate.ToLongDateString()
                                <br />
                                <div style="position:absolute;bottom:12px;">
                                    @Html.ActionLink("View order details >", "Order", new { id = item.Code })
                                    <br />
                                    <a href="/contact">Contact us ></a>
                                </div>
                            </td>
                            <td>
                                @foreach (var basket in item.orderItems)
                                {
                                    List<string> deserialised = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(basket.Product.sHero);

                                    <div class="orderbox" style="border-bottom: solid 1px #2f2f2f;">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <img src="@deserialised[0]" style="max-width:100%;" />
                                            </div>
                                            <div class="col-xs-9">
                                                @basket.Product.name -  @basket.Variant.sku
                                                <br />
                                                x @basket.Quantity
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="orderbox">
                                    @Html.DisplayFor(modelItem => item.Status.Name)
                                </div>
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                    }
                </table>

            </div>

            </div>
        </div>
    </div>