﻿@model Kawa.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "My Account - Register";
    Layout = "../shared/_Layout.cshtml";
}

@Html.Partial("_PageTitle")

<div class="container accountpage">
    <div>
        <div class="loginregpage">

            @Html.Partial("../Account/_Register" + (Model.fullregister ? "FullRegister" : ""), Model)

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
