﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="sectionheader">
    <div class="container">

        <h1>My Account</h1>

    </div>
</div>
<div class="container">
    <div class="loginregpage">
        
            <h1>@ViewBag.Title</h1>
       
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

    </div>

</div>

