﻿@model Kawa.Models.ViewModels.SiteViewModel

@{
    ViewBag.Title = "Wish List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="accountpager">
    @Html.Partial("_PageTitle")
</div>
<div class="sectionheader">
    <div class="container">

        @Html.Partial("_AccountSideMenuCollapseButton")


    </div>
</div>
<div class="container accountpage">
    <div>
        <div class="row">

            @Html.Partial("_AccountSideMenu")

            <!-- main area -->
            <div class="col-xs-12 col-sm-9 favourites">

                @if (Model.account.favourites.Count == 0)
                {
                    <p>You have not added any products to your wish list!</p>
                }

                @if (Model.account.favourites.Any(f => f.product != null))
                {
                    foreach (var fav in Model.account.favourites.Where(f => f.product != null))
                    {
                        @Html.Partial("_TagProductWishList", fav)
                    }
                <br /> <br />
            }



            </div>
        </div><!--/.row-->
    </div>
</div>