﻿@using System.Configuration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Paypal</h2>


<form id="myContainer" method="post" action="/testpaypal/checkout"></form>
<script>
window.paypalCheckoutReady = function() {
    paypal.checkout.setup('@(ConfigurationManager.AppSettings["PaypalMerchantID"])', {
        environment: 'sandbox',
        container: 'myContainer'
    });
};
</script>
<script src="//www.paypalobjects.com/api/checkout.js" async></script>
