﻿@model Kawa.Models.ViewModels.AccountFilterViewModels

<div class="form-inline adminsearch">
    <div><b>Search Accounts</b></div>

    <div class="form-group">
        @Html.TextBoxFor(x => x.searchFirstName, new { @class = "form-control", placeholder = "first name" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.searchLastName, new { @class = "form-control", placeholder = "last name" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.searchEmail, new { @class = "form-control", placeholder = "email" })
    </div>
    <div class="">
        <input type="button" value="Find" class="btn btn-default" ng-click="getAccounts()" />
        <img src="~/Content/images/admin/ajax-loader.gif" ng-show="loading" alt="">
        <select name="pageSizeSelect" id="pageSizeSelect"
                ng-options="o as o for o in pageSizes"
                ng-model="accountsPerPage"
                class="form-control"></select>

        
    </div>
</div>
