﻿@model Kawa.Models.ViewModels.AccountAdminViewModel
@using PagedList.Mvc;
@using PagedList;
@using Kawa.Models;
@using Kawa.Models.Extensions;
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Account</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

User:  @Model.Account.firstName @Model.Account.lastName @Model.Account.UserName
<br/><br />
@Html.ActionLink("Change Email", "ChangeEmail")
<br /><br />
@Html.ActionLink("Change Password", "ChangePassword")
<br /><br />
<table class="table table-responsive table-striped">
    <tr>
        <th>
            OrderNo
        </th>
        <th>
            Status
        </th>
        <th>
            Payment
        </th>
        <th>
            Promotion
        </th>
        <th>
            Voucher
        </th>
        <th>
            OrderDate
        </th>
        <th>
            OrderTotal
        </th>
        <th>
            Customer
        </th>
        <th>
            Printed
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td style="background-color:@item.Status.Color;color:#fff;">
                @item.Status.Name
            </td>
            <td>
                @item.PaymentType
                @if (item.LastPayment != null && !string.IsNullOrEmpty(item.LastPayment.PaymentCode))
                {
                    @:Code : @item.LastPayment.PaymentCode
                }
            </td>
            <td>
                <span class="online">@(item.PromotionID.HasValue ? "yes" : "")</span>
            </td>
            <td>
                <span class="online">@(item.VoucherPromotionID.HasValue ? "yes" : "")</span>
            </td>
            <td>
                @(((DateTime)item.OrderDate).UtcToLocal().ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @item.CustomerDetails.FirstName @item.CustomerDetails.Surname
            </td>
            <td>
                <span class="online">@(item.Printed ? "yes" : "")</span>
            </td>
            <td>
                @Html.RouteLink("View", "ShopAdminOrder", new { id = item.ID })
            </td>
        </tr>
    }

</table>

