﻿@model Kawa.Models.ViewModels.ChangeEmailViewModel
@{
    ViewBag.Title = "Account - Change email";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<!-- main area -->
<div class="">
    Change this account's email.
    <div class="account-manage-form">

        @using (Html.BeginForm("ChangeEmail", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label>Their current email address</label>
                <br />@ViewBag.Account.UserName
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewEmailAddress, new { @class = "" }) : <span class="mand">*</span><br />
                @Html.TextBoxFor(m => m.NewEmailAddress, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("New Password", new { @class = "" }) : <span class="mand">*</span><br />
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">

                <input type="submit" value="Change email" class="formbutton" />

            </div>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/account")
}
