﻿@model Kawa.Models.ViewModels.ChangePasswordAdminViewModel
@{
    ViewBag.Title = "Account - Change password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="">
    <div>
        Change this account's password - @ViewBag.Account.UserName.
        <div class="account-manage-form">

            @using (Html.BeginForm("ChangePassword", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                 <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "" }) : <span class="mand">*</span><br />

                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" }) : <span class="mand">*</span><br />

                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </div>
                <div class="form-group">

                    <input type="submit" value="Change password" class="formbutton" />

                </div>
            }

        </div>
    </div>
</div>
   
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/account")
}
