﻿@model Kawa.Models.ViewModels.AccountFilterViewModels
@using PagedList.Mvc; 
@using PagedList; 

@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="kawaApp" ng-controller="AccountListController" ng-cloak>
    <h2>@ViewBag.Title</h2>






    <div class="hud" hud></div>

    @Html.Partial("_AccountSearch")


    @using (Html.BeginForm("Export", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "productform" }))
    {
        <div class="form-inline adminsearch">
            <div>
                <b>Export Entries</b>
            </div>
            <div class="form-group">
                <input class="form-control add-picker text-box single-line" data-val="true" data-val-date="The field Start Date must be a date." id="Startdate" name="Startdate" placeholder="start date" type="datetime" value="">
            </div>
            <div class="form-group">
                <input class="form-control add-picker text-box single-line" data-val="true" data-val-date="The field enddate Date must be a date." id="EndDate" name="EndDate" placeholder="end date" type="datetime" value="">
            </div>
            <div class="form-group">
                <input class="form-control text-box single-line" data-val="true" id="channel" name="channel" placeholder="channel" type="text" value="">
            </div>
            <div class="form-group">
                <input type="submit" value="Export" class="btn btn-default" />
            </div>
        </div>
    }


    <table class="table table-responsive table-striped accountslist">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last name
            </th>
            <th>
                Email
            </th>
            <th>

            </th>
        </tr>

        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        <tr dir-paginate="item in accounts | itemsPerPage: accountsPerPage" total-items="totalAccounts" current-page="pagination.current" ng-class="{'changed':item.changed,'selected':item.selected}">
            <td>
                {{item.aFirstName}}
            </td>
            <td>
                {{item.aLastName}}
            </td>
            <td>
                {{item.aEmail}}
            </td>
            <td>
                <a class="action" ng-href="{{getLinkUrl(item)}}" target="_blank">{{getEditLinkText(item)}}</a>
            </td>
        </tr>
    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/accountlist")
    @Scripts.Render("~/bundles/hud")
}
